In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from collections import defaultdict

from model.Base import Base
from model.Device import Device
from model.Location import Location
from model.User import User
from model.user_devices import user_devices

from sqlalchemy import create_engine, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.pool import NullPool

from IPython.display import display


DB='postgresql+psycopg2:///ucnstudy'

engine = create_engine(DB, echo=False, poolclass=NullPool)
Base.metadata.bind = engine
Session = sessionmaker(bind=engine)

In [6]:
ses = Session()
users = ses.query(User)

for user in users:
    sql_user_devices = text('select * from user, user_devices where user_devices.user_id =:user').bindparams(user = user.id)
    user_devices = ses.execute(sql_user_devices)

    #will get the starting time and ending times considering all devices
    print ("user: " + str(user.id) + "=======================")
    for dev in user_devices:

        sql_beg_day = text('SELECT distinct devid, locations.entertime, name \
        FROM locations join\
        (SELECT DATE(locations.entertime) as date_entered, MIN(locations.entertime) as min_time\
        FROM locations, user_devices\
        WHERE devid = user_devices.device_id and user_devices.user_id = :user_id and  extract (hour from entertime) > 3\
        GROUP BY date(entertime))\
        AS grp ON grp.min_time = locations.entertime order by locations.entertime;').bindparams(user_id = user.id)
        result_beg_day = ses.execute(sql_beg_day)

        sql_end_day = text('SELECT distinct devid, locations.exittime, name\
        FROM locations join\
        (SELECT DATE(locations.exittime) as date_entered, MAX(locations.exittime) as max_time\
        FROM locations, user_devices\
        WHERE locations.devid = user_devices.device_id and user_devices.user_id = :user_id\
        GROUP BY date(exittime))\
        AS grp ON grp.max_time = locations.exittime order by locations.exittime;').bindparams(user_id = user.id)

            
        result_end_day = ses.execute(sql_end_day)

        sql_entertime = text('SELECT distinct devid, locations.entertime, name \
        FROM locations join\
        (SELECT DATE(locations.entertime) as date_entered, MIN(locations.entertime) as min_time\
        FROM locations, user_devices\
        WHERE devid = user_devices.device_id and user_devices.user_id = :user_id\
        GROUP BY date(entertime))\
        AS grp ON grp.min_time = locations.entertime order by locations.entertime;').bindparams(user_id = user.id)

        result_entertime = ses.execute(sql_entertime)

        devices_result = ses.query(Device).order_by(Device.id)
        devices_platform = {}
        for item in devices_result:
            devices_platform[item.id] = item.platform

        info_end = defaultdict(list)
        for row in result_end_day:
            info_end['devid'].append(row[0])
            info_end['end'].append(row[1])
            info_end['location'].append(row[2])
                
        info_beg = defaultdict(list)
        for row in result_beg_day:
            info_beg['devid'].append(row[0])
            info_beg['beg'].append(row[1])
            info_beg['location'].append(row[2])
            
        #add days that only have value before 3 am
        for row in result_entertime:
            timst = row[1]
            in_list = False
            for dt in info_beg['beg']:
                if dt.day == timst.day and dt.month == timst.month and dt.year == timst.year:
                    in_list = True
            if in_list == False:
                info_beg['beg'].append(timst)
                info_beg['devid'].append(row[0])
                info_beg['location'].append(row[2])

        df_beg = pd.DataFrame(info_beg)
        display(df_beg)
        df_end = pd.DataFrame(info_end)
        display(df_end)
            
        #creates table per day for beginning
        info_week = defaultdict(list)
        if (info_beg['beg']):
            cont = 0
            for timst in info_beg['beg']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                info_week[weekday + ' location'].append(info_beg['location'][cont])
                info_week[weekday + ' platform'].append(devices_platform[info_beg['devid'][cont]])
                cont = cont + 1
         
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = info_week[name + ' platform']
            df_col[name+' beg'] = info_week[name]
            df_col['location'] = info_week[name + ' location'] 
            df_week = pd.DataFrame(df_col)
            display(df_week)
            
            
        #creates table per day for ending
        info_week = defaultdict(list)
        if (info_end['end']):
            cont = 0
            for timst in info_end['end']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                info_week[weekday + ' location'].append(info_end['location'][cont])
                info_week[weekday + ' platform'].append(devices_platform[info_end['devid'][cont]])
                cont = cont + 1
             
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = info_week[name + ' platform']
            df_col[name+' end'] = info_week[name]
            df_col['location'] = info_week[name + ' location']    
            df_week = pd.DataFrame(df_col)
            display(df_week)

user: 1=======================

,beg,devid,location
0,2015-03-05 14:17:27.902,6,"Rue Quincampoix, Paris"
1,2015-03-06 13:06:22.797,6,"Rue Quincampoix, Paris"
2,2015-03-07 10:27:24.482,6,"Rue Quincampoix, Paris"
3,2015-03-08 12:59:12.644,6,"Rue Quincampoix, Paris"
4,2015-03-09 17:45:03.785,6,"Place d'Italie, Paris"
5,2015-03-10 16:30:04.230,6,"Rue Quincampoix, Paris"
6,2015-03-11 10:47:10.600,6,"Rue Quincampoix, Paris"
7,2015-03-12 09:05:45.481,6,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-03-14 12:09:50.591,6,"Rue Quincampoix, Paris"
9,2015-03-15 13:16:11.127,6,"Rue Quincampoix, Paris"
10,2015-03-16 18:07:57.897,6,"Place d'Italie, Paris"
11,2015-03-17 18:38:42.147,6,"Rue Quincampoix, Paris"
12,2015-03-18 08:46:55.059,6,"Rue Quincampoix, Paris"
13,2015-03-19 14:44:29.588,6,"Rue Quincampoix, Paris"
14,2015-03-23 18:46:29.908,6,"Rue Quincampoix, Paris"
15,2015-03-24 13:23:47.977,6,"Rue Quincampoix, Paris"
16,2015-03-25 15:32:03.371,6,"Rue Quincampoix, Paris"
17,2015-03-26 12:04:39.346,6,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
18,2015-03-27 18:52:20.573,6,"Rue Quincampoix, Paris"
19,2015-03-28 10:59:02.621,6,"Rue Quincampoix, Paris"
20,2015-03-29 11:48:51.468,6,"Rue Quincampoix, Paris"
21,2015-03-31 18:50:03.603,6,"Rue Quincampoix, Paris"
22,2015-04-01 11:11:55.094,6,"Rue Quincampoix, Paris"
23,2015-04-02 17:30:09.943,6,"Rue Quincampoix, Paris"
24,2015-04-03 19:08:25.384,6,"Rue Quincampoix, Paris"
25,2015-04-04 12:28:12.545,6,"Rue Quincampoix, Paris"
26,2015-04-05 09:25:05.118,6,"Rue Quincampoix, Paris"
27,2015-04-07 13:01:00.327,6,"Rue Quincampoix, Paris"
28,2015-04-09 11:18:47.750,6,"Rue Quincampoix, Paris"
29,2015-04-10 12:23:07.616,6,"Rue Quincampoix, Paris"
...,...,...,...
37,2015-04-18 17:35:25.189,6,"Rue Quincampoix, Paris"
38,2015-04-19 10:09:39.462,6,"Rue Quincampoix, Paris"
39,2015-04-20 18:28:31.245,6,"Rue Quincampoix, Paris"
40,2015-04-22 14:08:40.078,6,"Rue Quincampoix, Paris"
41,2015-04-23 16:00:01.934,6,"Rue Quincampoix, Paris"
42,2015-04-24 09:41:01.351,6,"Rue Quincampoix, Paris"
43,2015-04-26 10:01:30.447,6,"Rue Quincampoix, Paris"
44,2015-04-27 20:16:16.368,6,"Rue Quincampoix, Paris"
45,2015-04-28 16:59:42.435,6,"Rue Quincampoix, Paris"
46,2015-04-29 10:30:14.956,6,"Rue Quincampoix, Paris"
47,2015-05-05 19:11:37.829,6,"Rue Quincampoix, Paris"
48,2015-05-06 17:07:51.430,6,"Rue Quincampoix, Paris"
49,2015-05-10 10:57:42.994,6,"Rue Quincampoix, Paris"
50,2015-05-20 09:29:16.398,6,"Rue Quincampoix, Paris"
51,2015-05-22 11:57:15.997,6,"Rue Quincampoix, Paris"
52,2015-05-23 11:41:43.050,6,"Rue Quincampoix, Paris"
53,2015-05-24 11:42:49.667,6,"Rue Quincampoix, Paris"
54,2015-05-25 17:10:16.776,6,"Rue Quincampoix, Paris"
55,2015-05-26 12:56:27.046,6,"Rue Quincampoix, Paris"
56,2015-05-28 20:35:53.040,6,"Rue Quincampoix, Paris"
57,2015-05-29 10:23:57.487,6,"Rue Quincampoix, Paris"
58,2015-05-31 10:35:46.912,6,"Rue Quincampoix, Paris"
59,2015-06-01 11:38:38.656,6,"Rue Quincampoix, Paris"
60,2015-06-02 09:48:53.387,6,"Rue Quincampoix, Paris"
61,2015-06-03 21:53:53.408,6,"Rue Quincampoix, Paris"
62,2015-06-04 08:31:04.641,6,"Rue Quincampoix, Paris"
63,2015-06-05 12:21:39.302,6,"Rue Quincampoix, Paris"
64,2015-06-07 23:15:30.696,6,"Rue Quincampoix, Paris"
65,2015-06-08 18:56:28.159,6,"Rue Quincampoix, Paris"
66,2015-06-09 10:03:20.385,6,"Rue Quincampoix, Paris"

,devid,end,location
0,6,2015-03-05 23:17:01.593,"Rue Quincampoix, Paris"
1,6,2015-03-06 22:19:25.293,"Rue Quincampoix, Paris"
2,6,2015-03-07 23:17:01.646,"Rue Quincampoix, Paris"
3,6,2015-03-08 21:31:16.137,"Rue Quincampoix, Paris"
4,6,2015-03-09 21:37:48.069,"Place d'Italie, Paris"
5,6,2015-03-10 21:57:47.168,"Rue Quincampoix, Paris"
6,6,2015-03-11 17:54:00.313,"Rue Quincampoix, Paris"
7,6,2015-03-12 22:15:33.607,"Rue Quincampoix, Paris"
8,6,2015-03-14 21:32:32.462,"Rue Quincampoix, Paris"
9,6,2015-03-15 14:55:17.527,"Rue Quincampoix, Paris"
10,6,2015-03-16 23:17:01.779,"Place d'Italie, Paris"
11,6,2015-03-17 23:17:01.620,"Rue Quincampoix, Paris"
12,6,2015-03-18 16:45:24.909,"Rue Quincampoix, Paris"
13,6,2015-03-19 22:25:05.259,"Allée des Courtes Rayés, Éragny"
14,6,2015-03-23 22:09:48.422,"Rue Quincampoix, Paris"
15,6,2015-03-24 18:43:51.619,"Rue Quincampoix, Paris"
16,6,2015-03-25 21:59:56.108,"Rue Quincampoix, Paris"
17,6,2015-03-26 12:22:15.016,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
18,6,2015-03-27 20:34:03.302,"Rue Quincampoix, Paris"
19,6,2015-03-28 23:01:17.171,"Rue Quincampoix, Paris"
20,6,2015-03-29 21:35:21.196,"Rue Quincampoix, Paris"
21,6,2015-03-31 20:39:35.102,"Rue Quincampoix, Paris"
22,6,2015-04-01 20:21:58.914,"Rue Quincampoix, Paris"
23,6,2015-04-02 21:15:54.578,"Rue Quincampoix, Paris"
24,6,2015-04-03 21:19:50.020,"Rue Quincampoix, Paris"
25,6,2015-04-04 22:17:01.834,"Rue Quincampoix, Paris"
26,6,2015-04-05 23:30:26.078,"Rue Jules Guesde, Issy-les-Moulineaux"
27,6,2015-04-07 20:16:09.741,"Rue Quincampoix, Paris"
28,6,2015-04-09 20:07:53.503,"Rue Quincampoix, Paris"
29,6,2015-04-10 17:47:06.389,"Rue Quincampoix, Paris"
...,...,...,...
36,6,2015-04-17 21:48:58.574,"Rue Quincampoix, Paris"
37,6,2015-04-18 18:15:14.965,"Rue Quincampoix, Paris"
38,6,2015-04-19 19:05:37.666,"Rue Quincampoix, Paris"
39,6,2015-04-20 21:46:15.073,"Rue Quincampoix, Paris"
40,6,2015-04-22 22:36:28.842,"Rue Quincampoix, Paris"
41,6,2015-04-23 22:26:50.129,"Rue Quincampoix, Paris"
42,6,2015-04-24 22:28:13.548,"Rue Quincampoix, Paris"
43,6,2015-04-26 19:53:37.577,"Rue Quincampoix, Paris"
44,6,2015-04-27 21:36:08.733,"Rue Quincampoix, Paris"
45,6,2015-04-28 21:25:47.854,"Rue Quincampoix, Paris"
46,6,2015-04-29 22:06:05.720,"Rue Quincampoix, Paris"
47,6,2015-05-05 22:17:01.664,"Rue Quincampoix, Paris"
48,6,2015-05-06 20:03:45.486,"Rue Quincampoix, Paris"
49,6,2015-05-10 11:01:55.551,"Rue Quincampoix, Paris"
50,6,2015-05-20 20:26:31.214,"Rue Quincampoix, Paris"
51,6,2015-05-22 15:04:27.710,"Rue Quincampoix, Paris"
52,6,2015-05-23 22:47:54.870,"Rue Quincampoix, Paris"
53,6,2015-05-24 20:48:15.296,"Rue Quincampoix, Paris"
54,6,2015-05-25 21:08:52.638,"Rue Quincampoix, Paris"
55,6,2015-05-26 16:15:03.203,"Rue Quincampoix, Paris"
56,6,2015-05-28 21:25:50.586,"Rue Quincampoix, Paris"
57,6,2015-05-29 21:28:08.514,"Rue Quincampoix, Paris"
58,6,2015-05-31 23:12:22.282,"Rue Quincampoix, Paris"
59,6,2015-06-01 22:17:02.044,"Rue Quincampoix, Paris"
60,6,2015-06-02 13:36:50.869,"Rue Quincampoix, Paris"
61,6,2015-06-03 22:17:01.805,"Rue Quincampoix, Paris"
62,6,2015-06-04 22:17:01.586,"Rue Quincampoix, Paris"
63,6,2015-06-05 23:42:13.109,"Rue Quincampoix, Paris"
64,6,2015-06-08 22:17:02.301,"Rue Quincampoix, Paris"
65,6,2015-06-09 21:32:56.166,"Rue Quincampoix, Paris"

               Monday beg          device                location
0 2015-03-09 17:45:03.785  windows-laptop   Place d'Italie, Paris
1 2015-03-16 18:07:57.897  windows-laptop   Place d'Italie, Paris
2 2015-03-23 18:46:29.908  windows-laptop  Rue Quincampoix, Paris
3 2015-04-13 17:55:39.469  windows-laptop   Place d'Italie, Paris
4 2015-04-20 18:28:31.245  windows-laptop  Rue Quincampoix, Paris
5 2015-04-27 20:16:16.368  windows-laptop  Rue Quincampoix, Paris
6 2015-05-25 17:10:16.776  windows-laptop  Rue Quincampoix, Paris
7 2015-06-01 11:38:38.656  windows-laptop  Rue Quincampoix, Paris
8 2015-06-08 18:56:28.159  windows-laptop  Rue Quincampoix, Paris

               Tuesday beg          device                location
0  2015-03-10 16:30:04.230  windows-laptop  Rue Quincampoix, Paris
1  2015-03-17 18:38:42.147  windows-laptop  Rue Quincampoix, Paris
2  2015-03-24 13:23:47.977  windows-laptop  Rue Quincampoix, Paris
3  2015-03-31 18:50:03.603  windows-laptop  Rue Quincampoix, Paris
4  2015-04-07 13:01:00.327  windows-laptop  Rue Quincampoix, Paris
5  2015-04-14 16:06:37.916  windows-laptop  Rue Quincampoix, Paris
6  2015-04-28 16:59:42.435  windows-laptop  Rue Quincampoix, Paris
7  2015-05-05 19:11:37.829  windows-laptop  Rue Quincampoix, Paris
8  2015-05-26 12:56:27.046  windows-laptop  Rue Quincampoix, Paris
9  2015-06-02 09:48:53.387  windows-laptop  Rue Quincampoix, Paris
10 2015-06-09 10:03:20.385  windows-laptop  Rue Quincampoix, Paris

               Friday beg          device                location
0 2015-03-06 13:06:22.797  windows-laptop  Rue Quincampoix, Paris
1 2015-03-27 18:52:20.573  windows-laptop  Rue Quincampoix, Paris
2 2015-04-03 19:08:25.384  windows-laptop  Rue Quincampoix, Paris
3 2015-04-10 12:23:07.616  windows-laptop  Rue Quincampoix, Paris
4 2015-04-17 10:18:36.260  windows-laptop  Rue Quincampoix, Paris
5 2015-04-24 09:41:01.351  windows-laptop  Rue Quincampoix, Paris
6 2015-05-22 11:57:15.997  windows-laptop  Rue Quincampoix, Paris
7 2015-05-29 10:23:57.487  windows-laptop  Rue Quincampoix, Paris
8 2015-06-05 12:21:39.302  windows-laptop  Rue Quincampoix, Paris

            Wednesday beg          device                location
0 2015-03-11 10:47:10.600  windows-laptop  Rue Quincampoix, Paris
1 2015-03-18 08:46:55.059  windows-laptop  Rue Quincampoix, Paris
2 2015-03-25 15:32:03.371  windows-laptop  Rue Quincampoix, Paris
3 2015-04-01 11:11:55.094  windows-laptop  Rue Quincampoix, Paris
4 2015-04-15 10:59:41.598  windows-laptop  Rue Quincampoix, Paris
5 2015-04-22 14:08:40.078  windows-laptop  Rue Quincampoix, Paris
6 2015-04-29 10:30:14.956  windows-laptop  Rue Quincampoix, Paris
7 2015-05-06 17:07:51.430  windows-laptop  Rue Quincampoix, Paris
8 2015-05-20 09:29:16.398  windows-laptop  Rue Quincampoix, Paris
9 2015-06-03 21:53:53.408  windows-laptop  Rue Quincampoix, Paris

,Thursday beg,device,location
0,2015-03-05 14:17:27.902,windows-laptop,"Rue Quincampoix, Paris"
1,2015-03-12 09:05:45.481,windows-laptop,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-03-19 14:44:29.588,windows-laptop,"Rue Quincampoix, Paris"
3,2015-03-26 12:04:39.346,windows-laptop,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-04-02 17:30:09.943,windows-laptop,"Rue Quincampoix, Paris"
5,2015-04-09 11:18:47.750,windows-laptop,"Rue Quincampoix, Paris"
6,2015-04-16 12:33:01.175,windows-laptop,"Rue Quincampoix, Paris"
7,2015-04-23 16:00:01.934,windows-laptop,"Rue Quincampoix, Paris"
8,2015-05-28 20:35:53.040,windows-laptop,"Rue Quincampoix, Paris"
9,2015-06-04 08:31:04.641,windows-laptop,"Rue Quincampoix, Paris"

                Sunday beg          device                location
0  2015-03-08 12:59:12.644  windows-laptop  Rue Quincampoix, Paris
1  2015-03-15 13:16:11.127  windows-laptop  Rue Quincampoix, Paris
2  2015-03-29 11:48:51.468  windows-laptop  Rue Quincampoix, Paris
3  2015-04-05 09:25:05.118  windows-laptop  Rue Quincampoix, Paris
4  2015-04-12 10:49:06.369  windows-laptop  Rue Quincampoix, Paris
5  2015-04-19 10:09:39.462  windows-laptop  Rue Quincampoix, Paris
6  2015-04-26 10:01:30.447  windows-laptop  Rue Quincampoix, Paris
7  2015-05-10 10:57:42.994  windows-laptop  Rue Quincampoix, Paris
8  2015-05-24 11:42:49.667  windows-laptop  Rue Quincampoix, Paris
9  2015-05-31 10:35:46.912  windows-laptop  Rue Quincampoix, Paris
10 2015-06-07 23:15:30.696  windows-laptop  Rue Quincampoix, Paris

             Saturday beg          device                location
0 2015-03-07 10:27:24.482  windows-laptop  Rue Quincampoix, Paris
1 2015-03-14 12:09:50.591  windows-laptop  Rue Quincampoix, Paris
2 2015-03-28 10:59:02.621  windows-laptop  Rue Quincampoix, Paris
3 2015-04-04 12:28:12.545  windows-laptop  Rue Quincampoix, Paris
4 2015-04-11 12:13:43.543  windows-laptop  Rue Quincampoix, Paris
5 2015-04-18 17:35:25.189  windows-laptop  Rue Quincampoix, Paris
6 2015-05-23 11:41:43.050  windows-laptop  Rue Quincampoix, Paris

               Monday end          device                location
0 2015-03-09 21:37:48.069  windows-laptop   Place d'Italie, Paris
1 2015-03-16 23:17:01.779  windows-laptop   Place d'Italie, Paris
2 2015-03-23 22:09:48.422  windows-laptop  Rue Quincampoix, Paris
3 2015-04-13 22:31:18.163  windows-laptop   Place d'Italie, Paris
4 2015-04-20 21:46:15.073  windows-laptop  Rue Quincampoix, Paris
5 2015-04-27 21:36:08.733  windows-laptop  Rue Quincampoix, Paris
6 2015-05-25 21:08:52.638  windows-laptop  Rue Quincampoix, Paris
7 2015-06-01 22:17:02.044  windows-laptop  Rue Quincampoix, Paris
8 2015-06-08 22:17:02.301  windows-laptop  Rue Quincampoix, Paris

               Tuesday end          device                location
0  2015-03-10 21:57:47.168  windows-laptop  Rue Quincampoix, Paris
1  2015-03-17 23:17:01.620  windows-laptop  Rue Quincampoix, Paris
2  2015-03-24 18:43:51.619  windows-laptop  Rue Quincampoix, Paris
3  2015-03-31 20:39:35.102  windows-laptop  Rue Quincampoix, Paris
4  2015-04-07 20:16:09.741  windows-laptop  Rue Quincampoix, Paris
5  2015-04-14 19:19:02.241  windows-laptop  Rue Quincampoix, Paris
6  2015-04-28 21:25:47.854  windows-laptop  Rue Quincampoix, Paris
7  2015-05-05 22:17:01.664  windows-laptop  Rue Quincampoix, Paris
8  2015-05-26 16:15:03.203  windows-laptop  Rue Quincampoix, Paris
9  2015-06-02 13:36:50.869  windows-laptop  Rue Quincampoix, Paris
10 2015-06-09 21:32:56.166  windows-laptop  Rue Quincampoix, Paris

               Friday end          device                location
0 2015-03-06 22:19:25.293  windows-laptop  Rue Quincampoix, Paris
1 2015-03-27 20:34:03.302  windows-laptop  Rue Quincampoix, Paris
2 2015-04-03 21:19:50.020  windows-laptop  Rue Quincampoix, Paris
3 2015-04-10 17:47:06.389  windows-laptop  Rue Quincampoix, Paris
4 2015-04-17 21:48:58.574  windows-laptop  Rue Quincampoix, Paris
5 2015-04-24 22:28:13.548  windows-laptop  Rue Quincampoix, Paris
6 2015-05-22 15:04:27.710  windows-laptop  Rue Quincampoix, Paris
7 2015-05-29 21:28:08.514  windows-laptop  Rue Quincampoix, Paris
8 2015-06-05 23:42:13.109  windows-laptop  Rue Quincampoix, Paris

            Wednesday end          device                location
0 2015-03-11 17:54:00.313  windows-laptop  Rue Quincampoix, Paris
1 2015-03-18 16:45:24.909  windows-laptop  Rue Quincampoix, Paris
2 2015-03-25 21:59:56.108  windows-laptop  Rue Quincampoix, Paris
3 2015-04-01 20:21:58.914  windows-laptop  Rue Quincampoix, Paris
4 2015-04-15 20:26:17.155  windows-laptop  Rue Quincampoix, Paris
5 2015-04-22 22:36:28.842  windows-laptop  Rue Quincampoix, Paris
6 2015-04-29 22:06:05.720  windows-laptop  Rue Quincampoix, Paris
7 2015-05-06 20:03:45.486  windows-laptop  Rue Quincampoix, Paris
8 2015-05-20 20:26:31.214  windows-laptop  Rue Quincampoix, Paris
9 2015-06-03 22:17:01.805  windows-laptop  Rue Quincampoix, Paris

,Thursday end,device,location
0,2015-03-05 23:17:01.593,windows-laptop,"Rue Quincampoix, Paris"
1,2015-03-12 22:15:33.607,windows-laptop,"Rue Quincampoix, Paris"
2,2015-03-19 22:25:05.259,windows-laptop,"Allée des Courtes Rayés, Éragny"
3,2015-03-26 12:22:15.016,windows-laptop,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-04-02 21:15:54.578,windows-laptop,"Rue Quincampoix, Paris"
5,2015-04-09 20:07:53.503,windows-laptop,"Rue Quincampoix, Paris"
6,2015-04-16 23:39:43.945,windows-laptop,"Rue Quincampoix, Paris"
7,2015-04-23 22:26:50.129,windows-laptop,"Rue Quincampoix, Paris"
8,2015-05-28 21:25:50.586,windows-laptop,"Rue Quincampoix, Paris"
9,2015-06-04 22:17:01.586,windows-laptop,"Rue Quincampoix, Paris"

,Sunday end,device,location
0,2015-03-08 21:31:16.137,windows-laptop,"Rue Quincampoix, Paris"
1,2015-03-15 14:55:17.527,windows-laptop,"Rue Quincampoix, Paris"
2,2015-03-29 21:35:21.196,windows-laptop,"Rue Quincampoix, Paris"
3,2015-04-05 23:30:26.078,windows-laptop,"Rue Jules Guesde, Issy-les-Moulineaux"
4,2015-04-12 19:22:03.531,windows-laptop,"Rue Quincampoix, Paris"
5,2015-04-19 19:05:37.666,windows-laptop,"Rue Quincampoix, Paris"
6,2015-04-26 19:53:37.577,windows-laptop,"Rue Quincampoix, Paris"
7,2015-05-10 11:01:55.551,windows-laptop,"Rue Quincampoix, Paris"
8,2015-05-24 20:48:15.296,windows-laptop,"Rue Quincampoix, Paris"
9,2015-05-31 23:12:22.282,windows-laptop,"Rue Quincampoix, Paris"

             Saturday end          device                location
0 2015-03-07 23:17:01.646  windows-laptop  Rue Quincampoix, Paris
1 2015-03-14 21:32:32.462  windows-laptop  Rue Quincampoix, Paris
2 2015-03-28 23:01:17.171  windows-laptop  Rue Quincampoix, Paris
3 2015-04-04 22:17:01.834  windows-laptop  Rue Quincampoix, Paris
4 2015-04-11 14:12:18.893  windows-laptop  Rue Quincampoix, Paris
5 2015-04-18 18:15:14.965  windows-laptop  Rue Quincampoix, Paris
6 2015-05-23 22:47:54.870  windows-laptop  Rue Quincampoix, Paris

user: 2=======================

,beg,devid,location
0,2015-02-25 15:04:49.324,1,"Rue Quincampoix, Paris"
1,2015-02-26 08:17:58.584,2,"Rue Martre, Clichy"
2,2015-02-27 09:36:04.320,1,"Rue Martre, Clichy"
3,2015-03-04 20:25:10.951,1,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-03-05 09:31:14.955,1,"Rue Quincampoix, Paris"
5,2015-03-06 13:22:07.192,1,"Rue Quincampoix, Paris"
6,2015-03-07 09:18:57.352,1,"Rue Thiers, Boulogne-Billancourt"
7,2015-03-17 19:12:03.785,1,"Place de l'Hôtel de ville, Nanterre"
8,2015-03-18 08:13:35.000,1,"Rue de Paris, Clichy"
9,2015-03-19 04:48:34.555,1,"Avenue du Maréchal Foch, Chatou"
10,2015-03-20 08:29:27.000,1,"Rue de Paris, Clichy"
11,2015-03-21 07:13:41.440,1,"Avenue du Maréchal Foch, Chatou"
12,2015-03-22 07:25:44.594,1,"Avenue du Maréchal Foch, Chatou"
13,2015-03-24 23:01:56.317,1,"Avenue du Maréchal Foch, Chatou"
14,2015-03-25 05:24:33.813,1,"Avenue du Maréchal Foch, Chatou"
15,2015-03-26 05:24:50.955,1,"Avenue du Maréchal Foch, Chatou"
16,2015-03-27 18:35:53.796,1,"Avenue du Maréchal Foch, Chatou"
17,2015-03-28 07:08:18.974,1,"Rue Quincampoix, Paris"
18,2015-03-29 12:37:37.588,1,"Domaine de Montvoisin, Gometz-la-Ville"
19,2015-03-30 04:25:38.869,1,"Avenue du Maréchal Foch, Chatou"
20,2015-03-31 09:22:15.000,1,"Rue Paul Flament, Chatou"
21,2015-04-01 11:06:51.000,1,"Place Maurice Berteaux, Chatou"
22,2015-04-02 08:50:57.000,1,"Place Maurice Berteaux, Chatou"
23,2015-04-03 11:23:56.000,1,"Rue de Paris, Clichy"
24,2015-04-04 11:50:03.000,1,"Rue de la République, Puteaux"
25,2015-04-05 08:08:07.219,1,"Avenue du Maréchal Foch, Chatou"
26,2015-04-06 07:40:51.776,1,"Place de l'Hôtel de ville, Nanterre"
27,2015-04-07 04:47:22.746,1,"Avenue du Maréchal Foch, Chatou"
28,2015-04-08 18:34:35.488,1,"Avenue du Maréchal Foch, Chatou"
29,2015-04-09 18:17:26.174,1,"Avenue du Maréchal Foch, Chatou"
...,...,...,...
61,2015-05-11 09:22:32.000,1,"Rue Paul Flament, Chatou"
62,2015-05-12 09:56:45.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
63,2015-05-14 13:05:02.000,1,"Place Maurice Berteaux, Chatou"
64,2015-05-15 13:53:21.000,1,"Rue de Turbigo, Paris"
65,2015-05-16 11:50:43.000,1,"Avenue du Général Sarrail, Chatou"
66,2015-05-17 08:51:15.773,1,"Avenue du Maréchal Foch, Chatou"
67,2015-05-18 09:23:03.000,1,"Place Maurice Berteaux, Chatou"
68,2015-05-19 09:38:47.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
69,2015-05-20 10:10:48.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
70,2015-05-21 10:29:26.000,1,"Rue Jean Monnet, Le Kremlin-Bicêtre"
71,2015-05-22 08:33:03.000,1,"Montée des Vignes, Chatou"
72,2015-05-23 11:49:44.000,1,"Rue de la République, Puteaux"
73,2015-05-24 18:23:28.000,1,"Voie 6, Juvisy-sur-Orge"
74,2015-05-25 17:24:19.000,1,"Avenue Roger Chambonnet, Brétigny-sur-Orge"
75,2015-05-26 10:30:32.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
76,2015-05-27 10:21:06.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
77,2015-05-28 09:31:30.000,1,"Rue Paul Flament, Chatou"
78,2015-05-29 05:25:23.439,1,"Avenue du Maréchal Foch, Chatou"
79,2015-05-30 06:12:52.456,1,"Avenue du Maréchal Foch, Chatou"
80,2015-05-31 04:05:04.802,1,"Avenue du Maréchal Foch, Chatou"
81,2015-06-01 10:21:10.000,1,"D7, Le Kremlin-Bicêtre"
82,2015-06-02 05:01:12.009,1,"Avenue du Maréchal Foch, Chatou"
83,2015-06-03 04:06:09.660,1,"Avenue du Maréchal Foch, Chatou"
84,2015-06-04 10:22:37.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
85,2015-06-05 09:22:29.000,1,"Place de la Gare, Chatou"
86,2015-06-06 11:52:27.000,1,"Palais De La Mediatheque, Puteaux"
87,2015-06-07 12:31:07.000,1,"Rue de la Madeleine, Villebon-sur-Yvette"
88,2015-06-08 10:29:45.000,1,"Rue Danton, Le Kremlin-Bicêtre"
89,2015-06-09 10:22:21.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
90,2015-06-10 10:20:11.000,1,"D7, Le Kremlin-Bicêtre"

,devid,end,location
0,1,2015-02-25 23:33:50.789,"Avenue du Maréchal Foch, Chatou"
1,2,2015-02-26 08:21:49.132,"Rue Martre, Clichy"
2,1,2015-02-27 16:11:09.082,"Rue Martre, Clichy"
3,1,2015-03-04 20:46:51.509,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2,2015-03-05 17:11:06.913,"Rue Martre, Clichy"
5,2,2015-03-06 16:44:19.775,"Rue Martre, Clichy"
6,1,2015-03-07 22:48:15.994,"Avenue du Maréchal Foch, Chatou"
7,1,2015-03-17 22:44:21.750,"Avenue du Maréchal Foch, Chatou"
8,1,2015-03-18 19:13:45.000,"Place Maurice Berteaux, Chatou"
9,1,2015-03-19 23:17:02.031,"Avenue du Maréchal Foch, Chatou"
10,1,2015-03-20 20:56:56.000,"Rue Madame de Sanzillon, Clichy"
11,1,2015-03-21 23:55:25.610,"Avenue du Maréchal Foch, Chatou"
12,1,2015-03-22 10:32:23.000,"Place Maurice Berteaux, Chatou"
13,1,2015-03-24 23:17:01.953,"Avenue du Maréchal Foch, Chatou"
14,1,2015-03-25 23:17:05.330,"Avenue du Maréchal Foch, Chatou"
15,1,2015-03-26 11:34:20.198,"Rue Quincampoix, Paris"
16,1,2015-03-27 23:57:52.336,"Avenue du Maréchal Foch, Chatou"
17,1,2015-03-28 23:17:03.123,"Avenue du Maréchal Foch, Chatou"
18,1,2015-03-29 22:47:00.000,"Place Maurice Berteaux, Chatou"
19,1,2015-03-30 19:26:21.000,"Avenue du Général de Gaulle, Puteaux"
20,1,2015-03-31 20:03:21.000,"Place Maurice Berteaux, Chatou"
21,1,2015-04-01 23:03:00.000,"Rue de la Croix, Nanterre"
22,1,2015-04-02 19:47:05.000,"Voie des Douces, Puteaux"
23,1,2015-04-03 21:24:54.432,"Avenue du Maréchal Foch, Chatou"
24,1,2015-04-04 23:26:09.117,"Avenue du Maréchal Foch, Chatou"
25,1,2015-04-05 23:25:16.070,"Place de l'Hôtel de ville, Nanterre"
26,1,2015-04-06 22:17:01.865,"Avenue du Maréchal Foch, Chatou"
27,1,2015-04-07 22:17:01.262,"Avenue du Maréchal Foch, Chatou"
28,1,2015-04-08 21:39:21.204,"Avenue du Maréchal Foch, Chatou"
29,1,2015-04-09 18:41:07.315,"Avenue du Maréchal Foch, Chatou"
...,...,...,...
62,1,2015-05-12 21:27:02.000,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
63,1,2015-05-13 09:09:59.000,"Montée des Vignes, Chatou"
64,1,2015-05-14 22:42:20.000,"Rue de la Madeleine, Villebon-sur-Yvette"
65,1,2015-05-15 22:42:03.000,"Voie Georges Hutin, Puteaux"
66,1,2015-05-16 20:38:04.000,"Boulevard de la Seine, Nanterre"
67,1,2015-05-17 21:19:04.000,"Avenue Georges Bizet, Le Vésinet"
68,1,2015-05-18 20:57:09.000,"Montée des Vignes, Chatou"
69,1,2015-05-19 20:22:31.000,"Tunnel de Nanterre-La Défense, Nanterre"
70,1,2015-05-20 22:17:26.000,"Rue Paul Flament, Chatou"
71,1,2015-05-21 22:10:50.000,"Montée des Vignes, Chatou"
72,1,2015-05-22 22:21:47.000,"Promenade Maurice Boitel, Paris"
73,1,2015-05-23 23:08:13.000,"Rue de Paris, Les Lilas"
74,1,2015-05-24 18:40:48.000,"Voie 6, Juvisy-sur-Orge"
75,1,2015-05-25 20:07:42.000,"Rue Paul Flament, Chatou"
76,1,2015-05-26 20:03:55.000,"Avenue Larcher, Chatou"
77,1,2015-05-27 21:08:23.000,"Rue Michel Peter, Paris"
78,1,2015-05-28 20:14:53.000,"Rue de Turbigo, Paris"
79,1,2015-05-29 23:55:08.230,"Place de l'Hôtel de ville, Nanterre"
80,1,2015-05-30 23:59:23.518,"Avenue du Maréchal Foch, Chatou"
81,1,2015-05-31 21:27:01.000,"Rue de la Madeleine, Villebon-sur-Yvette"
82,1,2015-06-01 20:20:41.000,"Place Maurice Berteaux, Chatou"
83,1,2015-06-02 23:59:14.229,"Avenue du Maréchal Foch, Chatou"
84,1,2015-06-03 21:40:58.133,"Avenue du Maréchal Foch, Chatou"
85,1,2015-06-04 20:59:32.704,"Avenue du Maréchal Foch, Chatou"
86,1,2015-06-05 21:13:21.000,"Place de la Gare, Chatou"
87,1,2015-06-06 20:00:37.000,"Avenue du Maréchal Foch, Chatou"
88,1,2015-06-07 23:50:30.000,"Montée des Vignes, Chatou"
89,1,2015-06-08 20:00:35.000,"Rue Danton, Le Kremlin-Bicêtre"
90,1,2015-06-09 23:10:01.000,"Rue Paul Flament, Chatou"
91,1,2015-06-10 20:28:51.000,"D7, Le Kremlin-Bicêtre"

,Monday beg,device,location
0,2015-03-30 04:25:38.869,iphone,"Avenue du Maréchal Foch, Chatou"
1,2015-04-06 07:40:51.776,iphone,"Place de l'Hôtel de ville, Nanterre"
2,2015-04-13 04:02:22.312,iphone,"Avenue du Maréchal Foch, Chatou"
3,2015-04-20 10:16:37.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
4,2015-04-27 09:18:24.000,iphone,"Rue Paul Flament, Chatou"
5,2015-05-04 09:18:27.000,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-05-11 09:22:32.000,iphone,"Rue Paul Flament, Chatou"
7,2015-05-18 09:23:03.000,iphone,"Place Maurice Berteaux, Chatou"
8,2015-05-25 17:24:19.000,iphone,"Avenue Roger Chambonnet, Brétigny-sur-Orge"
9,2015-06-01 10:21:10.000,iphone,"D7, Le Kremlin-Bicêtre"
10,2015-06-08 10:29:45.000,iphone,"Rue Danton, Le Kremlin-Bicêtre"

,Tuesday beg,device,location
0,2015-03-17 19:12:03.785,iphone,"Place de l'Hôtel de ville, Nanterre"
1,2015-03-24 23:01:56.317,iphone,"Avenue du Maréchal Foch, Chatou"
2,2015-03-31 09:22:15.000,iphone,"Rue Paul Flament, Chatou"
3,2015-04-07 04:47:22.746,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-14 18:57:03.832,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-04-21 09:52:36.000,iphone,"D7, Le Kremlin-Bicêtre"
6,2015-04-28 04:05:05.844,iphone,"Avenue du Maréchal Foch, Chatou"
7,2015-05-05 04:36:36.685,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-05-12 09:56:45.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
9,2015-05-19 09:38:47.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
10,2015-05-26 10:30:32.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
11,2015-06-02 05:01:12.009,iphone,"Avenue du Maréchal Foch, Chatou"
12,2015-06-09 10:22:21.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"

,Friday beg,device,location
0,2015-02-27 09:36:04.320,iphone,"Rue Martre, Clichy"
1,2015-03-06 13:22:07.192,iphone,"Rue Quincampoix, Paris"
2,2015-03-20 08:29:27.000,iphone,"Rue de Paris, Clichy"
3,2015-03-27 18:35:53.796,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-03 11:23:56.000,iphone,"Rue de Paris, Clichy"
5,2015-04-10 22:40:58.652,iphone,"Domaine de Montvoisin, Gometz-la-Ville"
6,2015-04-17 10:20:29.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
7,2015-04-24 06:02:40.801,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-05-01 12:42:06.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
9,2015-05-08 13:55:14.000,iphone,"Place Maurice Berteaux, Chatou"
10,2015-05-15 13:53:21.000,iphone,"Rue de Turbigo, Paris"
11,2015-05-22 08:33:03.000,iphone,"Montée des Vignes, Chatou"
12,2015-05-29 05:25:23.439,iphone,"Avenue du Maréchal Foch, Chatou"
13,2015-06-05 09:22:29.000,iphone,"Place de la Gare, Chatou"

,Wednesday beg,device,location
0,2015-02-25 15:04:49.324,iphone,"Rue Quincampoix, Paris"
1,2015-03-04 20:25:10.951,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-03-18 08:13:35.000,iphone,"Rue de Paris, Clichy"
3,2015-03-25 05:24:33.813,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-01 11:06:51.000,iphone,"Place Maurice Berteaux, Chatou"
5,2015-04-08 18:34:35.488,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-15 04:03:06.281,iphone,"Avenue du Maréchal Foch, Chatou"
7,2015-04-22 05:09:07.946,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-04-29 10:13:44.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
9,2015-05-06 04:05:15.244,iphone,"Avenue du Maréchal Foch, Chatou"
10,2015-05-20 10:10:48.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
11,2015-05-27 10:21:06.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
12,2015-06-03 04:06:09.660,iphone,"Avenue du Maréchal Foch, Chatou"
13,2015-06-10 10:20:11.000,iphone,"D7, Le Kremlin-Bicêtre"

,Thursday beg,device,location
0,2015-02-26 08:17:58.584,windows-laptop,"Rue Martre, Clichy"
1,2015-03-05 09:31:14.955,iphone,"Rue Quincampoix, Paris"
2,2015-03-19 04:48:34.555,iphone,"Avenue du Maréchal Foch, Chatou"
3,2015-03-26 05:24:50.955,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-02 08:50:57.000,iphone,"Place Maurice Berteaux, Chatou"
5,2015-04-09 18:17:26.174,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-16 10:19:21.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
7,2015-04-23 10:13:09.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
8,2015-04-30 05:43:30.135,iphone,"Avenue du Maréchal Foch, Chatou"
9,2015-05-07 08:39:51.000,iphone,"Montée des Vignes, Chatou"
10,2015-05-14 13:05:02.000,iphone,"Place Maurice Berteaux, Chatou"
11,2015-05-21 10:29:26.000,iphone,"Rue Jean Monnet, Le Kremlin-Bicêtre"
12,2015-05-28 09:31:30.000,iphone,"Rue Paul Flament, Chatou"
13,2015-06-04 10:22:37.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"

                Sunday beg  device                                  location
0  2015-03-22 07:25:44.594  iphone           Avenue du Maréchal Foch, Chatou
1  2015-03-29 12:37:37.588  iphone    Domaine de Montvoisin, Gometz-la-Ville
2  2015-04-05 08:08:07.219  iphone           Avenue du Maréchal Foch, Chatou
3  2015-04-12 08:39:36.087  iphone    Domaine de Montvoisin, Gometz-la-Ville
4  2015-04-19 08:50:53.584  iphone           Avenue du Maréchal Foch, Chatou
5  2015-04-26 08:17:57.746  iphone           Avenue du Maréchal Foch, Chatou
6  2015-05-03 13:57:18.000  iphone                 Montée des Vignes, Chatou
7  2015-05-10 14:23:19.000  iphone         Avenue de Colmar, Rueil-Malmaison
8  2015-05-17 08:51:15.773  iphone           Avenue du Maréchal Foch, Chatou
9  2015-05-24 18:23:28.000  iphone                   Voie 6, Juvisy-sur-Orge
10 2015-05-31 04:05:04.802  iphone           Avenue du Maréchal Foch, Chatou
11 2015-06-07 12:31:07.000  iphone  Rue de la Madeleine, Villebon-sur-Yvette

              Saturday beg  device                           location
0  2015-03-07 09:18:57.352  iphone   Rue Thiers, Boulogne-Billancourt
1  2015-03-21 07:13:41.440  iphone    Avenue du Maréchal Foch, Chatou
2  2015-03-28 07:08:18.974  iphone             Rue Quincampoix, Paris
3  2015-04-04 11:50:03.000  iphone      Rue de la République, Puteaux
4  2015-04-11 12:45:01.691  iphone    Avenue du Maréchal Foch, Chatou
5  2015-04-18 06:49:46.140  iphone    Avenue du Maréchal Foch, Chatou
6  2015-04-25 12:52:06.000  iphone       Rue Charles Péguy, Palaiseau
7  2015-05-02 07:36:23.291  iphone    Avenue du Maréchal Foch, Chatou
8  2015-05-09 10:38:10.000  iphone              Rue de Sahune, Chatou
9  2015-05-16 11:50:43.000  iphone  Avenue du Général Sarrail, Chatou
10 2015-05-23 11:49:44.000  iphone      Rue de la République, Puteaux
11 2015-05-30 06:12:52.456  iphone    Avenue du Maréchal Foch, Chatou
12 2015-06-06 11:52:27.000  iphone  Palais De La Mediatheque, Puteaux

,Monday end,device,location
0,2015-03-30 19:26:21.000,iphone,"Avenue du Général de Gaulle, Puteaux"
1,2015-04-06 22:17:01.865,iphone,"Avenue du Maréchal Foch, Chatou"
2,2015-04-13 06:27:44.700,iphone,"Rue Quincampoix, Paris"
3,2015-04-20 20:05:09.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
4,2015-04-27 23:51:19.603,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-05-04 22:28:16.559,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-05-11 20:21:15.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
7,2015-05-18 20:57:09.000,iphone,"Montée des Vignes, Chatou"
8,2015-05-25 20:07:42.000,iphone,"Rue Paul Flament, Chatou"
9,2015-06-01 20:20:41.000,iphone,"Place Maurice Berteaux, Chatou"
10,2015-06-08 20:00:35.000,iphone,"Rue Danton, Le Kremlin-Bicêtre"

,Tuesday end,device,location
0,2015-03-17 22:44:21.750,iphone,"Avenue du Maréchal Foch, Chatou"
1,2015-03-24 23:17:01.953,iphone,"Avenue du Maréchal Foch, Chatou"
2,2015-03-31 20:03:21.000,iphone,"Place Maurice Berteaux, Chatou"
3,2015-04-07 22:17:01.262,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-14 22:41:28.502,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-04-21 20:53:44.000,iphone,"Rue Pereire, Rueil-Malmaison"
6,2015-04-28 20:56:19.000,iphone,"Rue de la Croix, Nanterre"
7,2015-05-05 23:52:44.780,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-05-12 21:27:02.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
9,2015-05-19 20:22:31.000,iphone,"Tunnel de Nanterre-La Défense, Nanterre"
10,2015-05-26 20:03:55.000,iphone,"Avenue Larcher, Chatou"
11,2015-06-02 23:59:14.229,iphone,"Avenue du Maréchal Foch, Chatou"
12,2015-06-09 23:10:01.000,iphone,"Rue Paul Flament, Chatou"

,Friday end,device,location
0,2015-02-27 16:11:09.082,iphone,"Rue Martre, Clichy"
1,2015-03-06 16:44:19.775,windows-laptop,"Rue Martre, Clichy"
2,2015-03-20 20:56:56.000,iphone,"Rue Madame de Sanzillon, Clichy"
3,2015-03-27 23:57:52.336,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-03 21:24:54.432,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-04-10 23:07:21.542,iphone,"Domaine de Montvoisin, Gometz-la-Ville"
6,2015-04-17 23:24:56.000,iphone,"Voie Georges Pompidou, Paris"
7,2015-04-24 23:45:00.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
8,2015-05-01 23:53:18.162,iphone,"Avenue du Maréchal Foch, Chatou"
9,2015-05-08 22:43:52.000,iphone,"Avenue du Maréchal Foch, Chatou"
10,2015-05-15 22:42:03.000,iphone,"Voie Georges Hutin, Puteaux"
11,2015-05-22 22:21:47.000,iphone,"Promenade Maurice Boitel, Paris"
12,2015-05-29 23:55:08.230,iphone,"Place de l'Hôtel de ville, Nanterre"
13,2015-06-05 21:13:21.000,iphone,"Place de la Gare, Chatou"

,Wednesday end,device,location
0,2015-02-25 23:33:50.789,iphone,"Avenue du Maréchal Foch, Chatou"
1,2015-03-04 20:46:51.509,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-03-18 19:13:45.000,iphone,"Place Maurice Berteaux, Chatou"
3,2015-03-25 23:17:05.330,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-01 23:03:00.000,iphone,"Rue de la Croix, Nanterre"
5,2015-04-08 21:39:21.204,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-15 22:18:51.000,iphone,"Port Debilly, Paris-16E-Arrondissement"
7,2015-04-22 20:02:22.000,iphone,"Boulevard des Provinces Françaises, Nanterre"
8,2015-04-29 21:55:11.000,iphone,"Rue Paul Flament, Chatou"
9,2015-05-06 23:34:31.000,iphone,"Montée des Vignes, Chatou"
10,2015-05-13 09:09:59.000,iphone,"Montée des Vignes, Chatou"
11,2015-05-20 22:17:26.000,iphone,"Rue Paul Flament, Chatou"
12,2015-05-27 21:08:23.000,iphone,"Rue Michel Peter, Paris"
13,2015-06-03 21:40:58.133,iphone,"Avenue du Maréchal Foch, Chatou"
14,2015-06-10 20:28:51.000,iphone,"D7, Le Kremlin-Bicêtre"

,Thursday end,device,location
0,2015-02-26 08:21:49.132,windows-laptop,"Rue Martre, Clichy"
1,2015-03-05 17:11:06.913,windows-laptop,"Rue Martre, Clichy"
2,2015-03-19 23:17:02.031,iphone,"Avenue du Maréchal Foch, Chatou"
3,2015-03-26 11:34:20.198,iphone,"Rue Quincampoix, Paris"
4,2015-04-02 19:47:05.000,iphone,"Voie des Douces, Puteaux"
5,2015-04-09 18:41:07.315,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-16 21:05:28.055,iphone,"Avenue du Maréchal Foch, Chatou"
7,2015-04-23 22:07:10.310,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-04-30 23:38:43.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
9,2015-05-07 23:28:29.000,iphone,"Avenue Gambetta, Chatou"
10,2015-05-14 22:42:20.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
11,2015-05-21 22:10:50.000,iphone,"Montée des Vignes, Chatou"
12,2015-05-28 20:14:53.000,iphone,"Rue de Turbigo, Paris"
13,2015-06-04 20:59:32.704,iphone,"Avenue du Maréchal Foch, Chatou"

                Sunday end  device                                  location
0  2015-03-22 10:32:23.000  iphone            Place Maurice Berteaux, Chatou
1  2015-03-29 22:47:00.000  iphone            Place Maurice Berteaux, Chatou
2  2015-04-05 23:25:16.070  iphone       Place de l'Hôtel de ville, Nanterre
3  2015-04-12 23:56:54.755  iphone           Avenue du Maréchal Foch, Chatou
4  2015-04-19 20:32:43.000  iphone          Avenue Georges Bizet, Le Vésinet
5  2015-04-26 21:40:34.835  iphone           Avenue du Maréchal Foch, Chatou
6  2015-05-03 21:59:00.000  iphone                      Rue nationale, Paris
7  2015-05-10 17:14:26.000  iphone                  Rue Paul Flament, Chatou
8  2015-05-17 21:19:04.000  iphone          Avenue Georges Bizet, Le Vésinet
9  2015-05-24 18:40:48.000  iphone                   Voie 6, Juvisy-sur-Orge
10 2015-05-31 21:27:01.000  iphone  Rue de la Madeleine, Villebon-sur-Yvette
11 2015-06-07 23:50:30.000  iphone                 Montée des Vignes, Chatou

              Saturday end  device                                 location
0  2015-03-07 22:48:15.994  iphone          Avenue du Maréchal Foch, Chatou
1  2015-03-21 23:55:25.610  iphone          Avenue du Maréchal Foch, Chatou
2  2015-03-28 23:17:03.123  iphone          Avenue du Maréchal Foch, Chatou
3  2015-04-04 23:26:09.117  iphone          Avenue du Maréchal Foch, Chatou
4  2015-04-11 23:25:32.278  iphone   Domaine de Montvoisin, Gometz-la-Ville
5  2015-04-18 21:29:16.000  iphone  Quai de Stalingrad, Issy-les-Moulineaux
6  2015-04-25 17:34:21.000  iphone                Montée des Vignes, Chatou
7  2015-05-02 23:57:59.809  iphone          Avenue du Maréchal Foch, Chatou
8  2015-05-09 23:20:02.000  iphone          Boulevard de la Bastille, Paris
9  2015-05-16 20:38:04.000  iphone          Boulevard de la Seine, Nanterre
10 2015-05-23 23:08:13.000  iphone                  Rue de Paris, Les Lilas
11 2015-05-30 23:59:23.518  iphone          Avenue du Maréchal Foch, Chatou
12 2015-06-06 20:00:37.000  iphone          Avenue du Maréchal Foch, Chatou

,beg,devid,location
0,2015-02-25 15:04:49.324,1,"Rue Quincampoix, Paris"
1,2015-02-26 08:17:58.584,2,"Rue Martre, Clichy"
2,2015-02-27 09:36:04.320,1,"Rue Martre, Clichy"
3,2015-03-04 20:25:10.951,1,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-03-05 09:31:14.955,1,"Rue Quincampoix, Paris"
5,2015-03-06 13:22:07.192,1,"Rue Quincampoix, Paris"
6,2015-03-07 09:18:57.352,1,"Rue Thiers, Boulogne-Billancourt"
7,2015-03-17 19:12:03.785,1,"Place de l'Hôtel de ville, Nanterre"
8,2015-03-18 08:13:35.000,1,"Rue de Paris, Clichy"
9,2015-03-19 04:48:34.555,1,"Avenue du Maréchal Foch, Chatou"
10,2015-03-20 08:29:27.000,1,"Rue de Paris, Clichy"
11,2015-03-21 07:13:41.440,1,"Avenue du Maréchal Foch, Chatou"
12,2015-03-22 07:25:44.594,1,"Avenue du Maréchal Foch, Chatou"
13,2015-03-24 23:01:56.317,1,"Avenue du Maréchal Foch, Chatou"
14,2015-03-25 05:24:33.813,1,"Avenue du Maréchal Foch, Chatou"
15,2015-03-26 05:24:50.955,1,"Avenue du Maréchal Foch, Chatou"
16,2015-03-27 18:35:53.796,1,"Avenue du Maréchal Foch, Chatou"
17,2015-03-28 07:08:18.974,1,"Rue Quincampoix, Paris"
18,2015-03-29 12:37:37.588,1,"Domaine de Montvoisin, Gometz-la-Ville"
19,2015-03-30 04:25:38.869,1,"Avenue du Maréchal Foch, Chatou"
20,2015-03-31 09:22:15.000,1,"Rue Paul Flament, Chatou"
21,2015-04-01 11:06:51.000,1,"Place Maurice Berteaux, Chatou"
22,2015-04-02 08:50:57.000,1,"Place Maurice Berteaux, Chatou"
23,2015-04-03 11:23:56.000,1,"Rue de Paris, Clichy"
24,2015-04-04 11:50:03.000,1,"Rue de la République, Puteaux"
25,2015-04-05 08:08:07.219,1,"Avenue du Maréchal Foch, Chatou"
26,2015-04-06 07:40:51.776,1,"Place de l'Hôtel de ville, Nanterre"
27,2015-04-07 04:47:22.746,1,"Avenue du Maréchal Foch, Chatou"
28,2015-04-08 18:34:35.488,1,"Avenue du Maréchal Foch, Chatou"
29,2015-04-09 18:17:26.174,1,"Avenue du Maréchal Foch, Chatou"
...,...,...,...
61,2015-05-11 09:22:32.000,1,"Rue Paul Flament, Chatou"
62,2015-05-12 09:56:45.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
63,2015-05-14 13:05:02.000,1,"Place Maurice Berteaux, Chatou"
64,2015-05-15 13:53:21.000,1,"Rue de Turbigo, Paris"
65,2015-05-16 11:50:43.000,1,"Avenue du Général Sarrail, Chatou"
66,2015-05-17 08:51:15.773,1,"Avenue du Maréchal Foch, Chatou"
67,2015-05-18 09:23:03.000,1,"Place Maurice Berteaux, Chatou"
68,2015-05-19 09:38:47.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
69,2015-05-20 10:10:48.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
70,2015-05-21 10:29:26.000,1,"Rue Jean Monnet, Le Kremlin-Bicêtre"
71,2015-05-22 08:33:03.000,1,"Montée des Vignes, Chatou"
72,2015-05-23 11:49:44.000,1,"Rue de la République, Puteaux"
73,2015-05-24 18:23:28.000,1,"Voie 6, Juvisy-sur-Orge"
74,2015-05-25 17:24:19.000,1,"Avenue Roger Chambonnet, Brétigny-sur-Orge"
75,2015-05-26 10:30:32.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
76,2015-05-27 10:21:06.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
77,2015-05-28 09:31:30.000,1,"Rue Paul Flament, Chatou"
78,2015-05-29 05:25:23.439,1,"Avenue du Maréchal Foch, Chatou"
79,2015-05-30 06:12:52.456,1,"Avenue du Maréchal Foch, Chatou"
80,2015-05-31 04:05:04.802,1,"Avenue du Maréchal Foch, Chatou"
81,2015-06-01 10:21:10.000,1,"D7, Le Kremlin-Bicêtre"
82,2015-06-02 05:01:12.009,1,"Avenue du Maréchal Foch, Chatou"
83,2015-06-03 04:06:09.660,1,"Avenue du Maréchal Foch, Chatou"
84,2015-06-04 10:22:37.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
85,2015-06-05 09:22:29.000,1,"Place de la Gare, Chatou"
86,2015-06-06 11:52:27.000,1,"Palais De La Mediatheque, Puteaux"
87,2015-06-07 12:31:07.000,1,"Rue de la Madeleine, Villebon-sur-Yvette"
88,2015-06-08 10:29:45.000,1,"Rue Danton, Le Kremlin-Bicêtre"
89,2015-06-09 10:22:21.000,1,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
90,2015-06-10 10:20:11.000,1,"D7, Le Kremlin-Bicêtre"

,devid,end,location
0,1,2015-02-25 23:33:50.789,"Avenue du Maréchal Foch, Chatou"
1,2,2015-02-26 08:21:49.132,"Rue Martre, Clichy"
2,1,2015-02-27 16:11:09.082,"Rue Martre, Clichy"
3,1,2015-03-04 20:46:51.509,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2,2015-03-05 17:11:06.913,"Rue Martre, Clichy"
5,2,2015-03-06 16:44:19.775,"Rue Martre, Clichy"
6,1,2015-03-07 22:48:15.994,"Avenue du Maréchal Foch, Chatou"
7,1,2015-03-17 22:44:21.750,"Avenue du Maréchal Foch, Chatou"
8,1,2015-03-18 19:13:45.000,"Place Maurice Berteaux, Chatou"
9,1,2015-03-19 23:17:02.031,"Avenue du Maréchal Foch, Chatou"
10,1,2015-03-20 20:56:56.000,"Rue Madame de Sanzillon, Clichy"
11,1,2015-03-21 23:55:25.610,"Avenue du Maréchal Foch, Chatou"
12,1,2015-03-22 10:32:23.000,"Place Maurice Berteaux, Chatou"
13,1,2015-03-24 23:17:01.953,"Avenue du Maréchal Foch, Chatou"
14,1,2015-03-25 23:17:05.330,"Avenue du Maréchal Foch, Chatou"
15,1,2015-03-26 11:34:20.198,"Rue Quincampoix, Paris"
16,1,2015-03-27 23:57:52.336,"Avenue du Maréchal Foch, Chatou"
17,1,2015-03-28 23:17:03.123,"Avenue du Maréchal Foch, Chatou"
18,1,2015-03-29 22:47:00.000,"Place Maurice Berteaux, Chatou"
19,1,2015-03-30 19:26:21.000,"Avenue du Général de Gaulle, Puteaux"
20,1,2015-03-31 20:03:21.000,"Place Maurice Berteaux, Chatou"
21,1,2015-04-01 23:03:00.000,"Rue de la Croix, Nanterre"
22,1,2015-04-02 19:47:05.000,"Voie des Douces, Puteaux"
23,1,2015-04-03 21:24:54.432,"Avenue du Maréchal Foch, Chatou"
24,1,2015-04-04 23:26:09.117,"Avenue du Maréchal Foch, Chatou"
25,1,2015-04-05 23:25:16.070,"Place de l'Hôtel de ville, Nanterre"
26,1,2015-04-06 22:17:01.865,"Avenue du Maréchal Foch, Chatou"
27,1,2015-04-07 22:17:01.262,"Avenue du Maréchal Foch, Chatou"
28,1,2015-04-08 21:39:21.204,"Avenue du Maréchal Foch, Chatou"
29,1,2015-04-09 18:41:07.315,"Avenue du Maréchal Foch, Chatou"
...,...,...,...
62,1,2015-05-12 21:27:02.000,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
63,1,2015-05-13 09:09:59.000,"Montée des Vignes, Chatou"
64,1,2015-05-14 22:42:20.000,"Rue de la Madeleine, Villebon-sur-Yvette"
65,1,2015-05-15 22:42:03.000,"Voie Georges Hutin, Puteaux"
66,1,2015-05-16 20:38:04.000,"Boulevard de la Seine, Nanterre"
67,1,2015-05-17 21:19:04.000,"Avenue Georges Bizet, Le Vésinet"
68,1,2015-05-18 20:57:09.000,"Montée des Vignes, Chatou"
69,1,2015-05-19 20:22:31.000,"Tunnel de Nanterre-La Défense, Nanterre"
70,1,2015-05-20 22:17:26.000,"Rue Paul Flament, Chatou"
71,1,2015-05-21 22:10:50.000,"Montée des Vignes, Chatou"
72,1,2015-05-22 22:21:47.000,"Promenade Maurice Boitel, Paris"
73,1,2015-05-23 23:08:13.000,"Rue de Paris, Les Lilas"
74,1,2015-05-24 18:40:48.000,"Voie 6, Juvisy-sur-Orge"
75,1,2015-05-25 20:07:42.000,"Rue Paul Flament, Chatou"
76,1,2015-05-26 20:03:55.000,"Avenue Larcher, Chatou"
77,1,2015-05-27 21:08:23.000,"Rue Michel Peter, Paris"
78,1,2015-05-28 20:14:53.000,"Rue de Turbigo, Paris"
79,1,2015-05-29 23:55:08.230,"Place de l'Hôtel de ville, Nanterre"
80,1,2015-05-30 23:59:23.518,"Avenue du Maréchal Foch, Chatou"
81,1,2015-05-31 21:27:01.000,"Rue de la Madeleine, Villebon-sur-Yvette"
82,1,2015-06-01 20:20:41.000,"Place Maurice Berteaux, Chatou"
83,1,2015-06-02 23:59:14.229,"Avenue du Maréchal Foch, Chatou"
84,1,2015-06-03 21:40:58.133,"Avenue du Maréchal Foch, Chatou"
85,1,2015-06-04 20:59:32.704,"Avenue du Maréchal Foch, Chatou"
86,1,2015-06-05 21:13:21.000,"Place de la Gare, Chatou"
87,1,2015-06-06 20:00:37.000,"Avenue du Maréchal Foch, Chatou"
88,1,2015-06-07 23:50:30.000,"Montée des Vignes, Chatou"
89,1,2015-06-08 20:00:35.000,"Rue Danton, Le Kremlin-Bicêtre"
90,1,2015-06-09 23:10:01.000,"Rue Paul Flament, Chatou"
91,1,2015-06-10 20:28:51.000,"D7, Le Kremlin-Bicêtre"

,Monday beg,device,location
0,2015-03-30 04:25:38.869,iphone,"Avenue du Maréchal Foch, Chatou"
1,2015-04-06 07:40:51.776,iphone,"Place de l'Hôtel de ville, Nanterre"
2,2015-04-13 04:02:22.312,iphone,"Avenue du Maréchal Foch, Chatou"
3,2015-04-20 10:16:37.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
4,2015-04-27 09:18:24.000,iphone,"Rue Paul Flament, Chatou"
5,2015-05-04 09:18:27.000,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-05-11 09:22:32.000,iphone,"Rue Paul Flament, Chatou"
7,2015-05-18 09:23:03.000,iphone,"Place Maurice Berteaux, Chatou"
8,2015-05-25 17:24:19.000,iphone,"Avenue Roger Chambonnet, Brétigny-sur-Orge"
9,2015-06-01 10:21:10.000,iphone,"D7, Le Kremlin-Bicêtre"
10,2015-06-08 10:29:45.000,iphone,"Rue Danton, Le Kremlin-Bicêtre"

,Tuesday beg,device,location
0,2015-03-17 19:12:03.785,iphone,"Place de l'Hôtel de ville, Nanterre"
1,2015-03-24 23:01:56.317,iphone,"Avenue du Maréchal Foch, Chatou"
2,2015-03-31 09:22:15.000,iphone,"Rue Paul Flament, Chatou"
3,2015-04-07 04:47:22.746,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-14 18:57:03.832,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-04-21 09:52:36.000,iphone,"D7, Le Kremlin-Bicêtre"
6,2015-04-28 04:05:05.844,iphone,"Avenue du Maréchal Foch, Chatou"
7,2015-05-05 04:36:36.685,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-05-12 09:56:45.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
9,2015-05-19 09:38:47.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
10,2015-05-26 10:30:32.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
11,2015-06-02 05:01:12.009,iphone,"Avenue du Maréchal Foch, Chatou"
12,2015-06-09 10:22:21.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"

,Friday beg,device,location
0,2015-02-27 09:36:04.320,iphone,"Rue Martre, Clichy"
1,2015-03-06 13:22:07.192,iphone,"Rue Quincampoix, Paris"
2,2015-03-20 08:29:27.000,iphone,"Rue de Paris, Clichy"
3,2015-03-27 18:35:53.796,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-03 11:23:56.000,iphone,"Rue de Paris, Clichy"
5,2015-04-10 22:40:58.652,iphone,"Domaine de Montvoisin, Gometz-la-Ville"
6,2015-04-17 10:20:29.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
7,2015-04-24 06:02:40.801,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-05-01 12:42:06.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
9,2015-05-08 13:55:14.000,iphone,"Place Maurice Berteaux, Chatou"
10,2015-05-15 13:53:21.000,iphone,"Rue de Turbigo, Paris"
11,2015-05-22 08:33:03.000,iphone,"Montée des Vignes, Chatou"
12,2015-05-29 05:25:23.439,iphone,"Avenue du Maréchal Foch, Chatou"
13,2015-06-05 09:22:29.000,iphone,"Place de la Gare, Chatou"

,Wednesday beg,device,location
0,2015-02-25 15:04:49.324,iphone,"Rue Quincampoix, Paris"
1,2015-03-04 20:25:10.951,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-03-18 08:13:35.000,iphone,"Rue de Paris, Clichy"
3,2015-03-25 05:24:33.813,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-01 11:06:51.000,iphone,"Place Maurice Berteaux, Chatou"
5,2015-04-08 18:34:35.488,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-15 04:03:06.281,iphone,"Avenue du Maréchal Foch, Chatou"
7,2015-04-22 05:09:07.946,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-04-29 10:13:44.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
9,2015-05-06 04:05:15.244,iphone,"Avenue du Maréchal Foch, Chatou"
10,2015-05-20 10:10:48.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
11,2015-05-27 10:21:06.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
12,2015-06-03 04:06:09.660,iphone,"Avenue du Maréchal Foch, Chatou"
13,2015-06-10 10:20:11.000,iphone,"D7, Le Kremlin-Bicêtre"

,Thursday beg,device,location
0,2015-02-26 08:17:58.584,windows-laptop,"Rue Martre, Clichy"
1,2015-03-05 09:31:14.955,iphone,"Rue Quincampoix, Paris"
2,2015-03-19 04:48:34.555,iphone,"Avenue du Maréchal Foch, Chatou"
3,2015-03-26 05:24:50.955,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-02 08:50:57.000,iphone,"Place Maurice Berteaux, Chatou"
5,2015-04-09 18:17:26.174,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-16 10:19:21.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
7,2015-04-23 10:13:09.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
8,2015-04-30 05:43:30.135,iphone,"Avenue du Maréchal Foch, Chatou"
9,2015-05-07 08:39:51.000,iphone,"Montée des Vignes, Chatou"
10,2015-05-14 13:05:02.000,iphone,"Place Maurice Berteaux, Chatou"
11,2015-05-21 10:29:26.000,iphone,"Rue Jean Monnet, Le Kremlin-Bicêtre"
12,2015-05-28 09:31:30.000,iphone,"Rue Paul Flament, Chatou"
13,2015-06-04 10:22:37.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"

                Sunday beg  device                                  location
0  2015-03-22 07:25:44.594  iphone           Avenue du Maréchal Foch, Chatou
1  2015-03-29 12:37:37.588  iphone    Domaine de Montvoisin, Gometz-la-Ville
2  2015-04-05 08:08:07.219  iphone           Avenue du Maréchal Foch, Chatou
3  2015-04-12 08:39:36.087  iphone    Domaine de Montvoisin, Gometz-la-Ville
4  2015-04-19 08:50:53.584  iphone           Avenue du Maréchal Foch, Chatou
5  2015-04-26 08:17:57.746  iphone           Avenue du Maréchal Foch, Chatou
6  2015-05-03 13:57:18.000  iphone                 Montée des Vignes, Chatou
7  2015-05-10 14:23:19.000  iphone         Avenue de Colmar, Rueil-Malmaison
8  2015-05-17 08:51:15.773  iphone           Avenue du Maréchal Foch, Chatou
9  2015-05-24 18:23:28.000  iphone                   Voie 6, Juvisy-sur-Orge
10 2015-05-31 04:05:04.802  iphone           Avenue du Maréchal Foch, Chatou
11 2015-06-07 12:31:07.000  iphone  Rue de la Madeleine, Villebon-sur-Yvette

              Saturday beg  device                           location
0  2015-03-07 09:18:57.352  iphone   Rue Thiers, Boulogne-Billancourt
1  2015-03-21 07:13:41.440  iphone    Avenue du Maréchal Foch, Chatou
2  2015-03-28 07:08:18.974  iphone             Rue Quincampoix, Paris
3  2015-04-04 11:50:03.000  iphone      Rue de la République, Puteaux
4  2015-04-11 12:45:01.691  iphone    Avenue du Maréchal Foch, Chatou
5  2015-04-18 06:49:46.140  iphone    Avenue du Maréchal Foch, Chatou
6  2015-04-25 12:52:06.000  iphone       Rue Charles Péguy, Palaiseau
7  2015-05-02 07:36:23.291  iphone    Avenue du Maréchal Foch, Chatou
8  2015-05-09 10:38:10.000  iphone              Rue de Sahune, Chatou
9  2015-05-16 11:50:43.000  iphone  Avenue du Général Sarrail, Chatou
10 2015-05-23 11:49:44.000  iphone      Rue de la République, Puteaux
11 2015-05-30 06:12:52.456  iphone    Avenue du Maréchal Foch, Chatou
12 2015-06-06 11:52:27.000  iphone  Palais De La Mediatheque, Puteaux

,Monday end,device,location
0,2015-03-30 19:26:21.000,iphone,"Avenue du Général de Gaulle, Puteaux"
1,2015-04-06 22:17:01.865,iphone,"Avenue du Maréchal Foch, Chatou"
2,2015-04-13 06:27:44.700,iphone,"Rue Quincampoix, Paris"
3,2015-04-20 20:05:09.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
4,2015-04-27 23:51:19.603,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-05-04 22:28:16.559,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-05-11 20:21:15.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
7,2015-05-18 20:57:09.000,iphone,"Montée des Vignes, Chatou"
8,2015-05-25 20:07:42.000,iphone,"Rue Paul Flament, Chatou"
9,2015-06-01 20:20:41.000,iphone,"Place Maurice Berteaux, Chatou"
10,2015-06-08 20:00:35.000,iphone,"Rue Danton, Le Kremlin-Bicêtre"

,Tuesday end,device,location
0,2015-03-17 22:44:21.750,iphone,"Avenue du Maréchal Foch, Chatou"
1,2015-03-24 23:17:01.953,iphone,"Avenue du Maréchal Foch, Chatou"
2,2015-03-31 20:03:21.000,iphone,"Place Maurice Berteaux, Chatou"
3,2015-04-07 22:17:01.262,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-14 22:41:28.502,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-04-21 20:53:44.000,iphone,"Rue Pereire, Rueil-Malmaison"
6,2015-04-28 20:56:19.000,iphone,"Rue de la Croix, Nanterre"
7,2015-05-05 23:52:44.780,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-05-12 21:27:02.000,iphone,"Avenue de Fontainebleau, Le Kremlin-Bicêtre"
9,2015-05-19 20:22:31.000,iphone,"Tunnel de Nanterre-La Défense, Nanterre"
10,2015-05-26 20:03:55.000,iphone,"Avenue Larcher, Chatou"
11,2015-06-02 23:59:14.229,iphone,"Avenue du Maréchal Foch, Chatou"
12,2015-06-09 23:10:01.000,iphone,"Rue Paul Flament, Chatou"

,Friday end,device,location
0,2015-02-27 16:11:09.082,iphone,"Rue Martre, Clichy"
1,2015-03-06 16:44:19.775,windows-laptop,"Rue Martre, Clichy"
2,2015-03-20 20:56:56.000,iphone,"Rue Madame de Sanzillon, Clichy"
3,2015-03-27 23:57:52.336,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-03 21:24:54.432,iphone,"Avenue du Maréchal Foch, Chatou"
5,2015-04-10 23:07:21.542,iphone,"Domaine de Montvoisin, Gometz-la-Ville"
6,2015-04-17 23:24:56.000,iphone,"Voie Georges Pompidou, Paris"
7,2015-04-24 23:45:00.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
8,2015-05-01 23:53:18.162,iphone,"Avenue du Maréchal Foch, Chatou"
9,2015-05-08 22:43:52.000,iphone,"Avenue du Maréchal Foch, Chatou"
10,2015-05-15 22:42:03.000,iphone,"Voie Georges Hutin, Puteaux"
11,2015-05-22 22:21:47.000,iphone,"Promenade Maurice Boitel, Paris"
12,2015-05-29 23:55:08.230,iphone,"Place de l'Hôtel de ville, Nanterre"
13,2015-06-05 21:13:21.000,iphone,"Place de la Gare, Chatou"

,Wednesday end,device,location
0,2015-02-25 23:33:50.789,iphone,"Avenue du Maréchal Foch, Chatou"
1,2015-03-04 20:46:51.509,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-03-18 19:13:45.000,iphone,"Place Maurice Berteaux, Chatou"
3,2015-03-25 23:17:05.330,iphone,"Avenue du Maréchal Foch, Chatou"
4,2015-04-01 23:03:00.000,iphone,"Rue de la Croix, Nanterre"
5,2015-04-08 21:39:21.204,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-15 22:18:51.000,iphone,"Port Debilly, Paris-16E-Arrondissement"
7,2015-04-22 20:02:22.000,iphone,"Boulevard des Provinces Françaises, Nanterre"
8,2015-04-29 21:55:11.000,iphone,"Rue Paul Flament, Chatou"
9,2015-05-06 23:34:31.000,iphone,"Montée des Vignes, Chatou"
10,2015-05-13 09:09:59.000,iphone,"Montée des Vignes, Chatou"
11,2015-05-20 22:17:26.000,iphone,"Rue Paul Flament, Chatou"
12,2015-05-27 21:08:23.000,iphone,"Rue Michel Peter, Paris"
13,2015-06-03 21:40:58.133,iphone,"Avenue du Maréchal Foch, Chatou"
14,2015-06-10 20:28:51.000,iphone,"D7, Le Kremlin-Bicêtre"

,Thursday end,device,location
0,2015-02-26 08:21:49.132,windows-laptop,"Rue Martre, Clichy"
1,2015-03-05 17:11:06.913,windows-laptop,"Rue Martre, Clichy"
2,2015-03-19 23:17:02.031,iphone,"Avenue du Maréchal Foch, Chatou"
3,2015-03-26 11:34:20.198,iphone,"Rue Quincampoix, Paris"
4,2015-04-02 19:47:05.000,iphone,"Voie des Douces, Puteaux"
5,2015-04-09 18:41:07.315,iphone,"Avenue du Maréchal Foch, Chatou"
6,2015-04-16 21:05:28.055,iphone,"Avenue du Maréchal Foch, Chatou"
7,2015-04-23 22:07:10.310,iphone,"Avenue du Maréchal Foch, Chatou"
8,2015-04-30 23:38:43.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
9,2015-05-07 23:28:29.000,iphone,"Avenue Gambetta, Chatou"
10,2015-05-14 22:42:20.000,iphone,"Rue de la Madeleine, Villebon-sur-Yvette"
11,2015-05-21 22:10:50.000,iphone,"Montée des Vignes, Chatou"
12,2015-05-28 20:14:53.000,iphone,"Rue de Turbigo, Paris"
13,2015-06-04 20:59:32.704,iphone,"Avenue du Maréchal Foch, Chatou"

                Sunday end  device                                  location
0  2015-03-22 10:32:23.000  iphone            Place Maurice Berteaux, Chatou
1  2015-03-29 22:47:00.000  iphone            Place Maurice Berteaux, Chatou
2  2015-04-05 23:25:16.070  iphone       Place de l'Hôtel de ville, Nanterre
3  2015-04-12 23:56:54.755  iphone           Avenue du Maréchal Foch, Chatou
4  2015-04-19 20:32:43.000  iphone          Avenue Georges Bizet, Le Vésinet
5  2015-04-26 21:40:34.835  iphone           Avenue du Maréchal Foch, Chatou
6  2015-05-03 21:59:00.000  iphone                      Rue nationale, Paris
7  2015-05-10 17:14:26.000  iphone                  Rue Paul Flament, Chatou
8  2015-05-17 21:19:04.000  iphone          Avenue Georges Bizet, Le Vésinet
9  2015-05-24 18:40:48.000  iphone                   Voie 6, Juvisy-sur-Orge
10 2015-05-31 21:27:01.000  iphone  Rue de la Madeleine, Villebon-sur-Yvette
11 2015-06-07 23:50:30.000  iphone                 Montée des Vignes, Chatou

              Saturday end  device                                 location
0  2015-03-07 22:48:15.994  iphone          Avenue du Maréchal Foch, Chatou
1  2015-03-21 23:55:25.610  iphone          Avenue du Maréchal Foch, Chatou
2  2015-03-28 23:17:03.123  iphone          Avenue du Maréchal Foch, Chatou
3  2015-04-04 23:26:09.117  iphone          Avenue du Maréchal Foch, Chatou
4  2015-04-11 23:25:32.278  iphone   Domaine de Montvoisin, Gometz-la-Ville
5  2015-04-18 21:29:16.000  iphone  Quai de Stalingrad, Issy-les-Moulineaux
6  2015-04-25 17:34:21.000  iphone                Montée des Vignes, Chatou
7  2015-05-02 23:57:59.809  iphone          Avenue du Maréchal Foch, Chatou
8  2015-05-09 23:20:02.000  iphone          Boulevard de la Bastille, Paris
9  2015-05-16 20:38:04.000  iphone          Boulevard de la Seine, Nanterre
10 2015-05-23 23:08:13.000  iphone                  Rue de Paris, Les Lilas
11 2015-05-30 23:59:23.518  iphone          Avenue du Maréchal Foch, Chatou
12 2015-06-06 20:00:37.000  iphone          Avenue du Maréchal Foch, Chatou

user: 3=======================

,beg,devid,location
0,2015-02-26 09:25:25.368,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-02-27 21:19:08.015,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-02-28 06:49:27.057,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-01 06:47:27.521,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-03-02 05:25:19.423,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-03-03 05:49:24.637,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-03-04 21:23:08.982,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-03-05 06:12:54.079,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-03-06 08:27:46.180,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-03-07 12:44:32.954,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-03-08 07:59:15.300,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-03-09 06:54:25.775,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-03-11 06:29:58.161,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
13,2015-03-12 15:49:36.723,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
14,2015-03-13 08:08:46.518,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
15,2015-03-14 22:02:41.569,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
16,2015-03-16 06:40:48.762,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
17,2015-03-17 06:52:44.036,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
18,2015-03-18 21:04:01.875,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
19,2015-03-19 21:01:10.098,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
20,2015-03-20 07:14:39.802,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
21,2015-03-21 07:17:12.736,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
22,2015-03-22 16:16:05.562,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
23,2015-03-23 19:40:49.194,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
24,2015-03-24 06:30:07.639,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
25,2015-03-25 21:45:54.717,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
26,2015-03-27 08:40:28.225,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
27,2015-03-28 12:30:11.306,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
28,2015-03-29 18:02:08.191,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
29,2015-03-31 20:58:01.270,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
...,...,...,...
58,2015-05-10 11:34:01.881,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
59,2015-05-11 07:07:09.342,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
60,2015-05-12 20:05:15.447,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
61,2015-05-13 18:30:23.196,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
62,2015-05-14 07:14:16.393,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
63,2015-05-15 20:25:36.562,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
64,2015-05-17 20:21:08.723,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
65,2015-05-18 08:02:14.844,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
66,2015-05-20 09:14:30.384,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
67,2015-05-22 06:47:45.409,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
68,2015-05-24 10:13:12.749,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
69,2015-05-25 07:40:40.878,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
70,2015-05-26 20:01:56.530,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
71,2015-05-27 05:06:17.540,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
72,2015-05-28 09:39:59.502,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
73,2015-05-29 16:47:09.114,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
74,2015-05-30 11:42:01.079,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
75,2015-05-31 05:25:50.562,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
76,2015-06-01 07:47:20.211,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
77,2015-06-02 05:47:06.886,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
78,2015-06-03 15:49:03.545,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
79,2015-06-04 20:04:06.943,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
80,2015-06-05 08:21:34.355,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
81,2015-06-06 08:53:37.532,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
82,2015-06-07 05:41:27.348,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
83,2015-06-08 12:14:22.994,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
84,2015-06-09 06:46:03.180,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
85,2015-06-10 05:32:19.904,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
86,2015-06-11 06:15:29.781,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
87,2015-06-12 05:18:47.934,4,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,devid,end,location
0,4,2015-02-26 11:17:24.824,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,4,2015-02-27 21:24:44.133,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,4,2015-02-28 12:51:09.109,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,4,2015-03-01 20:03:50.977,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,4,2015-03-02 20:31:30.862,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,4,2015-03-03 08:57:44.983,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,4,2015-03-04 23:31:54.101,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,4,2015-03-05 22:25:27.135,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,4,2015-03-06 23:17:01.780,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,4,2015-03-07 23:17:01.527,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,4,2015-03-08 12:51:46.996,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,4,2015-03-09 20:54:58.435,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,4,2015-03-11 23:17:02.471,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
13,4,2015-03-12 20:38:32.143,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
14,4,2015-03-13 08:28:01.805,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
15,4,2015-03-14 23:03:27.485,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
16,4,2015-03-16 21:43:44.272,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
17,4,2015-03-17 21:42:06.286,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
18,4,2015-03-18 22:24:41.279,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
19,4,2015-03-19 22:01:31.258,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
20,4,2015-03-20 22:18:16.879,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
21,4,2015-03-21 12:58:37.258,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
22,4,2015-03-22 20:14:40.180,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
23,4,2015-03-23 21:04:36.238,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
24,4,2015-03-24 21:48:40.058,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
25,4,2015-03-25 22:35:03.471,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
26,4,2015-03-27 23:31:57.084,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
27,4,2015-03-28 21:21:52.061,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
28,4,2015-03-29 22:03:54.610,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
29,4,2015-03-31 22:20:09.603,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
...,...,...,...
58,4,2015-05-10 20:21:05.625,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
59,4,2015-05-11 22:11:35.860,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
60,4,2015-05-12 21:24:11.326,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
61,4,2015-05-13 21:15:51.166,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
62,4,2015-05-14 20:57:28.614,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
63,4,2015-05-15 21:59:02.478,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
64,4,2015-05-17 21:36:20.261,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
65,4,2015-05-18 20:29:07.208,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
66,4,2015-05-20 11:14:07.841,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
67,4,2015-05-22 21:46:04.550,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
68,4,2015-05-24 21:36:17.327,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
69,4,2015-05-25 21:31:13.568,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
70,4,2015-05-26 20:47:54.335,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
71,4,2015-05-27 20:26:47.295,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
72,4,2015-05-28 20:37:21.299,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
73,4,2015-05-29 20:59:32.650,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
74,4,2015-05-30 20:38:00.627,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
75,4,2015-05-31 20:02:42.848,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
76,4,2015-06-01 20:57:14.126,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
77,4,2015-06-02 19:46:05.291,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
78,4,2015-06-03 21:16:10.116,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
79,4,2015-06-04 20:39:46.110,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
80,4,2015-06-05 22:39:03.240,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
81,4,2015-06-06 20:56:51.065,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
82,4,2015-06-07 07:24:02.489,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
83,4,2015-06-08 21:06:12.464,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
84,4,2015-06-09 19:36:03.460,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
85,4,2015-06-10 19:59:29.360,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
86,4,2015-06-11 22:55:41.081,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
87,4,2015-06-12 08:21:31.109,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Monday beg,device,location
0,2015-03-02 05:25:19.423,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-09 06:54:25.775,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-16 06:40:48.762,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-23 19:40:49.194,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-06 07:06:23.132,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-13 17:53:34.209,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-05-04 15:22:21.840,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-11 07:07:09.342,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-18 08:02:14.844,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-25 07:40:40.878,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-06-01 07:47:20.211,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-08 12:14:22.994,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Tuesday beg,device,location
0,2015-03-03 05:49:24.637,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-17 06:52:44.036,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-24 06:30:07.639,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-31 20:58:01.270,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-07 06:28:30.966,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-14 13:44:52.566,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-28 20:40:10.582,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-05 05:21:35.442,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-12 20:05:15.447,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-26 20:01:56.530,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-06-02 05:47:06.886,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-09 06:46:03.180,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Friday beg,device,location
0,2015-02-27 21:19:08.015,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-06 08:27:46.180,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-13 08:08:46.518,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-20 07:14:39.802,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-03-27 08:40:28.225,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-03 11:39:58.103,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-10 08:29:25.151,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-01 14:41:31.833,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-08 06:20:30.829,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-15 20:25:36.562,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-22 06:47:45.409,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-05-29 16:47:09.114,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-06-05 08:21:34.355,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
13,2015-06-12 05:18:47.934,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Wednesday beg,device,location
0,2015-03-04 21:23:08.982,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-11 06:29:58.161,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-18 21:04:01.875,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-25 21:45:54.717,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-01 21:14:34.602,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-08 06:52:08.952,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-15 05:25:49.374,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-04-29 05:59:04.575,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-06 09:33:49.796,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-13 18:30:23.196,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-20 09:14:30.384,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-05-27 05:06:17.540,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-06-03 15:49:03.545,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
13,2015-06-10 05:32:19.904,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Thursday beg,device,location
0,2015-02-26 09:25:25.368,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-05 06:12:54.079,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-12 15:49:36.723,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-19 21:01:10.098,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-02 13:30:07.867,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-09 06:45:13.416,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-16 07:57:24.208,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-04-30 17:56:11.513,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-07 20:11:56.672,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-14 07:14:16.393,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-28 09:39:59.502,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-04 20:04:06.943,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-06-11 06:15:29.781,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Sunday beg,device,location
0,2015-03-01 06:47:27.521,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-08 07:59:15.300,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-22 16:16:05.562,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-29 18:02:08.191,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-05 07:05:53.512,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-12 06:32:12.255,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-05-03 06:46:50.033,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-10 11:34:01.881,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-17 20:21:08.723,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-24 10:13:12.749,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-31 05:25:50.562,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-07 05:41:27.348,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Saturday beg,device,location
0,2015-02-28 06:49:27.057,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-07 12:44:32.954,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-14 22:02:41.569,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-21 07:17:12.736,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-03-28 12:30:11.306,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-04 16:02:11.587,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-11 06:50:05.219,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-02 20:36:31.883,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-09 21:19:57.139,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-30 11:42:01.079,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-06-06 08:53:37.532,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Monday end,device,location
0,2015-03-02 20:31:30.862,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-09 20:54:58.435,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-16 21:43:44.272,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-23 21:04:36.238,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-06 14:54:04.869,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-13 22:11:07.174,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-05-04 20:17:39.807,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-11 22:11:35.860,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-18 20:29:07.208,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-25 21:31:13.568,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-06-01 20:57:14.126,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-08 21:06:12.464,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Tuesday end,device,location
0,2015-03-03 08:57:44.983,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-17 21:42:06.286,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-24 21:48:40.058,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-31 22:20:09.603,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-07 21:12:53.126,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-14 20:32:45.318,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-28 21:50:02.167,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-05 05:51:16.725,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-12 21:24:11.326,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-26 20:47:54.335,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-06-02 19:46:05.291,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-09 19:36:03.460,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Friday end,device,location
0,2015-02-27 21:24:44.133,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-06 23:17:01.780,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-13 08:28:01.805,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-20 22:18:16.879,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-03-27 23:31:57.084,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-03 11:59:49.395,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-10 08:52:01.111,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-01 15:57:27.173,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-08 20:57:05.350,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-15 21:59:02.478,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-22 21:46:04.550,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-05-29 20:59:32.650,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-06-05 22:39:03.240,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
13,2015-06-12 08:21:31.109,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Wednesday end,device,location
0,2015-03-04 23:31:54.101,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-11 23:17:02.471,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-18 22:24:41.279,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-25 22:35:03.471,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-01 23:12:05.209,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-08 21:15:58.112,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-15 21:22:40.379,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-04-29 21:35:13.144,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-06 20:53:28.204,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-13 21:15:51.166,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-20 11:14:07.841,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-05-27 20:26:47.295,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-06-03 21:16:10.116,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
13,2015-06-10 19:59:29.360,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Thursday end,device,location
0,2015-02-26 11:17:24.824,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-05 22:25:27.135,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-12 20:38:32.143,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-19 22:01:31.258,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-02 13:45:16.187,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-09 21:51:57.221,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-16 21:27:27.262,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-04-30 20:05:26.684,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-07 20:53:32.632,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-14 20:57:28.614,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-28 20:37:21.299,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-04 20:39:46.110,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
12,2015-06-11 22:55:41.081,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Sunday end,device,location
0,2015-03-01 20:03:50.977,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-08 12:51:46.996,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-22 20:14:40.180,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-29 22:03:54.610,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-04-05 16:37:51.006,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-12 15:43:08.347,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-05-03 20:24:34.364,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-10 20:21:05.625,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-17 21:36:20.261,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-24 21:36:17.327,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-05-31 20:02:42.848,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
11,2015-06-07 07:24:02.489,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

,Saturday end,device,location
0,2015-02-28 12:51:09.109,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
1,2015-03-07 23:17:01.527,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
2,2015-03-14 23:03:27.485,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
3,2015-03-21 12:58:37.258,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
4,2015-03-28 21:21:52.061,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
5,2015-04-04 22:50:57.666,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
6,2015-04-11 19:30:54.136,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
7,2015-05-02 22:07:08.125,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
8,2015-05-09 21:38:45.398,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
9,2015-05-30 20:38:00.627,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"
10,2015-06-06 20:56:51.065,windows-laptop,"Avenue de Lattre de Tassigny, Épinay-sur-Seine"

user: 4=======================

,beg,devid,location
0,2015-02-26 14:09:29.343,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-02-27 06:32:26.681,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-01 11:05:27.455,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-03-02 08:08:37.770,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-03-05 12:29:43.691,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-03-09 12:52:39.213,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-03-10 06:29:37.434,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-03-11 06:42:40.086,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
8,2015-03-12 06:14:58.479,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
9,2015-03-13 09:22:58.406,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
10,2015-03-20 22:57:31.869,5,"Rue Hannong, Strasbourg"
11,2015-03-21 07:06:07.525,5,"Le Bourg, Les Halles"
12,2015-03-25 14:43:20.559,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
13,2015-03-26 12:18:52.654,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
14,2015-03-27 05:27:23.926,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
15,2015-03-28 05:54:21.924,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
16,2015-03-29 10:38:17.753,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
17,2015-03-30 17:06:02.249,5,"Le Bourg, Les Halles"
18,2015-03-31 16:33:37.799,5,"Rue Quincampoix, Paris"
19,2015-04-01 16:09:54.429,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
20,2015-04-02 12:20:22.811,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
21,2015-04-03 04:20:02.799,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
22,2015-04-04 07:01:37.868,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
23,2015-04-05 06:34:47.627,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
24,2015-04-06 08:25:16.270,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
25,2015-04-07 12:30:10.751,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
26,2015-04-09 08:06:29.202,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
27,2015-04-10 06:36:28.407,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
28,2015-04-13 16:58:25.004,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
29,2015-04-14 05:33:15.128,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
30,2015-04-15 20:27:35.150,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
31,2015-04-16 04:28:40.695,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
32,2015-04-17 07:25:12.019,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
33,2015-04-18 04:25:20.574,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
34,2015-04-20 07:25:31.472,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
35,2015-04-21 07:04:50.261,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
36,2015-04-22 07:10:19.483,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
37,2015-04-23 05:34:31.769,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
38,2015-04-24 13:43:48.333,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
39,2015-04-25 06:58:26.900,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
40,2015-04-27 07:04:16.420,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
41,2015-04-30 13:33:57.742,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
42,2015-05-01 08:19:10.556,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
43,2015-05-02 06:58:04.504,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
44,2015-05-03 18:35:27.582,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
45,2015-05-04 14:44:21.696,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
46,2015-05-05 16:04:58.851,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
47,2015-05-06 17:58:25.566,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
48,2015-05-07 16:02:22.517,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
49,2015-05-08 19:07:56.767,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
50,2015-05-09 06:31:17.555,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
51,2015-05-10 05:48:42.178,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
52,2015-05-12 16:57:28.420,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
53,2015-05-13 10:41:22.237,5,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
54,2015-05-14 09:56:47.236,5,"Rue de l'Estrapade, Paris"
55,2015-05-15 19:16:16.987,5,"Rue de l'Estrapade, Paris"
56,2015-05-28 09:51:40.507,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
57,2015-05-29 04:35:58.495,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
58,2015-05-31 08:22:33.189,5,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,devid,end,location
0,5,2015-02-26 23:13:24.107,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,5,2015-02-27 07:02:55.297,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,5,2015-03-01 23:17:01.693,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,5,2015-03-02 08:10:48.864,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,5,2015-03-05 21:27:26.354,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,5,2015-03-09 23:33:27.321,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,5,2015-03-10 23:17:01.400,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,5,2015-03-11 23:48:50.374,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
8,5,2015-03-12 23:17:01.782,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
9,5,2015-03-13 20:54:06.657,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
10,5,2015-03-20 23:09:47.345,"Rue Hannong, Strasbourg"
11,5,2015-03-21 12:36:10.423,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
12,5,2015-03-25 21:55:09.352,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
13,5,2015-03-26 22:06:03.633,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
14,5,2015-03-27 23:10:10.864,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
15,5,2015-03-28 23:17:03.006,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
16,5,2015-03-29 21:49:59.098,"Rue de la Roquette, Paris"
17,5,2015-03-30 21:17:17.869,"Le Bourg, Les Halles"
18,5,2015-03-31 22:33:30.334,"Rue Quincampoix, Paris"
19,5,2015-04-01 22:17:01.623,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
20,5,2015-04-02 21:44:02.904,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
21,5,2015-04-03 19:32:19.725,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
22,5,2015-04-04 23:45:38.734,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
23,5,2015-04-05 23:04:05.545,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
24,5,2015-04-06 13:46:10.701,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
25,5,2015-04-07 19:05:07.146,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
26,5,2015-04-09 20:58:32.467,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
27,5,2015-04-10 11:44:38.652,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
28,5,2015-04-13 22:17:02.018,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
29,5,2015-04-14 10:21:10.996,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
30,5,2015-04-15 21:32:42.292,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
31,5,2015-04-16 23:59:07.251,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
32,5,2015-04-17 22:39:53.296,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
33,5,2015-04-18 08:06:04.409,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
34,5,2015-04-20 22:17:02.232,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
35,5,2015-04-21 20:04:56.246,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
36,5,2015-04-22 14:08:38.354,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
37,5,2015-04-23 21:15:23.257,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
38,5,2015-04-24 17:36:40.811,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
39,5,2015-04-25 12:13:25.583,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
40,5,2015-04-27 23:00:12.498,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
41,5,2015-04-30 22:24:55.882,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
42,5,2015-05-01 22:11:18.215,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
43,5,2015-05-02 19:42:51.163,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
44,5,2015-05-03 20:33:58.975,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
45,5,2015-05-04 20:47:02.875,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
46,5,2015-05-05 22:42:59.215,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
47,5,2015-05-06 22:37:07.502,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
48,5,2015-05-07 17:26:59.941,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
49,5,2015-05-08 22:45:08.110,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
50,5,2015-05-09 21:03:29.325,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
51,5,2015-05-10 21:51:51.108,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
52,5,2015-05-12 22:11:41.953,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
53,5,2015-05-13 22:10:58.541,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
54,5,2015-05-14 21:41:18.849,"Rue de l'Estrapade, Paris"
55,5,2015-05-15 22:17:01.736,"Rue de l'Estrapade, Paris"
56,5,2015-05-16 00:41:08.724,"Rue de l'Estrapade, Paris"
57,5,2015-05-28 21:48:34.017,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
58,5,2015-05-29 22:12:40.286,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
59,5,2015-05-31 12:03:45.841,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Monday beg,device,location
0,2015-03-02 08:08:37.770,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-09 12:52:39.213,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-30 17:06:02.249,windows-laptop,"Le Bourg, Les Halles"
3,2015-04-06 08:25:16.270,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-13 16:58:25.004,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-04-20 07:25:31.472,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-04-27 07:04:16.420,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-05-04 14:44:21.696,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Tuesday beg,device,location
0,2015-03-10 06:29:37.434,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-31 16:33:37.799,windows-laptop,"Rue Quincampoix, Paris"
2,2015-04-07 12:30:10.751,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-04-14 05:33:15.128,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-21 07:04:50.261,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-05 16:04:58.851,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-05-12 16:57:28.420,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Friday beg,device,location
0,2015-02-27 06:32:26.681,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-13 09:22:58.406,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-20 22:57:31.869,windows-laptop,"Rue Hannong, Strasbourg"
3,2015-03-27 05:27:23.926,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-03 04:20:02.799,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-04-10 06:36:28.407,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-04-17 07:25:12.019,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-04-24 13:43:48.333,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
8,2015-05-01 08:19:10.556,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
9,2015-05-08 19:07:56.767,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
10,2015-05-15 19:16:16.987,windows-laptop,"Rue de l'Estrapade, Paris"
11,2015-05-29 04:35:58.495,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Wednesday beg,device,location
0,2015-03-11 06:42:40.086,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-25 14:43:20.559,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-04-01 16:09:54.429,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-04-15 20:27:35.150,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-22 07:10:19.483,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-06 17:58:25.566,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-05-13 10:41:22.237,windows-laptop,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Thursday beg,device,location
0,2015-02-26 14:09:29.343,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-05 12:29:43.691,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-12 06:14:58.479,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-03-26 12:18:52.654,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-02 12:20:22.811,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-04-09 08:06:29.202,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-04-16 04:28:40.695,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-04-23 05:34:31.769,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
8,2015-04-30 13:33:57.742,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
9,2015-05-07 16:02:22.517,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
10,2015-05-14 09:56:47.236,windows-laptop,"Rue de l'Estrapade, Paris"
11,2015-05-28 09:51:40.507,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Sunday beg,device,location
0,2015-03-01 11:05:27.455,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-29 10:38:17.753,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-04-05 06:34:47.627,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-05-03 18:35:27.582,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-05-10 05:48:42.178,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-31 08:22:33.189,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Saturday beg,device,location
0,2015-03-21 07:06:07.525,windows-laptop,"Le Bourg, Les Halles"
1,2015-03-28 05:54:21.924,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-04-04 07:01:37.868,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-04-18 04:25:20.574,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-25 06:58:26.900,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-02 06:58:04.504,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-05-09 06:31:17.555,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Monday end,device,location
0,2015-03-02 08:10:48.864,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-09 23:33:27.321,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-30 21:17:17.869,windows-laptop,"Le Bourg, Les Halles"
3,2015-04-06 13:46:10.701,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-13 22:17:02.018,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-04-20 22:17:02.232,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-04-27 23:00:12.498,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-05-04 20:47:02.875,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Tuesday end,device,location
0,2015-03-10 23:17:01.400,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-31 22:33:30.334,windows-laptop,"Rue Quincampoix, Paris"
2,2015-04-07 19:05:07.146,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-04-14 10:21:10.996,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-21 20:04:56.246,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-05 22:42:59.215,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-05-12 22:11:41.953,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Friday end,device,location
0,2015-02-27 07:02:55.297,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-13 20:54:06.657,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-20 23:09:47.345,windows-laptop,"Rue Hannong, Strasbourg"
3,2015-03-27 23:10:10.864,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-03 19:32:19.725,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-04-10 11:44:38.652,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-04-17 22:39:53.296,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-04-24 17:36:40.811,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
8,2015-05-01 22:11:18.215,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
9,2015-05-08 22:45:08.110,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
10,2015-05-15 22:17:01.736,windows-laptop,"Rue de l'Estrapade, Paris"
11,2015-05-29 22:12:40.286,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Wednesday end,device,location
0,2015-03-11 23:48:50.374,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-25 21:55:09.352,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-04-01 22:17:01.623,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-04-15 21:32:42.292,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-22 14:08:38.354,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-06 22:37:07.502,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-05-13 22:10:58.541,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Thursday end,device,location
0,2015-02-26 23:13:24.107,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-05 21:27:26.354,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-03-12 23:17:01.782,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-03-26 22:06:03.633,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-02 21:44:02.904,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-04-09 20:58:32.467,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-04-16 23:59:07.251,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-04-23 21:15:23.257,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
8,2015-04-30 22:24:55.882,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
9,2015-05-07 17:26:59.941,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
10,2015-05-14 21:41:18.849,windows-laptop,"Rue de l'Estrapade, Paris"
11,2015-05-28 21:48:34.017,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Sunday end,device,location
0,2015-03-01 23:17:01.693,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-29 21:49:59.098,windows-laptop,"Rue de la Roquette, Paris"
2,2015-04-05 23:04:05.545,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-05-03 20:33:58.975,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-05-10 21:51:51.108,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-31 12:03:45.841,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."

,Saturday end,device,location
0,2015-03-21 12:36:10.423,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
1,2015-03-28 23:17:03.006,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
2,2015-04-04 23:45:38.734,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
3,2015-04-18 08:06:04.409,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
4,2015-04-25 12:13:25.583,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
5,2015-05-02 19:42:51.163,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
6,2015-05-09 21:03:29.325,windows-laptop,"Rue du Maréchal de Lattre de Tassigny, Maisons..."
7,2015-05-16 00:41:08.724,windows-laptop,"Rue de l'Estrapade, Paris"

user: 5=======================

,beg,devid,location
0,2015-04-17 08:50:52.006,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 09:54:50.670,7,"Allée du Croc Martin, Boutigny-sur-Essonne"
2,2015-04-19 08:52:47.140,8,"Allée du Croc Martin, Boutigny-sur-Essonne"
3,2015-04-20 09:16:25.493,8,"Allée du Croc Martin, Boutigny-sur-Essonne"
4,2015-04-21 09:22:47.647,8,"Allée du Croc Martin, Boutigny-sur-Essonne"
5,2015-04-22 19:34:33.380,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-04-23 07:32:03.713,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-04-24 07:09:06.762,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-04-25 07:51:51.969,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,2015-04-26 11:30:18.784,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-04-27 10:06:04.767,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,2015-04-29 08:17:08.479,7,"Rue du Muguet, Créteil"
12,2015-04-30 09:49:22.243,7,"Rue du Muguet, Créteil"
13,2015-05-01 08:23:20.442,7,"Rue du Muguet, Créteil"
14,2015-05-02 11:08:15.747,7,"Rue du Muguet, Créteil"
15,2015-05-05 11:56:20.328,7,"Rue du Muguet, Créteil"
16,2015-05-11 10:11:21.346,7,"Rue d'Argout, Paris"
17,2015-05-12 11:02:57.202,7,"Rue d'Argout, Paris"
18,2015-05-14 08:41:06.616,7,"Rue d'Argout, Paris"
19,2015-05-15 08:37:30.493,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
20,2015-05-16 07:30:51.324,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
21,2015-05-20 21:06:43.842,7,"Rue Quincampoix, Paris"
22,2015-05-21 07:41:53.472,7,"Rue Quincampoix, Paris"
23,2015-05-26 15:34:43.838,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,2015-05-27 15:53:42.409,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,2015-05-28 12:00:40.338,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,2015-05-29 08:45:11.987,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,2015-05-30 09:44:34.532,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,2015-05-31 09:22:26.484,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,2015-06-01 08:59:14.478,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,2015-06-02 09:39:27.629,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
31,2015-06-03 12:23:13.788,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,2015-06-04 19:59:13.287,7,"Rue du Muguet, Créteil"
33,2015-06-08 15:23:32.943,7,"D27, Martinique"
34,2015-06-09 14:23:07.008,7,"D27, Martinique"
35,2015-06-11 12:41:54.703,7,"D27, Martinique"
36,2015-06-14 12:07:40.574,7,"D27, Martinique"
37,2015-06-18 15:05:43.841,7,"D27, Martinique"
38,2015-06-19 18:18:40.721,7,"D27, Martinique"
39,2015-06-22 12:44:44.974,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
40,2015-06-23 08:22:58.774,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,2015-06-24 12:28:44.000,8,"Rue Etienne Dolet, Cachan"
42,2015-06-26 14:03:37.000,8,"Boulevard Jean Mermoz, Chevilly-Larue"
43,2015-06-27 11:24:49.000,8,"Rue Albert Camus, Cachan"
44,2015-06-29 10:47:29.000,8,"Rue Albert Camus, Cachan"
45,2015-07-14 16:44:18.000,8,"Rue Albert Camus, Cachan"
46,2015-07-15 08:04:38.000,8,"Rue Albert Camus, Cachan"
47,2015-07-16 08:16:36.000,8,"Rue Albert Camus, Cachan"
48,2015-07-17 08:18:31.000,8,"Rue Albert Camus, Cachan"
49,2015-07-18 08:21:31.000,8,"Rue Albert Camus, Cachan"
50,2015-08-27 11:02:51.000,8,"Rue Etienne Dolet, Cachan"
51,2015-08-28 12:08:41.000,8,"Rue Etienne Dolet, Cachan"
52,2015-08-29 12:58:42.000,8,"Rue Etienne Dolet, Cachan"
53,2015-06-10 00:55:41.655,7,"D27, Martinique"

,devid,end,location
0,8,2015-04-17 19:34:56.677,"Rue Quincampoix, Paris"
1,8,2015-04-18 23:37:17.218,"Allée du Croc Martin, Boutigny-sur-Essonne"
2,8,2015-04-19 23:39:41.113,"Allée du Croc Martin, Boutigny-sur-Essonne"
3,7,2015-04-20 21:54:35.853,"Allée du Croc Martin, Boutigny-sur-Essonne"
4,7,2015-04-21 22:11:17.680,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,7,2015-04-22 20:49:34.146,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,7,2015-04-23 10:37:28.779,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,7,2015-04-24 21:33:54.696,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,7,2015-04-25 17:31:12.665,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,7,2015-04-26 22:25:29.273,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,7,2015-04-27 21:39:41.128,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,7,2015-04-29 22:01:33.773,"Rue du Muguet, Créteil"
12,7,2015-04-30 22:27:46.280,"Rue du Muguet, Créteil"
13,7,2015-05-01 10:31:07.607,"Rue du Muguet, Créteil"
14,7,2015-05-02 11:10:18.111,"Rue du Muguet, Créteil"
15,7,2015-05-05 20:44:09.141,"Rue de Paris, Charenton-le-Pont"
16,7,2015-05-11 23:11:38.263,"Rue d'Argout, Paris"
17,7,2015-05-12 13:02:16.110,"Rue d'Argout, Paris"
18,7,2015-05-14 12:03:55.222,"Rue d'Argout, Paris"
19,7,2015-05-15 13:38:16.122,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
20,7,2015-05-16 16:23:08.708,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
21,7,2015-05-20 21:15:31.587,"Rue Quincampoix, Paris"
22,7,2015-05-21 08:00:17.081,"Rue Quincampoix, Paris"
23,7,2015-05-26 22:43:09.137,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,7,2015-05-27 23:07:15.051,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,7,2015-05-28 23:15:05.623,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,7,2015-05-29 09:00:45.292,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,7,2015-05-30 23:09:23.996,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,7,2015-05-31 22:37:34.248,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,7,2015-06-01 12:53:48.063,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,7,2015-06-02 21:33:50.036,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
31,7,2015-06-03 22:29:25.222,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,7,2015-06-04 21:22:53.112,"Rue du Muguet, Créteil"
33,7,2015-06-08 23:57:07.792,"D27, Martinique"
34,7,2015-06-09 23:53:35.821,"D27, Martinique"
35,7,2015-06-10 01:33:52.138,"D27, Martinique"
36,7,2015-06-11 22:38:13.219,"D27, Martinique"
37,7,2015-06-14 14:05:55.615,"D27, Martinique"
38,7,2015-06-18 22:51:40.834,"D27, Martinique"
39,7,2015-06-19 19:51:23.571,"D27, Martinique"
40,7,2015-06-22 14:27:08.680,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,7,2015-06-23 21:08:55.175,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
42,8,2015-06-24 02:17:44.000,"Rue Etienne Dolet, Cachan"
43,8,2015-06-25 01:37:27.000,"Rue Etienne Dolet, Cachan"
44,8,2015-06-26 17:23:44.000,"Allée Pierre de Montreuil, Cachan"
45,8,2015-06-27 02:54:34.000,"Rue Albert Camus, Cachan"
46,8,2015-06-28 02:49:59.000,"Rue Albert Camus, Cachan"
47,8,2015-06-29 18:13:47.000,"Rue Albert Camus, Cachan"
48,8,2015-07-15 23:49:36.000,"Rue Albert Camus, Cachan"
49,8,2015-07-16 23:39:36.000,"Rue Albert Camus, Cachan"
50,8,2015-07-18 16:50:27.000,"Rue Albert Camus, Cachan"
51,8,2015-08-27 00:48:36.000,"Rue Etienne Dolet, Cachan"
52,8,2015-08-28 01:27:21.000,"Rue Etienne Dolet, Cachan"
53,8,2015-08-29 01:29:42.000,"Rue Etienne Dolet, Cachan"
54,8,2015-08-30 01:27:07.000,"Rue Etienne Dolet, Cachan"

,Monday beg,device,location
0,2015-04-20 09:16:25.493,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-27 10:06:04.767,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-11 10:11:21.346,macbook,"Rue d'Argout, Paris"
3,2015-06-01 08:59:14.478,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-08 15:23:32.943,macbook,"D27, Martinique"
5,2015-06-22 12:44:44.974,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-29 10:47:29.000,android-phone,"Rue Albert Camus, Cachan"

,Tuesday beg,device,location
0,2015-04-21 09:22:47.647,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-05-05 11:56:20.328,macbook,"Rue du Muguet, Créteil"
2,2015-05-12 11:02:57.202,macbook,"Rue d'Argout, Paris"
3,2015-05-26 15:34:43.838,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-02 09:39:27.629,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-09 14:23:07.008,macbook,"D27, Martinique"
6,2015-06-23 08:22:58.774,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-07-14 16:44:18.000,android-phone,"Rue Albert Camus, Cachan"

,Friday beg,device,location
0,2015-04-17 08:50:52.006,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 07:09:06.762,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 08:23:20.442,macbook,"Rue du Muguet, Créteil"
3,2015-05-15 08:37:30.493,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-29 08:45:11.987,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-19 18:18:40.721,macbook,"D27, Martinique"
6,2015-06-26 14:03:37.000,android-phone,"Boulevard Jean Mermoz, Chevilly-Larue"
7,2015-07-17 08:18:31.000,android-phone,"Rue Albert Camus, Cachan"
8,2015-08-28 12:08:41.000,android-phone,"Rue Etienne Dolet, Cachan"

,Wednesday beg,device,location
0,2015-04-22 19:34:33.380,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 08:17:08.479,macbook,"Rue du Muguet, Créteil"
2,2015-05-20 21:06:43.842,macbook,"Rue Quincampoix, Paris"
3,2015-05-27 15:53:42.409,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-03 12:23:13.788,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-24 12:28:44.000,android-phone,"Rue Etienne Dolet, Cachan"
6,2015-07-15 08:04:38.000,android-phone,"Rue Albert Camus, Cachan"
7,2015-06-10 00:55:41.655,macbook,"D27, Martinique"

,Thursday beg,device,location
0,2015-04-23 07:32:03.713,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 09:49:22.243,macbook,"Rue du Muguet, Créteil"
2,2015-05-14 08:41:06.616,macbook,"Rue d'Argout, Paris"
3,2015-05-21 07:41:53.472,macbook,"Rue Quincampoix, Paris"
4,2015-05-28 12:00:40.338,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-04 19:59:13.287,macbook,"Rue du Muguet, Créteil"
6,2015-06-11 12:41:54.703,macbook,"D27, Martinique"
7,2015-06-18 15:05:43.841,macbook,"D27, Martinique"
8,2015-07-16 08:16:36.000,android-phone,"Rue Albert Camus, Cachan"
9,2015-08-27 11:02:51.000,android-phone,"Rue Etienne Dolet, Cachan"

,Sunday beg,device,location
0,2015-04-19 08:52:47.140,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-26 11:30:18.784,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-31 09:22:26.484,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-06-14 12:07:40.574,macbook,"D27, Martinique"

,Saturday beg,device,location
0,2015-04-18 09:54:50.670,macbook,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-25 07:51:51.969,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 11:08:15.747,macbook,"Rue du Muguet, Créteil"
3,2015-05-16 07:30:51.324,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-30 09:44:34.532,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-27 11:24:49.000,android-phone,"Rue Albert Camus, Cachan"
6,2015-07-18 08:21:31.000,android-phone,"Rue Albert Camus, Cachan"
7,2015-08-29 12:58:42.000,android-phone,"Rue Etienne Dolet, Cachan"

,Monday end,device,location
0,2015-04-20 21:54:35.853,macbook,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-27 21:39:41.128,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-11 23:11:38.263,macbook,"Rue d'Argout, Paris"
3,2015-06-01 12:53:48.063,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-08 23:57:07.792,macbook,"D27, Martinique"
5,2015-06-22 14:27:08.680,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-29 18:13:47.000,android-phone,"Rue Albert Camus, Cachan"

,Tuesday end,device,location
0,2015-04-21 22:11:17.680,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-05-05 20:44:09.141,macbook,"Rue de Paris, Charenton-le-Pont"
2,2015-05-12 13:02:16.110,macbook,"Rue d'Argout, Paris"
3,2015-05-26 22:43:09.137,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-02 21:33:50.036,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-09 23:53:35.821,macbook,"D27, Martinique"
6,2015-06-23 21:08:55.175,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Friday end,device,location
0,2015-04-17 19:34:56.677,android-phone,"Rue Quincampoix, Paris"
1,2015-04-24 21:33:54.696,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 10:31:07.607,macbook,"Rue du Muguet, Créteil"
3,2015-05-15 13:38:16.122,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-29 09:00:45.292,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-19 19:51:23.571,macbook,"D27, Martinique"
6,2015-06-26 17:23:44.000,android-phone,"Allée Pierre de Montreuil, Cachan"
7,2015-08-28 01:27:21.000,android-phone,"Rue Etienne Dolet, Cachan"

,Wednesday end,device,location
0,2015-04-22 20:49:34.146,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 22:01:33.773,macbook,"Rue du Muguet, Créteil"
2,2015-05-20 21:15:31.587,macbook,"Rue Quincampoix, Paris"
3,2015-05-27 23:07:15.051,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-03 22:29:25.222,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-10 01:33:52.138,macbook,"D27, Martinique"
6,2015-06-24 02:17:44.000,android-phone,"Rue Etienne Dolet, Cachan"
7,2015-07-15 23:49:36.000,android-phone,"Rue Albert Camus, Cachan"

,Thursday end,device,location
0,2015-04-23 10:37:28.779,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 22:27:46.280,macbook,"Rue du Muguet, Créteil"
2,2015-05-14 12:03:55.222,macbook,"Rue d'Argout, Paris"
3,2015-05-21 08:00:17.081,macbook,"Rue Quincampoix, Paris"
4,2015-05-28 23:15:05.623,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-04 21:22:53.112,macbook,"Rue du Muguet, Créteil"
6,2015-06-11 22:38:13.219,macbook,"D27, Martinique"
7,2015-06-18 22:51:40.834,macbook,"D27, Martinique"
8,2015-06-25 01:37:27.000,android-phone,"Rue Etienne Dolet, Cachan"
9,2015-07-16 23:39:36.000,android-phone,"Rue Albert Camus, Cachan"
10,2015-08-27 00:48:36.000,android-phone,"Rue Etienne Dolet, Cachan"

,Sunday end,device,location
0,2015-04-19 23:39:41.113,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-26 22:25:29.273,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-31 22:37:34.248,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-06-14 14:05:55.615,macbook,"D27, Martinique"
4,2015-06-28 02:49:59.000,android-phone,"Rue Albert Camus, Cachan"
5,2015-08-30 01:27:07.000,android-phone,"Rue Etienne Dolet, Cachan"

,Saturday end,device,location
0,2015-04-18 23:37:17.218,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-25 17:31:12.665,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 11:10:18.111,macbook,"Rue du Muguet, Créteil"
3,2015-05-16 16:23:08.708,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-30 23:09:23.996,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-27 02:54:34.000,android-phone,"Rue Albert Camus, Cachan"
6,2015-07-18 16:50:27.000,android-phone,"Rue Albert Camus, Cachan"
7,2015-08-29 01:29:42.000,android-phone,"Rue Etienne Dolet, Cachan"

,beg,devid,location
0,2015-04-17 08:50:52.006,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 09:54:50.670,7,"Allée du Croc Martin, Boutigny-sur-Essonne"
2,2015-04-19 08:52:47.140,8,"Allée du Croc Martin, Boutigny-sur-Essonne"
3,2015-04-20 09:16:25.493,8,"Allée du Croc Martin, Boutigny-sur-Essonne"
4,2015-04-21 09:22:47.647,8,"Allée du Croc Martin, Boutigny-sur-Essonne"
5,2015-04-22 19:34:33.380,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-04-23 07:32:03.713,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-04-24 07:09:06.762,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-04-25 07:51:51.969,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,2015-04-26 11:30:18.784,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-04-27 10:06:04.767,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,2015-04-29 08:17:08.479,7,"Rue du Muguet, Créteil"
12,2015-04-30 09:49:22.243,7,"Rue du Muguet, Créteil"
13,2015-05-01 08:23:20.442,7,"Rue du Muguet, Créteil"
14,2015-05-02 11:08:15.747,7,"Rue du Muguet, Créteil"
15,2015-05-05 11:56:20.328,7,"Rue du Muguet, Créteil"
16,2015-05-11 10:11:21.346,7,"Rue d'Argout, Paris"
17,2015-05-12 11:02:57.202,7,"Rue d'Argout, Paris"
18,2015-05-14 08:41:06.616,7,"Rue d'Argout, Paris"
19,2015-05-15 08:37:30.493,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
20,2015-05-16 07:30:51.324,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
21,2015-05-20 21:06:43.842,7,"Rue Quincampoix, Paris"
22,2015-05-21 07:41:53.472,7,"Rue Quincampoix, Paris"
23,2015-05-26 15:34:43.838,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,2015-05-27 15:53:42.409,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,2015-05-28 12:00:40.338,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,2015-05-29 08:45:11.987,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,2015-05-30 09:44:34.532,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,2015-05-31 09:22:26.484,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,2015-06-01 08:59:14.478,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,2015-06-02 09:39:27.629,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
31,2015-06-03 12:23:13.788,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,2015-06-04 19:59:13.287,7,"Rue du Muguet, Créteil"
33,2015-06-08 15:23:32.943,7,"D27, Martinique"
34,2015-06-09 14:23:07.008,7,"D27, Martinique"
35,2015-06-11 12:41:54.703,7,"D27, Martinique"
36,2015-06-14 12:07:40.574,7,"D27, Martinique"
37,2015-06-18 15:05:43.841,7,"D27, Martinique"
38,2015-06-19 18:18:40.721,7,"D27, Martinique"
39,2015-06-22 12:44:44.974,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
40,2015-06-23 08:22:58.774,7,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,2015-06-24 12:28:44.000,8,"Rue Etienne Dolet, Cachan"
42,2015-06-26 14:03:37.000,8,"Boulevard Jean Mermoz, Chevilly-Larue"
43,2015-06-27 11:24:49.000,8,"Rue Albert Camus, Cachan"
44,2015-06-29 10:47:29.000,8,"Rue Albert Camus, Cachan"
45,2015-07-14 16:44:18.000,8,"Rue Albert Camus, Cachan"
46,2015-07-15 08:04:38.000,8,"Rue Albert Camus, Cachan"
47,2015-07-16 08:16:36.000,8,"Rue Albert Camus, Cachan"
48,2015-07-17 08:18:31.000,8,"Rue Albert Camus, Cachan"
49,2015-07-18 08:21:31.000,8,"Rue Albert Camus, Cachan"
50,2015-08-27 11:02:51.000,8,"Rue Etienne Dolet, Cachan"
51,2015-08-28 12:08:41.000,8,"Rue Etienne Dolet, Cachan"
52,2015-08-29 12:58:42.000,8,"Rue Etienne Dolet, Cachan"
53,2015-06-10 00:55:41.655,7,"D27, Martinique"

,devid,end,location
0,8,2015-04-17 19:34:56.677,"Rue Quincampoix, Paris"
1,8,2015-04-18 23:37:17.218,"Allée du Croc Martin, Boutigny-sur-Essonne"
2,8,2015-04-19 23:39:41.113,"Allée du Croc Martin, Boutigny-sur-Essonne"
3,7,2015-04-20 21:54:35.853,"Allée du Croc Martin, Boutigny-sur-Essonne"
4,7,2015-04-21 22:11:17.680,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,7,2015-04-22 20:49:34.146,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,7,2015-04-23 10:37:28.779,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,7,2015-04-24 21:33:54.696,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,7,2015-04-25 17:31:12.665,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,7,2015-04-26 22:25:29.273,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,7,2015-04-27 21:39:41.128,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,7,2015-04-29 22:01:33.773,"Rue du Muguet, Créteil"
12,7,2015-04-30 22:27:46.280,"Rue du Muguet, Créteil"
13,7,2015-05-01 10:31:07.607,"Rue du Muguet, Créteil"
14,7,2015-05-02 11:10:18.111,"Rue du Muguet, Créteil"
15,7,2015-05-05 20:44:09.141,"Rue de Paris, Charenton-le-Pont"
16,7,2015-05-11 23:11:38.263,"Rue d'Argout, Paris"
17,7,2015-05-12 13:02:16.110,"Rue d'Argout, Paris"
18,7,2015-05-14 12:03:55.222,"Rue d'Argout, Paris"
19,7,2015-05-15 13:38:16.122,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
20,7,2015-05-16 16:23:08.708,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
21,7,2015-05-20 21:15:31.587,"Rue Quincampoix, Paris"
22,7,2015-05-21 08:00:17.081,"Rue Quincampoix, Paris"
23,7,2015-05-26 22:43:09.137,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,7,2015-05-27 23:07:15.051,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,7,2015-05-28 23:15:05.623,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,7,2015-05-29 09:00:45.292,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,7,2015-05-30 23:09:23.996,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,7,2015-05-31 22:37:34.248,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,7,2015-06-01 12:53:48.063,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,7,2015-06-02 21:33:50.036,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
31,7,2015-06-03 22:29:25.222,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,7,2015-06-04 21:22:53.112,"Rue du Muguet, Créteil"
33,7,2015-06-08 23:57:07.792,"D27, Martinique"
34,7,2015-06-09 23:53:35.821,"D27, Martinique"
35,7,2015-06-10 01:33:52.138,"D27, Martinique"
36,7,2015-06-11 22:38:13.219,"D27, Martinique"
37,7,2015-06-14 14:05:55.615,"D27, Martinique"
38,7,2015-06-18 22:51:40.834,"D27, Martinique"
39,7,2015-06-19 19:51:23.571,"D27, Martinique"
40,7,2015-06-22 14:27:08.680,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,7,2015-06-23 21:08:55.175,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
42,8,2015-06-24 02:17:44.000,"Rue Etienne Dolet, Cachan"
43,8,2015-06-25 01:37:27.000,"Rue Etienne Dolet, Cachan"
44,8,2015-06-26 17:23:44.000,"Allée Pierre de Montreuil, Cachan"
45,8,2015-06-27 02:54:34.000,"Rue Albert Camus, Cachan"
46,8,2015-06-28 02:49:59.000,"Rue Albert Camus, Cachan"
47,8,2015-06-29 18:13:47.000,"Rue Albert Camus, Cachan"
48,8,2015-07-15 23:49:36.000,"Rue Albert Camus, Cachan"
49,8,2015-07-16 23:39:36.000,"Rue Albert Camus, Cachan"
50,8,2015-07-18 16:50:27.000,"Rue Albert Camus, Cachan"
51,8,2015-08-27 00:48:36.000,"Rue Etienne Dolet, Cachan"
52,8,2015-08-28 01:27:21.000,"Rue Etienne Dolet, Cachan"
53,8,2015-08-29 01:29:42.000,"Rue Etienne Dolet, Cachan"
54,8,2015-08-30 01:27:07.000,"Rue Etienne Dolet, Cachan"

,Monday beg,device,location
0,2015-04-20 09:16:25.493,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-27 10:06:04.767,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-11 10:11:21.346,macbook,"Rue d'Argout, Paris"
3,2015-06-01 08:59:14.478,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-08 15:23:32.943,macbook,"D27, Martinique"
5,2015-06-22 12:44:44.974,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-29 10:47:29.000,android-phone,"Rue Albert Camus, Cachan"

,Tuesday beg,device,location
0,2015-04-21 09:22:47.647,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-05-05 11:56:20.328,macbook,"Rue du Muguet, Créteil"
2,2015-05-12 11:02:57.202,macbook,"Rue d'Argout, Paris"
3,2015-05-26 15:34:43.838,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-02 09:39:27.629,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-09 14:23:07.008,macbook,"D27, Martinique"
6,2015-06-23 08:22:58.774,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-07-14 16:44:18.000,android-phone,"Rue Albert Camus, Cachan"

,Friday beg,device,location
0,2015-04-17 08:50:52.006,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 07:09:06.762,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 08:23:20.442,macbook,"Rue du Muguet, Créteil"
3,2015-05-15 08:37:30.493,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-29 08:45:11.987,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-19 18:18:40.721,macbook,"D27, Martinique"
6,2015-06-26 14:03:37.000,android-phone,"Boulevard Jean Mermoz, Chevilly-Larue"
7,2015-07-17 08:18:31.000,android-phone,"Rue Albert Camus, Cachan"
8,2015-08-28 12:08:41.000,android-phone,"Rue Etienne Dolet, Cachan"

,Wednesday beg,device,location
0,2015-04-22 19:34:33.380,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 08:17:08.479,macbook,"Rue du Muguet, Créteil"
2,2015-05-20 21:06:43.842,macbook,"Rue Quincampoix, Paris"
3,2015-05-27 15:53:42.409,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-03 12:23:13.788,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-24 12:28:44.000,android-phone,"Rue Etienne Dolet, Cachan"
6,2015-07-15 08:04:38.000,android-phone,"Rue Albert Camus, Cachan"
7,2015-06-10 00:55:41.655,macbook,"D27, Martinique"

,Thursday beg,device,location
0,2015-04-23 07:32:03.713,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 09:49:22.243,macbook,"Rue du Muguet, Créteil"
2,2015-05-14 08:41:06.616,macbook,"Rue d'Argout, Paris"
3,2015-05-21 07:41:53.472,macbook,"Rue Quincampoix, Paris"
4,2015-05-28 12:00:40.338,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-04 19:59:13.287,macbook,"Rue du Muguet, Créteil"
6,2015-06-11 12:41:54.703,macbook,"D27, Martinique"
7,2015-06-18 15:05:43.841,macbook,"D27, Martinique"
8,2015-07-16 08:16:36.000,android-phone,"Rue Albert Camus, Cachan"
9,2015-08-27 11:02:51.000,android-phone,"Rue Etienne Dolet, Cachan"

,Sunday beg,device,location
0,2015-04-19 08:52:47.140,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-26 11:30:18.784,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-31 09:22:26.484,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-06-14 12:07:40.574,macbook,"D27, Martinique"

,Saturday beg,device,location
0,2015-04-18 09:54:50.670,macbook,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-25 07:51:51.969,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 11:08:15.747,macbook,"Rue du Muguet, Créteil"
3,2015-05-16 07:30:51.324,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-30 09:44:34.532,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-27 11:24:49.000,android-phone,"Rue Albert Camus, Cachan"
6,2015-07-18 08:21:31.000,android-phone,"Rue Albert Camus, Cachan"
7,2015-08-29 12:58:42.000,android-phone,"Rue Etienne Dolet, Cachan"

,Monday end,device,location
0,2015-04-20 21:54:35.853,macbook,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-27 21:39:41.128,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-11 23:11:38.263,macbook,"Rue d'Argout, Paris"
3,2015-06-01 12:53:48.063,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-08 23:57:07.792,macbook,"D27, Martinique"
5,2015-06-22 14:27:08.680,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-29 18:13:47.000,android-phone,"Rue Albert Camus, Cachan"

,Tuesday end,device,location
0,2015-04-21 22:11:17.680,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-05-05 20:44:09.141,macbook,"Rue de Paris, Charenton-le-Pont"
2,2015-05-12 13:02:16.110,macbook,"Rue d'Argout, Paris"
3,2015-05-26 22:43:09.137,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-02 21:33:50.036,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-09 23:53:35.821,macbook,"D27, Martinique"
6,2015-06-23 21:08:55.175,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Friday end,device,location
0,2015-04-17 19:34:56.677,android-phone,"Rue Quincampoix, Paris"
1,2015-04-24 21:33:54.696,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 10:31:07.607,macbook,"Rue du Muguet, Créteil"
3,2015-05-15 13:38:16.122,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-29 09:00:45.292,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-19 19:51:23.571,macbook,"D27, Martinique"
6,2015-06-26 17:23:44.000,android-phone,"Allée Pierre de Montreuil, Cachan"
7,2015-08-28 01:27:21.000,android-phone,"Rue Etienne Dolet, Cachan"

,Wednesday end,device,location
0,2015-04-22 20:49:34.146,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 22:01:33.773,macbook,"Rue du Muguet, Créteil"
2,2015-05-20 21:15:31.587,macbook,"Rue Quincampoix, Paris"
3,2015-05-27 23:07:15.051,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-06-03 22:29:25.222,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-10 01:33:52.138,macbook,"D27, Martinique"
6,2015-06-24 02:17:44.000,android-phone,"Rue Etienne Dolet, Cachan"
7,2015-07-15 23:49:36.000,android-phone,"Rue Albert Camus, Cachan"

,Thursday end,device,location
0,2015-04-23 10:37:28.779,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 22:27:46.280,macbook,"Rue du Muguet, Créteil"
2,2015-05-14 12:03:55.222,macbook,"Rue d'Argout, Paris"
3,2015-05-21 08:00:17.081,macbook,"Rue Quincampoix, Paris"
4,2015-05-28 23:15:05.623,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-04 21:22:53.112,macbook,"Rue du Muguet, Créteil"
6,2015-06-11 22:38:13.219,macbook,"D27, Martinique"
7,2015-06-18 22:51:40.834,macbook,"D27, Martinique"
8,2015-06-25 01:37:27.000,android-phone,"Rue Etienne Dolet, Cachan"
9,2015-07-16 23:39:36.000,android-phone,"Rue Albert Camus, Cachan"
10,2015-08-27 00:48:36.000,android-phone,"Rue Etienne Dolet, Cachan"

,Sunday end,device,location
0,2015-04-19 23:39:41.113,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-26 22:25:29.273,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-31 22:37:34.248,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-06-14 14:05:55.615,macbook,"D27, Martinique"
4,2015-06-28 02:49:59.000,android-phone,"Rue Albert Camus, Cachan"
5,2015-08-30 01:27:07.000,android-phone,"Rue Etienne Dolet, Cachan"

,Saturday end,device,location
0,2015-04-18 23:37:17.218,android-phone,"Allée du Croc Martin, Boutigny-sur-Essonne"
1,2015-04-25 17:31:12.665,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 11:10:18.111,macbook,"Rue du Muguet, Créteil"
3,2015-05-16 16:23:08.708,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-30 23:09:23.996,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-06-27 02:54:34.000,android-phone,"Rue Albert Camus, Cachan"
6,2015-07-18 16:50:27.000,android-phone,"Rue Albert Camus, Cachan"
7,2015-08-29 01:29:42.000,android-phone,"Rue Etienne Dolet, Cachan"

user: 6=======================

,beg,devid,location
0,2015-04-17 09:35:41.138,9,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,devid,end,location
0,9,2015-04-17 11:12:11.673,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

Empty DataFrame
Columns: [Monday beg, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device, location]
Index: []

,Friday beg,device,location
0,2015-04-17 09:35:41.138,windows-laptop,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

Empty DataFrame
Columns: [Wednesday beg, device, location]
Index: []

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

Empty DataFrame
Columns: [Saturday beg, device, location]
Index: []

Empty DataFrame
Columns: [Monday end, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, location]
Index: []

,Friday end,device,location
0,2015-04-17 11:12:11.673,windows-laptop,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

Empty DataFrame
Columns: [Wednesday end, device, location]
Index: []

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

Empty DataFrame
Columns: [Saturday end, device, location]
Index: []

user: 7=======================

,beg,devid,location
0,2015-04-17 13:43:32.552,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 04:00:06.071,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-04-19 04:03:22.396,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-04-20 04:00:15.184,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-04-21 04:02:16.862,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-04-22 04:01:29.137,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-04-23 04:00:10.459,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-04-24 04:10:07.737,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-04-25 04:00:14.908,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,2015-04-26 04:00:03.288,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-04-27 04:00:10.302,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,2015-04-28 04:02:46.808,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
12,2015-04-29 09:45:50.000,10,"Rue de la Charbonnière, Montévrain"
13,2015-04-30 04:03:20.520,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
14,2015-05-01 21:07:34.000,10,"Rue Petrelle, Paris"
15,2015-05-02 18:33:13.369,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
16,2015-05-03 04:02:01.111,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
17,2015-05-04 04:00:08.222,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
18,2015-05-05 04:04:52.762,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
19,2015-05-06 10:45:38.000,10,"Rue de la Fontaine Rouge, Chessy"
20,2015-05-07 13:51:03.000,10,"Rue Saint-Merri, Paris"
21,2015-05-08 13:37:39.000,10,"Rue de l'Alma, Courbevoie"
22,2015-05-09 04:12:33.000,10,"Rue de l'Arrivée, Paris"
23,2015-05-10 08:34:13.498,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,2015-05-11 04:08:57.548,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,2015-05-12 04:01:27.175,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,2015-05-13 04:08:16.459,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,2015-05-14 04:05:35.737,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,2015-05-15 04:02:26.135,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,2015-05-16 04:10:59.338,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,2015-05-17 04:01:33.587,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
31,2015-05-18 18:10:05.938,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,2015-05-19 04:08:54.220,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
33,2015-05-20 04:00:12.940,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
34,2015-05-21 10:30:13.852,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
35,2015-05-22 04:07:26.747,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
36,2015-05-23 04:02:16.118,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
37,2015-05-24 04:09:51.462,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
38,2015-05-25 04:04:15.928,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
39,2015-05-26 04:14:33.240,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
40,2015-05-27 04:02:47.438,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,2015-05-28 04:00:04.973,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
42,2015-05-29 04:08:46.138,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
43,2015-05-30 04:09:28.410,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
44,2015-05-31 04:03:07.672,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
45,2015-06-01 04:04:46.928,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
46,2015-06-02 04:02:51.220,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
47,2015-06-03 04:00:15.941,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
48,2015-06-04 04:05:41.769,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
49,2015-06-05 04:06:11.274,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
50,2015-06-13 09:29:57.358,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
51,2015-06-14 04:15:46.838,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
52,2015-06-15 04:02:22.170,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
53,2015-06-16 04:00:46.654,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
54,2015-06-17 04:00:16.663,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
55,2015-06-18 04:09:12.094,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
56,2015-06-19 04:09:08.421,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
57,2015-06-24 18:26:59.649,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
58,2015-06-06 00:07:22.491,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,devid,end,location
0,3,2015-04-17 23:53:37.336,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,3,2015-04-18 23:59:45.583,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,3,2015-04-19 23:58:35.307,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,3,2015-04-20 23:57:38.110,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,3,2015-04-21 23:59:46.853,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,3,2015-04-22 23:59:46.088,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,3,2015-04-23 23:51:22.746,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,3,2015-04-24 23:59:50.329,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,3,2015-04-25 23:50:20.971,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,3,2015-04-26 23:59:58.435,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,3,2015-04-27 23:59:43.478,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,10,2015-04-28 23:49:07.000,"Disney Village, Chessy"
12,10,2015-04-29 23:58:11.530,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
13,10,2015-04-30 23:45:42.500,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
14,10,2015-05-01 21:14:04.000,"Rue Petrelle, Paris"
15,3,2015-05-02 23:56:35.967,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
16,3,2015-05-03 23:50:00.251,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
17,3,2015-05-04 23:58:35.769,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
18,10,2015-05-05 20:57:19.000,"Rue des Grands Prés, Chessy"
19,10,2015-05-06 21:57:12.000,"Rue Marcel Dassault, Boulogne-Billancourt"
20,10,2015-05-07 22:19:31.000,"Rue Jacques Cartier, Paris"
21,10,2015-05-08 16:57:08.000,"Rue de l'Alma, Courbevoie"
22,10,2015-05-09 21:49:21.000,"Rue de la Roquette, Paris"
23,3,2015-05-10 23:59:54.816,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,10,2015-05-11 23:56:45.693,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,3,2015-05-12 23:41:29.783,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,3,2015-05-13 23:55:59.030,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,3,2015-05-14 23:53:38.553,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,3,2015-05-15 23:55:20.996,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,3,2015-05-16 23:50:37.521,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,10,2015-05-17 22:33:34.000,"Rue Championnet, Paris"
31,10,2015-05-18 23:58:31.706,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,3,2015-05-19 23:52:25.405,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
33,3,2015-05-20 16:14:29.875,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
34,3,2015-05-21 23:58:13.173,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
35,3,2015-05-22 23:51:24.432,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
36,3,2015-05-23 23:52:49.314,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
37,3,2015-05-24 23:53:08.061,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
38,3,2015-05-25 23:52:01.231,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
39,3,2015-05-26 23:59:48.623,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
40,3,2015-05-27 23:53:55.149,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,3,2015-05-28 23:59:56.853,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
42,3,2015-05-29 23:57:11.283,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
43,3,2015-05-30 23:50:07.416,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
44,3,2015-05-31 23:56:47.613,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
45,3,2015-06-01 23:56:54.938,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
46,3,2015-06-02 23:57:20.862,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
47,3,2015-06-03 23:53:03.195,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
48,3,2015-06-04 23:59:13.238,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
49,3,2015-06-05 23:59:42.222,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
50,3,2015-06-06 02:21:34.414,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
51,3,2015-06-13 23:59:49.774,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
52,3,2015-06-14 23:55:43.763,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
53,3,2015-06-15 23:59:49.904,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
54,3,2015-06-16 23:59:59.137,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
55,3,2015-06-17 23:47:13.926,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
56,3,2015-06-18 23:59:57.733,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
57,10,2015-06-19 17:45:05.865,"Rue Quincampoix, Paris"
58,10,2015-06-24 18:52:23.831,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Monday beg,device,location
0,2015-04-20 04:00:15.184,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-27 04:00:10.302,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-04 04:00:08.222,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-11 04:08:57.548,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-18 18:10:05.938,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-25 04:04:15.928,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-01 04:04:46.928,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-15 04:02:22.170,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Tuesday beg,device,location
0,2015-04-21 04:02:16.862,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-28 04:02:46.808,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-05 04:04:52.762,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-12 04:01:27.175,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-19 04:08:54.220,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-26 04:14:33.240,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-02 04:02:51.220,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-16 04:00:46.654,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Friday beg,device,location
0,2015-04-17 13:43:32.552,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 04:10:07.737,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 21:07:34.000,iphone,"Rue Petrelle, Paris"
3,2015-05-08 13:37:39.000,iphone,"Rue de l'Alma, Courbevoie"
4,2015-05-15 04:02:26.135,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-22 04:07:26.747,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-29 04:08:46.138,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-05 04:06:11.274,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-19 04:09:08.421,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Wednesday beg,device,location
0,2015-04-22 04:01:29.137,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 09:45:50.000,iphone,"Rue de la Charbonnière, Montévrain"
2,2015-05-06 10:45:38.000,iphone,"Rue de la Fontaine Rouge, Chessy"
3,2015-05-13 04:08:16.459,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-20 04:00:12.940,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-27 04:02:47.438,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-03 04:00:15.941,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-17 04:00:16.663,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-24 18:26:59.649,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Thursday beg,device,location
0,2015-04-23 04:00:10.459,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 04:03:20.520,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-07 13:51:03.000,iphone,"Rue Saint-Merri, Paris"
3,2015-05-14 04:05:35.737,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-21 10:30:13.852,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-28 04:00:04.973,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 04:05:41.769,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-18 04:09:12.094,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Sunday beg,device,location
0,2015-04-19 04:03:22.396,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-26 04:00:03.288,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-03 04:02:01.111,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-10 08:34:13.498,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-17 04:01:33.587,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-24 04:09:51.462,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-31 04:03:07.672,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-14 04:15:46.838,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Saturday beg,device,location
0,2015-04-18 04:00:06.071,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-25 04:00:14.908,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 18:33:13.369,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-09 04:12:33.000,iphone,"Rue de l'Arrivée, Paris"
4,2015-05-16 04:10:59.338,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-23 04:02:16.118,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-30 04:09:28.410,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-13 09:29:57.358,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-06 00:07:22.491,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Monday end,device,location
0,2015-04-20 23:57:38.110,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-27 23:59:43.478,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-04 23:58:35.769,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-11 23:56:45.693,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-18 23:58:31.706,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-25 23:52:01.231,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-01 23:56:54.938,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-15 23:59:49.904,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Tuesday end,device,location
0,2015-04-21 23:59:46.853,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-28 23:49:07.000,iphone,"Disney Village, Chessy"
2,2015-05-05 20:57:19.000,iphone,"Rue des Grands Prés, Chessy"
3,2015-05-12 23:41:29.783,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-19 23:52:25.405,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-26 23:59:48.623,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-02 23:57:20.862,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-16 23:59:59.137,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Friday end,device,location
0,2015-04-17 23:53:37.336,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 23:59:50.329,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 21:14:04.000,iphone,"Rue Petrelle, Paris"
3,2015-05-08 16:57:08.000,iphone,"Rue de l'Alma, Courbevoie"
4,2015-05-15 23:55:20.996,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-22 23:51:24.432,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-29 23:57:11.283,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-05 23:59:42.222,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-19 17:45:05.865,iphone,"Rue Quincampoix, Paris"

,Wednesday end,device,location
0,2015-04-22 23:59:46.088,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 23:58:11.530,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-06 21:57:12.000,iphone,"Rue Marcel Dassault, Boulogne-Billancourt"
3,2015-05-13 23:55:59.030,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-20 16:14:29.875,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-27 23:53:55.149,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-03 23:53:03.195,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-17 23:47:13.926,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-24 18:52:23.831,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Thursday end,device,location
0,2015-04-23 23:51:22.746,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 23:45:42.500,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-07 22:19:31.000,iphone,"Rue Jacques Cartier, Paris"
3,2015-05-14 23:53:38.553,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-21 23:58:13.173,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-28 23:59:56.853,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 23:59:13.238,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-18 23:59:57.733,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Sunday end,device,location
0,2015-04-19 23:58:35.307,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-26 23:59:58.435,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-03 23:50:00.251,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-10 23:59:54.816,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-17 22:33:34.000,iphone,"Rue Championnet, Paris"
5,2015-05-24 23:53:08.061,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-31 23:56:47.613,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-14 23:55:43.763,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Saturday end,device,location
0,2015-04-18 23:59:45.583,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-25 23:50:20.971,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 23:56:35.967,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-09 21:49:21.000,iphone,"Rue de la Roquette, Paris"
4,2015-05-16 23:50:37.521,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-23 23:52:49.314,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-30 23:50:07.416,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-06 02:21:34.414,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-13 23:59:49.774,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,beg,devid,location
0,2015-04-17 13:43:32.552,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 04:00:06.071,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-04-19 04:03:22.396,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-04-20 04:00:15.184,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-04-21 04:02:16.862,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-04-22 04:01:29.137,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-04-23 04:00:10.459,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-04-24 04:10:07.737,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-04-25 04:00:14.908,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,2015-04-26 04:00:03.288,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-04-27 04:00:10.302,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,2015-04-28 04:02:46.808,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
12,2015-04-29 09:45:50.000,10,"Rue de la Charbonnière, Montévrain"
13,2015-04-30 04:03:20.520,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
14,2015-05-01 21:07:34.000,10,"Rue Petrelle, Paris"
15,2015-05-02 18:33:13.369,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
16,2015-05-03 04:02:01.111,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
17,2015-05-04 04:00:08.222,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
18,2015-05-05 04:04:52.762,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
19,2015-05-06 10:45:38.000,10,"Rue de la Fontaine Rouge, Chessy"
20,2015-05-07 13:51:03.000,10,"Rue Saint-Merri, Paris"
21,2015-05-08 13:37:39.000,10,"Rue de l'Alma, Courbevoie"
22,2015-05-09 04:12:33.000,10,"Rue de l'Arrivée, Paris"
23,2015-05-10 08:34:13.498,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,2015-05-11 04:08:57.548,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,2015-05-12 04:01:27.175,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,2015-05-13 04:08:16.459,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,2015-05-14 04:05:35.737,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,2015-05-15 04:02:26.135,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,2015-05-16 04:10:59.338,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,2015-05-17 04:01:33.587,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
31,2015-05-18 18:10:05.938,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,2015-05-19 04:08:54.220,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
33,2015-05-20 04:00:12.940,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
34,2015-05-21 10:30:13.852,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
35,2015-05-22 04:07:26.747,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
36,2015-05-23 04:02:16.118,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
37,2015-05-24 04:09:51.462,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
38,2015-05-25 04:04:15.928,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
39,2015-05-26 04:14:33.240,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
40,2015-05-27 04:02:47.438,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,2015-05-28 04:00:04.973,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
42,2015-05-29 04:08:46.138,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
43,2015-05-30 04:09:28.410,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
44,2015-05-31 04:03:07.672,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
45,2015-06-01 04:04:46.928,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
46,2015-06-02 04:02:51.220,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
47,2015-06-03 04:00:15.941,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
48,2015-06-04 04:05:41.769,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
49,2015-06-05 04:06:11.274,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
50,2015-06-13 09:29:57.358,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
51,2015-06-14 04:15:46.838,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
52,2015-06-15 04:02:22.170,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
53,2015-06-16 04:00:46.654,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
54,2015-06-17 04:00:16.663,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
55,2015-06-18 04:09:12.094,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
56,2015-06-19 04:09:08.421,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
57,2015-06-24 18:26:59.649,10,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
58,2015-06-06 00:07:22.491,3,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,devid,end,location
0,3,2015-04-17 23:53:37.336,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,3,2015-04-18 23:59:45.583,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,3,2015-04-19 23:58:35.307,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,3,2015-04-20 23:57:38.110,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,3,2015-04-21 23:59:46.853,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,3,2015-04-22 23:59:46.088,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,3,2015-04-23 23:51:22.746,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,3,2015-04-24 23:59:50.329,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,3,2015-04-25 23:50:20.971,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,3,2015-04-26 23:59:58.435,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,3,2015-04-27 23:59:43.478,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
11,10,2015-04-28 23:49:07.000,"Disney Village, Chessy"
12,10,2015-04-29 23:58:11.530,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
13,10,2015-04-30 23:45:42.500,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
14,10,2015-05-01 21:14:04.000,"Rue Petrelle, Paris"
15,3,2015-05-02 23:56:35.967,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
16,3,2015-05-03 23:50:00.251,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
17,3,2015-05-04 23:58:35.769,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
18,10,2015-05-05 20:57:19.000,"Rue des Grands Prés, Chessy"
19,10,2015-05-06 21:57:12.000,"Rue Marcel Dassault, Boulogne-Billancourt"
20,10,2015-05-07 22:19:31.000,"Rue Jacques Cartier, Paris"
21,10,2015-05-08 16:57:08.000,"Rue de l'Alma, Courbevoie"
22,10,2015-05-09 21:49:21.000,"Rue de la Roquette, Paris"
23,3,2015-05-10 23:59:54.816,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
24,10,2015-05-11 23:56:45.693,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
25,3,2015-05-12 23:41:29.783,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
26,3,2015-05-13 23:55:59.030,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
27,3,2015-05-14 23:53:38.553,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
28,3,2015-05-15 23:55:20.996,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
29,3,2015-05-16 23:50:37.521,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
30,10,2015-05-17 22:33:34.000,"Rue Championnet, Paris"
31,10,2015-05-18 23:58:31.706,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
32,3,2015-05-19 23:52:25.405,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
33,3,2015-05-20 16:14:29.875,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
34,3,2015-05-21 23:58:13.173,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
35,3,2015-05-22 23:51:24.432,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
36,3,2015-05-23 23:52:49.314,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
37,3,2015-05-24 23:53:08.061,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
38,3,2015-05-25 23:52:01.231,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
39,3,2015-05-26 23:59:48.623,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
40,3,2015-05-27 23:53:55.149,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
41,3,2015-05-28 23:59:56.853,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
42,3,2015-05-29 23:57:11.283,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
43,3,2015-05-30 23:50:07.416,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
44,3,2015-05-31 23:56:47.613,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
45,3,2015-06-01 23:56:54.938,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
46,3,2015-06-02 23:57:20.862,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
47,3,2015-06-03 23:53:03.195,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
48,3,2015-06-04 23:59:13.238,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
49,3,2015-06-05 23:59:42.222,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
50,3,2015-06-06 02:21:34.414,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
51,3,2015-06-13 23:59:49.774,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
52,3,2015-06-14 23:55:43.763,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
53,3,2015-06-15 23:59:49.904,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
54,3,2015-06-16 23:59:59.137,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
55,3,2015-06-17 23:47:13.926,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
56,3,2015-06-18 23:59:57.733,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
57,10,2015-06-19 17:45:05.865,"Rue Quincampoix, Paris"
58,10,2015-06-24 18:52:23.831,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Monday beg,device,location
0,2015-04-20 04:00:15.184,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-27 04:00:10.302,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-04 04:00:08.222,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-11 04:08:57.548,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-18 18:10:05.938,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-25 04:04:15.928,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-01 04:04:46.928,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-15 04:02:22.170,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Tuesday beg,device,location
0,2015-04-21 04:02:16.862,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-28 04:02:46.808,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-05 04:04:52.762,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-12 04:01:27.175,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-19 04:08:54.220,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-26 04:14:33.240,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-02 04:02:51.220,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-16 04:00:46.654,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Friday beg,device,location
0,2015-04-17 13:43:32.552,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 04:10:07.737,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 21:07:34.000,iphone,"Rue Petrelle, Paris"
3,2015-05-08 13:37:39.000,iphone,"Rue de l'Alma, Courbevoie"
4,2015-05-15 04:02:26.135,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-22 04:07:26.747,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-29 04:08:46.138,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-05 04:06:11.274,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-19 04:09:08.421,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Wednesday beg,device,location
0,2015-04-22 04:01:29.137,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 09:45:50.000,iphone,"Rue de la Charbonnière, Montévrain"
2,2015-05-06 10:45:38.000,iphone,"Rue de la Fontaine Rouge, Chessy"
3,2015-05-13 04:08:16.459,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-20 04:00:12.940,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-27 04:02:47.438,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-03 04:00:15.941,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-17 04:00:16.663,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-24 18:26:59.649,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Thursday beg,device,location
0,2015-04-23 04:00:10.459,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 04:03:20.520,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-07 13:51:03.000,iphone,"Rue Saint-Merri, Paris"
3,2015-05-14 04:05:35.737,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-21 10:30:13.852,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-28 04:00:04.973,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 04:05:41.769,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-18 04:09:12.094,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Sunday beg,device,location
0,2015-04-19 04:03:22.396,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-26 04:00:03.288,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-03 04:02:01.111,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-10 08:34:13.498,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-17 04:01:33.587,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-24 04:09:51.462,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-31 04:03:07.672,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-14 04:15:46.838,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Saturday beg,device,location
0,2015-04-18 04:00:06.071,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-25 04:00:14.908,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 18:33:13.369,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-09 04:12:33.000,iphone,"Rue de l'Arrivée, Paris"
4,2015-05-16 04:10:59.338,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-23 04:02:16.118,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-30 04:09:28.410,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-13 09:29:57.358,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-06 00:07:22.491,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Monday end,device,location
0,2015-04-20 23:57:38.110,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-27 23:59:43.478,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-04 23:58:35.769,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-11 23:56:45.693,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-18 23:58:31.706,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-25 23:52:01.231,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-01 23:56:54.938,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-15 23:59:49.904,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Tuesday end,device,location
0,2015-04-21 23:59:46.853,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-28 23:49:07.000,iphone,"Disney Village, Chessy"
2,2015-05-05 20:57:19.000,iphone,"Rue des Grands Prés, Chessy"
3,2015-05-12 23:41:29.783,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-19 23:52:25.405,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-26 23:59:48.623,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-02 23:57:20.862,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-16 23:59:59.137,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Friday end,device,location
0,2015-04-17 23:53:37.336,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 23:59:50.329,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-01 21:14:04.000,iphone,"Rue Petrelle, Paris"
3,2015-05-08 16:57:08.000,iphone,"Rue de l'Alma, Courbevoie"
4,2015-05-15 23:55:20.996,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-22 23:51:24.432,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-29 23:57:11.283,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-05 23:59:42.222,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-19 17:45:05.865,iphone,"Rue Quincampoix, Paris"

,Wednesday end,device,location
0,2015-04-22 23:59:46.088,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 23:58:11.530,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-06 21:57:12.000,iphone,"Rue Marcel Dassault, Boulogne-Billancourt"
3,2015-05-13 23:55:59.030,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-20 16:14:29.875,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-27 23:53:55.149,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-03 23:53:03.195,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-17 23:47:13.926,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-24 18:52:23.831,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Thursday end,device,location
0,2015-04-23 23:51:22.746,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-30 23:45:42.500,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-07 22:19:31.000,iphone,"Rue Jacques Cartier, Paris"
3,2015-05-14 23:53:38.553,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-21 23:58:13.173,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-28 23:59:56.853,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 23:59:13.238,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-18 23:59:57.733,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Sunday end,device,location
0,2015-04-19 23:58:35.307,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-26 23:59:58.435,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-03 23:50:00.251,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-10 23:59:54.816,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
4,2015-05-17 22:33:34.000,iphone,"Rue Championnet, Paris"
5,2015-05-24 23:53:08.061,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-31 23:56:47.613,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-14 23:55:43.763,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Saturday end,device,location
0,2015-04-18 23:59:45.583,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-25 23:50:20.971,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
2,2015-05-02 23:56:35.967,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
3,2015-05-09 21:49:21.000,iphone,"Rue de la Roquette, Paris"
4,2015-05-16 23:50:37.521,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-05-23 23:52:49.314,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-05-30 23:50:07.416,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-06 02:21:34.414,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-13 23:59:49.774,ipad,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

user: 8=======================

,beg,devid,location
0,2015-04-17 15:44:52.935,12,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 04:02:58.549,11,"Carrefour Georges Brassens, Bernes-sur-Oise"
2,2015-04-19 12:05:33.451,12,"Carrefour Georges Brassens, Bernes-sur-Oise"
3,2015-04-20 04:03:13.243,11,"Rue d'Ermont, Franconville"
4,2015-04-21 04:34:02.608,11,"Rue d'Ermont, Franconville"
5,2015-04-22 06:04:11.622,11,"Rue Quincampoix, Paris"
6,2015-04-23 09:20:59.000,11,"Rue Baudin, Levallois-Perret"
7,2015-04-24 04:02:58.569,11,"Rue d'Ermont, Franconville"
8,2015-04-25 04:02:32.997,11,"Rue d'Ermont, Franconville"
9,2015-04-26 04:05:13.847,11,"Rue Quincampoix, Paris"
10,2015-04-27 04:05:42.727,11,"Rue d'Ermont, Franconville"
11,2015-04-28 11:44:37.000,11,"Rue de Lobau, Paris"
12,2015-04-29 04:51:02.140,12,"Rue d'Ermont, Franconville"
13,2015-04-30 04:02:33.091,12,"Rue d'Ermont, Franconville"
14,2015-05-01 04:03:02.167,11,"Rue d'Ermont, Franconville"
15,2015-05-02 04:05:53.278,11,"Rue d'Ermont, Franconville"
16,2015-05-03 04:02:01.555,11,"Rue d'Ermont, Franconville"
17,2015-05-04 04:07:23.916,11,"Rue Charles Drot, Rueil-Malmaison"
18,2015-05-05 11:50:11.394,12,"Rue Charles Drot, Rueil-Malmaison"
19,2015-05-06 04:01:18.562,11,"Rue Charles Drot, Rueil-Malmaison"
20,2015-05-07 04:08:37.008,11,"Rue Charles Drot, Rueil-Malmaison"
21,2015-05-08 04:05:38.438,11,"Rue Charles Drot, Rueil-Malmaison"
22,2015-05-09 09:01:22.967,12,"Rue Charles Drot, Rueil-Malmaison"
23,2015-05-10 09:50:16.164,12,"Rue Charles Drot, Rueil-Malmaison"
24,2015-05-11 04:02:02.424,11,"Avenue du Château, Beauchamp"
25,2015-05-12 04:16:49.957,11,"Avenue du Château, Beauchamp"
26,2015-05-13 04:01:12.027,11,"Avenue du Château, Beauchamp"
27,2015-05-14 04:08:48.326,11,"Avenue du Château, Beauchamp"
28,2015-05-15 04:33:18.976,11,"Avenue du Château, Beauchamp"
29,2015-05-16 10:42:38.982,12,"Avenue du Château, Beauchamp"
...,...,...,...
108,2015-08-06 12:49:19.000,11,"Rue Blomet, Paris"
109,2015-08-07 08:15:12.000,11,"Esplanade du port de l'arsenal, Paris"
110,2015-08-08 12:18:57.000,11,"Rue Auguste Mignet, Carpentras"
111,2015-08-09 11:44:08.000,11,"Chemin de la Ribiere, Mormoiron"
112,2015-08-10 10:16:48.000,11,"Chemin de la Ribiere, Mormoiron"
113,2015-08-12 12:14:59.000,11,"Avenue Frédéric Mistral, Carpentras"
114,2015-08-13 17:33:56.000,11,"Chemin du Cimetière, Mazan"
115,2015-08-15 12:10:59.000,11,"Chemin des Arnauds, Mormoiron"
116,2015-08-16 16:22:36.000,11,"Route du Canadel, Mormoiron"
117,2015-08-17 09:40:43.000,11,"Rue Paul Valéry, Grenoble"
118,2015-08-18 18:50:39.000,11,"Rue Hans Wilsdorf, Les Acacias"
119,2015-08-19 08:47:15.000,11,"Rue François- Dussaud, Genève"
120,2015-08-20 20:34:24.000,11,"Rue Caroline, Carouge"
121,2015-08-21 08:59:07.000,11,"Rue Jacques-Grosselin, Carouge"
122,2015-08-22 12:08:23.000,11,"Place du Marché, Carouge"
123,2015-08-23 14:41:30.000,11,"Boulevard Georges-Favon, Genève"
124,2015-08-24 13:11:17.000,11,"Rue Letort, Paris"
125,2015-08-25 09:38:14.000,11,"Rue Belliard, Paris"
126,2015-08-26 13:19:11.000,11,"Place André Malraux, Paris-1ER-Arrondissement"
127,2015-08-27 10:32:06.000,11,"Rue Lecourbe, Paris"
128,2015-08-28 17:33:12.000,11,"Rue Hermel, Paris"
129,2015-08-29 14:08:49.000,11,"Rue du Faubourg Saint-Denis, Paris"
130,2015-08-30 12:29:23.000,11,"Rue du Mont Cenis, Paris"
131,2015-08-31 08:49:41.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
132,2015-09-01 08:45:28.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
133,2015-09-02 09:03:20.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
134,2015-09-03 08:52:41.000,11,"Villepinte, France"
135,2015-09-04 09:03:48.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
136,2015-08-11 02:57:21.000,11,"Chemin de la Ribiere, Mormoiron"
137,2015-08-14 00:03:46.000,11,"Chemin de la Ribiere, Mormoiron"

,devid,end,location
0,11,2015-04-17 23:58:04.046,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,11,2015-04-18 23:51:38.000,"Rue de Reuilly, Paris"
2,11,2015-04-19 23:48:27.215,"Carrefour Georges Brassens, Bernes-sur-Oise"
3,11,2015-04-20 22:17:01.992,"Rue d'Ermont, Franconville"
4,12,2015-04-21 22:17:01.739,"Rue d'Ermont, Franconville"
5,12,2015-04-22 23:24:55.676,"Rue d'Ermont, Franconville"
6,11,2015-04-23 23:35:43.317,"Rue d'Ermont, Franconville"
7,11,2015-04-24 23:50:36.625,"Rue d'Ermont, Franconville"
8,11,2015-04-25 23:53:32.583,"Rue Quincampoix, Paris"
9,11,2015-04-26 22:17:02.148,"Rue d'Ermont, Franconville"
10,12,2015-04-27 22:59:27.064,"Rue d'Ermont, Franconville"
11,12,2015-04-28 22:52:51.857,"Rue d'Ermont, Franconville"
12,11,2015-04-29 22:29:45.000,"Paris, France"
13,11,2015-04-30 23:54:15.472,"Rue d'Ermont, Franconville"
14,11,2015-05-01 23:51:37.760,"Rue d'Ermont, Franconville"
15,11,2015-05-02 23:54:25.793,"Rue d'Ermont, Franconville"
16,11,2015-05-03 23:58:30.400,"Rue d'Ermont, Franconville"
17,11,2015-05-04 23:28:34.000,"Voie Georges Pompidou, Paris"
18,12,2015-05-05 23:38:17.182,"Rue Charles Drot, Rueil-Malmaison"
19,11,2015-05-06 23:48:10.370,"Rue Charles Drot, Rueil-Malmaison"
20,11,2015-05-07 23:57:53.256,"Rue Charles Drot, Rueil-Malmaison"
21,12,2015-05-08 22:17:02.237,"Rue Charles Drot, Rueil-Malmaison"
22,12,2015-05-09 23:10:12.486,"Rue Charles Drot, Rueil-Malmaison"
23,12,2015-05-10 22:17:01.214,"Rue Charles Drot, Rueil-Malmaison"
24,11,2015-05-11 23:58:03.000,"Rue la Condamine, Paris"
25,11,2015-05-12 23:59:43.103,"Avenue du Château, Beauchamp"
26,11,2015-05-13 23:56:11.996,"Avenue du Château, Beauchamp"
27,11,2015-05-14 23:53:32.254,"Avenue du Château, Beauchamp"
28,11,2015-05-15 23:31:43.000,"Quai des Grands Augustins, Paris"
29,11,2015-05-16 22:30:49.000,"Rue du Poteau, Paris"
...,...,...,...
108,11,2015-08-05 23:35:20.000,"Place de l'Odéon, Paris"
109,11,2015-08-06 20:55:24.000,"Quai de l'Hôtel de ville, Paris-4E-Arrondissement"
110,11,2015-08-07 14:23:12.000,"Rue Saint-Louis, Grignan"
111,11,2015-08-08 18:17:15.000,"Chemin des Arnauds, Mormoiron"
112,11,2015-08-09 18:27:30.000,"Chemin des Arnauds, Mormoiron"
113,11,2015-08-10 18:21:56.000,"Avenue Jean Henri Fabre, Carpentras"
114,11,2015-08-11 02:01:23.000,"Chemin de la Ribiere, Mormoiron"
115,11,2015-08-12 19:11:14.000,"Chemin de la Ribiere, Mormoiron"
116,11,2015-08-13 20:03:38.000,"Chemin de la Ribiere, Mormoiron"
117,11,2015-08-15 22:43:37.000,"Chemin de la Ribiere, Mormoiron"
118,11,2015-08-16 19:48:52.000,"Chemin de la Ribiere, Mormoiron"
119,11,2015-08-17 22:17:50.000,"Rue Ancienne, Carouge"
120,11,2015-08-18 20:40:32.000,"Boulevard de Saint-Georges, Genève"
121,11,2015-08-19 20:49:53.000,"Rue Eugene Marziano, Les Acacias"
122,11,2015-08-20 21:25:24.000,"Route des Acacias, Les Acacias"
123,11,2015-08-21 22:37:46.000,"Rue de la Scie, Genève"
124,11,2015-08-22 22:58:52.000,"Rue Ancienne, Carouge"
125,11,2015-08-23 19:07:54.000,"Place de Cornavin, Genève"
126,11,2015-08-24 21:07:41.000,"Rue du Poteau, Paris"
127,11,2015-08-25 11:01:02.000,"Rue Belliard, Paris"
128,11,2015-08-26 16:20:57.000,"Boulevard Haussmann, Paris"
129,11,2015-08-27 20:10:12.000,"Rue Lecourbe, Paris"
130,11,2015-08-28 22:32:41.000,"Rue Lamarck, Paris"
131,11,2015-08-29 23:58:52.000,"Rue Championnet, Paris"
132,11,2015-08-30 20:00:54.000,"Rue d'Amsterdam, Paris"
133,11,2015-08-31 21:06:00.000,"Boulevard de Valmy, Colombes"
134,11,2015-09-01 20:46:42.000,"Chemin Rural dit du Nid de Pie, Villepinte"
135,11,2015-09-02 21:25:01.000,"Chemin Rural dit du Nid de Pie, Villepinte"
136,11,2015-09-03 22:31:39.000,"Avenue des Nations, Villepinte"
137,11,2015-09-04 11:56:07.000,"Chemin Rural dit du Nid de Pie, Villepinte"

,Monday beg,device,location
0,2015-04-20 04:03:13.243,iphone,"Rue d'Ermont, Franconville"
1,2015-04-27 04:05:42.727,iphone,"Rue d'Ermont, Franconville"
2,2015-05-04 04:07:23.916,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-11 04:02:02.424,iphone,"Avenue du Château, Beauchamp"
4,2015-05-18 09:13:59.000,iphone,"Rue Baudin, Levallois-Perret"
5,2015-05-25 09:14:04.000,iphone,"Rue Baudin, Levallois-Perret"
6,2015-06-01 11:36:55.000,iphone,"Avenue Barral des Beaux, Bédoin"
7,2015-06-08 15:29:55.494,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-15 12:50:59.000,iphone,"Rue Duhesme, Paris"
9,2015-06-22 14:41:56.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-29 08:55:12.000,iphone,"Rue Baudin, Levallois-Perret"
11,2015-07-06 08:59:34.000,iphone,"Rue Jules Guesde, Levallois-Perret"
12,2015-07-13 09:09:12.000,iphone,"Rue Baudin, Levallois-Perret"
13,2015-07-20 09:02:03.000,iphone,"Rue Jules Guesde, Levallois-Perret"
14,2015-07-27 09:05:49.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-03 04:05:58.000,iphone,"Rue de Sèvres, Paris"
16,2015-08-10 10:16:48.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-17 09:40:43.000,iphone,"Rue Paul Valéry, Grenoble"
18,2015-08-24 13:11:17.000,iphone,"Rue Letort, Paris"
19,2015-08-31 08:49:41.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Tuesday beg,device,location
0,2015-04-21 04:34:02.608,iphone,"Rue d'Ermont, Franconville"
1,2015-04-28 11:44:37.000,iphone,"Rue de Lobau, Paris"
2,2015-05-05 11:50:11.394,macbook,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-12 04:16:49.957,iphone,"Avenue du Château, Beauchamp"
4,2015-05-19 06:08:53.792,macbook,"Grande Rue, Chapet"
5,2015-05-26 15:00:00.000,iphone,"Rue Baudin, Levallois-Perret"
6,2015-06-02 12:04:15.282,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-09 20:46:08.000,iphone,"Boulevard Saint-Germain, Paris"
8,2015-06-16 09:05:34.000,iphone,"Place des Déportés, Le Bourget"
9,2015-06-23 14:42:40.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-30 09:00:42.000,iphone,"Rue Baudin, Levallois-Perret"
11,2015-07-07 08:55:04.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-14 20:35:18.000,iphone,"Square de Clignancourt, Paris"
13,2015-07-21 13:36:10.000,iphone,"Rue Joseph Dijon, Paris"
14,2015-07-28 09:18:46.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-04 15:30:02.000,iphone,"Rue Baudin, Levallois-Perret"
16,2015-08-18 18:50:39.000,iphone,"Rue Hans Wilsdorf, Les Acacias"
17,2015-08-25 09:38:14.000,iphone,"Rue Belliard, Paris"
18,2015-09-01 08:45:28.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"
19,2015-08-11 02:57:21.000,iphone,"Chemin de la Ribiere, Mormoiron"

,Friday beg,device,location
0,2015-04-17 15:44:52.935,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 04:02:58.569,iphone,"Rue d'Ermont, Franconville"
2,2015-05-01 04:03:02.167,iphone,"Rue d'Ermont, Franconville"
3,2015-05-08 04:05:38.438,iphone,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-15 04:33:18.976,iphone,"Avenue du Château, Beauchamp"
5,2015-05-22 04:02:48.632,iphone,"Grande Rue, Chapet"
6,2015-05-29 04:05:58.480,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-05 11:43:26.000,iphone,"Place Jules Joffrin, Paris"
8,2015-06-12 09:09:50.000,iphone,"Rue Baudin, Levallois-Perret"
9,2015-06-19 06:15:44.505,iphone,"Rue Quincampoix, Paris"
10,2015-06-26 08:58:20.000,iphone,"Rue Jules Guesde, Levallois-Perret"
11,2015-07-03 19:34:05.000,iphone,"Le Landel, Bézancourt"
12,2015-07-10 09:14:53.000,iphone,"Rue Baudin, Levallois-Perret"
13,2015-07-17 09:04:13.000,iphone,"Rue Baudin, Levallois-Perret"
14,2015-07-24 09:06:27.000,iphone,"Rue Baudin, Levallois-Perret"
15,2015-07-31 09:21:32.000,iphone,"Rue Jules Guesde, Levallois-Perret"
16,2015-08-07 08:15:12.000,iphone,"Esplanade du port de l'arsenal, Paris"
17,2015-08-21 08:59:07.000,iphone,"Rue Jacques-Grosselin, Carouge"
18,2015-08-28 17:33:12.000,iphone,"Rue Hermel, Paris"
19,2015-09-04 09:03:48.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"
20,2015-08-14 00:03:46.000,iphone,"Chemin de la Ribiere, Mormoiron"

,Wednesday beg,device,location
0,2015-04-22 06:04:11.622,iphone,"Rue Quincampoix, Paris"
1,2015-04-29 04:51:02.140,macbook,"Rue d'Ermont, Franconville"
2,2015-05-06 04:01:18.562,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-13 04:01:12.027,iphone,"Avenue du Château, Beauchamp"
4,2015-05-20 07:12:19.993,iphone,"Rue Quincampoix, Paris"
5,2015-05-27 09:07:59.000,iphone,"Rue Baudin, Levallois-Perret"
6,2015-06-03 11:58:18.282,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-10 12:14:33.692,macbook,"Rue des Boudoux, Courbevoie"
8,2015-06-17 11:56:28.000,iphone,"Paris, France"
9,2015-06-24 16:12:57.610,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-07-01 08:58:18.000,iphone,"Rue Baudin, Levallois-Perret"
11,2015-07-08 09:07:11.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-15 09:05:47.000,iphone,"Rue Jules Guesde, Levallois-Perret"
13,2015-07-22 19:50:46.000,iphone,"Rue du Mont Cenis, Paris"
14,2015-07-29 08:54:36.000,iphone,"Rue Saint-Jean, Paris"
15,2015-08-05 09:17:20.000,iphone,"Rue Jules Guesde, Levallois-Perret"
16,2015-08-12 12:14:59.000,iphone,"Avenue Frédéric Mistral, Carpentras"
17,2015-08-19 08:47:15.000,iphone,"Rue François- Dussaud, Genève"
18,2015-08-26 13:19:11.000,iphone,"Place André Malraux, Paris-1ER-Arrondissement"
19,2015-09-02 09:03:20.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Thursday beg,device,location
0,2015-04-23 09:20:59.000,iphone,"Rue Baudin, Levallois-Perret"
1,2015-04-30 04:02:33.091,macbook,"Rue d'Ermont, Franconville"
2,2015-05-07 04:08:37.008,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-14 04:08:48.326,iphone,"Avenue du Château, Beauchamp"
4,2015-05-21 04:02:42.793,iphone,"Grande Rue, Chapet"
5,2015-05-28 04:02:59.065,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 12:21:25.530,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-11 15:54:06.000,iphone,"Rue Baudin, Levallois-Perret"
8,2015-06-18 23:27:21.000,iphone,"Rue de Rennes, Paris"
9,2015-06-25 13:43:28.000,iphone,"Rue du Mont Cenis, Paris"
10,2015-07-02 13:40:29.000,iphone,"Rue Duhesme, Paris"
11,2015-07-09 08:08:25.000,iphone,"Rue Hermel, Paris"
12,2015-07-16 08:38:45.000,iphone,"Rue Hermel, Paris"
13,2015-07-23 09:16:00.000,iphone,"Rue Jules Guesde, Levallois-Perret"
14,2015-07-30 09:13:17.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-06 12:49:19.000,iphone,"Rue Blomet, Paris"
16,2015-08-13 17:33:56.000,iphone,"Chemin du Cimetière, Mazan"
17,2015-08-20 20:34:24.000,iphone,"Rue Caroline, Carouge"
18,2015-08-27 10:32:06.000,iphone,"Rue Lecourbe, Paris"
19,2015-09-03 08:52:41.000,iphone,"Villepinte, France"

,Sunday beg,device,location
0,2015-04-19 12:05:33.451,macbook,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-26 04:05:13.847,iphone,"Rue Quincampoix, Paris"
2,2015-05-03 04:02:01.555,iphone,"Rue d'Ermont, Franconville"
3,2015-05-10 09:50:16.164,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-17 12:10:22.252,macbook,"Avenue du Château, Beauchamp"
5,2015-05-24 04:41:10.599,macbook,"Grande Rue, Chapet"
6,2015-06-07 15:24:57.120,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-14 16:37:02.000,iphone,"Rue Joseph Dijon, Paris"
8,2015-06-21 14:18:08.000,iphone,"Boulevard de Clichy, Paris"
9,2015-06-28 12:52:20.000,iphone,"Voie Rapide Avignon-Carpentras, Carpentras"
10,2015-07-05 04:09:58.000,iphone,"Le Landel, Bézancourt"
11,2015-07-12 12:56:35.000,iphone,"Rue du Mont Cenis, Paris"
12,2015-07-19 17:21:11.000,iphone,"Rue du Mont Cenis, Paris"
13,2015-08-09 11:44:08.000,iphone,"Chemin de la Ribiere, Mormoiron"
14,2015-08-16 16:22:36.000,iphone,"Route du Canadel, Mormoiron"
15,2015-08-23 14:41:30.000,iphone,"Boulevard Georges-Favon, Genève"
16,2015-08-30 12:29:23.000,iphone,"Rue du Mont Cenis, Paris"

,Saturday beg,device,location
0,2015-04-18 04:02:58.549,iphone,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-25 04:02:32.997,iphone,"Rue d'Ermont, Franconville"
2,2015-05-02 04:05:53.278,iphone,"Rue d'Ermont, Franconville"
3,2015-05-09 09:01:22.967,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-16 10:42:38.982,macbook,"Avenue du Château, Beauchamp"
5,2015-05-23 10:49:57.526,iphone,"Grande Rue, Chapet"
6,2015-05-30 08:15:23.553,macbook,"D20, Buisson"
7,2015-06-06 11:23:28.000,iphone,"Place André Malraux, Paris-1ER-Arrondissement"
8,2015-06-13 19:55:32.000,iphone,"Boulevard Ornano, Paris"
9,2015-06-20 19:19:56.000,iphone,"Rue du Four, Paris"
10,2015-06-27 16:41:12.000,iphone,"Voie Rapide Avignon-Carpentras, Carpentras"
11,2015-07-04 15:26:49.000,iphone,"Rue Charles de Gaulle, Gournay-en-Bray"
12,2015-07-11 13:11:20.000,iphone,"Rue Damrémont, Paris"
13,2015-07-18 13:20:21.000,iphone,"Rue Caulaincourt, Paris"
14,2015-07-25 14:16:03.000,iphone,"Rue du Mont Cenis, Paris"
15,2015-08-01 14:46:00.000,iphone,"Rue du Mont Cenis, Paris"
16,2015-08-08 12:18:57.000,iphone,"Rue Auguste Mignet, Carpentras"
17,2015-08-15 12:10:59.000,iphone,"Chemin des Arnauds, Mormoiron"
18,2015-08-22 12:08:23.000,iphone,"Place du Marché, Carouge"
19,2015-08-29 14:08:49.000,iphone,"Rue du Faubourg Saint-Denis, Paris"

,Monday end,device,location
0,2015-04-20 22:17:01.992,iphone,"Rue d'Ermont, Franconville"
1,2015-04-27 22:59:27.064,macbook,"Rue d'Ermont, Franconville"
2,2015-05-04 23:28:34.000,iphone,"Voie Georges Pompidou, Paris"
3,2015-05-11 23:58:03.000,iphone,"Rue la Condamine, Paris"
4,2015-05-18 23:17:50.000,iphone,"Rue Princesse, Paris"
5,2015-05-25 23:08:04.858,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-01 22:43:39.940,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-08 21:39:50.000,iphone,"Boulevard Ornano, Paris"
8,2015-06-15 15:05:40.000,iphone,"Boulevard Ornano, Paris"
9,2015-06-22 14:41:56.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-29 20:45:20.000,iphone,"Rue Letort, Paris"
11,2015-07-06 22:58:09.000,iphone,"Rue Letort, Paris"
12,2015-07-13 15:58:12.000,iphone,"Rue Baudin, Levallois-Perret"
13,2015-07-20 16:25:38.000,iphone,"Rue de Vienne, Paris"
14,2015-07-27 20:29:23.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-03 22:14:43.000,iphone,"Rue du Poteau, Paris"
16,2015-08-10 18:21:56.000,iphone,"Avenue Jean Henri Fabre, Carpentras"
17,2015-08-17 22:17:50.000,iphone,"Rue Ancienne, Carouge"
18,2015-08-24 21:07:41.000,iphone,"Rue du Poteau, Paris"
19,2015-08-31 21:06:00.000,iphone,"Boulevard de Valmy, Colombes"

,Tuesday end,device,location
0,2015-04-21 22:17:01.739,macbook,"Rue d'Ermont, Franconville"
1,2015-04-28 22:52:51.857,macbook,"Rue d'Ermont, Franconville"
2,2015-05-05 23:38:17.182,macbook,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-12 23:59:43.103,iphone,"Avenue du Château, Beauchamp"
4,2015-05-19 23:10:53.500,macbook,"Grande Rue, Chapet"
5,2015-05-26 23:39:47.000,iphone,"Rue de Sèvres, Paris"
6,2015-06-02 22:17:02.091,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-09 22:37:11.000,iphone,"Quai Voltaire, Paris"
8,2015-06-16 22:51:21.000,iphone,"Pont du Carrousel, Paris"
9,2015-06-23 14:42:40.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-30 22:00:01.000,iphone,"Rue de Vienne, Paris"
11,2015-07-07 16:48:36.000,iphone,"Rue de Vienne, Paris"
12,2015-07-14 19:54:07.000,iphone,"Rue Joseph Dijon, Paris"
13,2015-07-21 22:53:07.000,iphone,"Rue Joseph Dijon, Paris"
14,2015-07-28 21:06:11.000,iphone,"Rue Anatole France, Levallois-Perret"
15,2015-08-04 23:28:25.000,iphone,"Rue de Rennes, Paris"
16,2015-08-11 02:01:23.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-18 20:40:32.000,iphone,"Boulevard de Saint-Georges, Genève"
18,2015-08-25 11:01:02.000,iphone,"Rue Belliard, Paris"
19,2015-09-01 20:46:42.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Friday end,device,location
0,2015-04-17 23:58:04.046,iphone,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-24 23:50:36.625,iphone,"Rue d'Ermont, Franconville"
2,2015-05-01 23:51:37.760,iphone,"Rue d'Ermont, Franconville"
3,2015-05-08 22:17:02.237,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-15 23:31:43.000,iphone,"Quai des Grands Augustins, Paris"
5,2015-05-22 23:19:50.000,iphone,"Rue Lepic, Paris"
6,2015-05-29 17:08:28.000,iphone,"Place Louis Armand, Paris"
7,2015-06-05 22:17:01.984,macbook,"Rue Léon Jouhaux, Sartrouville"
8,2015-06-12 21:46:15.000,iphone,"Boulevard du Montparnasse, Paris"
9,2015-06-19 18:11:07.000,iphone,"Rue Pouchet, Paris"
10,2015-06-26 21:41:21.000,iphone,"Rue de la Villette, Lyon"
11,2015-07-03 16:56:47.000,iphone,"Rue Hermel, Paris"
12,2015-07-10 18:00:47.000,iphone,"Boulevard Pasteur, Paris"
13,2015-07-17 22:49:32.000,iphone,"Rue des Envierges, Paris-20E-Arrondissement"
14,2015-07-24 20:36:42.000,iphone,"Rue Victor Hugo, Levallois-Perret"
15,2015-07-31 19:39:02.000,iphone,"Rue Jules Guesde, Levallois-Perret"
16,2015-08-07 14:23:12.000,iphone,"Rue Saint-Louis, Grignan"
17,2015-08-21 22:37:46.000,iphone,"Rue de la Scie, Genève"
18,2015-08-28 22:32:41.000,iphone,"Rue Lamarck, Paris"
19,2015-09-04 11:56:07.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Wednesday end,device,location
0,2015-04-22 23:24:55.676,macbook,"Rue d'Ermont, Franconville"
1,2015-04-29 22:29:45.000,iphone,"Paris, France"
2,2015-05-06 23:48:10.370,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-13 23:56:11.996,iphone,"Avenue du Château, Beauchamp"
4,2015-05-20 23:51:05.625,iphone,"Grande Rue, Chapet"
5,2015-05-27 23:57:39.000,iphone,"Rue du Cherche-Midi, Paris"
6,2015-06-03 22:17:02.179,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-10 19:12:43.832,macbook,"Rue des Boudoux, Courbevoie"
8,2015-06-17 23:27:58.000,iphone,"Rue du Four, Paris"
9,2015-06-24 21:47:49.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-07-01 16:36:46.000,iphone,"Rue de Rome, Paris"
11,2015-07-08 13:59:15.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-15 21:53:01.000,iphone,"Rue du Poteau, Paris"
13,2015-07-22 20:55:26.000,iphone,"Rue du Mont Cenis, Paris"
14,2015-07-29 21:24:10.000,iphone,"Rue de Turin, Paris"
15,2015-08-05 23:35:20.000,iphone,"Place de l'Odéon, Paris"
16,2015-08-12 19:11:14.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-19 20:49:53.000,iphone,"Rue Eugene Marziano, Les Acacias"
18,2015-08-26 16:20:57.000,iphone,"Boulevard Haussmann, Paris"
19,2015-09-02 21:25:01.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Thursday end,device,location
0,2015-04-23 23:35:43.317,iphone,"Rue d'Ermont, Franconville"
1,2015-04-30 23:54:15.472,iphone,"Rue d'Ermont, Franconville"
2,2015-05-07 23:57:53.256,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-14 23:53:32.254,iphone,"Avenue du Château, Beauchamp"
4,2015-05-21 23:59:40.532,iphone,"Grande Rue, Chapet"
5,2015-05-28 23:59:25.699,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 21:46:20.000,iphone,"Rue Ordener, Paris"
7,2015-06-11 21:55:32.000,iphone,"Rue Juliette Dodu, Paris"
8,2015-06-18 23:42:29.000,iphone,"Rue de Rennes, Paris"
9,2015-06-25 13:47:48.000,iphone,"Rue du Mont Cenis, Paris"
10,2015-07-02 21:39:29.000,iphone,"Rue Halévy, Paris-9E-Arrondissement"
11,2015-07-09 13:54:49.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-16 19:48:13.000,iphone,"Rue Duhesme, Paris"
13,2015-07-23 22:27:00.000,iphone,"Rue Ordener, Paris"
14,2015-07-30 22:56:23.000,iphone,"Rue Joseph Dijon, Paris"
15,2015-08-06 20:55:24.000,iphone,"Quai de l'Hôtel de ville, Paris-4E-Arrondissement"
16,2015-08-13 20:03:38.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-20 21:25:24.000,iphone,"Route des Acacias, Les Acacias"
18,2015-08-27 20:10:12.000,iphone,"Rue Lecourbe, Paris"
19,2015-09-03 22:31:39.000,iphone,"Avenue des Nations, Villepinte"

,Sunday end,device,location
0,2015-04-19 23:48:27.215,iphone,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-26 22:17:02.148,iphone,"Rue d'Ermont, Franconville"
2,2015-05-03 23:58:30.400,iphone,"Rue d'Ermont, Franconville"
3,2015-05-10 22:17:01.214,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-17 23:06:08.000,iphone,"Rue Letort, Paris"
5,2015-05-24 23:25:09.000,iphone,"Rue Caulaincourt, Paris-18E-Arrondissement"
6,2015-05-31 15:54:27.413,macbook,"D20, Buisson"
7,2015-06-07 22:18:11.000,iphone,"Allée Colette Heilbronner, Paris"
8,2015-06-14 21:03:21.000,iphone,"Rue Joseph Dijon, Paris"
9,2015-06-21 14:22:35.000,iphone,"Boulevard de Clichy, Paris"
10,2015-06-28 19:32:56.000,iphone,"D677, Pujaut"
11,2015-07-05 16:09:23.000,iphone,"Boulevard de Sébastopol, Paris"
12,2015-07-12 21:17:15.000,iphone,"Rue Joseph Dijon, Paris"
13,2015-07-19 21:45:58.000,iphone,"Rue Duhesme, Paris"
14,2015-08-09 18:27:30.000,iphone,"Chemin des Arnauds, Mormoiron"
15,2015-08-16 19:48:52.000,iphone,"Chemin de la Ribiere, Mormoiron"
16,2015-08-23 19:07:54.000,iphone,"Place de Cornavin, Genève"
17,2015-08-30 20:00:54.000,iphone,"Rue d'Amsterdam, Paris"

              Saturday end   device                                   location
0  2015-04-18 23:51:38.000   iphone                      Rue de Reuilly, Paris
1  2015-04-25 23:53:32.583   iphone                     Rue Quincampoix, Paris
2  2015-05-02 23:54:25.793   iphone                 Rue d'Ermont, Franconville
3  2015-05-09 23:10:12.486  macbook          Rue Charles Drot, Rueil-Malmaison
4  2015-05-16 22:30:49.000   iphone                       Rue du Poteau, Paris
5  2015-05-23 22:44:05.000   iphone                Boulevard de Magenta, Paris
6  2015-05-30 23:03:19.224   iphone                     Rue Quincampoix, Paris
7  2015-06-06 22:17:02.027  macbook             Rue Léon Jouhaux, Sartrouville
8  2015-06-13 20:57:30.000   iphone                         Rue Ordener, Paris
9  2015-06-20 21:34:16.000   iphone                         Rue du Four, Paris
10 2015-06-27 21:59:56.000   iphone            Chemin de la Ribiere, Mormoiron
11 2015-07-04 23:27:04.000   iphone                      Le Landel, Bézancourt
12 2015-07-11 22:13:13.000   iphone                   Rue de Belleville, Paris
13 2015-07-18 22:12:48.000   iphone  Pont de Maisons-Alfort, Joinville-le-Pont
14 2015-07-25 20:41:39.000   iphone                       Rue du Poteau, Paris
15 2015-08-01 17:14:00.000   iphone                         Rue Lamarck, Paris
16 2015-08-08 18:17:15.000   iphone              Chemin des Arnauds, Mormoiron
17 2015-08-15 22:43:37.000   iphone            Chemin de la Ribiere, Mormoiron
18 2015-08-22 22:58:52.000   iphone                      Rue Ancienne, Carouge
19 2015-08-29 23:58:52.000   iphone                     Rue Championnet, Paris

,beg,devid,location
0,2015-04-17 15:44:52.935,12,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 04:02:58.549,11,"Carrefour Georges Brassens, Bernes-sur-Oise"
2,2015-04-19 12:05:33.451,12,"Carrefour Georges Brassens, Bernes-sur-Oise"
3,2015-04-20 04:03:13.243,11,"Rue d'Ermont, Franconville"
4,2015-04-21 04:34:02.608,11,"Rue d'Ermont, Franconville"
5,2015-04-22 06:04:11.622,11,"Rue Quincampoix, Paris"
6,2015-04-23 09:20:59.000,11,"Rue Baudin, Levallois-Perret"
7,2015-04-24 04:02:58.569,11,"Rue d'Ermont, Franconville"
8,2015-04-25 04:02:32.997,11,"Rue d'Ermont, Franconville"
9,2015-04-26 04:05:13.847,11,"Rue Quincampoix, Paris"
10,2015-04-27 04:05:42.727,11,"Rue d'Ermont, Franconville"
11,2015-04-28 11:44:37.000,11,"Rue de Lobau, Paris"
12,2015-04-29 04:51:02.140,12,"Rue d'Ermont, Franconville"
13,2015-04-30 04:02:33.091,12,"Rue d'Ermont, Franconville"
14,2015-05-01 04:03:02.167,11,"Rue d'Ermont, Franconville"
15,2015-05-02 04:05:53.278,11,"Rue d'Ermont, Franconville"
16,2015-05-03 04:02:01.555,11,"Rue d'Ermont, Franconville"
17,2015-05-04 04:07:23.916,11,"Rue Charles Drot, Rueil-Malmaison"
18,2015-05-05 11:50:11.394,12,"Rue Charles Drot, Rueil-Malmaison"
19,2015-05-06 04:01:18.562,11,"Rue Charles Drot, Rueil-Malmaison"
20,2015-05-07 04:08:37.008,11,"Rue Charles Drot, Rueil-Malmaison"
21,2015-05-08 04:05:38.438,11,"Rue Charles Drot, Rueil-Malmaison"
22,2015-05-09 09:01:22.967,12,"Rue Charles Drot, Rueil-Malmaison"
23,2015-05-10 09:50:16.164,12,"Rue Charles Drot, Rueil-Malmaison"
24,2015-05-11 04:02:02.424,11,"Avenue du Château, Beauchamp"
25,2015-05-12 04:16:49.957,11,"Avenue du Château, Beauchamp"
26,2015-05-13 04:01:12.027,11,"Avenue du Château, Beauchamp"
27,2015-05-14 04:08:48.326,11,"Avenue du Château, Beauchamp"
28,2015-05-15 04:33:18.976,11,"Avenue du Château, Beauchamp"
29,2015-05-16 10:42:38.982,12,"Avenue du Château, Beauchamp"
...,...,...,...
108,2015-08-06 12:49:19.000,11,"Rue Blomet, Paris"
109,2015-08-07 08:15:12.000,11,"Esplanade du port de l'arsenal, Paris"
110,2015-08-08 12:18:57.000,11,"Rue Auguste Mignet, Carpentras"
111,2015-08-09 11:44:08.000,11,"Chemin de la Ribiere, Mormoiron"
112,2015-08-10 10:16:48.000,11,"Chemin de la Ribiere, Mormoiron"
113,2015-08-12 12:14:59.000,11,"Avenue Frédéric Mistral, Carpentras"
114,2015-08-13 17:33:56.000,11,"Chemin du Cimetière, Mazan"
115,2015-08-15 12:10:59.000,11,"Chemin des Arnauds, Mormoiron"
116,2015-08-16 16:22:36.000,11,"Route du Canadel, Mormoiron"
117,2015-08-17 09:40:43.000,11,"Rue Paul Valéry, Grenoble"
118,2015-08-18 18:50:39.000,11,"Rue Hans Wilsdorf, Les Acacias"
119,2015-08-19 08:47:15.000,11,"Rue François- Dussaud, Genève"
120,2015-08-20 20:34:24.000,11,"Rue Caroline, Carouge"
121,2015-08-21 08:59:07.000,11,"Rue Jacques-Grosselin, Carouge"
122,2015-08-22 12:08:23.000,11,"Place du Marché, Carouge"
123,2015-08-23 14:41:30.000,11,"Boulevard Georges-Favon, Genève"
124,2015-08-24 13:11:17.000,11,"Rue Letort, Paris"
125,2015-08-25 09:38:14.000,11,"Rue Belliard, Paris"
126,2015-08-26 13:19:11.000,11,"Place André Malraux, Paris-1ER-Arrondissement"
127,2015-08-27 10:32:06.000,11,"Rue Lecourbe, Paris"
128,2015-08-28 17:33:12.000,11,"Rue Hermel, Paris"
129,2015-08-29 14:08:49.000,11,"Rue du Faubourg Saint-Denis, Paris"
130,2015-08-30 12:29:23.000,11,"Rue du Mont Cenis, Paris"
131,2015-08-31 08:49:41.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
132,2015-09-01 08:45:28.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
133,2015-09-02 09:03:20.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
134,2015-09-03 08:52:41.000,11,"Villepinte, France"
135,2015-09-04 09:03:48.000,11,"Chemin Rural dit du Nid de Pie, Villepinte"
136,2015-08-11 02:57:21.000,11,"Chemin de la Ribiere, Mormoiron"
137,2015-08-14 00:03:46.000,11,"Chemin de la Ribiere, Mormoiron"

,devid,end,location
0,11,2015-04-17 23:58:04.046,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,11,2015-04-18 23:51:38.000,"Rue de Reuilly, Paris"
2,11,2015-04-19 23:48:27.215,"Carrefour Georges Brassens, Bernes-sur-Oise"
3,11,2015-04-20 22:17:01.992,"Rue d'Ermont, Franconville"
4,12,2015-04-21 22:17:01.739,"Rue d'Ermont, Franconville"
5,12,2015-04-22 23:24:55.676,"Rue d'Ermont, Franconville"
6,11,2015-04-23 23:35:43.317,"Rue d'Ermont, Franconville"
7,11,2015-04-24 23:50:36.625,"Rue d'Ermont, Franconville"
8,11,2015-04-25 23:53:32.583,"Rue Quincampoix, Paris"
9,11,2015-04-26 22:17:02.148,"Rue d'Ermont, Franconville"
10,12,2015-04-27 22:59:27.064,"Rue d'Ermont, Franconville"
11,12,2015-04-28 22:52:51.857,"Rue d'Ermont, Franconville"
12,11,2015-04-29 22:29:45.000,"Paris, France"
13,11,2015-04-30 23:54:15.472,"Rue d'Ermont, Franconville"
14,11,2015-05-01 23:51:37.760,"Rue d'Ermont, Franconville"
15,11,2015-05-02 23:54:25.793,"Rue d'Ermont, Franconville"
16,11,2015-05-03 23:58:30.400,"Rue d'Ermont, Franconville"
17,11,2015-05-04 23:28:34.000,"Voie Georges Pompidou, Paris"
18,12,2015-05-05 23:38:17.182,"Rue Charles Drot, Rueil-Malmaison"
19,11,2015-05-06 23:48:10.370,"Rue Charles Drot, Rueil-Malmaison"
20,11,2015-05-07 23:57:53.256,"Rue Charles Drot, Rueil-Malmaison"
21,12,2015-05-08 22:17:02.237,"Rue Charles Drot, Rueil-Malmaison"
22,12,2015-05-09 23:10:12.486,"Rue Charles Drot, Rueil-Malmaison"
23,12,2015-05-10 22:17:01.214,"Rue Charles Drot, Rueil-Malmaison"
24,11,2015-05-11 23:58:03.000,"Rue la Condamine, Paris"
25,11,2015-05-12 23:59:43.103,"Avenue du Château, Beauchamp"
26,11,2015-05-13 23:56:11.996,"Avenue du Château, Beauchamp"
27,11,2015-05-14 23:53:32.254,"Avenue du Château, Beauchamp"
28,11,2015-05-15 23:31:43.000,"Quai des Grands Augustins, Paris"
29,11,2015-05-16 22:30:49.000,"Rue du Poteau, Paris"
...,...,...,...
108,11,2015-08-05 23:35:20.000,"Place de l'Odéon, Paris"
109,11,2015-08-06 20:55:24.000,"Quai de l'Hôtel de ville, Paris-4E-Arrondissement"
110,11,2015-08-07 14:23:12.000,"Rue Saint-Louis, Grignan"
111,11,2015-08-08 18:17:15.000,"Chemin des Arnauds, Mormoiron"
112,11,2015-08-09 18:27:30.000,"Chemin des Arnauds, Mormoiron"
113,11,2015-08-10 18:21:56.000,"Avenue Jean Henri Fabre, Carpentras"
114,11,2015-08-11 02:01:23.000,"Chemin de la Ribiere, Mormoiron"
115,11,2015-08-12 19:11:14.000,"Chemin de la Ribiere, Mormoiron"
116,11,2015-08-13 20:03:38.000,"Chemin de la Ribiere, Mormoiron"
117,11,2015-08-15 22:43:37.000,"Chemin de la Ribiere, Mormoiron"
118,11,2015-08-16 19:48:52.000,"Chemin de la Ribiere, Mormoiron"
119,11,2015-08-17 22:17:50.000,"Rue Ancienne, Carouge"
120,11,2015-08-18 20:40:32.000,"Boulevard de Saint-Georges, Genève"
121,11,2015-08-19 20:49:53.000,"Rue Eugene Marziano, Les Acacias"
122,11,2015-08-20 21:25:24.000,"Route des Acacias, Les Acacias"
123,11,2015-08-21 22:37:46.000,"Rue de la Scie, Genève"
124,11,2015-08-22 22:58:52.000,"Rue Ancienne, Carouge"
125,11,2015-08-23 19:07:54.000,"Place de Cornavin, Genève"
126,11,2015-08-24 21:07:41.000,"Rue du Poteau, Paris"
127,11,2015-08-25 11:01:02.000,"Rue Belliard, Paris"
128,11,2015-08-26 16:20:57.000,"Boulevard Haussmann, Paris"
129,11,2015-08-27 20:10:12.000,"Rue Lecourbe, Paris"
130,11,2015-08-28 22:32:41.000,"Rue Lamarck, Paris"
131,11,2015-08-29 23:58:52.000,"Rue Championnet, Paris"
132,11,2015-08-30 20:00:54.000,"Rue d'Amsterdam, Paris"
133,11,2015-08-31 21:06:00.000,"Boulevard de Valmy, Colombes"
134,11,2015-09-01 20:46:42.000,"Chemin Rural dit du Nid de Pie, Villepinte"
135,11,2015-09-02 21:25:01.000,"Chemin Rural dit du Nid de Pie, Villepinte"
136,11,2015-09-03 22:31:39.000,"Avenue des Nations, Villepinte"
137,11,2015-09-04 11:56:07.000,"Chemin Rural dit du Nid de Pie, Villepinte"

,Monday beg,device,location
0,2015-04-20 04:03:13.243,iphone,"Rue d'Ermont, Franconville"
1,2015-04-27 04:05:42.727,iphone,"Rue d'Ermont, Franconville"
2,2015-05-04 04:07:23.916,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-11 04:02:02.424,iphone,"Avenue du Château, Beauchamp"
4,2015-05-18 09:13:59.000,iphone,"Rue Baudin, Levallois-Perret"
5,2015-05-25 09:14:04.000,iphone,"Rue Baudin, Levallois-Perret"
6,2015-06-01 11:36:55.000,iphone,"Avenue Barral des Beaux, Bédoin"
7,2015-06-08 15:29:55.494,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
8,2015-06-15 12:50:59.000,iphone,"Rue Duhesme, Paris"
9,2015-06-22 14:41:56.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-29 08:55:12.000,iphone,"Rue Baudin, Levallois-Perret"
11,2015-07-06 08:59:34.000,iphone,"Rue Jules Guesde, Levallois-Perret"
12,2015-07-13 09:09:12.000,iphone,"Rue Baudin, Levallois-Perret"
13,2015-07-20 09:02:03.000,iphone,"Rue Jules Guesde, Levallois-Perret"
14,2015-07-27 09:05:49.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-03 04:05:58.000,iphone,"Rue de Sèvres, Paris"
16,2015-08-10 10:16:48.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-17 09:40:43.000,iphone,"Rue Paul Valéry, Grenoble"
18,2015-08-24 13:11:17.000,iphone,"Rue Letort, Paris"
19,2015-08-31 08:49:41.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Tuesday beg,device,location
0,2015-04-21 04:34:02.608,iphone,"Rue d'Ermont, Franconville"
1,2015-04-28 11:44:37.000,iphone,"Rue de Lobau, Paris"
2,2015-05-05 11:50:11.394,macbook,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-12 04:16:49.957,iphone,"Avenue du Château, Beauchamp"
4,2015-05-19 06:08:53.792,macbook,"Grande Rue, Chapet"
5,2015-05-26 15:00:00.000,iphone,"Rue Baudin, Levallois-Perret"
6,2015-06-02 12:04:15.282,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-09 20:46:08.000,iphone,"Boulevard Saint-Germain, Paris"
8,2015-06-16 09:05:34.000,iphone,"Place des Déportés, Le Bourget"
9,2015-06-23 14:42:40.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-30 09:00:42.000,iphone,"Rue Baudin, Levallois-Perret"
11,2015-07-07 08:55:04.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-14 20:35:18.000,iphone,"Square de Clignancourt, Paris"
13,2015-07-21 13:36:10.000,iphone,"Rue Joseph Dijon, Paris"
14,2015-07-28 09:18:46.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-04 15:30:02.000,iphone,"Rue Baudin, Levallois-Perret"
16,2015-08-18 18:50:39.000,iphone,"Rue Hans Wilsdorf, Les Acacias"
17,2015-08-25 09:38:14.000,iphone,"Rue Belliard, Paris"
18,2015-09-01 08:45:28.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"
19,2015-08-11 02:57:21.000,iphone,"Chemin de la Ribiere, Mormoiron"

,Friday beg,device,location
0,2015-04-17 15:44:52.935,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 04:02:58.569,iphone,"Rue d'Ermont, Franconville"
2,2015-05-01 04:03:02.167,iphone,"Rue d'Ermont, Franconville"
3,2015-05-08 04:05:38.438,iphone,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-15 04:33:18.976,iphone,"Avenue du Château, Beauchamp"
5,2015-05-22 04:02:48.632,iphone,"Grande Rue, Chapet"
6,2015-05-29 04:05:58.480,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-05 11:43:26.000,iphone,"Place Jules Joffrin, Paris"
8,2015-06-12 09:09:50.000,iphone,"Rue Baudin, Levallois-Perret"
9,2015-06-19 06:15:44.505,iphone,"Rue Quincampoix, Paris"
10,2015-06-26 08:58:20.000,iphone,"Rue Jules Guesde, Levallois-Perret"
11,2015-07-03 19:34:05.000,iphone,"Le Landel, Bézancourt"
12,2015-07-10 09:14:53.000,iphone,"Rue Baudin, Levallois-Perret"
13,2015-07-17 09:04:13.000,iphone,"Rue Baudin, Levallois-Perret"
14,2015-07-24 09:06:27.000,iphone,"Rue Baudin, Levallois-Perret"
15,2015-07-31 09:21:32.000,iphone,"Rue Jules Guesde, Levallois-Perret"
16,2015-08-07 08:15:12.000,iphone,"Esplanade du port de l'arsenal, Paris"
17,2015-08-21 08:59:07.000,iphone,"Rue Jacques-Grosselin, Carouge"
18,2015-08-28 17:33:12.000,iphone,"Rue Hermel, Paris"
19,2015-09-04 09:03:48.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"
20,2015-08-14 00:03:46.000,iphone,"Chemin de la Ribiere, Mormoiron"

,Wednesday beg,device,location
0,2015-04-22 06:04:11.622,iphone,"Rue Quincampoix, Paris"
1,2015-04-29 04:51:02.140,macbook,"Rue d'Ermont, Franconville"
2,2015-05-06 04:01:18.562,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-13 04:01:12.027,iphone,"Avenue du Château, Beauchamp"
4,2015-05-20 07:12:19.993,iphone,"Rue Quincampoix, Paris"
5,2015-05-27 09:07:59.000,iphone,"Rue Baudin, Levallois-Perret"
6,2015-06-03 11:58:18.282,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-10 12:14:33.692,macbook,"Rue des Boudoux, Courbevoie"
8,2015-06-17 11:56:28.000,iphone,"Paris, France"
9,2015-06-24 16:12:57.610,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-07-01 08:58:18.000,iphone,"Rue Baudin, Levallois-Perret"
11,2015-07-08 09:07:11.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-15 09:05:47.000,iphone,"Rue Jules Guesde, Levallois-Perret"
13,2015-07-22 19:50:46.000,iphone,"Rue du Mont Cenis, Paris"
14,2015-07-29 08:54:36.000,iphone,"Rue Saint-Jean, Paris"
15,2015-08-05 09:17:20.000,iphone,"Rue Jules Guesde, Levallois-Perret"
16,2015-08-12 12:14:59.000,iphone,"Avenue Frédéric Mistral, Carpentras"
17,2015-08-19 08:47:15.000,iphone,"Rue François- Dussaud, Genève"
18,2015-08-26 13:19:11.000,iphone,"Place André Malraux, Paris-1ER-Arrondissement"
19,2015-09-02 09:03:20.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Thursday beg,device,location
0,2015-04-23 09:20:59.000,iphone,"Rue Baudin, Levallois-Perret"
1,2015-04-30 04:02:33.091,macbook,"Rue d'Ermont, Franconville"
2,2015-05-07 04:08:37.008,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-14 04:08:48.326,iphone,"Avenue du Château, Beauchamp"
4,2015-05-21 04:02:42.793,iphone,"Grande Rue, Chapet"
5,2015-05-28 04:02:59.065,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 12:21:25.530,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-11 15:54:06.000,iphone,"Rue Baudin, Levallois-Perret"
8,2015-06-18 23:27:21.000,iphone,"Rue de Rennes, Paris"
9,2015-06-25 13:43:28.000,iphone,"Rue du Mont Cenis, Paris"
10,2015-07-02 13:40:29.000,iphone,"Rue Duhesme, Paris"
11,2015-07-09 08:08:25.000,iphone,"Rue Hermel, Paris"
12,2015-07-16 08:38:45.000,iphone,"Rue Hermel, Paris"
13,2015-07-23 09:16:00.000,iphone,"Rue Jules Guesde, Levallois-Perret"
14,2015-07-30 09:13:17.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-06 12:49:19.000,iphone,"Rue Blomet, Paris"
16,2015-08-13 17:33:56.000,iphone,"Chemin du Cimetière, Mazan"
17,2015-08-20 20:34:24.000,iphone,"Rue Caroline, Carouge"
18,2015-08-27 10:32:06.000,iphone,"Rue Lecourbe, Paris"
19,2015-09-03 08:52:41.000,iphone,"Villepinte, France"

,Sunday beg,device,location
0,2015-04-19 12:05:33.451,macbook,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-26 04:05:13.847,iphone,"Rue Quincampoix, Paris"
2,2015-05-03 04:02:01.555,iphone,"Rue d'Ermont, Franconville"
3,2015-05-10 09:50:16.164,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-17 12:10:22.252,macbook,"Avenue du Château, Beauchamp"
5,2015-05-24 04:41:10.599,macbook,"Grande Rue, Chapet"
6,2015-06-07 15:24:57.120,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
7,2015-06-14 16:37:02.000,iphone,"Rue Joseph Dijon, Paris"
8,2015-06-21 14:18:08.000,iphone,"Boulevard de Clichy, Paris"
9,2015-06-28 12:52:20.000,iphone,"Voie Rapide Avignon-Carpentras, Carpentras"
10,2015-07-05 04:09:58.000,iphone,"Le Landel, Bézancourt"
11,2015-07-12 12:56:35.000,iphone,"Rue du Mont Cenis, Paris"
12,2015-07-19 17:21:11.000,iphone,"Rue du Mont Cenis, Paris"
13,2015-08-09 11:44:08.000,iphone,"Chemin de la Ribiere, Mormoiron"
14,2015-08-16 16:22:36.000,iphone,"Route du Canadel, Mormoiron"
15,2015-08-23 14:41:30.000,iphone,"Boulevard Georges-Favon, Genève"
16,2015-08-30 12:29:23.000,iphone,"Rue du Mont Cenis, Paris"

,Saturday beg,device,location
0,2015-04-18 04:02:58.549,iphone,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-25 04:02:32.997,iphone,"Rue d'Ermont, Franconville"
2,2015-05-02 04:05:53.278,iphone,"Rue d'Ermont, Franconville"
3,2015-05-09 09:01:22.967,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-16 10:42:38.982,macbook,"Avenue du Château, Beauchamp"
5,2015-05-23 10:49:57.526,iphone,"Grande Rue, Chapet"
6,2015-05-30 08:15:23.553,macbook,"D20, Buisson"
7,2015-06-06 11:23:28.000,iphone,"Place André Malraux, Paris-1ER-Arrondissement"
8,2015-06-13 19:55:32.000,iphone,"Boulevard Ornano, Paris"
9,2015-06-20 19:19:56.000,iphone,"Rue du Four, Paris"
10,2015-06-27 16:41:12.000,iphone,"Voie Rapide Avignon-Carpentras, Carpentras"
11,2015-07-04 15:26:49.000,iphone,"Rue Charles de Gaulle, Gournay-en-Bray"
12,2015-07-11 13:11:20.000,iphone,"Rue Damrémont, Paris"
13,2015-07-18 13:20:21.000,iphone,"Rue Caulaincourt, Paris"
14,2015-07-25 14:16:03.000,iphone,"Rue du Mont Cenis, Paris"
15,2015-08-01 14:46:00.000,iphone,"Rue du Mont Cenis, Paris"
16,2015-08-08 12:18:57.000,iphone,"Rue Auguste Mignet, Carpentras"
17,2015-08-15 12:10:59.000,iphone,"Chemin des Arnauds, Mormoiron"
18,2015-08-22 12:08:23.000,iphone,"Place du Marché, Carouge"
19,2015-08-29 14:08:49.000,iphone,"Rue du Faubourg Saint-Denis, Paris"

,Monday end,device,location
0,2015-04-20 22:17:01.992,iphone,"Rue d'Ermont, Franconville"
1,2015-04-27 22:59:27.064,macbook,"Rue d'Ermont, Franconville"
2,2015-05-04 23:28:34.000,iphone,"Voie Georges Pompidou, Paris"
3,2015-05-11 23:58:03.000,iphone,"Rue la Condamine, Paris"
4,2015-05-18 23:17:50.000,iphone,"Rue Princesse, Paris"
5,2015-05-25 23:08:04.858,macbook,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-01 22:43:39.940,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-08 21:39:50.000,iphone,"Boulevard Ornano, Paris"
8,2015-06-15 15:05:40.000,iphone,"Boulevard Ornano, Paris"
9,2015-06-22 14:41:56.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-29 20:45:20.000,iphone,"Rue Letort, Paris"
11,2015-07-06 22:58:09.000,iphone,"Rue Letort, Paris"
12,2015-07-13 15:58:12.000,iphone,"Rue Baudin, Levallois-Perret"
13,2015-07-20 16:25:38.000,iphone,"Rue de Vienne, Paris"
14,2015-07-27 20:29:23.000,iphone,"Rue Jules Guesde, Levallois-Perret"
15,2015-08-03 22:14:43.000,iphone,"Rue du Poteau, Paris"
16,2015-08-10 18:21:56.000,iphone,"Avenue Jean Henri Fabre, Carpentras"
17,2015-08-17 22:17:50.000,iphone,"Rue Ancienne, Carouge"
18,2015-08-24 21:07:41.000,iphone,"Rue du Poteau, Paris"
19,2015-08-31 21:06:00.000,iphone,"Boulevard de Valmy, Colombes"

,Tuesday end,device,location
0,2015-04-21 22:17:01.739,macbook,"Rue d'Ermont, Franconville"
1,2015-04-28 22:52:51.857,macbook,"Rue d'Ermont, Franconville"
2,2015-05-05 23:38:17.182,macbook,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-12 23:59:43.103,iphone,"Avenue du Château, Beauchamp"
4,2015-05-19 23:10:53.500,macbook,"Grande Rue, Chapet"
5,2015-05-26 23:39:47.000,iphone,"Rue de Sèvres, Paris"
6,2015-06-02 22:17:02.091,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-09 22:37:11.000,iphone,"Quai Voltaire, Paris"
8,2015-06-16 22:51:21.000,iphone,"Pont du Carrousel, Paris"
9,2015-06-23 14:42:40.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-06-30 22:00:01.000,iphone,"Rue de Vienne, Paris"
11,2015-07-07 16:48:36.000,iphone,"Rue de Vienne, Paris"
12,2015-07-14 19:54:07.000,iphone,"Rue Joseph Dijon, Paris"
13,2015-07-21 22:53:07.000,iphone,"Rue Joseph Dijon, Paris"
14,2015-07-28 21:06:11.000,iphone,"Rue Anatole France, Levallois-Perret"
15,2015-08-04 23:28:25.000,iphone,"Rue de Rennes, Paris"
16,2015-08-11 02:01:23.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-18 20:40:32.000,iphone,"Boulevard de Saint-Georges, Genève"
18,2015-08-25 11:01:02.000,iphone,"Rue Belliard, Paris"
19,2015-09-01 20:46:42.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Friday end,device,location
0,2015-04-17 23:58:04.046,iphone,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-24 23:50:36.625,iphone,"Rue d'Ermont, Franconville"
2,2015-05-01 23:51:37.760,iphone,"Rue d'Ermont, Franconville"
3,2015-05-08 22:17:02.237,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-15 23:31:43.000,iphone,"Quai des Grands Augustins, Paris"
5,2015-05-22 23:19:50.000,iphone,"Rue Lepic, Paris"
6,2015-05-29 17:08:28.000,iphone,"Place Louis Armand, Paris"
7,2015-06-05 22:17:01.984,macbook,"Rue Léon Jouhaux, Sartrouville"
8,2015-06-12 21:46:15.000,iphone,"Boulevard du Montparnasse, Paris"
9,2015-06-19 18:11:07.000,iphone,"Rue Pouchet, Paris"
10,2015-06-26 21:41:21.000,iphone,"Rue de la Villette, Lyon"
11,2015-07-03 16:56:47.000,iphone,"Rue Hermel, Paris"
12,2015-07-10 18:00:47.000,iphone,"Boulevard Pasteur, Paris"
13,2015-07-17 22:49:32.000,iphone,"Rue des Envierges, Paris-20E-Arrondissement"
14,2015-07-24 20:36:42.000,iphone,"Rue Victor Hugo, Levallois-Perret"
15,2015-07-31 19:39:02.000,iphone,"Rue Jules Guesde, Levallois-Perret"
16,2015-08-07 14:23:12.000,iphone,"Rue Saint-Louis, Grignan"
17,2015-08-21 22:37:46.000,iphone,"Rue de la Scie, Genève"
18,2015-08-28 22:32:41.000,iphone,"Rue Lamarck, Paris"
19,2015-09-04 11:56:07.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Wednesday end,device,location
0,2015-04-22 23:24:55.676,macbook,"Rue d'Ermont, Franconville"
1,2015-04-29 22:29:45.000,iphone,"Paris, France"
2,2015-05-06 23:48:10.370,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-13 23:56:11.996,iphone,"Avenue du Château, Beauchamp"
4,2015-05-20 23:51:05.625,iphone,"Grande Rue, Chapet"
5,2015-05-27 23:57:39.000,iphone,"Rue du Cherche-Midi, Paris"
6,2015-06-03 22:17:02.179,macbook,"Rue Léon Jouhaux, Sartrouville"
7,2015-06-10 19:12:43.832,macbook,"Rue des Boudoux, Courbevoie"
8,2015-06-17 23:27:58.000,iphone,"Rue du Four, Paris"
9,2015-06-24 21:47:49.000,iphone,"Rue Joseph Dijon, Paris"
10,2015-07-01 16:36:46.000,iphone,"Rue de Rome, Paris"
11,2015-07-08 13:59:15.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-15 21:53:01.000,iphone,"Rue du Poteau, Paris"
13,2015-07-22 20:55:26.000,iphone,"Rue du Mont Cenis, Paris"
14,2015-07-29 21:24:10.000,iphone,"Rue de Turin, Paris"
15,2015-08-05 23:35:20.000,iphone,"Place de l'Odéon, Paris"
16,2015-08-12 19:11:14.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-19 20:49:53.000,iphone,"Rue Eugene Marziano, Les Acacias"
18,2015-08-26 16:20:57.000,iphone,"Boulevard Haussmann, Paris"
19,2015-09-02 21:25:01.000,iphone,"Chemin Rural dit du Nid de Pie, Villepinte"

,Thursday end,device,location
0,2015-04-23 23:35:43.317,iphone,"Rue d'Ermont, Franconville"
1,2015-04-30 23:54:15.472,iphone,"Rue d'Ermont, Franconville"
2,2015-05-07 23:57:53.256,iphone,"Rue Charles Drot, Rueil-Malmaison"
3,2015-05-14 23:53:32.254,iphone,"Avenue du Château, Beauchamp"
4,2015-05-21 23:59:40.532,iphone,"Grande Rue, Chapet"
5,2015-05-28 23:59:25.699,iphone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
6,2015-06-04 21:46:20.000,iphone,"Rue Ordener, Paris"
7,2015-06-11 21:55:32.000,iphone,"Rue Juliette Dodu, Paris"
8,2015-06-18 23:42:29.000,iphone,"Rue de Rennes, Paris"
9,2015-06-25 13:47:48.000,iphone,"Rue du Mont Cenis, Paris"
10,2015-07-02 21:39:29.000,iphone,"Rue Halévy, Paris-9E-Arrondissement"
11,2015-07-09 13:54:49.000,iphone,"Rue Baudin, Levallois-Perret"
12,2015-07-16 19:48:13.000,iphone,"Rue Duhesme, Paris"
13,2015-07-23 22:27:00.000,iphone,"Rue Ordener, Paris"
14,2015-07-30 22:56:23.000,iphone,"Rue Joseph Dijon, Paris"
15,2015-08-06 20:55:24.000,iphone,"Quai de l'Hôtel de ville, Paris-4E-Arrondissement"
16,2015-08-13 20:03:38.000,iphone,"Chemin de la Ribiere, Mormoiron"
17,2015-08-20 21:25:24.000,iphone,"Route des Acacias, Les Acacias"
18,2015-08-27 20:10:12.000,iphone,"Rue Lecourbe, Paris"
19,2015-09-03 22:31:39.000,iphone,"Avenue des Nations, Villepinte"

,Sunday end,device,location
0,2015-04-19 23:48:27.215,iphone,"Carrefour Georges Brassens, Bernes-sur-Oise"
1,2015-04-26 22:17:02.148,iphone,"Rue d'Ermont, Franconville"
2,2015-05-03 23:58:30.400,iphone,"Rue d'Ermont, Franconville"
3,2015-05-10 22:17:01.214,macbook,"Rue Charles Drot, Rueil-Malmaison"
4,2015-05-17 23:06:08.000,iphone,"Rue Letort, Paris"
5,2015-05-24 23:25:09.000,iphone,"Rue Caulaincourt, Paris-18E-Arrondissement"
6,2015-05-31 15:54:27.413,macbook,"D20, Buisson"
7,2015-06-07 22:18:11.000,iphone,"Allée Colette Heilbronner, Paris"
8,2015-06-14 21:03:21.000,iphone,"Rue Joseph Dijon, Paris"
9,2015-06-21 14:22:35.000,iphone,"Boulevard de Clichy, Paris"
10,2015-06-28 19:32:56.000,iphone,"D677, Pujaut"
11,2015-07-05 16:09:23.000,iphone,"Boulevard de Sébastopol, Paris"
12,2015-07-12 21:17:15.000,iphone,"Rue Joseph Dijon, Paris"
13,2015-07-19 21:45:58.000,iphone,"Rue Duhesme, Paris"
14,2015-08-09 18:27:30.000,iphone,"Chemin des Arnauds, Mormoiron"
15,2015-08-16 19:48:52.000,iphone,"Chemin de la Ribiere, Mormoiron"
16,2015-08-23 19:07:54.000,iphone,"Place de Cornavin, Genève"
17,2015-08-30 20:00:54.000,iphone,"Rue d'Amsterdam, Paris"

              Saturday end   device                                   location
0  2015-04-18 23:51:38.000   iphone                      Rue de Reuilly, Paris
1  2015-04-25 23:53:32.583   iphone                     Rue Quincampoix, Paris
2  2015-05-02 23:54:25.793   iphone                 Rue d'Ermont, Franconville
3  2015-05-09 23:10:12.486  macbook          Rue Charles Drot, Rueil-Malmaison
4  2015-05-16 22:30:49.000   iphone                       Rue du Poteau, Paris
5  2015-05-23 22:44:05.000   iphone                Boulevard de Magenta, Paris
6  2015-05-30 23:03:19.224   iphone                     Rue Quincampoix, Paris
7  2015-06-06 22:17:02.027  macbook             Rue Léon Jouhaux, Sartrouville
8  2015-06-13 20:57:30.000   iphone                         Rue Ordener, Paris
9  2015-06-20 21:34:16.000   iphone                         Rue du Four, Paris
10 2015-06-27 21:59:56.000   iphone            Chemin de la Ribiere, Mormoiron
11 2015-07-04 23:27:04.000   iphone                      Le Landel, Bézancourt
12 2015-07-11 22:13:13.000   iphone                   Rue de Belleville, Paris
13 2015-07-18 22:12:48.000   iphone  Pont de Maisons-Alfort, Joinville-le-Pont
14 2015-07-25 20:41:39.000   iphone                       Rue du Poteau, Paris
15 2015-08-01 17:14:00.000   iphone                         Rue Lamarck, Paris
16 2015-08-08 18:17:15.000   iphone              Chemin des Arnauds, Mormoiron
17 2015-08-15 22:43:37.000   iphone            Chemin de la Ribiere, Mormoiron
18 2015-08-22 22:58:52.000   iphone                      Rue Ancienne, Carouge
19 2015-08-29 23:58:52.000   iphone                     Rue Championnet, Paris

user: 9=======================

,beg,devid,location
0,2015-04-17 16:31:06.842,14,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 19:57:27.101,14,"Rue Quincampoix, Paris"

,devid,end,location
0,14,2015-04-17 16:39:15.967,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,14,2015-04-29 20:04:09.457,"Rue Quincampoix, Paris"

Empty DataFrame
Columns: [Monday beg, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device, location]
Index: []

,Friday beg,device,location
0,2015-04-17 16:31:06.842,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

            Wednesday beg         device                location
0 2015-04-29 19:57:27.101  android-phone  Rue Quincampoix, Paris

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

Empty DataFrame
Columns: [Saturday beg, device, location]
Index: []

Empty DataFrame
Columns: [Monday end, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, location]
Index: []

,Friday end,device,location
0,2015-04-17 16:39:15.967,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

            Wednesday end         device                location
0 2015-04-29 20:04:09.457  android-phone  Rue Quincampoix, Paris

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

Empty DataFrame
Columns: [Saturday end, device, location]
Index: []

,beg,devid,location
0,2015-04-17 16:31:06.842,14,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-29 19:57:27.101,14,"Rue Quincampoix, Paris"

,devid,end,location
0,14,2015-04-17 16:39:15.967,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,14,2015-04-29 20:04:09.457,"Rue Quincampoix, Paris"

Empty DataFrame
Columns: [Monday beg, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device, location]
Index: []

,Friday beg,device,location
0,2015-04-17 16:31:06.842,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

            Wednesday beg         device                location
0 2015-04-29 19:57:27.101  android-phone  Rue Quincampoix, Paris

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

Empty DataFrame
Columns: [Saturday beg, device, location]
Index: []

Empty DataFrame
Columns: [Monday end, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, location]
Index: []

,Friday end,device,location
0,2015-04-17 16:39:15.967,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

            Wednesday end         device                location
0 2015-04-29 20:04:09.457  android-phone  Rue Quincampoix, Paris

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

Empty DataFrame
Columns: [Saturday end, device, location]
Index: []

user: 10=======================

,beg,devid,location
0,2015-04-17 16:50:57.067,15,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 09:41:45.371,16,"Ruelle Traversière, Limeil-Brévannes"
2,2015-04-19 06:33:47.735,16,"Ruelle Traversière, Limeil-Brévannes"
3,2015-04-20 06:11:13.057,16,"Rue Quincampoix, Paris"
4,2015-04-21 05:08:54.853,16,"Ruelle Traversière, Limeil-Brévannes"
5,2015-04-22 05:08:56.395,16,"Ruelle Traversière, Limeil-Brévannes"
6,2015-04-23 06:27:01.154,16,"Ruelle Traversière, Limeil-Brévannes"
7,2015-04-24 07:13:58.253,16,"Ruelle Traversière, Limeil-Brévannes"
8,2015-04-25 10:24:42.501,16,"Ruelle Traversière, Limeil-Brévannes"
9,2015-04-26 07:05:19.015,16,"Ruelle Traversière, Limeil-Brévannes"
10,2015-04-27 06:12:00.360,16,"Ruelle Traversière, Limeil-Brévannes"
11,2015-04-28 05:09:02.133,16,"Ruelle Traversière, Limeil-Brévannes"
12,2015-04-29 04:22:24.494,16,"Ruelle Traversière, Limeil-Brévannes"
13,2015-05-07 05:50:28.080,16,"Rue Quincampoix, Paris"
14,2015-05-08 06:23:34.998,16,"Ruelle Traversière, Limeil-Brévannes"
15,2015-05-09 04:28:37.838,16,"Ruelle Traversière, Limeil-Brévannes"
16,2015-05-10 05:29:21.056,16,"Ruelle Traversière, Limeil-Brévannes"
17,2015-05-11 04:53:17.222,16,"Ruelle Traversière, Limeil-Brévannes"

    devid                     end                              location
0      16 2015-04-17 17:26:10.115                Rue Quincampoix, Paris
1      16 2015-04-18 22:17:02.154  Ruelle Traversière, Limeil-Brévannes
2      16 2015-04-19 21:09:36.194  Ruelle Traversière, Limeil-Brévannes
3      16 2015-04-20 22:17:01.990  Ruelle Traversière, Limeil-Brévannes
4      16 2015-04-21 21:57:54.289  Ruelle Traversière, Limeil-Brévannes
5      16 2015-04-22 22:17:01.370  Ruelle Traversière, Limeil-Brévannes
6      16 2015-04-23 23:32:41.449  Ruelle Traversière, Limeil-Brévannes
7      16 2015-04-24 14:07:31.320                Rue Quincampoix, Paris
8      16 2015-04-25 22:54:16.239  Ruelle Traversière, Limeil-Brévannes
9      16 2015-04-26 22:17:02.031  Ruelle Traversière, Limeil-Brévannes
10     16 2015-04-27 22:17:01.478  Ruelle Traversière, Limeil-Brévannes
11     16 2015-04-28 22:17:01.361  Ruelle Traversière, Limeil-Brévannes
12     16 2015-04-29 05:49:34.722  Ruelle Traversière, Limeil-Brévannes
13     16 2015-05-07 22:22:12.800  Ruelle Traversière, Limeil-Brévannes
14     16 2015-05-08 22:17:02.117  Ruelle Traversière, Limeil-Brévannes
15     16 2015-05-09 22:33:38.266  Ruelle Traversière, Limeil-Brévannes
16     16 2015-05-10 22:17:01.211  Ruelle Traversière, Limeil-Brévannes
17     16 2015-05-11 06:25:07.387                Rue Quincampoix, Paris

               Monday beg  device                              location
0 2015-04-20 06:11:13.057  iphone                Rue Quincampoix, Paris
1 2015-04-27 06:12:00.360  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-11 04:53:17.222  iphone  Ruelle Traversière, Limeil-Brévannes

              Tuesday beg  device                              location
0 2015-04-21 05:08:54.853  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-28 05:09:02.133  iphone  Ruelle Traversière, Limeil-Brévannes

,Friday beg,device,location
0,2015-04-17 16:50:57.067,android-tablet,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 07:13:58.253,iphone,"Ruelle Traversière, Limeil-Brévannes"
2,2015-05-08 06:23:34.998,iphone,"Ruelle Traversière, Limeil-Brévannes"

            Wednesday beg  device                              location
0 2015-04-22 05:08:56.395  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-29 04:22:24.494  iphone  Ruelle Traversière, Limeil-Brévannes

             Thursday beg  device                              location
0 2015-04-23 06:27:01.154  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-05-07 05:50:28.080  iphone                Rue Quincampoix, Paris

               Sunday beg  device                              location
0 2015-04-19 06:33:47.735  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-26 07:05:19.015  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-10 05:29:21.056  iphone  Ruelle Traversière, Limeil-Brévannes

             Saturday beg  device                              location
0 2015-04-18 09:41:45.371  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-25 10:24:42.501  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-09 04:28:37.838  iphone  Ruelle Traversière, Limeil-Brévannes

               Monday end  device                              location
0 2015-04-20 22:17:01.990  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-27 22:17:01.478  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-11 06:25:07.387  iphone                Rue Quincampoix, Paris

              Tuesday end  device                              location
0 2015-04-21 21:57:54.289  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-28 22:17:01.361  iphone  Ruelle Traversière, Limeil-Brévannes

               Friday end  device                              location
0 2015-04-17 17:26:10.115  iphone                Rue Quincampoix, Paris
1 2015-04-24 14:07:31.320  iphone                Rue Quincampoix, Paris
2 2015-05-08 22:17:02.117  iphone  Ruelle Traversière, Limeil-Brévannes

            Wednesday end  device                              location
0 2015-04-22 22:17:01.370  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-29 05:49:34.722  iphone  Ruelle Traversière, Limeil-Brévannes

             Thursday end  device                              location
0 2015-04-23 23:32:41.449  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-05-07 22:22:12.800  iphone  Ruelle Traversière, Limeil-Brévannes

               Sunday end  device                              location
0 2015-04-19 21:09:36.194  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-26 22:17:02.031  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-10 22:17:01.211  iphone  Ruelle Traversière, Limeil-Brévannes

             Saturday end  device                              location
0 2015-04-18 22:17:02.154  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-25 22:54:16.239  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-09 22:33:38.266  iphone  Ruelle Traversière, Limeil-Brévannes

,beg,devid,location
0,2015-04-17 16:50:57.067,15,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-18 09:41:45.371,16,"Ruelle Traversière, Limeil-Brévannes"
2,2015-04-19 06:33:47.735,16,"Ruelle Traversière, Limeil-Brévannes"
3,2015-04-20 06:11:13.057,16,"Rue Quincampoix, Paris"
4,2015-04-21 05:08:54.853,16,"Ruelle Traversière, Limeil-Brévannes"
5,2015-04-22 05:08:56.395,16,"Ruelle Traversière, Limeil-Brévannes"
6,2015-04-23 06:27:01.154,16,"Ruelle Traversière, Limeil-Brévannes"
7,2015-04-24 07:13:58.253,16,"Ruelle Traversière, Limeil-Brévannes"
8,2015-04-25 10:24:42.501,16,"Ruelle Traversière, Limeil-Brévannes"
9,2015-04-26 07:05:19.015,16,"Ruelle Traversière, Limeil-Brévannes"
10,2015-04-27 06:12:00.360,16,"Ruelle Traversière, Limeil-Brévannes"
11,2015-04-28 05:09:02.133,16,"Ruelle Traversière, Limeil-Brévannes"
12,2015-04-29 04:22:24.494,16,"Ruelle Traversière, Limeil-Brévannes"
13,2015-05-07 05:50:28.080,16,"Rue Quincampoix, Paris"
14,2015-05-08 06:23:34.998,16,"Ruelle Traversière, Limeil-Brévannes"
15,2015-05-09 04:28:37.838,16,"Ruelle Traversière, Limeil-Brévannes"
16,2015-05-10 05:29:21.056,16,"Ruelle Traversière, Limeil-Brévannes"
17,2015-05-11 04:53:17.222,16,"Ruelle Traversière, Limeil-Brévannes"

    devid                     end                              location
0      16 2015-04-17 17:26:10.115                Rue Quincampoix, Paris
1      16 2015-04-18 22:17:02.154  Ruelle Traversière, Limeil-Brévannes
2      16 2015-04-19 21:09:36.194  Ruelle Traversière, Limeil-Brévannes
3      16 2015-04-20 22:17:01.990  Ruelle Traversière, Limeil-Brévannes
4      16 2015-04-21 21:57:54.289  Ruelle Traversière, Limeil-Brévannes
5      16 2015-04-22 22:17:01.370  Ruelle Traversière, Limeil-Brévannes
6      16 2015-04-23 23:32:41.449  Ruelle Traversière, Limeil-Brévannes
7      16 2015-04-24 14:07:31.320                Rue Quincampoix, Paris
8      16 2015-04-25 22:54:16.239  Ruelle Traversière, Limeil-Brévannes
9      16 2015-04-26 22:17:02.031  Ruelle Traversière, Limeil-Brévannes
10     16 2015-04-27 22:17:01.478  Ruelle Traversière, Limeil-Brévannes
11     16 2015-04-28 22:17:01.361  Ruelle Traversière, Limeil-Brévannes
12     16 2015-04-29 05:49:34.722  Ruelle Traversière, Limeil-Brévannes
13     16 2015-05-07 22:22:12.800  Ruelle Traversière, Limeil-Brévannes
14     16 2015-05-08 22:17:02.117  Ruelle Traversière, Limeil-Brévannes
15     16 2015-05-09 22:33:38.266  Ruelle Traversière, Limeil-Brévannes
16     16 2015-05-10 22:17:01.211  Ruelle Traversière, Limeil-Brévannes
17     16 2015-05-11 06:25:07.387                Rue Quincampoix, Paris

               Monday beg  device                              location
0 2015-04-20 06:11:13.057  iphone                Rue Quincampoix, Paris
1 2015-04-27 06:12:00.360  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-11 04:53:17.222  iphone  Ruelle Traversière, Limeil-Brévannes

              Tuesday beg  device                              location
0 2015-04-21 05:08:54.853  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-28 05:09:02.133  iphone  Ruelle Traversière, Limeil-Brévannes

,Friday beg,device,location
0,2015-04-17 16:50:57.067,android-tablet,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 07:13:58.253,iphone,"Ruelle Traversière, Limeil-Brévannes"
2,2015-05-08 06:23:34.998,iphone,"Ruelle Traversière, Limeil-Brévannes"

            Wednesday beg  device                              location
0 2015-04-22 05:08:56.395  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-29 04:22:24.494  iphone  Ruelle Traversière, Limeil-Brévannes

             Thursday beg  device                              location
0 2015-04-23 06:27:01.154  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-05-07 05:50:28.080  iphone                Rue Quincampoix, Paris

               Sunday beg  device                              location
0 2015-04-19 06:33:47.735  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-26 07:05:19.015  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-10 05:29:21.056  iphone  Ruelle Traversière, Limeil-Brévannes

             Saturday beg  device                              location
0 2015-04-18 09:41:45.371  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-25 10:24:42.501  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-09 04:28:37.838  iphone  Ruelle Traversière, Limeil-Brévannes

               Monday end  device                              location
0 2015-04-20 22:17:01.990  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-27 22:17:01.478  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-11 06:25:07.387  iphone                Rue Quincampoix, Paris

              Tuesday end  device                              location
0 2015-04-21 21:57:54.289  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-28 22:17:01.361  iphone  Ruelle Traversière, Limeil-Brévannes

               Friday end  device                              location
0 2015-04-17 17:26:10.115  iphone                Rue Quincampoix, Paris
1 2015-04-24 14:07:31.320  iphone                Rue Quincampoix, Paris
2 2015-05-08 22:17:02.117  iphone  Ruelle Traversière, Limeil-Brévannes

            Wednesday end  device                              location
0 2015-04-22 22:17:01.370  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-29 05:49:34.722  iphone  Ruelle Traversière, Limeil-Brévannes

             Thursday end  device                              location
0 2015-04-23 23:32:41.449  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-05-07 22:22:12.800  iphone  Ruelle Traversière, Limeil-Brévannes

               Sunday end  device                              location
0 2015-04-19 21:09:36.194  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-26 22:17:02.031  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-10 22:17:01.211  iphone  Ruelle Traversière, Limeil-Brévannes

             Saturday end  device                              location
0 2015-04-18 22:17:02.154  iphone  Ruelle Traversière, Limeil-Brévannes
1 2015-04-25 22:54:16.239  iphone  Ruelle Traversière, Limeil-Brévannes
2 2015-05-09 22:33:38.266  iphone  Ruelle Traversière, Limeil-Brévannes

user: 11=======================

,beg,devid,location
0,2015-04-17 17:11:07.470,17,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-20 19:54:14.470,17,"Rue Quincampoix, Paris"
2,2015-04-21 08:47:31.948,17,"Rue Quincampoix, Paris"
3,2015-04-22 11:24:11.111,17,"Rue Quincampoix, Paris"
4,2015-04-24 09:44:59.259,17,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
5,2015-04-25 05:51:19.612,17,"Rue Quincampoix, Paris"
6,2015-05-04 09:37:01.099,17,"Avenue Paul Vaillant Couturier, Romainville"
7,2015-05-11 11:45:15.140,17,"Rue Martre, Clichy"
8,2015-06-10 10:00:53.475,17,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,2015-06-13 10:51:37.027,17,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
10,2015-06-15 01:04:42.490,17,"Via Cesare Battisti, Bologna"

,devid,end,location
0,17,2015-04-17 17:39:07.356,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,17,2015-04-20 23:06:27.157,"Rue Quincampoix, Paris"
2,17,2015-04-21 08:52:20.546,"Rue Quincampoix, Paris"
3,17,2015-04-22 12:28:43.454,"Rue Quincampoix, Paris"
4,17,2015-04-24 22:17:02.091,"Rue Quincampoix, Paris"
5,17,2015-04-25 08:55:04.123,"Rue Quincampoix, Paris"
6,17,2015-05-04 12:06:58.112,"Rue Martre, Clichy"
7,17,2015-05-11 16:19:43.821,"Rue Quincampoix, Paris"
8,17,2015-06-10 10:22:39.690,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
9,17,2015-06-13 12:58:14.903,"Rue Quincampoix, Paris"
10,17,2015-06-15 01:09:58.196,"Via Cesare Battisti, Bologna"

,Monday beg,device,location
0,2015-04-20 19:54:14.470,android-phone,"Rue Quincampoix, Paris"
1,2015-05-04 09:37:01.099,android-phone,"Avenue Paul Vaillant Couturier, Romainville"
2,2015-05-11 11:45:15.140,android-phone,"Rue Martre, Clichy"
3,2015-06-15 01:04:42.490,android-phone,"Via Cesare Battisti, Bologna"

              Tuesday beg         device                location
0 2015-04-21 08:47:31.948  android-phone  Rue Quincampoix, Paris

,Friday beg,device,location
0,2015-04-17 17:11:07.470,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 09:44:59.259,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

,Wednesday beg,device,location
0,2015-04-22 11:24:11.111,android-phone,"Rue Quincampoix, Paris"
1,2015-06-10 10:00:53.475,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

,Saturday beg,device,location
0,2015-04-25 05:51:19.612,android-phone,"Rue Quincampoix, Paris"
1,2015-06-13 10:51:37.027,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

               Monday end         device                      location
0 2015-04-20 23:06:27.157  android-phone        Rue Quincampoix, Paris
1 2015-05-04 12:06:58.112  android-phone            Rue Martre, Clichy
2 2015-05-11 16:19:43.821  android-phone        Rue Quincampoix, Paris
3 2015-06-15 01:09:58.196  android-phone  Via Cesare Battisti, Bologna

              Tuesday end         device                location
0 2015-04-21 08:52:20.546  android-phone  Rue Quincampoix, Paris

,Friday end,device,location
0,2015-04-17 17:39:07.356,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"
1,2015-04-24 22:17:02.091,android-phone,"Rue Quincampoix, Paris"

,Wednesday end,device,location
0,2015-04-22 12:28:43.454,android-phone,"Rue Quincampoix, Paris"
1,2015-06-10 10:22:39.690,android-phone,"Rue des Prêtres Saint-Germain l'Auxerrois, Paris"

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

             Saturday end         device                location
0 2015-04-25 08:55:04.123  android-phone  Rue Quincampoix, Paris
1 2015-06-13 12:58:14.903  android-phone  Rue Quincampoix, Paris

user: 13=======================

                       beg  devid                    location
0  2015-11-10 10:10:18.909     18   Long Row West, Nottingham
1  2015-11-11 07:01:36.000     20     Midland Way, Nottingham
2  2015-11-12 07:05:08.000     20     Midland Way, Nottingham
3  2015-11-13 07:02:28.000     20     Midland Way, Nottingham
4  2015-11-14 08:59:05.000     20     Midland Way, Nottingham
5  2015-11-15 09:01:46.000     20     Midland Way, Nottingham
6  2015-11-16 07:01:10.000     20     Midland Way, Nottingham
7  2015-11-17 09:33:34.000     20  Nottingham, United Kingdom
8  2015-11-18 07:01:31.000     20     Midland Way, Nottingham
9  2015-11-19 07:01:45.000     20     Midland Way, Nottingham
10 2015-11-20 07:01:50.000     20     Midland Way, Nottingham
11 2015-11-21 08:59:42.000     20     Midland Way, Nottingham
12 2015-11-22 08:58:58.000     20     Midland Way, Nottingham
13 2015-11-23 07:01:13.000     20     Midland Way, Nottingham
14 2015-11-24 07:01:55.000     20     Midland Way, Nottingham
15 2015-11-25 07:00:45.000     20     Midland Way, Nottingham
16 2015-11-26 09:43:31.000     20    Triumph Road, Nottingham
17 2015-11-27 07:02:27.000     20     Midland Way, Nottingham
18 2015-11-28 09:00:18.000     20     Midland Way, Nottingham
19 2015-11-29 09:00:43.000     20     Midland Way, Nottingham
20 2015-11-30 07:01:51.000     20     Midland Way, Nottingham
21 2015-12-01 09:53:32.000     20  Nottingham, United Kingdom
22 2015-12-02 06:59:19.000     20     Midland Way, Nottingham
23 2015-12-03 07:02:47.000     20     Midland Way, Nottingham
24 2015-12-04 10:00:50.000     20  Nottingham, United Kingdom
25 2015-12-05 08:57:20.000     20     Midland Way, Nottingham
26 2015-12-06 08:59:38.000     20     Midland Way, Nottingham
27 2015-12-07 07:03:45.000     20     Midland Way, Nottingham
28 2015-12-08 07:02:12.000     20     Midland Way, Nottingham
29 2015-12-09 07:01:17.000     20     Midland Way, Nottingham
30 2015-12-10 07:02:12.000     20     Midland Way, Nottingham
31 2015-12-11 07:02:29.000     20     Midland Way, Nottingham

    devid                 end                        location
0      20 2015-11-10 18:00:23          East Drive, Nottingham
1      20 2015-11-11 17:39:14        Triumph Road, Nottingham
2      20 2015-11-12 20:22:46  The Arboretum Walk, Nottingham
3      20 2015-11-13 16:09:53        Triumph Road, Nottingham
4      20 2015-11-14 18:57:52         Midland Way, Nottingham
5      20 2015-11-15 18:19:07       Wollaton Road, Nottingham
6      20 2015-11-16 16:56:16        Triumph Road, Nottingham
7      20 2015-11-17 19:20:06      Nottingham, United Kingdom
8      20 2015-11-18 18:18:23        Triumph Road, Nottingham
9      20 2015-11-19 17:13:35        Triumph Road, Nottingham
10     20 2015-11-20 17:32:22        Triumph Road, Nottingham
11     20 2015-11-21 17:51:00           Angel Row, Nottingham
12     20 2015-11-22 17:53:37       Wollaton Road, Nottingham
13     20 2015-11-23 17:35:35        Triumph Road, Nottingham
14     20 2015-11-24 20:42:18      Nottingham, United Kingdom
15     20 2015-11-25 17:07:54      Nottingham, United Kingdom
16     20 2015-11-26 19:18:20      Nottingham, United Kingdom
17     20 2015-11-27 19:42:54         Midland Way, Nottingham
18     20 2015-11-28 17:13:25      Nottingham, United Kingdom
19     20 2015-11-29 14:03:08      Nottingham, United Kingdom
20     20 2015-11-30 16:08:30        Triumph Road, Nottingham
21     20 2015-12-01 19:12:01   Huntingdon Street, Nottingham
22     20 2015-12-02 20:08:55       Wollaton Road, Nottingham
23     20 2015-12-03 18:56:32         Midland Way, Nottingham
24     20 2015-12-04 18:29:05       Talbot Street, Nottingham
25     20 2015-12-05 18:15:55         Midland Way, Nottingham
26     20 2015-12-06 16:22:43         Midland Way, Nottingham
27     20 2015-12-07 18:42:26       Milton Street, Nottingham
28     20 2015-12-08 18:20:26        Triumph Road, Nottingham
29     20 2015-12-09 17:57:38        Triumph Road, Nottingham
30     20 2015-12-10 18:15:29     Canterbury Road, Nottingham
31     20 2015-12-11 10:08:38        Triumph Road, Nottingham

           Monday beg  device                 location
0 2015-11-16 07:01:10  iphone  Midland Way, Nottingham
1 2015-11-23 07:01:13  iphone  Midland Way, Nottingham
2 2015-11-30 07:01:51  iphone  Midland Way, Nottingham
3 2015-12-07 07:03:45  iphone  Midland Way, Nottingham

              Tuesday beg      device                    location
0 2015-11-10 10:10:18.909  windows-pc   Long Row West, Nottingham
1 2015-11-17 09:33:34.000      iphone  Nottingham, United Kingdom
2 2015-11-24 07:01:55.000      iphone     Midland Way, Nottingham
3 2015-12-01 09:53:32.000      iphone  Nottingham, United Kingdom
4 2015-12-08 07:02:12.000      iphone     Midland Way, Nottingham

           Friday beg  device                    location
0 2015-11-13 07:02:28  iphone     Midland Way, Nottingham
1 2015-11-20 07:01:50  iphone     Midland Way, Nottingham
2 2015-11-27 07:02:27  iphone     Midland Way, Nottingham
3 2015-12-04 10:00:50  iphone  Nottingham, United Kingdom
4 2015-12-11 07:02:29  iphone     Midland Way, Nottingham

        Wednesday beg  device                 location
0 2015-11-11 07:01:36  iphone  Midland Way, Nottingham
1 2015-11-18 07:01:31  iphone  Midland Way, Nottingham
2 2015-11-25 07:00:45  iphone  Midland Way, Nottingham
3 2015-12-02 06:59:19  iphone  Midland Way, Nottingham
4 2015-12-09 07:01:17  iphone  Midland Way, Nottingham

         Thursday beg  device                  location
0 2015-11-12 07:05:08  iphone   Midland Way, Nottingham
1 2015-11-19 07:01:45  iphone   Midland Way, Nottingham
2 2015-11-26 09:43:31  iphone  Triumph Road, Nottingham
3 2015-12-03 07:02:47  iphone   Midland Way, Nottingham
4 2015-12-10 07:02:12  iphone   Midland Way, Nottingham

           Sunday beg  device                 location
0 2015-11-15 09:01:46  iphone  Midland Way, Nottingham
1 2015-11-22 08:58:58  iphone  Midland Way, Nottingham
2 2015-11-29 09:00:43  iphone  Midland Way, Nottingham
3 2015-12-06 08:59:38  iphone  Midland Way, Nottingham

         Saturday beg  device                 location
0 2015-11-14 08:59:05  iphone  Midland Way, Nottingham
1 2015-11-21 08:59:42  iphone  Midland Way, Nottingham
2 2015-11-28 09:00:18  iphone  Midland Way, Nottingham
3 2015-12-05 08:57:20  iphone  Midland Way, Nottingham

           Monday end  device                   location
0 2015-11-16 16:56:16  iphone   Triumph Road, Nottingham
1 2015-11-23 17:35:35  iphone   Triumph Road, Nottingham
2 2015-11-30 16:08:30  iphone   Triumph Road, Nottingham
3 2015-12-07 18:42:26  iphone  Milton Street, Nottingham

          Tuesday end  device                       location
0 2015-11-10 18:00:23  iphone         East Drive, Nottingham
1 2015-11-17 19:20:06  iphone     Nottingham, United Kingdom
2 2015-11-24 20:42:18  iphone     Nottingham, United Kingdom
3 2015-12-01 19:12:01  iphone  Huntingdon Street, Nottingham
4 2015-12-08 18:20:26  iphone       Triumph Road, Nottingham

           Friday end  device                   location
0 2015-11-13 16:09:53  iphone   Triumph Road, Nottingham
1 2015-11-20 17:32:22  iphone   Triumph Road, Nottingham
2 2015-11-27 19:42:54  iphone    Midland Way, Nottingham
3 2015-12-04 18:29:05  iphone  Talbot Street, Nottingham
4 2015-12-11 10:08:38  iphone   Triumph Road, Nottingham

        Wednesday end  device                    location
0 2015-11-11 17:39:14  iphone    Triumph Road, Nottingham
1 2015-11-18 18:18:23  iphone    Triumph Road, Nottingham
2 2015-11-25 17:07:54  iphone  Nottingham, United Kingdom
3 2015-12-02 20:08:55  iphone   Wollaton Road, Nottingham
4 2015-12-09 17:57:38  iphone    Triumph Road, Nottingham

         Thursday end  device                        location
0 2015-11-12 20:22:46  iphone  The Arboretum Walk, Nottingham
1 2015-11-19 17:13:35  iphone        Triumph Road, Nottingham
2 2015-11-26 19:18:20  iphone      Nottingham, United Kingdom
3 2015-12-03 18:56:32  iphone         Midland Way, Nottingham
4 2015-12-10 18:15:29  iphone     Canterbury Road, Nottingham

           Sunday end  device                    location
0 2015-11-15 18:19:07  iphone   Wollaton Road, Nottingham
1 2015-11-22 17:53:37  iphone   Wollaton Road, Nottingham
2 2015-11-29 14:03:08  iphone  Nottingham, United Kingdom
3 2015-12-06 16:22:43  iphone     Midland Way, Nottingham

         Saturday end  device                    location
0 2015-11-14 18:57:52  iphone     Midland Way, Nottingham
1 2015-11-21 17:51:00  iphone       Angel Row, Nottingham
2 2015-11-28 17:13:25  iphone  Nottingham, United Kingdom
3 2015-12-05 18:15:55  iphone     Midland Way, Nottingham

                       beg  devid                    location
0  2015-11-10 10:10:18.909     18   Long Row West, Nottingham
1  2015-11-11 07:01:36.000     20     Midland Way, Nottingham
2  2015-11-12 07:05:08.000     20     Midland Way, Nottingham
3  2015-11-13 07:02:28.000     20     Midland Way, Nottingham
4  2015-11-14 08:59:05.000     20     Midland Way, Nottingham
5  2015-11-15 09:01:46.000     20     Midland Way, Nottingham
6  2015-11-16 07:01:10.000     20     Midland Way, Nottingham
7  2015-11-17 09:33:34.000     20  Nottingham, United Kingdom
8  2015-11-18 07:01:31.000     20     Midland Way, Nottingham
9  2015-11-19 07:01:45.000     20     Midland Way, Nottingham
10 2015-11-20 07:01:50.000     20     Midland Way, Nottingham
11 2015-11-21 08:59:42.000     20     Midland Way, Nottingham
12 2015-11-22 08:58:58.000     20     Midland Way, Nottingham
13 2015-11-23 07:01:13.000     20     Midland Way, Nottingham
14 2015-11-24 07:01:55.000     20     Midland Way, Nottingham
15 2015-11-25 07:00:45.000     20     Midland Way, Nottingham
16 2015-11-26 09:43:31.000     20    Triumph Road, Nottingham
17 2015-11-27 07:02:27.000     20     Midland Way, Nottingham
18 2015-11-28 09:00:18.000     20     Midland Way, Nottingham
19 2015-11-29 09:00:43.000     20     Midland Way, Nottingham
20 2015-11-30 07:01:51.000     20     Midland Way, Nottingham
21 2015-12-01 09:53:32.000     20  Nottingham, United Kingdom
22 2015-12-02 06:59:19.000     20     Midland Way, Nottingham
23 2015-12-03 07:02:47.000     20     Midland Way, Nottingham
24 2015-12-04 10:00:50.000     20  Nottingham, United Kingdom
25 2015-12-05 08:57:20.000     20     Midland Way, Nottingham
26 2015-12-06 08:59:38.000     20     Midland Way, Nottingham
27 2015-12-07 07:03:45.000     20     Midland Way, Nottingham
28 2015-12-08 07:02:12.000     20     Midland Way, Nottingham
29 2015-12-09 07:01:17.000     20     Midland Way, Nottingham
30 2015-12-10 07:02:12.000     20     Midland Way, Nottingham
31 2015-12-11 07:02:29.000     20     Midland Way, Nottingham

    devid                 end                        location
0      20 2015-11-10 18:00:23          East Drive, Nottingham
1      20 2015-11-11 17:39:14        Triumph Road, Nottingham
2      20 2015-11-12 20:22:46  The Arboretum Walk, Nottingham
3      20 2015-11-13 16:09:53        Triumph Road, Nottingham
4      20 2015-11-14 18:57:52         Midland Way, Nottingham
5      20 2015-11-15 18:19:07       Wollaton Road, Nottingham
6      20 2015-11-16 16:56:16        Triumph Road, Nottingham
7      20 2015-11-17 19:20:06      Nottingham, United Kingdom
8      20 2015-11-18 18:18:23        Triumph Road, Nottingham
9      20 2015-11-19 17:13:35        Triumph Road, Nottingham
10     20 2015-11-20 17:32:22        Triumph Road, Nottingham
11     20 2015-11-21 17:51:00           Angel Row, Nottingham
12     20 2015-11-22 17:53:37       Wollaton Road, Nottingham
13     20 2015-11-23 17:35:35        Triumph Road, Nottingham
14     20 2015-11-24 20:42:18      Nottingham, United Kingdom
15     20 2015-11-25 17:07:54      Nottingham, United Kingdom
16     20 2015-11-26 19:18:20      Nottingham, United Kingdom
17     20 2015-11-27 19:42:54         Midland Way, Nottingham
18     20 2015-11-28 17:13:25      Nottingham, United Kingdom
19     20 2015-11-29 14:03:08      Nottingham, United Kingdom
20     20 2015-11-30 16:08:30        Triumph Road, Nottingham
21     20 2015-12-01 19:12:01   Huntingdon Street, Nottingham
22     20 2015-12-02 20:08:55       Wollaton Road, Nottingham
23     20 2015-12-03 18:56:32         Midland Way, Nottingham
24     20 2015-12-04 18:29:05       Talbot Street, Nottingham
25     20 2015-12-05 18:15:55         Midland Way, Nottingham
26     20 2015-12-06 16:22:43         Midland Way, Nottingham
27     20 2015-12-07 18:42:26       Milton Street, Nottingham
28     20 2015-12-08 18:20:26        Triumph Road, Nottingham
29     20 2015-12-09 17:57:38        Triumph Road, Nottingham
30     20 2015-12-10 18:15:29     Canterbury Road, Nottingham
31     20 2015-12-11 10:08:38        Triumph Road, Nottingham

           Monday beg  device                 location
0 2015-11-16 07:01:10  iphone  Midland Way, Nottingham
1 2015-11-23 07:01:13  iphone  Midland Way, Nottingham
2 2015-11-30 07:01:51  iphone  Midland Way, Nottingham
3 2015-12-07 07:03:45  iphone  Midland Way, Nottingham

              Tuesday beg      device                    location
0 2015-11-10 10:10:18.909  windows-pc   Long Row West, Nottingham
1 2015-11-17 09:33:34.000      iphone  Nottingham, United Kingdom
2 2015-11-24 07:01:55.000      iphone     Midland Way, Nottingham
3 2015-12-01 09:53:32.000      iphone  Nottingham, United Kingdom
4 2015-12-08 07:02:12.000      iphone     Midland Way, Nottingham

           Friday beg  device                    location
0 2015-11-13 07:02:28  iphone     Midland Way, Nottingham
1 2015-11-20 07:01:50  iphone     Midland Way, Nottingham
2 2015-11-27 07:02:27  iphone     Midland Way, Nottingham
3 2015-12-04 10:00:50  iphone  Nottingham, United Kingdom
4 2015-12-11 07:02:29  iphone     Midland Way, Nottingham

        Wednesday beg  device                 location
0 2015-11-11 07:01:36  iphone  Midland Way, Nottingham
1 2015-11-18 07:01:31  iphone  Midland Way, Nottingham
2 2015-11-25 07:00:45  iphone  Midland Way, Nottingham
3 2015-12-02 06:59:19  iphone  Midland Way, Nottingham
4 2015-12-09 07:01:17  iphone  Midland Way, Nottingham

         Thursday beg  device                  location
0 2015-11-12 07:05:08  iphone   Midland Way, Nottingham
1 2015-11-19 07:01:45  iphone   Midland Way, Nottingham
2 2015-11-26 09:43:31  iphone  Triumph Road, Nottingham
3 2015-12-03 07:02:47  iphone   Midland Way, Nottingham
4 2015-12-10 07:02:12  iphone   Midland Way, Nottingham

           Sunday beg  device                 location
0 2015-11-15 09:01:46  iphone  Midland Way, Nottingham
1 2015-11-22 08:58:58  iphone  Midland Way, Nottingham
2 2015-11-29 09:00:43  iphone  Midland Way, Nottingham
3 2015-12-06 08:59:38  iphone  Midland Way, Nottingham

         Saturday beg  device                 location
0 2015-11-14 08:59:05  iphone  Midland Way, Nottingham
1 2015-11-21 08:59:42  iphone  Midland Way, Nottingham
2 2015-11-28 09:00:18  iphone  Midland Way, Nottingham
3 2015-12-05 08:57:20  iphone  Midland Way, Nottingham

           Monday end  device                   location
0 2015-11-16 16:56:16  iphone   Triumph Road, Nottingham
1 2015-11-23 17:35:35  iphone   Triumph Road, Nottingham
2 2015-11-30 16:08:30  iphone   Triumph Road, Nottingham
3 2015-12-07 18:42:26  iphone  Milton Street, Nottingham

          Tuesday end  device                       location
0 2015-11-10 18:00:23  iphone         East Drive, Nottingham
1 2015-11-17 19:20:06  iphone     Nottingham, United Kingdom
2 2015-11-24 20:42:18  iphone     Nottingham, United Kingdom
3 2015-12-01 19:12:01  iphone  Huntingdon Street, Nottingham
4 2015-12-08 18:20:26  iphone       Triumph Road, Nottingham

           Friday end  device                   location
0 2015-11-13 16:09:53  iphone   Triumph Road, Nottingham
1 2015-11-20 17:32:22  iphone   Triumph Road, Nottingham
2 2015-11-27 19:42:54  iphone    Midland Way, Nottingham
3 2015-12-04 18:29:05  iphone  Talbot Street, Nottingham
4 2015-12-11 10:08:38  iphone   Triumph Road, Nottingham

        Wednesday end  device                    location
0 2015-11-11 17:39:14  iphone    Triumph Road, Nottingham
1 2015-11-18 18:18:23  iphone    Triumph Road, Nottingham
2 2015-11-25 17:07:54  iphone  Nottingham, United Kingdom
3 2015-12-02 20:08:55  iphone   Wollaton Road, Nottingham
4 2015-12-09 17:57:38  iphone    Triumph Road, Nottingham

         Thursday end  device                        location
0 2015-11-12 20:22:46  iphone  The Arboretum Walk, Nottingham
1 2015-11-19 17:13:35  iphone        Triumph Road, Nottingham
2 2015-11-26 19:18:20  iphone      Nottingham, United Kingdom
3 2015-12-03 18:56:32  iphone         Midland Way, Nottingham
4 2015-12-10 18:15:29  iphone     Canterbury Road, Nottingham

           Sunday end  device                    location
0 2015-11-15 18:19:07  iphone   Wollaton Road, Nottingham
1 2015-11-22 17:53:37  iphone   Wollaton Road, Nottingham
2 2015-11-29 14:03:08  iphone  Nottingham, United Kingdom
3 2015-12-06 16:22:43  iphone     Midland Way, Nottingham

         Saturday end  device                    location
0 2015-11-14 18:57:52  iphone     Midland Way, Nottingham
1 2015-11-21 17:51:00  iphone       Angel Row, Nottingham
2 2015-11-28 17:13:25  iphone  Nottingham, United Kingdom
3 2015-12-05 18:15:55  iphone     Midland Way, Nottingham

                       beg  devid                    location
0  2015-11-10 10:10:18.909     18   Long Row West, Nottingham
1  2015-11-11 07:01:36.000     20     Midland Way, Nottingham
2  2015-11-12 07:05:08.000     20     Midland Way, Nottingham
3  2015-11-13 07:02:28.000     20     Midland Way, Nottingham
4  2015-11-14 08:59:05.000     20     Midland Way, Nottingham
5  2015-11-15 09:01:46.000     20     Midland Way, Nottingham
6  2015-11-16 07:01:10.000     20     Midland Way, Nottingham
7  2015-11-17 09:33:34.000     20  Nottingham, United Kingdom
8  2015-11-18 07:01:31.000     20     Midland Way, Nottingham
9  2015-11-19 07:01:45.000     20     Midland Way, Nottingham
10 2015-11-20 07:01:50.000     20     Midland Way, Nottingham
11 2015-11-21 08:59:42.000     20     Midland Way, Nottingham
12 2015-11-22 08:58:58.000     20     Midland Way, Nottingham
13 2015-11-23 07:01:13.000     20     Midland Way, Nottingham
14 2015-11-24 07:01:55.000     20     Midland Way, Nottingham
15 2015-11-25 07:00:45.000     20     Midland Way, Nottingham
16 2015-11-26 09:43:31.000     20    Triumph Road, Nottingham
17 2015-11-27 07:02:27.000     20     Midland Way, Nottingham
18 2015-11-28 09:00:18.000     20     Midland Way, Nottingham
19 2015-11-29 09:00:43.000     20     Midland Way, Nottingham
20 2015-11-30 07:01:51.000     20     Midland Way, Nottingham
21 2015-12-01 09:53:32.000     20  Nottingham, United Kingdom
22 2015-12-02 06:59:19.000     20     Midland Way, Nottingham
23 2015-12-03 07:02:47.000     20     Midland Way, Nottingham
24 2015-12-04 10:00:50.000     20  Nottingham, United Kingdom
25 2015-12-05 08:57:20.000     20     Midland Way, Nottingham
26 2015-12-06 08:59:38.000     20     Midland Way, Nottingham
27 2015-12-07 07:03:45.000     20     Midland Way, Nottingham
28 2015-12-08 07:02:12.000     20     Midland Way, Nottingham
29 2015-12-09 07:01:17.000     20     Midland Way, Nottingham
30 2015-12-10 07:02:12.000     20     Midland Way, Nottingham
31 2015-12-11 07:02:29.000     20     Midland Way, Nottingham

    devid                 end                        location
0      20 2015-11-10 18:00:23          East Drive, Nottingham
1      20 2015-11-11 17:39:14        Triumph Road, Nottingham
2      20 2015-11-12 20:22:46  The Arboretum Walk, Nottingham
3      20 2015-11-13 16:09:53        Triumph Road, Nottingham
4      20 2015-11-14 18:57:52         Midland Way, Nottingham
5      20 2015-11-15 18:19:07       Wollaton Road, Nottingham
6      20 2015-11-16 16:56:16        Triumph Road, Nottingham
7      20 2015-11-17 19:20:06      Nottingham, United Kingdom
8      20 2015-11-18 18:18:23        Triumph Road, Nottingham
9      20 2015-11-19 17:13:35        Triumph Road, Nottingham
10     20 2015-11-20 17:32:22        Triumph Road, Nottingham
11     20 2015-11-21 17:51:00           Angel Row, Nottingham
12     20 2015-11-22 17:53:37       Wollaton Road, Nottingham
13     20 2015-11-23 17:35:35        Triumph Road, Nottingham
14     20 2015-11-24 20:42:18      Nottingham, United Kingdom
15     20 2015-11-25 17:07:54      Nottingham, United Kingdom
16     20 2015-11-26 19:18:20      Nottingham, United Kingdom
17     20 2015-11-27 19:42:54         Midland Way, Nottingham
18     20 2015-11-28 17:13:25      Nottingham, United Kingdom
19     20 2015-11-29 14:03:08      Nottingham, United Kingdom
20     20 2015-11-30 16:08:30        Triumph Road, Nottingham
21     20 2015-12-01 19:12:01   Huntingdon Street, Nottingham
22     20 2015-12-02 20:08:55       Wollaton Road, Nottingham
23     20 2015-12-03 18:56:32         Midland Way, Nottingham
24     20 2015-12-04 18:29:05       Talbot Street, Nottingham
25     20 2015-12-05 18:15:55         Midland Way, Nottingham
26     20 2015-12-06 16:22:43         Midland Way, Nottingham
27     20 2015-12-07 18:42:26       Milton Street, Nottingham
28     20 2015-12-08 18:20:26        Triumph Road, Nottingham
29     20 2015-12-09 17:57:38        Triumph Road, Nottingham
30     20 2015-12-10 18:15:29     Canterbury Road, Nottingham
31     20 2015-12-11 10:08:38        Triumph Road, Nottingham

           Monday beg  device                 location
0 2015-11-16 07:01:10  iphone  Midland Way, Nottingham
1 2015-11-23 07:01:13  iphone  Midland Way, Nottingham
2 2015-11-30 07:01:51  iphone  Midland Way, Nottingham
3 2015-12-07 07:03:45  iphone  Midland Way, Nottingham

              Tuesday beg      device                    location
0 2015-11-10 10:10:18.909  windows-pc   Long Row West, Nottingham
1 2015-11-17 09:33:34.000      iphone  Nottingham, United Kingdom
2 2015-11-24 07:01:55.000      iphone     Midland Way, Nottingham
3 2015-12-01 09:53:32.000      iphone  Nottingham, United Kingdom
4 2015-12-08 07:02:12.000      iphone     Midland Way, Nottingham

           Friday beg  device                    location
0 2015-11-13 07:02:28  iphone     Midland Way, Nottingham
1 2015-11-20 07:01:50  iphone     Midland Way, Nottingham
2 2015-11-27 07:02:27  iphone     Midland Way, Nottingham
3 2015-12-04 10:00:50  iphone  Nottingham, United Kingdom
4 2015-12-11 07:02:29  iphone     Midland Way, Nottingham

        Wednesday beg  device                 location
0 2015-11-11 07:01:36  iphone  Midland Way, Nottingham
1 2015-11-18 07:01:31  iphone  Midland Way, Nottingham
2 2015-11-25 07:00:45  iphone  Midland Way, Nottingham
3 2015-12-02 06:59:19  iphone  Midland Way, Nottingham
4 2015-12-09 07:01:17  iphone  Midland Way, Nottingham

         Thursday beg  device                  location
0 2015-11-12 07:05:08  iphone   Midland Way, Nottingham
1 2015-11-19 07:01:45  iphone   Midland Way, Nottingham
2 2015-11-26 09:43:31  iphone  Triumph Road, Nottingham
3 2015-12-03 07:02:47  iphone   Midland Way, Nottingham
4 2015-12-10 07:02:12  iphone   Midland Way, Nottingham

           Sunday beg  device                 location
0 2015-11-15 09:01:46  iphone  Midland Way, Nottingham
1 2015-11-22 08:58:58  iphone  Midland Way, Nottingham
2 2015-11-29 09:00:43  iphone  Midland Way, Nottingham
3 2015-12-06 08:59:38  iphone  Midland Way, Nottingham

         Saturday beg  device                 location
0 2015-11-14 08:59:05  iphone  Midland Way, Nottingham
1 2015-11-21 08:59:42  iphone  Midland Way, Nottingham
2 2015-11-28 09:00:18  iphone  Midland Way, Nottingham
3 2015-12-05 08:57:20  iphone  Midland Way, Nottingham

           Monday end  device                   location
0 2015-11-16 16:56:16  iphone   Triumph Road, Nottingham
1 2015-11-23 17:35:35  iphone   Triumph Road, Nottingham
2 2015-11-30 16:08:30  iphone   Triumph Road, Nottingham
3 2015-12-07 18:42:26  iphone  Milton Street, Nottingham

          Tuesday end  device                       location
0 2015-11-10 18:00:23  iphone         East Drive, Nottingham
1 2015-11-17 19:20:06  iphone     Nottingham, United Kingdom
2 2015-11-24 20:42:18  iphone     Nottingham, United Kingdom
3 2015-12-01 19:12:01  iphone  Huntingdon Street, Nottingham
4 2015-12-08 18:20:26  iphone       Triumph Road, Nottingham

           Friday end  device                   location
0 2015-11-13 16:09:53  iphone   Triumph Road, Nottingham
1 2015-11-20 17:32:22  iphone   Triumph Road, Nottingham
2 2015-11-27 19:42:54  iphone    Midland Way, Nottingham
3 2015-12-04 18:29:05  iphone  Talbot Street, Nottingham
4 2015-12-11 10:08:38  iphone   Triumph Road, Nottingham

        Wednesday end  device                    location
0 2015-11-11 17:39:14  iphone    Triumph Road, Nottingham
1 2015-11-18 18:18:23  iphone    Triumph Road, Nottingham
2 2015-11-25 17:07:54  iphone  Nottingham, United Kingdom
3 2015-12-02 20:08:55  iphone   Wollaton Road, Nottingham
4 2015-12-09 17:57:38  iphone    Triumph Road, Nottingham

         Thursday end  device                        location
0 2015-11-12 20:22:46  iphone  The Arboretum Walk, Nottingham
1 2015-11-19 17:13:35  iphone        Triumph Road, Nottingham
2 2015-11-26 19:18:20  iphone      Nottingham, United Kingdom
3 2015-12-03 18:56:32  iphone         Midland Way, Nottingham
4 2015-12-10 18:15:29  iphone     Canterbury Road, Nottingham

           Sunday end  device                    location
0 2015-11-15 18:19:07  iphone   Wollaton Road, Nottingham
1 2015-11-22 17:53:37  iphone   Wollaton Road, Nottingham
2 2015-11-29 14:03:08  iphone  Nottingham, United Kingdom
3 2015-12-06 16:22:43  iphone     Midland Way, Nottingham

         Saturday end  device                    location
0 2015-11-14 18:57:52  iphone     Midland Way, Nottingham
1 2015-11-21 17:51:00  iphone       Angel Row, Nottingham
2 2015-11-28 17:13:25  iphone  Nottingham, United Kingdom
3 2015-12-05 18:15:55  iphone     Midland Way, Nottingham

user: 14=======================

                      beg  devid                    location
0 2015-11-11 11:22:16.361     21   Long Row West, Nottingham
1 2015-11-13 17:04:12.256     21   Long Row West, Nottingham
2 2015-11-14 14:27:34.992     21   Long Row West, Nottingham
3 2015-11-16 13:14:05.350     21  Halls Lane, United Kingdom
4 2015-11-17 21:56:58.844     21  Halls Lane, United Kingdom
5 2015-11-19 10:48:55.420     21  Halls Lane, United Kingdom
6 2015-11-20 17:35:51.523     21  Halls Lane, United Kingdom
7 2015-11-21 14:31:11.064     21  Halls Lane, United Kingdom
8 2015-11-23 20:02:33.528     21  Halls Lane, United Kingdom
9 2015-11-25 09:56:00.180     21  Halls Lane, United Kingdom

   devid                     end                    location
0     21 2015-11-11 12:34:49.339   Long Row West, Nottingham
1     21 2015-11-13 17:09:12.256   Long Row West, Nottingham
2     21 2015-11-14 23:21:00.877   Long Row West, Nottingham
3     21 2015-11-16 13:19:05.350  Halls Lane, United Kingdom
4     21 2015-11-17 22:01:58.844  Halls Lane, United Kingdom
5     21 2015-11-19 10:53:55.420  Halls Lane, United Kingdom
6     21 2015-11-20 17:40:51.523  Halls Lane, United Kingdom
7     21 2015-11-21 14:36:11.064  Halls Lane, United Kingdom
8     21 2015-11-23 20:07:33.528  Halls Lane, United Kingdom
9     21 2015-11-25 10:01:00.180  Halls Lane, United Kingdom

               Monday beg      device                    location
0 2015-11-16 13:14:05.350  windows-pc  Halls Lane, United Kingdom
1 2015-11-23 20:02:33.528  windows-pc  Halls Lane, United Kingdom

              Tuesday beg      device                    location
0 2015-11-17 21:56:58.844  windows-pc  Halls Lane, United Kingdom

               Friday beg      device                    location
0 2015-11-13 17:04:12.256  windows-pc   Long Row West, Nottingham
1 2015-11-20 17:35:51.523  windows-pc  Halls Lane, United Kingdom

            Wednesday beg      device                    location
0 2015-11-11 11:22:16.361  windows-pc   Long Row West, Nottingham
1 2015-11-25 09:56:00.180  windows-pc  Halls Lane, United Kingdom

             Thursday beg      device                    location
0 2015-11-19 10:48:55.420  windows-pc  Halls Lane, United Kingdom

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

             Saturday beg      device                    location
0 2015-11-14 14:27:34.992  windows-pc   Long Row West, Nottingham
1 2015-11-21 14:31:11.064  windows-pc  Halls Lane, United Kingdom

               Monday end      device                    location
0 2015-11-16 13:19:05.350  windows-pc  Halls Lane, United Kingdom
1 2015-11-23 20:07:33.528  windows-pc  Halls Lane, United Kingdom

              Tuesday end      device                    location
0 2015-11-17 22:01:58.844  windows-pc  Halls Lane, United Kingdom

               Friday end      device                    location
0 2015-11-13 17:09:12.256  windows-pc   Long Row West, Nottingham
1 2015-11-20 17:40:51.523  windows-pc  Halls Lane, United Kingdom

            Wednesday end      device                    location
0 2015-11-11 12:34:49.339  windows-pc   Long Row West, Nottingham
1 2015-11-25 10:01:00.180  windows-pc  Halls Lane, United Kingdom

             Thursday end      device                    location
0 2015-11-19 10:53:55.420  windows-pc  Halls Lane, United Kingdom

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

             Saturday end      device                    location
0 2015-11-14 23:21:00.877  windows-pc   Long Row West, Nottingham
1 2015-11-21 14:36:11.064  windows-pc  Halls Lane, United Kingdom

                      beg  devid                    location
0 2015-11-11 11:22:16.361     21   Long Row West, Nottingham
1 2015-11-13 17:04:12.256     21   Long Row West, Nottingham
2 2015-11-14 14:27:34.992     21   Long Row West, Nottingham
3 2015-11-16 13:14:05.350     21  Halls Lane, United Kingdom
4 2015-11-17 21:56:58.844     21  Halls Lane, United Kingdom
5 2015-11-19 10:48:55.420     21  Halls Lane, United Kingdom
6 2015-11-20 17:35:51.523     21  Halls Lane, United Kingdom
7 2015-11-21 14:31:11.064     21  Halls Lane, United Kingdom
8 2015-11-23 20:02:33.528     21  Halls Lane, United Kingdom
9 2015-11-25 09:56:00.180     21  Halls Lane, United Kingdom

   devid                     end                    location
0     21 2015-11-11 12:34:49.339   Long Row West, Nottingham
1     21 2015-11-13 17:09:12.256   Long Row West, Nottingham
2     21 2015-11-14 23:21:00.877   Long Row West, Nottingham
3     21 2015-11-16 13:19:05.350  Halls Lane, United Kingdom
4     21 2015-11-17 22:01:58.844  Halls Lane, United Kingdom
5     21 2015-11-19 10:53:55.420  Halls Lane, United Kingdom
6     21 2015-11-20 17:40:51.523  Halls Lane, United Kingdom
7     21 2015-11-21 14:36:11.064  Halls Lane, United Kingdom
8     21 2015-11-23 20:07:33.528  Halls Lane, United Kingdom
9     21 2015-11-25 10:01:00.180  Halls Lane, United Kingdom

               Monday beg      device                    location
0 2015-11-16 13:14:05.350  windows-pc  Halls Lane, United Kingdom
1 2015-11-23 20:02:33.528  windows-pc  Halls Lane, United Kingdom

              Tuesday beg      device                    location
0 2015-11-17 21:56:58.844  windows-pc  Halls Lane, United Kingdom

               Friday beg      device                    location
0 2015-11-13 17:04:12.256  windows-pc   Long Row West, Nottingham
1 2015-11-20 17:35:51.523  windows-pc  Halls Lane, United Kingdom

            Wednesday beg      device                    location
0 2015-11-11 11:22:16.361  windows-pc   Long Row West, Nottingham
1 2015-11-25 09:56:00.180  windows-pc  Halls Lane, United Kingdom

             Thursday beg      device                    location
0 2015-11-19 10:48:55.420  windows-pc  Halls Lane, United Kingdom

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

             Saturday beg      device                    location
0 2015-11-14 14:27:34.992  windows-pc   Long Row West, Nottingham
1 2015-11-21 14:31:11.064  windows-pc  Halls Lane, United Kingdom

               Monday end      device                    location
0 2015-11-16 13:19:05.350  windows-pc  Halls Lane, United Kingdom
1 2015-11-23 20:07:33.528  windows-pc  Halls Lane, United Kingdom

              Tuesday end      device                    location
0 2015-11-17 22:01:58.844  windows-pc  Halls Lane, United Kingdom

               Friday end      device                    location
0 2015-11-13 17:09:12.256  windows-pc   Long Row West, Nottingham
1 2015-11-20 17:40:51.523  windows-pc  Halls Lane, United Kingdom

            Wednesday end      device                    location
0 2015-11-11 12:34:49.339  windows-pc   Long Row West, Nottingham
1 2015-11-25 10:01:00.180  windows-pc  Halls Lane, United Kingdom

             Thursday end      device                    location
0 2015-11-19 10:53:55.420  windows-pc  Halls Lane, United Kingdom

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

             Saturday end      device                    location
0 2015-11-14 23:21:00.877  windows-pc   Long Row West, Nottingham
1 2015-11-21 14:36:11.064  windows-pc  Halls Lane, United Kingdom

user: 15=======================

                       beg  devid                                   location
0  2015-11-11 15:16:06.979     23                      Market Street, Heanor
1  2015-11-12 07:48:46.067     23                      Market Street, Heanor
2  2015-11-13 08:59:36.926     23                      Market Street, Heanor
3  2015-11-14 10:19:39.775     23                      Market Street, Heanor
4  2015-11-15 07:55:07.000     24                    Aspley Lane, Nottingham
5  2015-11-16 09:44:50.265     23                      Market Street, Heanor
6  2015-11-17 09:39:04.000     24                   Beeston Lane, Nottingham
7  2015-11-18 09:44:07.000     24              Lenton Hall Drive, Nottingham
8  2015-11-19 09:01:56.356     23                      Market Street, Heanor
9  2015-11-20 12:38:53.000     24               Fulwood Crescent, Nottingham
10 2015-11-21 11:44:20.000     24               Fulwood Crescent, Nottingham
11 2015-11-22 07:32:40.194     23                      Storey's Gate, London
12 2015-11-23 08:21:10.838     23                      Storey's Gate, London
13 2015-11-24 10:12:26.000     24               Fulwood Crescent, Nottingham
14 2015-11-25 10:27:44.662     23                      Storey's Gate, London
15 2015-11-26 15:11:15.162     23                      Storey's Gate, London
16 2015-11-27 09:51:29.000     24               Fulwood Crescent, Nottingham
17 2015-11-28 15:12:05.000     24                    Aspley Lane, Nottingham
18 2015-11-29 07:56:53.000     24                    Aspley Lane, Nottingham
19 2015-11-30 09:05:24.000     24               Fulwood Crescent, Nottingham
20 2015-12-01 10:00:09.000     24                Kingsbury Drive, Nottingham
21 2015-12-02 15:37:04.000     24                 Sherborne Road, Nottingham
22 2015-12-03 09:16:55.000     24                Kingsbury Drive, Nottingham
23 2015-12-04 14:59:56.000     24                    Aspley Lane, Nottingham
24 2015-12-05 16:21:03.000     24                    Main Street, Nottingham
25 2015-12-06 07:54:22.000     24                    Aspley Lane, Nottingham
26 2015-12-07 20:25:22.000     24                           Home, Nottingham
27 2015-12-08 09:50:48.000     24                           Home, Nottingham
28 2015-12-09 09:07:17.000     24                         Beacon, Nottingham
29 2015-12-10 10:23:38.000     24                  Keighton Hill, Nottingham
..                     ...    ...                                        ...
52 2016-01-06 19:47:26.000     24                           Work, Nottingham
53 2016-01-07 16:27:31.000     24                           Home, Nottingham
54 2016-01-08 10:39:25.000     24                    Aspley Lane, Nottingham
55 2016-01-11 11:24:07.000     24                           Home, Nottingham
56 2016-01-12 10:33:59.000     24                 Nottingham, United Kingdom
57 2016-01-13 11:25:24.000     24                           Home, Nottingham
58 2016-01-14 09:54:43.000     24                  Freind house , Nottingham
59 2016-01-15 21:17:47.000     24                           Home, Nottingham
60 2016-01-16 20:24:57.000     24                  Freind house , Nottingham
61 2016-01-17 07:56:35.000     24                           Home, Nottingham
62 2016-01-18 12:55:55.000     24                    Aspley Lane, Nottingham
63 2016-01-19 09:47:59.000     24                           Home, Nottingham
64 2016-01-20 10:29:09.000     24                    Aspley Lane, Nottingham
65 2016-01-21 17:50:57.000     24                           Work, Nottingham
66 2016-01-22 15:45:01.000     24                 Nottingham, United Kingdom
67 2016-01-23 15:36:06.000     24                Electric Avenue, Nottingham
68 2016-01-24 07:56:43.000     24                           Work, Nottingham
69 2016-01-25 11:15:34.000     24                    Aspley Lane, Nottingham
70 2016-01-26 09:45:09.000     24                           Home, Nottingham
71 2016-01-27 16:28:47.000     24                           Home, Nottingham
72 2016-01-28 14:24:38.000     24                           Home, Nottingham
73 2016-01-29 09:39:04.000     24                  Amersham Rise, Nottingham
74 2016-01-30 13:57:47.000     24  Bulwell Tesco Extra New Store, Nottingham
75 2016-02-01 12:08:28.000     24                           Home, Nottingham
76 2016-02-02 10:48:18.000     24                    Aspley Lane, Nottingham
77 2016-02-03 16:27:03.000     24                           Home, Nottingham
78 2016-02-04 16:21:46.000     24                           Work, Nottingham
79 2016-02-05 16:23:57.000     24                           Home, Nottingham
80 2016-02-06 09:42:27.000     24                  Talbot Street, Nottingham
81 2016-01-01 03:31:51.000     24                           Home, Nottingham

[82 rows x 3 columns]

    devid                     end                                   location
0      24 2015-11-11 19:53:07.000                    Aspley Lane, Nottingham
1      24 2015-11-12 23:07:24.000                    Aspley Lane, Nottingham
2      23 2015-11-13 22:30:03.139                      Market Street, Heanor
3      23 2015-11-14 22:39:48.105                      Market Street, Heanor
4      23 2015-11-15 21:29:16.160                      Market Street, Heanor
5      24 2015-11-16 21:22:16.000               Fulwood Crescent, Nottingham
6      24 2015-11-17 23:19:03.000               Fulwood Crescent, Nottingham
7      24 2015-11-18 23:03:16.000                  Amersham Rise, Nottingham
8      23 2015-11-19 23:58:00.165                      Market Street, Heanor
9      23 2015-11-20 22:48:42.307                      Market Street, Heanor
10     24 2015-11-21 20:59:21.000               Fulwood Crescent, Nottingham
11     23 2015-11-22 18:47:14.765                      Storey's Gate, London
12     24 2015-11-23 23:56:56.000                     Derby Road, Nottingham
13     23 2015-11-24 21:47:45.430                      Storey's Gate, London
14     23 2015-11-25 23:53:40.783                      Storey's Gate, London
15     23 2015-11-26 15:16:15.162                      Storey's Gate, London
16     24 2015-11-27 22:39:24.000                    Aspley Lane, Nottingham
17     24 2015-11-28 23:13:58.000                 Nottingham, United Kingdom
18     24 2015-11-29 13:15:01.000                    Aspley Lane, Nottingham
19     24 2015-11-30 15:40:57.000                    Aspley Lane, Nottingham
20     24 2015-12-01 23:16:50.000                    Aspley Lane, Nottingham
21     24 2015-12-02 21:36:09.000               Fulwood Crescent, Nottingham
22     24 2015-12-03 16:59:45.000              Lenton Hall Drive, Nottingham
23     24 2015-12-04 15:02:10.000                    Aspley Lane, Nottingham
24     24 2015-12-05 18:08:14.000                    Aspley Lane, Nottingham
25     24 2015-12-06 17:18:01.000               Fulwood Crescent, Nottingham
26     24 2015-12-07 20:25:21.000               Fulwood Crescent, Nottingham
27     24 2015-12-08 19:48:10.000                           Home, Nottingham
28     24 2015-12-09 19:10:26.000                           Work, Nottingham
29     24 2015-12-10 23:09:04.000                           Work, Nottingham
..    ...                     ...                                        ...
48     24 2016-01-01 23:10:27.000                           Home, Nottingham
49     24 2016-01-03 19:32:37.000                     Mums house, Nottingham
50     24 2016-01-04 16:05:04.000                           Home, Nottingham
51     24 2016-01-06 19:55:44.000                           Work, Nottingham
52     24 2016-01-07 16:08:50.000                           Home, Nottingham
53     24 2016-01-08 19:41:11.000  Bulwell Tesco Extra New Store, Nottingham
54     24 2016-01-12 22:18:56.000                           Work, Nottingham
55     24 2016-01-14 21:05:02.000                           Work, Nottingham
56     24 2016-01-16 20:23:07.000                           Home, Nottingham
57     24 2016-01-17 13:10:38.000                           Work, Nottingham
58     24 2016-01-18 16:09:05.000                           Home, Nottingham
59     24 2016-01-19 23:03:51.000                           Work, Nottingham
60     24 2016-01-20 13:08:37.000       Joe's Kitchen Nottingham, Nottingham
61     24 2016-01-21 23:07:38.000                           Work, Nottingham
62     24 2016-01-22 18:02:45.000                           Work, Nottingham
63     24 2016-01-23 16:57:19.000                  Centurion Way, Nottingham
64     24 2016-01-24 14:52:26.000                  Strelley Road, Nottingham
65     24 2016-01-25 20:12:28.000                    Old Moor Lodge, Nuthall
66     24 2016-01-26 23:04:07.000                           Work, Nottingham
67     24 2016-01-27 18:12:51.000                           Home, Nottingham
68     24 2016-01-28 23:05:17.000                           Work, Nottingham
69     24 2016-01-29 16:18:40.000                           Home, Nottingham
70     24 2016-01-30 16:32:17.000                    Charles Way, Nottingham
71     24 2016-01-31 18:59:12.000                           Home, Nottingham
72     24 2016-02-02 19:04:56.000              Lenton Hall Drive, Nottingham
73     24 2016-02-03 18:11:29.000                           Home, Nottingham
74     24 2016-02-04 16:32:54.000                           Work, Nottingham
75     24 2016-02-05 16:09:14.000                           Home, Nottingham
76     24 2016-02-06 14:48:17.000                     Edward Close, Hucknall
77     24 2016-02-07 13:54:07.000                           Home, Nottingham

[78 rows x 3 columns]

               Monday beg          device                      location
0 2015-11-16 09:44:50.265  windows-laptop         Market Street, Heanor
1 2015-11-23 08:21:10.838  windows-laptop         Storey's Gate, London
2 2015-11-30 09:05:24.000          iphone  Fulwood Crescent, Nottingham
3 2015-12-07 20:25:22.000          iphone              Home, Nottingham
4 2015-12-14 18:02:16.000          iphone              Work, Nottingham
5 2015-12-28 14:15:06.000          iphone         Mansfield Road, Derby
6 2016-01-11 11:24:07.000          iphone              Home, Nottingham
7 2016-01-18 12:55:55.000          iphone       Aspley Lane, Nottingham
8 2016-01-25 11:15:34.000          iphone       Aspley Lane, Nottingham
9 2016-02-01 12:08:28.000          iphone              Home, Nottingham

           Tuesday beg  device                      location
0  2015-11-17 09:39:04  iphone      Beeston Lane, Nottingham
1  2015-11-24 10:12:26  iphone  Fulwood Crescent, Nottingham
2  2015-12-01 10:00:09  iphone   Kingsbury Drive, Nottingham
3  2015-12-08 09:50:48  iphone              Home, Nottingham
4  2015-12-15 10:59:26  iphone    Nottingham, United Kingdom
5  2015-12-22 14:21:44  iphone       York Street, Nottingham
6  2015-12-29 18:15:25  iphone  Dalemoor Gardens, Nottingham
7  2016-01-05 21:23:47  iphone              Home, Nottingham
8  2016-01-12 10:33:59  iphone    Nottingham, United Kingdom
9  2016-01-19 09:47:59  iphone              Home, Nottingham
10 2016-01-26 09:45:09  iphone              Home, Nottingham
11 2016-02-02 10:48:18  iphone       Aspley Lane, Nottingham

,Friday beg,device,location
0,2015-11-13 08:59:36.926,windows-laptop,"Market Street, Heanor"
1,2015-11-20 12:38:53.000,iphone,"Fulwood Crescent, Nottingham"
2,2015-11-27 09:51:29.000,iphone,"Fulwood Crescent, Nottingham"
3,2015-12-04 14:59:56.000,iphone,"Aspley Lane, Nottingham"
4,2015-12-11 09:36:26.000,iphone,"Minver Crescent, Nottingham"
5,2015-12-18 09:37:04.000,iphone,"Ambleside Primary School, Nottingham, Nottingham"
6,2015-12-25 13:32:28.000,iphone,"Mums house, Nottingham"
7,2016-01-08 10:39:25.000,iphone,"Aspley Lane, Nottingham"
8,2016-01-15 21:17:47.000,iphone,"Home, Nottingham"
9,2016-01-22 15:45:01.000,iphone,"Nottingham, United Kingdom"
10,2016-01-29 09:39:04.000,iphone,"Amersham Rise, Nottingham"
11,2016-02-05 16:23:57.000,iphone,"Home, Nottingham"
12,2016-01-01 03:31:51.000,iphone,"Home, Nottingham"

             Wednesday beg          device                       location
0  2015-11-11 15:16:06.979  windows-laptop          Market Street, Heanor
1  2015-11-18 09:44:07.000          iphone  Lenton Hall Drive, Nottingham
2  2015-11-25 10:27:44.662  windows-laptop          Storey's Gate, London
3  2015-12-02 15:37:04.000          iphone     Sherborne Road, Nottingham
4  2015-12-09 09:07:17.000          iphone             Beacon, Nottingham
5  2015-12-16 16:28:52.000          iphone               Home, Nottingham
6  2015-12-23 15:12:53.000          iphone      Milton Street, Nottingham
7  2015-12-30 22:09:28.000          iphone               Home, Nottingham
8  2016-01-06 19:47:26.000          iphone               Work, Nottingham
9  2016-01-13 11:25:24.000          iphone               Home, Nottingham
10 2016-01-20 10:29:09.000          iphone        Aspley Lane, Nottingham
11 2016-01-27 16:28:47.000          iphone               Home, Nottingham
12 2016-02-03 16:27:03.000          iphone               Home, Nottingham

              Thursday beg          device                     location
0  2015-11-12 07:48:46.067  windows-laptop        Market Street, Heanor
1  2015-11-19 09:01:56.356  windows-laptop        Market Street, Heanor
2  2015-11-26 15:11:15.162  windows-laptop        Storey's Gate, London
3  2015-12-03 09:16:55.000          iphone  Kingsbury Drive, Nottingham
4  2015-12-10 10:23:38.000          iphone    Keighton Hill, Nottingham
5  2015-12-17 17:58:55.000          iphone             Work, Nottingham
6  2015-12-24 07:56:17.000          iphone             Work, Nottingham
7  2015-12-31 20:26:58.000          iphone      Old Moor Lodge, Nuthall
8  2016-01-07 16:27:31.000          iphone             Home, Nottingham
9  2016-01-14 09:54:43.000          iphone    Freind house , Nottingham
10 2016-01-21 17:50:57.000          iphone             Work, Nottingham
11 2016-01-28 14:24:38.000          iphone             Home, Nottingham
12 2016-02-04 16:21:46.000          iphone             Work, Nottingham

               Sunday beg          device                          location
0 2015-11-15 07:55:07.000          iphone           Aspley Lane, Nottingham
1 2015-11-22 07:32:40.194  windows-laptop             Storey's Gate, London
2 2015-11-29 07:56:53.000          iphone           Aspley Lane, Nottingham
3 2015-12-06 07:54:22.000          iphone           Aspley Lane, Nottingham
4 2015-12-13 14:41:09.000          iphone                  Home, Nottingham
5 2015-12-20 14:47:06.000          iphone  Strelley Social Club, Nottingham
6 2015-12-27 16:18:36.000          iphone                  Home, Nottingham
7 2016-01-03 17:20:19.000          iphone            Mums house, Nottingham
8 2016-01-17 07:56:35.000          iphone                  Home, Nottingham
9 2016-01-24 07:56:43.000          iphone                  Work, Nottingham

,Saturday beg,device,location
0,2015-11-14 10:19:39.775,windows-laptop,"Market Street, Heanor"
1,2015-11-21 11:44:20.000,iphone,"Fulwood Crescent, Nottingham"
2,2015-11-28 15:12:05.000,iphone,"Aspley Lane, Nottingham"
3,2015-12-05 16:21:03.000,iphone,"Main Street, Nottingham"
4,2015-12-12 20:51:57.000,iphone,"Work, Nottingham"
5,2015-12-19 13:32:46.000,iphone,"Aspley Lane, Nottingham"
6,2015-12-26 21:39:59.000,iphone,"Work, Nottingham"
7,2016-01-16 20:24:57.000,iphone,"Freind house , Nottingham"
8,2016-01-23 15:36:06.000,iphone,"Electric Avenue, Nottingham"
9,2016-01-30 13:57:47.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
10,2016-02-06 09:42:27.000,iphone,"Talbot Street, Nottingham"

           Monday end  device                      location
0 2015-11-16 21:22:16  iphone  Fulwood Crescent, Nottingham
1 2015-11-23 23:56:56  iphone        Derby Road, Nottingham
2 2015-11-30 15:40:57  iphone       Aspley Lane, Nottingham
3 2015-12-07 20:25:21  iphone  Fulwood Crescent, Nottingham
4 2015-12-14 18:09:44  iphone              Work, Nottingham
5 2015-12-28 21:19:24  iphone     Wollaton Road, Nottingham
6 2016-01-04 16:05:04  iphone              Home, Nottingham
7 2016-01-18 16:09:05  iphone              Home, Nottingham
8 2016-01-25 20:12:28  iphone       Old Moor Lodge, Nuthall

               Tuesday end          device                       location
0  2015-11-17 23:19:03.000          iphone   Fulwood Crescent, Nottingham
1  2015-11-24 21:47:45.430  windows-laptop          Storey's Gate, London
2  2015-12-01 23:16:50.000          iphone        Aspley Lane, Nottingham
3  2015-12-08 19:48:10.000          iphone               Home, Nottingham
4  2015-12-15 19:51:12.000          iphone               Home, Nottingham
5  2015-12-22 22:48:07.000          iphone               Home, Nottingham
6  2015-12-29 20:06:21.000          iphone   Dalemoor Gardens, Nottingham
7  2016-01-12 22:18:56.000          iphone               Work, Nottingham
8  2016-01-19 23:03:51.000          iphone               Work, Nottingham
9  2016-01-26 23:04:07.000          iphone               Work, Nottingham
10 2016-02-02 19:04:56.000          iphone  Lenton Hall Drive, Nottingham

,Friday end,device,location
0,2015-11-13 22:30:03.139,windows-laptop,"Market Street, Heanor"
1,2015-11-20 22:48:42.307,windows-laptop,"Market Street, Heanor"
2,2015-11-27 22:39:24.000,iphone,"Aspley Lane, Nottingham"
3,2015-12-04 15:02:10.000,iphone,"Aspley Lane, Nottingham"
4,2015-12-11 16:06:21.000,iphone,"Home, Nottingham"
5,2015-12-18 20:22:10.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
6,2015-12-25 21:32:55.000,iphone,"Home, Nottingham"
7,2016-01-01 23:10:27.000,iphone,"Home, Nottingham"
8,2016-01-08 19:41:11.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
9,2016-01-22 18:02:45.000,iphone,"Work, Nottingham"
10,2016-01-29 16:18:40.000,iphone,"Home, Nottingham"
11,2016-02-05 16:09:14.000,iphone,"Home, Nottingham"

,Wednesday end,device,location
0,2015-11-11 19:53:07.000,iphone,"Aspley Lane, Nottingham"
1,2015-11-18 23:03:16.000,iphone,"Amersham Rise, Nottingham"
2,2015-11-25 23:53:40.783,windows-laptop,"Storey's Gate, London"
3,2015-12-02 21:36:09.000,iphone,"Fulwood Crescent, Nottingham"
4,2015-12-09 19:10:26.000,iphone,"Work, Nottingham"
5,2015-12-16 16:09:20.000,iphone,"Home, Nottingham"
6,2015-12-23 19:08:57.000,iphone,"Harvester @ Cornerhouse, United Kingdom"
7,2016-01-06 19:55:44.000,iphone,"Work, Nottingham"
8,2016-01-20 13:08:37.000,iphone,"Joe's Kitchen Nottingham, Nottingham"
9,2016-01-27 18:12:51.000,iphone,"Home, Nottingham"
10,2016-02-03 18:11:29.000,iphone,"Home, Nottingham"

              Thursday end          device                       location
0  2015-11-12 23:07:24.000          iphone        Aspley Lane, Nottingham
1  2015-11-19 23:58:00.165  windows-laptop          Market Street, Heanor
2  2015-11-26 15:16:15.162  windows-laptop          Storey's Gate, London
3  2015-12-03 16:59:45.000          iphone  Lenton Hall Drive, Nottingham
4  2015-12-10 23:09:04.000          iphone               Work, Nottingham
5  2015-12-17 17:52:12.000          iphone               Home, Nottingham
6  2015-12-24 21:17:12.000          iphone        Aspley Lane, Nottingham
7  2015-12-31 22:37:08.000          iphone        Old Moor Lodge, Nuthall
8  2016-01-07 16:08:50.000          iphone               Home, Nottingham
9  2016-01-14 21:05:02.000          iphone               Work, Nottingham
10 2016-01-21 23:07:38.000          iphone               Work, Nottingham
11 2016-01-28 23:05:17.000          iphone               Work, Nottingham
12 2016-02-04 16:32:54.000          iphone               Work, Nottingham

                Sunday end          device                      location
0  2015-11-15 21:29:16.160  windows-laptop         Market Street, Heanor
1  2015-11-22 18:47:14.765  windows-laptop         Storey's Gate, London
2  2015-11-29 13:15:01.000          iphone       Aspley Lane, Nottingham
3  2015-12-06 17:18:01.000          iphone  Fulwood Crescent, Nottingham
4  2015-12-13 14:36:29.000          iphone              Work, Nottingham
5  2015-12-20 23:57:57.000          iphone              Home, Nottingham
6  2015-12-27 16:10:57.000          iphone              Work, Nottingham
7  2016-01-03 19:32:37.000          iphone        Mums house, Nottingham
8  2016-01-17 13:10:38.000          iphone              Work, Nottingham
9  2016-01-24 14:52:26.000          iphone     Strelley Road, Nottingham
10 2016-01-31 18:59:12.000          iphone              Home, Nottingham
11 2016-02-07 13:54:07.000          iphone              Home, Nottingham

             Saturday end          device                      location
0 2015-11-14 22:39:48.105  windows-laptop         Market Street, Heanor
1 2015-11-21 20:59:21.000          iphone  Fulwood Crescent, Nottingham
2 2015-11-28 23:13:58.000          iphone    Nottingham, United Kingdom
3 2015-12-05 18:08:14.000          iphone       Aspley Lane, Nottingham
4 2015-12-12 20:42:52.000          iphone              Home, Nottingham
5 2015-12-19 19:32:20.000          iphone   Bull Close Road, Nottingham
6 2016-01-16 20:23:07.000          iphone              Home, Nottingham
7 2016-01-23 16:57:19.000          iphone     Centurion Way, Nottingham
8 2016-01-30 16:32:17.000          iphone       Charles Way, Nottingham
9 2016-02-06 14:48:17.000          iphone        Edward Close, Hucknall

                       beg  devid                                   location
0  2015-11-11 15:16:06.979     23                      Market Street, Heanor
1  2015-11-12 07:48:46.067     23                      Market Street, Heanor
2  2015-11-13 08:59:36.926     23                      Market Street, Heanor
3  2015-11-14 10:19:39.775     23                      Market Street, Heanor
4  2015-11-15 07:55:07.000     24                    Aspley Lane, Nottingham
5  2015-11-16 09:44:50.265     23                      Market Street, Heanor
6  2015-11-17 09:39:04.000     24                   Beeston Lane, Nottingham
7  2015-11-18 09:44:07.000     24              Lenton Hall Drive, Nottingham
8  2015-11-19 09:01:56.356     23                      Market Street, Heanor
9  2015-11-20 12:38:53.000     24               Fulwood Crescent, Nottingham
10 2015-11-21 11:44:20.000     24               Fulwood Crescent, Nottingham
11 2015-11-22 07:32:40.194     23                      Storey's Gate, London
12 2015-11-23 08:21:10.838     23                      Storey's Gate, London
13 2015-11-24 10:12:26.000     24               Fulwood Crescent, Nottingham
14 2015-11-25 10:27:44.662     23                      Storey's Gate, London
15 2015-11-26 15:11:15.162     23                      Storey's Gate, London
16 2015-11-27 09:51:29.000     24               Fulwood Crescent, Nottingham
17 2015-11-28 15:12:05.000     24                    Aspley Lane, Nottingham
18 2015-11-29 07:56:53.000     24                    Aspley Lane, Nottingham
19 2015-11-30 09:05:24.000     24               Fulwood Crescent, Nottingham
20 2015-12-01 10:00:09.000     24                Kingsbury Drive, Nottingham
21 2015-12-02 15:37:04.000     24                 Sherborne Road, Nottingham
22 2015-12-03 09:16:55.000     24                Kingsbury Drive, Nottingham
23 2015-12-04 14:59:56.000     24                    Aspley Lane, Nottingham
24 2015-12-05 16:21:03.000     24                    Main Street, Nottingham
25 2015-12-06 07:54:22.000     24                    Aspley Lane, Nottingham
26 2015-12-07 20:25:22.000     24                           Home, Nottingham
27 2015-12-08 09:50:48.000     24                           Home, Nottingham
28 2015-12-09 09:07:17.000     24                         Beacon, Nottingham
29 2015-12-10 10:23:38.000     24                  Keighton Hill, Nottingham
..                     ...    ...                                        ...
52 2016-01-06 19:47:26.000     24                           Work, Nottingham
53 2016-01-07 16:27:31.000     24                           Home, Nottingham
54 2016-01-08 10:39:25.000     24                    Aspley Lane, Nottingham
55 2016-01-11 11:24:07.000     24                           Home, Nottingham
56 2016-01-12 10:33:59.000     24                 Nottingham, United Kingdom
57 2016-01-13 11:25:24.000     24                           Home, Nottingham
58 2016-01-14 09:54:43.000     24                  Freind house , Nottingham
59 2016-01-15 21:17:47.000     24                           Home, Nottingham
60 2016-01-16 20:24:57.000     24                  Freind house , Nottingham
61 2016-01-17 07:56:35.000     24                           Home, Nottingham
62 2016-01-18 12:55:55.000     24                    Aspley Lane, Nottingham
63 2016-01-19 09:47:59.000     24                           Home, Nottingham
64 2016-01-20 10:29:09.000     24                    Aspley Lane, Nottingham
65 2016-01-21 17:50:57.000     24                           Work, Nottingham
66 2016-01-22 15:45:01.000     24                 Nottingham, United Kingdom
67 2016-01-23 15:36:06.000     24                Electric Avenue, Nottingham
68 2016-01-24 07:56:43.000     24                           Work, Nottingham
69 2016-01-25 11:15:34.000     24                    Aspley Lane, Nottingham
70 2016-01-26 09:45:09.000     24                           Home, Nottingham
71 2016-01-27 16:28:47.000     24                           Home, Nottingham
72 2016-01-28 14:24:38.000     24                           Home, Nottingham
73 2016-01-29 09:39:04.000     24                  Amersham Rise, Nottingham
74 2016-01-30 13:57:47.000     24  Bulwell Tesco Extra New Store, Nottingham
75 2016-02-01 12:08:28.000     24                           Home, Nottingham
76 2016-02-02 10:48:18.000     24                    Aspley Lane, Nottingham
77 2016-02-03 16:27:03.000     24                           Home, Nottingham
78 2016-02-04 16:21:46.000     24                           Work, Nottingham
79 2016-02-05 16:23:57.000     24                           Home, Nottingham
80 2016-02-06 09:42:27.000     24                  Talbot Street, Nottingham
81 2016-01-01 03:31:51.000     24                           Home, Nottingham

[82 rows x 3 columns]

    devid                     end                                   location
0      24 2015-11-11 19:53:07.000                    Aspley Lane, Nottingham
1      24 2015-11-12 23:07:24.000                    Aspley Lane, Nottingham
2      23 2015-11-13 22:30:03.139                      Market Street, Heanor
3      23 2015-11-14 22:39:48.105                      Market Street, Heanor
4      23 2015-11-15 21:29:16.160                      Market Street, Heanor
5      24 2015-11-16 21:22:16.000               Fulwood Crescent, Nottingham
6      24 2015-11-17 23:19:03.000               Fulwood Crescent, Nottingham
7      24 2015-11-18 23:03:16.000                  Amersham Rise, Nottingham
8      23 2015-11-19 23:58:00.165                      Market Street, Heanor
9      23 2015-11-20 22:48:42.307                      Market Street, Heanor
10     24 2015-11-21 20:59:21.000               Fulwood Crescent, Nottingham
11     23 2015-11-22 18:47:14.765                      Storey's Gate, London
12     24 2015-11-23 23:56:56.000                     Derby Road, Nottingham
13     23 2015-11-24 21:47:45.430                      Storey's Gate, London
14     23 2015-11-25 23:53:40.783                      Storey's Gate, London
15     23 2015-11-26 15:16:15.162                      Storey's Gate, London
16     24 2015-11-27 22:39:24.000                    Aspley Lane, Nottingham
17     24 2015-11-28 23:13:58.000                 Nottingham, United Kingdom
18     24 2015-11-29 13:15:01.000                    Aspley Lane, Nottingham
19     24 2015-11-30 15:40:57.000                    Aspley Lane, Nottingham
20     24 2015-12-01 23:16:50.000                    Aspley Lane, Nottingham
21     24 2015-12-02 21:36:09.000               Fulwood Crescent, Nottingham
22     24 2015-12-03 16:59:45.000              Lenton Hall Drive, Nottingham
23     24 2015-12-04 15:02:10.000                    Aspley Lane, Nottingham
24     24 2015-12-05 18:08:14.000                    Aspley Lane, Nottingham
25     24 2015-12-06 17:18:01.000               Fulwood Crescent, Nottingham
26     24 2015-12-07 20:25:21.000               Fulwood Crescent, Nottingham
27     24 2015-12-08 19:48:10.000                           Home, Nottingham
28     24 2015-12-09 19:10:26.000                           Work, Nottingham
29     24 2015-12-10 23:09:04.000                           Work, Nottingham
..    ...                     ...                                        ...
48     24 2016-01-01 23:10:27.000                           Home, Nottingham
49     24 2016-01-03 19:32:37.000                     Mums house, Nottingham
50     24 2016-01-04 16:05:04.000                           Home, Nottingham
51     24 2016-01-06 19:55:44.000                           Work, Nottingham
52     24 2016-01-07 16:08:50.000                           Home, Nottingham
53     24 2016-01-08 19:41:11.000  Bulwell Tesco Extra New Store, Nottingham
54     24 2016-01-12 22:18:56.000                           Work, Nottingham
55     24 2016-01-14 21:05:02.000                           Work, Nottingham
56     24 2016-01-16 20:23:07.000                           Home, Nottingham
57     24 2016-01-17 13:10:38.000                           Work, Nottingham
58     24 2016-01-18 16:09:05.000                           Home, Nottingham
59     24 2016-01-19 23:03:51.000                           Work, Nottingham
60     24 2016-01-20 13:08:37.000       Joe's Kitchen Nottingham, Nottingham
61     24 2016-01-21 23:07:38.000                           Work, Nottingham
62     24 2016-01-22 18:02:45.000                           Work, Nottingham
63     24 2016-01-23 16:57:19.000                  Centurion Way, Nottingham
64     24 2016-01-24 14:52:26.000                  Strelley Road, Nottingham
65     24 2016-01-25 20:12:28.000                    Old Moor Lodge, Nuthall
66     24 2016-01-26 23:04:07.000                           Work, Nottingham
67     24 2016-01-27 18:12:51.000                           Home, Nottingham
68     24 2016-01-28 23:05:17.000                           Work, Nottingham
69     24 2016-01-29 16:18:40.000                           Home, Nottingham
70     24 2016-01-30 16:32:17.000                    Charles Way, Nottingham
71     24 2016-01-31 18:59:12.000                           Home, Nottingham
72     24 2016-02-02 19:04:56.000              Lenton Hall Drive, Nottingham
73     24 2016-02-03 18:11:29.000                           Home, Nottingham
74     24 2016-02-04 16:32:54.000                           Work, Nottingham
75     24 2016-02-05 16:09:14.000                           Home, Nottingham
76     24 2016-02-06 14:48:17.000                     Edward Close, Hucknall
77     24 2016-02-07 13:54:07.000                           Home, Nottingham

[78 rows x 3 columns]

               Monday beg          device                      location
0 2015-11-16 09:44:50.265  windows-laptop         Market Street, Heanor
1 2015-11-23 08:21:10.838  windows-laptop         Storey's Gate, London
2 2015-11-30 09:05:24.000          iphone  Fulwood Crescent, Nottingham
3 2015-12-07 20:25:22.000          iphone              Home, Nottingham
4 2015-12-14 18:02:16.000          iphone              Work, Nottingham
5 2015-12-28 14:15:06.000          iphone         Mansfield Road, Derby
6 2016-01-11 11:24:07.000          iphone              Home, Nottingham
7 2016-01-18 12:55:55.000          iphone       Aspley Lane, Nottingham
8 2016-01-25 11:15:34.000          iphone       Aspley Lane, Nottingham
9 2016-02-01 12:08:28.000          iphone              Home, Nottingham

           Tuesday beg  device                      location
0  2015-11-17 09:39:04  iphone      Beeston Lane, Nottingham
1  2015-11-24 10:12:26  iphone  Fulwood Crescent, Nottingham
2  2015-12-01 10:00:09  iphone   Kingsbury Drive, Nottingham
3  2015-12-08 09:50:48  iphone              Home, Nottingham
4  2015-12-15 10:59:26  iphone    Nottingham, United Kingdom
5  2015-12-22 14:21:44  iphone       York Street, Nottingham
6  2015-12-29 18:15:25  iphone  Dalemoor Gardens, Nottingham
7  2016-01-05 21:23:47  iphone              Home, Nottingham
8  2016-01-12 10:33:59  iphone    Nottingham, United Kingdom
9  2016-01-19 09:47:59  iphone              Home, Nottingham
10 2016-01-26 09:45:09  iphone              Home, Nottingham
11 2016-02-02 10:48:18  iphone       Aspley Lane, Nottingham

,Friday beg,device,location
0,2015-11-13 08:59:36.926,windows-laptop,"Market Street, Heanor"
1,2015-11-20 12:38:53.000,iphone,"Fulwood Crescent, Nottingham"
2,2015-11-27 09:51:29.000,iphone,"Fulwood Crescent, Nottingham"
3,2015-12-04 14:59:56.000,iphone,"Aspley Lane, Nottingham"
4,2015-12-11 09:36:26.000,iphone,"Minver Crescent, Nottingham"
5,2015-12-18 09:37:04.000,iphone,"Ambleside Primary School, Nottingham, Nottingham"
6,2015-12-25 13:32:28.000,iphone,"Mums house, Nottingham"
7,2016-01-08 10:39:25.000,iphone,"Aspley Lane, Nottingham"
8,2016-01-15 21:17:47.000,iphone,"Home, Nottingham"
9,2016-01-22 15:45:01.000,iphone,"Nottingham, United Kingdom"
10,2016-01-29 09:39:04.000,iphone,"Amersham Rise, Nottingham"
11,2016-02-05 16:23:57.000,iphone,"Home, Nottingham"
12,2016-01-01 03:31:51.000,iphone,"Home, Nottingham"

             Wednesday beg          device                       location
0  2015-11-11 15:16:06.979  windows-laptop          Market Street, Heanor
1  2015-11-18 09:44:07.000          iphone  Lenton Hall Drive, Nottingham
2  2015-11-25 10:27:44.662  windows-laptop          Storey's Gate, London
3  2015-12-02 15:37:04.000          iphone     Sherborne Road, Nottingham
4  2015-12-09 09:07:17.000          iphone             Beacon, Nottingham
5  2015-12-16 16:28:52.000          iphone               Home, Nottingham
6  2015-12-23 15:12:53.000          iphone      Milton Street, Nottingham
7  2015-12-30 22:09:28.000          iphone               Home, Nottingham
8  2016-01-06 19:47:26.000          iphone               Work, Nottingham
9  2016-01-13 11:25:24.000          iphone               Home, Nottingham
10 2016-01-20 10:29:09.000          iphone        Aspley Lane, Nottingham
11 2016-01-27 16:28:47.000          iphone               Home, Nottingham
12 2016-02-03 16:27:03.000          iphone               Home, Nottingham

              Thursday beg          device                     location
0  2015-11-12 07:48:46.067  windows-laptop        Market Street, Heanor
1  2015-11-19 09:01:56.356  windows-laptop        Market Street, Heanor
2  2015-11-26 15:11:15.162  windows-laptop        Storey's Gate, London
3  2015-12-03 09:16:55.000          iphone  Kingsbury Drive, Nottingham
4  2015-12-10 10:23:38.000          iphone    Keighton Hill, Nottingham
5  2015-12-17 17:58:55.000          iphone             Work, Nottingham
6  2015-12-24 07:56:17.000          iphone             Work, Nottingham
7  2015-12-31 20:26:58.000          iphone      Old Moor Lodge, Nuthall
8  2016-01-07 16:27:31.000          iphone             Home, Nottingham
9  2016-01-14 09:54:43.000          iphone    Freind house , Nottingham
10 2016-01-21 17:50:57.000          iphone             Work, Nottingham
11 2016-01-28 14:24:38.000          iphone             Home, Nottingham
12 2016-02-04 16:21:46.000          iphone             Work, Nottingham

               Sunday beg          device                          location
0 2015-11-15 07:55:07.000          iphone           Aspley Lane, Nottingham
1 2015-11-22 07:32:40.194  windows-laptop             Storey's Gate, London
2 2015-11-29 07:56:53.000          iphone           Aspley Lane, Nottingham
3 2015-12-06 07:54:22.000          iphone           Aspley Lane, Nottingham
4 2015-12-13 14:41:09.000          iphone                  Home, Nottingham
5 2015-12-20 14:47:06.000          iphone  Strelley Social Club, Nottingham
6 2015-12-27 16:18:36.000          iphone                  Home, Nottingham
7 2016-01-03 17:20:19.000          iphone            Mums house, Nottingham
8 2016-01-17 07:56:35.000          iphone                  Home, Nottingham
9 2016-01-24 07:56:43.000          iphone                  Work, Nottingham

,Saturday beg,device,location
0,2015-11-14 10:19:39.775,windows-laptop,"Market Street, Heanor"
1,2015-11-21 11:44:20.000,iphone,"Fulwood Crescent, Nottingham"
2,2015-11-28 15:12:05.000,iphone,"Aspley Lane, Nottingham"
3,2015-12-05 16:21:03.000,iphone,"Main Street, Nottingham"
4,2015-12-12 20:51:57.000,iphone,"Work, Nottingham"
5,2015-12-19 13:32:46.000,iphone,"Aspley Lane, Nottingham"
6,2015-12-26 21:39:59.000,iphone,"Work, Nottingham"
7,2016-01-16 20:24:57.000,iphone,"Freind house , Nottingham"
8,2016-01-23 15:36:06.000,iphone,"Electric Avenue, Nottingham"
9,2016-01-30 13:57:47.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
10,2016-02-06 09:42:27.000,iphone,"Talbot Street, Nottingham"

           Monday end  device                      location
0 2015-11-16 21:22:16  iphone  Fulwood Crescent, Nottingham
1 2015-11-23 23:56:56  iphone        Derby Road, Nottingham
2 2015-11-30 15:40:57  iphone       Aspley Lane, Nottingham
3 2015-12-07 20:25:21  iphone  Fulwood Crescent, Nottingham
4 2015-12-14 18:09:44  iphone              Work, Nottingham
5 2015-12-28 21:19:24  iphone     Wollaton Road, Nottingham
6 2016-01-04 16:05:04  iphone              Home, Nottingham
7 2016-01-18 16:09:05  iphone              Home, Nottingham
8 2016-01-25 20:12:28  iphone       Old Moor Lodge, Nuthall

               Tuesday end          device                       location
0  2015-11-17 23:19:03.000          iphone   Fulwood Crescent, Nottingham
1  2015-11-24 21:47:45.430  windows-laptop          Storey's Gate, London
2  2015-12-01 23:16:50.000          iphone        Aspley Lane, Nottingham
3  2015-12-08 19:48:10.000          iphone               Home, Nottingham
4  2015-12-15 19:51:12.000          iphone               Home, Nottingham
5  2015-12-22 22:48:07.000          iphone               Home, Nottingham
6  2015-12-29 20:06:21.000          iphone   Dalemoor Gardens, Nottingham
7  2016-01-12 22:18:56.000          iphone               Work, Nottingham
8  2016-01-19 23:03:51.000          iphone               Work, Nottingham
9  2016-01-26 23:04:07.000          iphone               Work, Nottingham
10 2016-02-02 19:04:56.000          iphone  Lenton Hall Drive, Nottingham

,Friday end,device,location
0,2015-11-13 22:30:03.139,windows-laptop,"Market Street, Heanor"
1,2015-11-20 22:48:42.307,windows-laptop,"Market Street, Heanor"
2,2015-11-27 22:39:24.000,iphone,"Aspley Lane, Nottingham"
3,2015-12-04 15:02:10.000,iphone,"Aspley Lane, Nottingham"
4,2015-12-11 16:06:21.000,iphone,"Home, Nottingham"
5,2015-12-18 20:22:10.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
6,2015-12-25 21:32:55.000,iphone,"Home, Nottingham"
7,2016-01-01 23:10:27.000,iphone,"Home, Nottingham"
8,2016-01-08 19:41:11.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
9,2016-01-22 18:02:45.000,iphone,"Work, Nottingham"
10,2016-01-29 16:18:40.000,iphone,"Home, Nottingham"
11,2016-02-05 16:09:14.000,iphone,"Home, Nottingham"

,Wednesday end,device,location
0,2015-11-11 19:53:07.000,iphone,"Aspley Lane, Nottingham"
1,2015-11-18 23:03:16.000,iphone,"Amersham Rise, Nottingham"
2,2015-11-25 23:53:40.783,windows-laptop,"Storey's Gate, London"
3,2015-12-02 21:36:09.000,iphone,"Fulwood Crescent, Nottingham"
4,2015-12-09 19:10:26.000,iphone,"Work, Nottingham"
5,2015-12-16 16:09:20.000,iphone,"Home, Nottingham"
6,2015-12-23 19:08:57.000,iphone,"Harvester @ Cornerhouse, United Kingdom"
7,2016-01-06 19:55:44.000,iphone,"Work, Nottingham"
8,2016-01-20 13:08:37.000,iphone,"Joe's Kitchen Nottingham, Nottingham"
9,2016-01-27 18:12:51.000,iphone,"Home, Nottingham"
10,2016-02-03 18:11:29.000,iphone,"Home, Nottingham"

              Thursday end          device                       location
0  2015-11-12 23:07:24.000          iphone        Aspley Lane, Nottingham
1  2015-11-19 23:58:00.165  windows-laptop          Market Street, Heanor
2  2015-11-26 15:16:15.162  windows-laptop          Storey's Gate, London
3  2015-12-03 16:59:45.000          iphone  Lenton Hall Drive, Nottingham
4  2015-12-10 23:09:04.000          iphone               Work, Nottingham
5  2015-12-17 17:52:12.000          iphone               Home, Nottingham
6  2015-12-24 21:17:12.000          iphone        Aspley Lane, Nottingham
7  2015-12-31 22:37:08.000          iphone        Old Moor Lodge, Nuthall
8  2016-01-07 16:08:50.000          iphone               Home, Nottingham
9  2016-01-14 21:05:02.000          iphone               Work, Nottingham
10 2016-01-21 23:07:38.000          iphone               Work, Nottingham
11 2016-01-28 23:05:17.000          iphone               Work, Nottingham
12 2016-02-04 16:32:54.000          iphone               Work, Nottingham

                Sunday end          device                      location
0  2015-11-15 21:29:16.160  windows-laptop         Market Street, Heanor
1  2015-11-22 18:47:14.765  windows-laptop         Storey's Gate, London
2  2015-11-29 13:15:01.000          iphone       Aspley Lane, Nottingham
3  2015-12-06 17:18:01.000          iphone  Fulwood Crescent, Nottingham
4  2015-12-13 14:36:29.000          iphone              Work, Nottingham
5  2015-12-20 23:57:57.000          iphone              Home, Nottingham
6  2015-12-27 16:10:57.000          iphone              Work, Nottingham
7  2016-01-03 19:32:37.000          iphone        Mums house, Nottingham
8  2016-01-17 13:10:38.000          iphone              Work, Nottingham
9  2016-01-24 14:52:26.000          iphone     Strelley Road, Nottingham
10 2016-01-31 18:59:12.000          iphone              Home, Nottingham
11 2016-02-07 13:54:07.000          iphone              Home, Nottingham

             Saturday end          device                      location
0 2015-11-14 22:39:48.105  windows-laptop         Market Street, Heanor
1 2015-11-21 20:59:21.000          iphone  Fulwood Crescent, Nottingham
2 2015-11-28 23:13:58.000          iphone    Nottingham, United Kingdom
3 2015-12-05 18:08:14.000          iphone       Aspley Lane, Nottingham
4 2015-12-12 20:42:52.000          iphone              Home, Nottingham
5 2015-12-19 19:32:20.000          iphone   Bull Close Road, Nottingham
6 2016-01-16 20:23:07.000          iphone              Home, Nottingham
7 2016-01-23 16:57:19.000          iphone     Centurion Way, Nottingham
8 2016-01-30 16:32:17.000          iphone       Charles Way, Nottingham
9 2016-02-06 14:48:17.000          iphone        Edward Close, Hucknall

                       beg  devid                                   location
0  2015-11-11 15:16:06.979     23                      Market Street, Heanor
1  2015-11-12 07:48:46.067     23                      Market Street, Heanor
2  2015-11-13 08:59:36.926     23                      Market Street, Heanor
3  2015-11-14 10:19:39.775     23                      Market Street, Heanor
4  2015-11-15 07:55:07.000     24                    Aspley Lane, Nottingham
5  2015-11-16 09:44:50.265     23                      Market Street, Heanor
6  2015-11-17 09:39:04.000     24                   Beeston Lane, Nottingham
7  2015-11-18 09:44:07.000     24              Lenton Hall Drive, Nottingham
8  2015-11-19 09:01:56.356     23                      Market Street, Heanor
9  2015-11-20 12:38:53.000     24               Fulwood Crescent, Nottingham
10 2015-11-21 11:44:20.000     24               Fulwood Crescent, Nottingham
11 2015-11-22 07:32:40.194     23                      Storey's Gate, London
12 2015-11-23 08:21:10.838     23                      Storey's Gate, London
13 2015-11-24 10:12:26.000     24               Fulwood Crescent, Nottingham
14 2015-11-25 10:27:44.662     23                      Storey's Gate, London
15 2015-11-26 15:11:15.162     23                      Storey's Gate, London
16 2015-11-27 09:51:29.000     24               Fulwood Crescent, Nottingham
17 2015-11-28 15:12:05.000     24                    Aspley Lane, Nottingham
18 2015-11-29 07:56:53.000     24                    Aspley Lane, Nottingham
19 2015-11-30 09:05:24.000     24               Fulwood Crescent, Nottingham
20 2015-12-01 10:00:09.000     24                Kingsbury Drive, Nottingham
21 2015-12-02 15:37:04.000     24                 Sherborne Road, Nottingham
22 2015-12-03 09:16:55.000     24                Kingsbury Drive, Nottingham
23 2015-12-04 14:59:56.000     24                    Aspley Lane, Nottingham
24 2015-12-05 16:21:03.000     24                    Main Street, Nottingham
25 2015-12-06 07:54:22.000     24                    Aspley Lane, Nottingham
26 2015-12-07 20:25:22.000     24                           Home, Nottingham
27 2015-12-08 09:50:48.000     24                           Home, Nottingham
28 2015-12-09 09:07:17.000     24                         Beacon, Nottingham
29 2015-12-10 10:23:38.000     24                  Keighton Hill, Nottingham
..                     ...    ...                                        ...
52 2016-01-06 19:47:26.000     24                           Work, Nottingham
53 2016-01-07 16:27:31.000     24                           Home, Nottingham
54 2016-01-08 10:39:25.000     24                    Aspley Lane, Nottingham
55 2016-01-11 11:24:07.000     24                           Home, Nottingham
56 2016-01-12 10:33:59.000     24                 Nottingham, United Kingdom
57 2016-01-13 11:25:24.000     24                           Home, Nottingham
58 2016-01-14 09:54:43.000     24                  Freind house , Nottingham
59 2016-01-15 21:17:47.000     24                           Home, Nottingham
60 2016-01-16 20:24:57.000     24                  Freind house , Nottingham
61 2016-01-17 07:56:35.000     24                           Home, Nottingham
62 2016-01-18 12:55:55.000     24                    Aspley Lane, Nottingham
63 2016-01-19 09:47:59.000     24                           Home, Nottingham
64 2016-01-20 10:29:09.000     24                    Aspley Lane, Nottingham
65 2016-01-21 17:50:57.000     24                           Work, Nottingham
66 2016-01-22 15:45:01.000     24                 Nottingham, United Kingdom
67 2016-01-23 15:36:06.000     24                Electric Avenue, Nottingham
68 2016-01-24 07:56:43.000     24                           Work, Nottingham
69 2016-01-25 11:15:34.000     24                    Aspley Lane, Nottingham
70 2016-01-26 09:45:09.000     24                           Home, Nottingham
71 2016-01-27 16:28:47.000     24                           Home, Nottingham
72 2016-01-28 14:24:38.000     24                           Home, Nottingham
73 2016-01-29 09:39:04.000     24                  Amersham Rise, Nottingham
74 2016-01-30 13:57:47.000     24  Bulwell Tesco Extra New Store, Nottingham
75 2016-02-01 12:08:28.000     24                           Home, Nottingham
76 2016-02-02 10:48:18.000     24                    Aspley Lane, Nottingham
77 2016-02-03 16:27:03.000     24                           Home, Nottingham
78 2016-02-04 16:21:46.000     24                           Work, Nottingham
79 2016-02-05 16:23:57.000     24                           Home, Nottingham
80 2016-02-06 09:42:27.000     24                  Talbot Street, Nottingham
81 2016-01-01 03:31:51.000     24                           Home, Nottingham

[82 rows x 3 columns]

    devid                     end                                   location
0      24 2015-11-11 19:53:07.000                    Aspley Lane, Nottingham
1      24 2015-11-12 23:07:24.000                    Aspley Lane, Nottingham
2      23 2015-11-13 22:30:03.139                      Market Street, Heanor
3      23 2015-11-14 22:39:48.105                      Market Street, Heanor
4      23 2015-11-15 21:29:16.160                      Market Street, Heanor
5      24 2015-11-16 21:22:16.000               Fulwood Crescent, Nottingham
6      24 2015-11-17 23:19:03.000               Fulwood Crescent, Nottingham
7      24 2015-11-18 23:03:16.000                  Amersham Rise, Nottingham
8      23 2015-11-19 23:58:00.165                      Market Street, Heanor
9      23 2015-11-20 22:48:42.307                      Market Street, Heanor
10     24 2015-11-21 20:59:21.000               Fulwood Crescent, Nottingham
11     23 2015-11-22 18:47:14.765                      Storey's Gate, London
12     24 2015-11-23 23:56:56.000                     Derby Road, Nottingham
13     23 2015-11-24 21:47:45.430                      Storey's Gate, London
14     23 2015-11-25 23:53:40.783                      Storey's Gate, London
15     23 2015-11-26 15:16:15.162                      Storey's Gate, London
16     24 2015-11-27 22:39:24.000                    Aspley Lane, Nottingham
17     24 2015-11-28 23:13:58.000                 Nottingham, United Kingdom
18     24 2015-11-29 13:15:01.000                    Aspley Lane, Nottingham
19     24 2015-11-30 15:40:57.000                    Aspley Lane, Nottingham
20     24 2015-12-01 23:16:50.000                    Aspley Lane, Nottingham
21     24 2015-12-02 21:36:09.000               Fulwood Crescent, Nottingham
22     24 2015-12-03 16:59:45.000              Lenton Hall Drive, Nottingham
23     24 2015-12-04 15:02:10.000                    Aspley Lane, Nottingham
24     24 2015-12-05 18:08:14.000                    Aspley Lane, Nottingham
25     24 2015-12-06 17:18:01.000               Fulwood Crescent, Nottingham
26     24 2015-12-07 20:25:21.000               Fulwood Crescent, Nottingham
27     24 2015-12-08 19:48:10.000                           Home, Nottingham
28     24 2015-12-09 19:10:26.000                           Work, Nottingham
29     24 2015-12-10 23:09:04.000                           Work, Nottingham
..    ...                     ...                                        ...
48     24 2016-01-01 23:10:27.000                           Home, Nottingham
49     24 2016-01-03 19:32:37.000                     Mums house, Nottingham
50     24 2016-01-04 16:05:04.000                           Home, Nottingham
51     24 2016-01-06 19:55:44.000                           Work, Nottingham
52     24 2016-01-07 16:08:50.000                           Home, Nottingham
53     24 2016-01-08 19:41:11.000  Bulwell Tesco Extra New Store, Nottingham
54     24 2016-01-12 22:18:56.000                           Work, Nottingham
55     24 2016-01-14 21:05:02.000                           Work, Nottingham
56     24 2016-01-16 20:23:07.000                           Home, Nottingham
57     24 2016-01-17 13:10:38.000                           Work, Nottingham
58     24 2016-01-18 16:09:05.000                           Home, Nottingham
59     24 2016-01-19 23:03:51.000                           Work, Nottingham
60     24 2016-01-20 13:08:37.000       Joe's Kitchen Nottingham, Nottingham
61     24 2016-01-21 23:07:38.000                           Work, Nottingham
62     24 2016-01-22 18:02:45.000                           Work, Nottingham
63     24 2016-01-23 16:57:19.000                  Centurion Way, Nottingham
64     24 2016-01-24 14:52:26.000                  Strelley Road, Nottingham
65     24 2016-01-25 20:12:28.000                    Old Moor Lodge, Nuthall
66     24 2016-01-26 23:04:07.000                           Work, Nottingham
67     24 2016-01-27 18:12:51.000                           Home, Nottingham
68     24 2016-01-28 23:05:17.000                           Work, Nottingham
69     24 2016-01-29 16:18:40.000                           Home, Nottingham
70     24 2016-01-30 16:32:17.000                    Charles Way, Nottingham
71     24 2016-01-31 18:59:12.000                           Home, Nottingham
72     24 2016-02-02 19:04:56.000              Lenton Hall Drive, Nottingham
73     24 2016-02-03 18:11:29.000                           Home, Nottingham
74     24 2016-02-04 16:32:54.000                           Work, Nottingham
75     24 2016-02-05 16:09:14.000                           Home, Nottingham
76     24 2016-02-06 14:48:17.000                     Edward Close, Hucknall
77     24 2016-02-07 13:54:07.000                           Home, Nottingham

[78 rows x 3 columns]

               Monday beg          device                      location
0 2015-11-16 09:44:50.265  windows-laptop         Market Street, Heanor
1 2015-11-23 08:21:10.838  windows-laptop         Storey's Gate, London
2 2015-11-30 09:05:24.000          iphone  Fulwood Crescent, Nottingham
3 2015-12-07 20:25:22.000          iphone              Home, Nottingham
4 2015-12-14 18:02:16.000          iphone              Work, Nottingham
5 2015-12-28 14:15:06.000          iphone         Mansfield Road, Derby
6 2016-01-11 11:24:07.000          iphone              Home, Nottingham
7 2016-01-18 12:55:55.000          iphone       Aspley Lane, Nottingham
8 2016-01-25 11:15:34.000          iphone       Aspley Lane, Nottingham
9 2016-02-01 12:08:28.000          iphone              Home, Nottingham

           Tuesday beg  device                      location
0  2015-11-17 09:39:04  iphone      Beeston Lane, Nottingham
1  2015-11-24 10:12:26  iphone  Fulwood Crescent, Nottingham
2  2015-12-01 10:00:09  iphone   Kingsbury Drive, Nottingham
3  2015-12-08 09:50:48  iphone              Home, Nottingham
4  2015-12-15 10:59:26  iphone    Nottingham, United Kingdom
5  2015-12-22 14:21:44  iphone       York Street, Nottingham
6  2015-12-29 18:15:25  iphone  Dalemoor Gardens, Nottingham
7  2016-01-05 21:23:47  iphone              Home, Nottingham
8  2016-01-12 10:33:59  iphone    Nottingham, United Kingdom
9  2016-01-19 09:47:59  iphone              Home, Nottingham
10 2016-01-26 09:45:09  iphone              Home, Nottingham
11 2016-02-02 10:48:18  iphone       Aspley Lane, Nottingham

,Friday beg,device,location
0,2015-11-13 08:59:36.926,windows-laptop,"Market Street, Heanor"
1,2015-11-20 12:38:53.000,iphone,"Fulwood Crescent, Nottingham"
2,2015-11-27 09:51:29.000,iphone,"Fulwood Crescent, Nottingham"
3,2015-12-04 14:59:56.000,iphone,"Aspley Lane, Nottingham"
4,2015-12-11 09:36:26.000,iphone,"Minver Crescent, Nottingham"
5,2015-12-18 09:37:04.000,iphone,"Ambleside Primary School, Nottingham, Nottingham"
6,2015-12-25 13:32:28.000,iphone,"Mums house, Nottingham"
7,2016-01-08 10:39:25.000,iphone,"Aspley Lane, Nottingham"
8,2016-01-15 21:17:47.000,iphone,"Home, Nottingham"
9,2016-01-22 15:45:01.000,iphone,"Nottingham, United Kingdom"
10,2016-01-29 09:39:04.000,iphone,"Amersham Rise, Nottingham"
11,2016-02-05 16:23:57.000,iphone,"Home, Nottingham"
12,2016-01-01 03:31:51.000,iphone,"Home, Nottingham"

             Wednesday beg          device                       location
0  2015-11-11 15:16:06.979  windows-laptop          Market Street, Heanor
1  2015-11-18 09:44:07.000          iphone  Lenton Hall Drive, Nottingham
2  2015-11-25 10:27:44.662  windows-laptop          Storey's Gate, London
3  2015-12-02 15:37:04.000          iphone     Sherborne Road, Nottingham
4  2015-12-09 09:07:17.000          iphone             Beacon, Nottingham
5  2015-12-16 16:28:52.000          iphone               Home, Nottingham
6  2015-12-23 15:12:53.000          iphone      Milton Street, Nottingham
7  2015-12-30 22:09:28.000          iphone               Home, Nottingham
8  2016-01-06 19:47:26.000          iphone               Work, Nottingham
9  2016-01-13 11:25:24.000          iphone               Home, Nottingham
10 2016-01-20 10:29:09.000          iphone        Aspley Lane, Nottingham
11 2016-01-27 16:28:47.000          iphone               Home, Nottingham
12 2016-02-03 16:27:03.000          iphone               Home, Nottingham

              Thursday beg          device                     location
0  2015-11-12 07:48:46.067  windows-laptop        Market Street, Heanor
1  2015-11-19 09:01:56.356  windows-laptop        Market Street, Heanor
2  2015-11-26 15:11:15.162  windows-laptop        Storey's Gate, London
3  2015-12-03 09:16:55.000          iphone  Kingsbury Drive, Nottingham
4  2015-12-10 10:23:38.000          iphone    Keighton Hill, Nottingham
5  2015-12-17 17:58:55.000          iphone             Work, Nottingham
6  2015-12-24 07:56:17.000          iphone             Work, Nottingham
7  2015-12-31 20:26:58.000          iphone      Old Moor Lodge, Nuthall
8  2016-01-07 16:27:31.000          iphone             Home, Nottingham
9  2016-01-14 09:54:43.000          iphone    Freind house , Nottingham
10 2016-01-21 17:50:57.000          iphone             Work, Nottingham
11 2016-01-28 14:24:38.000          iphone             Home, Nottingham
12 2016-02-04 16:21:46.000          iphone             Work, Nottingham

               Sunday beg          device                          location
0 2015-11-15 07:55:07.000          iphone           Aspley Lane, Nottingham
1 2015-11-22 07:32:40.194  windows-laptop             Storey's Gate, London
2 2015-11-29 07:56:53.000          iphone           Aspley Lane, Nottingham
3 2015-12-06 07:54:22.000          iphone           Aspley Lane, Nottingham
4 2015-12-13 14:41:09.000          iphone                  Home, Nottingham
5 2015-12-20 14:47:06.000          iphone  Strelley Social Club, Nottingham
6 2015-12-27 16:18:36.000          iphone                  Home, Nottingham
7 2016-01-03 17:20:19.000          iphone            Mums house, Nottingham
8 2016-01-17 07:56:35.000          iphone                  Home, Nottingham
9 2016-01-24 07:56:43.000          iphone                  Work, Nottingham

,Saturday beg,device,location
0,2015-11-14 10:19:39.775,windows-laptop,"Market Street, Heanor"
1,2015-11-21 11:44:20.000,iphone,"Fulwood Crescent, Nottingham"
2,2015-11-28 15:12:05.000,iphone,"Aspley Lane, Nottingham"
3,2015-12-05 16:21:03.000,iphone,"Main Street, Nottingham"
4,2015-12-12 20:51:57.000,iphone,"Work, Nottingham"
5,2015-12-19 13:32:46.000,iphone,"Aspley Lane, Nottingham"
6,2015-12-26 21:39:59.000,iphone,"Work, Nottingham"
7,2016-01-16 20:24:57.000,iphone,"Freind house , Nottingham"
8,2016-01-23 15:36:06.000,iphone,"Electric Avenue, Nottingham"
9,2016-01-30 13:57:47.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
10,2016-02-06 09:42:27.000,iphone,"Talbot Street, Nottingham"

           Monday end  device                      location
0 2015-11-16 21:22:16  iphone  Fulwood Crescent, Nottingham
1 2015-11-23 23:56:56  iphone        Derby Road, Nottingham
2 2015-11-30 15:40:57  iphone       Aspley Lane, Nottingham
3 2015-12-07 20:25:21  iphone  Fulwood Crescent, Nottingham
4 2015-12-14 18:09:44  iphone              Work, Nottingham
5 2015-12-28 21:19:24  iphone     Wollaton Road, Nottingham
6 2016-01-04 16:05:04  iphone              Home, Nottingham
7 2016-01-18 16:09:05  iphone              Home, Nottingham
8 2016-01-25 20:12:28  iphone       Old Moor Lodge, Nuthall

               Tuesday end          device                       location
0  2015-11-17 23:19:03.000          iphone   Fulwood Crescent, Nottingham
1  2015-11-24 21:47:45.430  windows-laptop          Storey's Gate, London
2  2015-12-01 23:16:50.000          iphone        Aspley Lane, Nottingham
3  2015-12-08 19:48:10.000          iphone               Home, Nottingham
4  2015-12-15 19:51:12.000          iphone               Home, Nottingham
5  2015-12-22 22:48:07.000          iphone               Home, Nottingham
6  2015-12-29 20:06:21.000          iphone   Dalemoor Gardens, Nottingham
7  2016-01-12 22:18:56.000          iphone               Work, Nottingham
8  2016-01-19 23:03:51.000          iphone               Work, Nottingham
9  2016-01-26 23:04:07.000          iphone               Work, Nottingham
10 2016-02-02 19:04:56.000          iphone  Lenton Hall Drive, Nottingham

,Friday end,device,location
0,2015-11-13 22:30:03.139,windows-laptop,"Market Street, Heanor"
1,2015-11-20 22:48:42.307,windows-laptop,"Market Street, Heanor"
2,2015-11-27 22:39:24.000,iphone,"Aspley Lane, Nottingham"
3,2015-12-04 15:02:10.000,iphone,"Aspley Lane, Nottingham"
4,2015-12-11 16:06:21.000,iphone,"Home, Nottingham"
5,2015-12-18 20:22:10.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
6,2015-12-25 21:32:55.000,iphone,"Home, Nottingham"
7,2016-01-01 23:10:27.000,iphone,"Home, Nottingham"
8,2016-01-08 19:41:11.000,iphone,"Bulwell Tesco Extra New Store, Nottingham"
9,2016-01-22 18:02:45.000,iphone,"Work, Nottingham"
10,2016-01-29 16:18:40.000,iphone,"Home, Nottingham"
11,2016-02-05 16:09:14.000,iphone,"Home, Nottingham"

,Wednesday end,device,location
0,2015-11-11 19:53:07.000,iphone,"Aspley Lane, Nottingham"
1,2015-11-18 23:03:16.000,iphone,"Amersham Rise, Nottingham"
2,2015-11-25 23:53:40.783,windows-laptop,"Storey's Gate, London"
3,2015-12-02 21:36:09.000,iphone,"Fulwood Crescent, Nottingham"
4,2015-12-09 19:10:26.000,iphone,"Work, Nottingham"
5,2015-12-16 16:09:20.000,iphone,"Home, Nottingham"
6,2015-12-23 19:08:57.000,iphone,"Harvester @ Cornerhouse, United Kingdom"
7,2016-01-06 19:55:44.000,iphone,"Work, Nottingham"
8,2016-01-20 13:08:37.000,iphone,"Joe's Kitchen Nottingham, Nottingham"
9,2016-01-27 18:12:51.000,iphone,"Home, Nottingham"
10,2016-02-03 18:11:29.000,iphone,"Home, Nottingham"

              Thursday end          device                       location
0  2015-11-12 23:07:24.000          iphone        Aspley Lane, Nottingham
1  2015-11-19 23:58:00.165  windows-laptop          Market Street, Heanor
2  2015-11-26 15:16:15.162  windows-laptop          Storey's Gate, London
3  2015-12-03 16:59:45.000          iphone  Lenton Hall Drive, Nottingham
4  2015-12-10 23:09:04.000          iphone               Work, Nottingham
5  2015-12-17 17:52:12.000          iphone               Home, Nottingham
6  2015-12-24 21:17:12.000          iphone        Aspley Lane, Nottingham
7  2015-12-31 22:37:08.000          iphone        Old Moor Lodge, Nuthall
8  2016-01-07 16:08:50.000          iphone               Home, Nottingham
9  2016-01-14 21:05:02.000          iphone               Work, Nottingham
10 2016-01-21 23:07:38.000          iphone               Work, Nottingham
11 2016-01-28 23:05:17.000          iphone               Work, Nottingham
12 2016-02-04 16:32:54.000          iphone               Work, Nottingham

                Sunday end          device                      location
0  2015-11-15 21:29:16.160  windows-laptop         Market Street, Heanor
1  2015-11-22 18:47:14.765  windows-laptop         Storey's Gate, London
2  2015-11-29 13:15:01.000          iphone       Aspley Lane, Nottingham
3  2015-12-06 17:18:01.000          iphone  Fulwood Crescent, Nottingham
4  2015-12-13 14:36:29.000          iphone              Work, Nottingham
5  2015-12-20 23:57:57.000          iphone              Home, Nottingham
6  2015-12-27 16:10:57.000          iphone              Work, Nottingham
7  2016-01-03 19:32:37.000          iphone        Mums house, Nottingham
8  2016-01-17 13:10:38.000          iphone              Work, Nottingham
9  2016-01-24 14:52:26.000          iphone     Strelley Road, Nottingham
10 2016-01-31 18:59:12.000          iphone              Home, Nottingham
11 2016-02-07 13:54:07.000          iphone              Home, Nottingham

             Saturday end          device                      location
0 2015-11-14 22:39:48.105  windows-laptop         Market Street, Heanor
1 2015-11-21 20:59:21.000          iphone  Fulwood Crescent, Nottingham
2 2015-11-28 23:13:58.000          iphone    Nottingham, United Kingdom
3 2015-12-05 18:08:14.000          iphone       Aspley Lane, Nottingham
4 2015-12-12 20:42:52.000          iphone              Home, Nottingham
5 2015-12-19 19:32:20.000          iphone   Bull Close Road, Nottingham
6 2016-01-16 20:23:07.000          iphone              Home, Nottingham
7 2016-01-23 16:57:19.000          iphone     Centurion Way, Nottingham
8 2016-01-30 16:32:17.000          iphone       Charles Way, Nottingham
9 2016-02-06 14:48:17.000          iphone        Edward Close, Hucknall

user: 23=======================

                   beg  devid                              location
0  2015-11-11 16:00:31     27                      Home, Nottingham
1  2015-11-12 12:08:03     27          Bluecoat Academy, Nottingham
2  2015-11-13 09:59:46     27          Bluecoat Academy, Nottingham
3  2015-11-14 12:22:10     27                      Home, Nottingham
4  2015-11-15 21:26:08     27            Families House, Nottingham
5  2015-11-16 12:25:12     27          Bluecoat Academy, Nottingham
6  2015-11-17 11:05:53     27          Bluecoat Academy, Nottingham
7  2015-11-18 09:35:22     27           Minver Crescent, Nottingham
8  2015-11-19 09:36:45     27            Sherborne Road, Nottingham
9  2015-11-20 12:22:58     27            Families House, Nottingham
10 2015-11-21 11:16:41     27                      Home, Nottingham
11 2015-11-23 10:20:34     27               Aspley Lane, Nottingham
12 2015-11-24 11:11:08     27          Bluecoat Academy, Nottingham
13 2015-11-25 10:07:32     27          Bluecoat Academy, Nottingham
14 2015-11-26 11:59:01     27          Bluecoat Academy, Nottingham
15 2015-11-27 10:52:13     27          Bluecoat Academy, Nottingham
16 2015-11-28 11:31:34     27                      Home, Nottingham
17 2015-11-29 17:49:00     27                      Home, Nottingham
18 2015-11-30 10:55:43     27                  My Local, Nottingham
19 2015-12-01 11:09:09     27                      Home, Nottingham
20 2015-12-02 10:03:50     27                  My Local, Nottingham
21 2015-12-03 09:26:55     27  Ambleside Primary School, Nottingham
22 2015-12-04 04:53:50     27                      Home, Nottingham
23 2015-12-05 15:22:47     27               Church Lane, Stapleford
24 2015-12-06 05:13:47     27                      Home, Nottingham
25 2015-12-07 11:13:42     27                      Home, Nottingham
26 2015-12-08 11:02:15     27               Aspley Lane, Nottingham
27 2015-12-09 08:21:23     27               Aspley Lane, Nottingham
28 2015-12-10 09:31:21     27  Ambleside Primary School, Nottingham
29 2015-12-11 12:39:10     27               Aspley Lane, Nottingham
30 2015-12-12 17:11:56     27               Aspley Lane, Nottingham
31 2015-12-13 21:52:09     27                      Home, Nottingham
32 2015-12-14 13:13:16     27               Aspley Lane, Nottingham
33 2015-12-15 09:33:16     27           Minver Crescent, Nottingham
34 2015-12-16 09:40:54     27               Aspley Lane, Nottingham
35 2015-12-17 09:25:11     27  Ambleside Primary School, Nottingham
36 2015-12-18 04:46:36     27                Derby Road, Nottingham
37 2015-12-19 13:33:11     27                      Home, Nottingham
38 2015-12-20 06:14:22     27             Alfreton Road, Nottingham
39 2015-12-21 13:35:12     27            Families House, Nottingham
40 2015-12-22 10:42:01     27               Aspley Lane, Nottingham
41 2015-12-23 11:26:14     27                      Home, Nottingham
42 2015-12-24 11:43:11     27                      Home, Nottingham
43 2015-12-25 13:05:27     27            Families House, Nottingham
44 2015-12-27 16:19:37     27               Harrow Road, Nottingham
45 2015-11-22 02:36:43     27               Wigman Road, Nottingham

,devid,end,location
0,27,2015-11-12 22:13:33,"Inspire Academy, Nottingham"
1,27,2015-11-13 13:31:40,"My Local, Nottingham"
2,27,2015-11-14 21:19:57,"Families House, Nottingham"
3,27,2015-11-15 21:29:05,"Families House, Nottingham"
4,27,2015-11-16 20:03:17,"Families House, Nottingham"
5,27,2015-11-17 20:02:31,"Amersham Rise, Nottingham"
6,27,2015-11-18 18:56:53,"Families House, Nottingham"
7,27,2015-11-19 23:34:50,"The Company Inn (Wetherspoon), Nottingham"
8,27,2015-11-20 19:13:29,"Families House, Nottingham"
9,27,2015-11-21 21:25:38,"County Road, Nottingham"
10,27,2015-11-22 02:40:34,"Wigman Road, Nottingham"
11,27,2015-11-23 17:05:35,"Allendale Avenue, Nottingham"
12,27,2015-11-24 17:03:18,"Bluecoat Academy, Nottingham"
13,27,2015-11-25 19:21:22,"Home, Nottingham"
14,27,2015-11-26 21:03:14,"Nuthall Road, Nottingham"
15,27,2015-11-27 21:13:55,"Chapel Bar, Nottingham"
16,27,2015-11-28 21:39:09,"Families House, Nottingham"
17,27,2015-11-29 10:16:29,"Home, Nottingham"
18,27,2015-11-30 16:02:38,"Aspley Lane, Nottingham"
19,27,2015-12-01 18:48:37,"Mansfield Road, Nottingham"
20,27,2015-12-02 17:03:40,"Bluecoat Academy, Nottingham"
21,27,2015-12-03 22:28:34,"Canal Street, Nottingham"
22,27,2015-12-04 16:10:04,"Aspley Lane, Nottingham"
23,27,2015-12-05 23:54:40,"Canal Street, Nottingham"
24,27,2015-12-06 19:12:37,"Home, Nottingham"
25,27,2015-12-07 18:03:19,"Amersham Rise, Nottingham"
26,27,2015-12-08 22:20:22,"Aspley Lane, Nottingham"
27,27,2015-12-09 20:35:03,London St Pancras International Railway Statio...
28,27,2015-12-10 23:31:38,"The Company Inn (Wetherspoon), Nottingham"
29,27,2015-12-11 16:07:46,"Aspley Lane, Nottingham"
30,27,2015-12-12 17:29:52,"Aspley Lane, Nottingham"
31,27,2015-12-13 08:07:50,"Home, Nottingham"
32,27,2015-12-14 16:36:15,"Aspley Lane, Nottingham"
33,27,2015-12-15 19:01:33,"Aspley Lane, Nottingham"
34,27,2015-12-16 20:36:21,"Aspley Lane, Nottingham"
35,27,2015-12-17 23:38:47,"Bluecoat Academy, Nottingham"
36,27,2015-12-18 04:48:57,"Derby Road, Nottingham"
37,27,2015-12-19 22:04:36,"Aspley Lane, Nottingham"
38,27,2015-12-20 21:44:24,"Amersham Rise, Nottingham"
39,27,2015-12-21 14:46:22,"Aspley Lane, Nottingham"
40,27,2015-12-22 22:06:41,"Church Road, Bestwood Village"
41,27,2015-12-23 22:36:12,"Home, Nottingham"
42,27,2015-12-24 17:13:16,"Buxton Avenue, Carlton"
43,27,2015-12-25 23:24:39,"Families House, Nottingham"
44,27,2015-12-26 12:48:15,"Home, Nottingham"
45,27,2015-12-27 17:44:54,"Harrow Road, Nottingham"
46,27,2015-12-28 15:33:01,"Home, Nottingham"

           Monday beg  device                      location
0 2015-11-16 12:25:12  iphone  Bluecoat Academy, Nottingham
1 2015-11-23 10:20:34  iphone       Aspley Lane, Nottingham
2 2015-11-30 10:55:43  iphone          My Local, Nottingham
3 2015-12-07 11:13:42  iphone              Home, Nottingham
4 2015-12-14 13:13:16  iphone       Aspley Lane, Nottingham
5 2015-12-21 13:35:12  iphone    Families House, Nottingham

          Tuesday beg  device                      location
0 2015-11-17 11:05:53  iphone  Bluecoat Academy, Nottingham
1 2015-11-24 11:11:08  iphone  Bluecoat Academy, Nottingham
2 2015-12-01 11:09:09  iphone              Home, Nottingham
3 2015-12-08 11:02:15  iphone       Aspley Lane, Nottingham
4 2015-12-15 09:33:16  iphone   Minver Crescent, Nottingham
5 2015-12-22 10:42:01  iphone       Aspley Lane, Nottingham

           Friday beg  device                      location
0 2015-11-13 09:59:46  iphone  Bluecoat Academy, Nottingham
1 2015-11-20 12:22:58  iphone    Families House, Nottingham
2 2015-11-27 10:52:13  iphone  Bluecoat Academy, Nottingham
3 2015-12-04 04:53:50  iphone              Home, Nottingham
4 2015-12-11 12:39:10  iphone       Aspley Lane, Nottingham
5 2015-12-18 04:46:36  iphone        Derby Road, Nottingham
6 2015-12-25 13:05:27  iphone    Families House, Nottingham

        Wednesday beg  device                      location
0 2015-11-11 16:00:31  iphone              Home, Nottingham
1 2015-11-18 09:35:22  iphone   Minver Crescent, Nottingham
2 2015-11-25 10:07:32  iphone  Bluecoat Academy, Nottingham
3 2015-12-02 10:03:50  iphone          My Local, Nottingham
4 2015-12-09 08:21:23  iphone       Aspley Lane, Nottingham
5 2015-12-16 09:40:54  iphone       Aspley Lane, Nottingham
6 2015-12-23 11:26:14  iphone              Home, Nottingham

         Thursday beg  device                              location
0 2015-11-12 12:08:03  iphone          Bluecoat Academy, Nottingham
1 2015-11-19 09:36:45  iphone            Sherborne Road, Nottingham
2 2015-11-26 11:59:01  iphone          Bluecoat Academy, Nottingham
3 2015-12-03 09:26:55  iphone  Ambleside Primary School, Nottingham
4 2015-12-10 09:31:21  iphone  Ambleside Primary School, Nottingham
5 2015-12-17 09:25:11  iphone  Ambleside Primary School, Nottingham
6 2015-12-24 11:43:11  iphone                      Home, Nottingham

           Sunday beg  device                    location
0 2015-11-15 21:26:08  iphone  Families House, Nottingham
1 2015-11-29 17:49:00  iphone            Home, Nottingham
2 2015-12-06 05:13:47  iphone            Home, Nottingham
3 2015-12-13 21:52:09  iphone            Home, Nottingham
4 2015-12-20 06:14:22  iphone   Alfreton Road, Nottingham
5 2015-12-27 16:19:37  iphone     Harrow Road, Nottingham
6 2015-11-22 02:36:43  iphone     Wigman Road, Nottingham

         Saturday beg  device                 location
0 2015-11-14 12:22:10  iphone         Home, Nottingham
1 2015-11-21 11:16:41  iphone         Home, Nottingham
2 2015-11-28 11:31:34  iphone         Home, Nottingham
3 2015-12-05 15:22:47  iphone  Church Lane, Stapleford
4 2015-12-12 17:11:56  iphone  Aspley Lane, Nottingham
5 2015-12-19 13:33:11  iphone         Home, Nottingham

           Monday end  device                      location
0 2015-11-16 20:03:17  iphone    Families House, Nottingham
1 2015-11-23 17:05:35  iphone  Allendale Avenue, Nottingham
2 2015-11-30 16:02:38  iphone       Aspley Lane, Nottingham
3 2015-12-07 18:03:19  iphone     Amersham Rise, Nottingham
4 2015-12-14 16:36:15  iphone       Aspley Lane, Nottingham
5 2015-12-21 14:46:22  iphone       Aspley Lane, Nottingham
6 2015-12-28 15:33:01  iphone              Home, Nottingham

          Tuesday end  device                       location
0 2015-11-17 20:02:31  iphone      Amersham Rise, Nottingham
1 2015-11-24 17:03:18  iphone   Bluecoat Academy, Nottingham
2 2015-12-01 18:48:37  iphone     Mansfield Road, Nottingham
3 2015-12-08 22:20:22  iphone        Aspley Lane, Nottingham
4 2015-12-15 19:01:33  iphone        Aspley Lane, Nottingham
5 2015-12-22 22:06:41  iphone  Church Road, Bestwood Village

           Friday end  device                    location
0 2015-11-13 13:31:40  iphone        My Local, Nottingham
1 2015-11-20 19:13:29  iphone  Families House, Nottingham
2 2015-11-27 21:13:55  iphone      Chapel Bar, Nottingham
3 2015-12-04 16:10:04  iphone     Aspley Lane, Nottingham
4 2015-12-11 16:07:46  iphone     Aspley Lane, Nottingham
5 2015-12-18 04:48:57  iphone      Derby Road, Nottingham
6 2015-12-25 23:24:39  iphone  Families House, Nottingham

,Wednesday end,device,location
0,2015-11-18 18:56:53,iphone,"Families House, Nottingham"
1,2015-11-25 19:21:22,iphone,"Home, Nottingham"
2,2015-12-02 17:03:40,iphone,"Bluecoat Academy, Nottingham"
3,2015-12-09 20:35:03,iphone,London St Pancras International Railway Statio...
4,2015-12-16 20:36:21,iphone,"Aspley Lane, Nottingham"
5,2015-12-23 22:36:12,iphone,"Home, Nottingham"

         Thursday end  device                                   location
0 2015-11-12 22:13:33  iphone                Inspire Academy, Nottingham
1 2015-11-19 23:34:50  iphone  The Company Inn (Wetherspoon), Nottingham
2 2015-11-26 21:03:14  iphone                   Nuthall Road, Nottingham
3 2015-12-03 22:28:34  iphone                   Canal Street, Nottingham
4 2015-12-10 23:31:38  iphone  The Company Inn (Wetherspoon), Nottingham
5 2015-12-17 23:38:47  iphone               Bluecoat Academy, Nottingham
6 2015-12-24 17:13:16  iphone                     Buxton Avenue, Carlton

           Sunday end  device                    location
0 2015-11-15 21:29:05  iphone  Families House, Nottingham
1 2015-11-22 02:40:34  iphone     Wigman Road, Nottingham
2 2015-11-29 10:16:29  iphone            Home, Nottingham
3 2015-12-06 19:12:37  iphone            Home, Nottingham
4 2015-12-13 08:07:50  iphone            Home, Nottingham
5 2015-12-20 21:44:24  iphone   Amersham Rise, Nottingham
6 2015-12-27 17:44:54  iphone     Harrow Road, Nottingham

         Saturday end  device                    location
0 2015-11-14 21:19:57  iphone  Families House, Nottingham
1 2015-11-21 21:25:38  iphone     County Road, Nottingham
2 2015-11-28 21:39:09  iphone  Families House, Nottingham
3 2015-12-05 23:54:40  iphone    Canal Street, Nottingham
4 2015-12-12 17:29:52  iphone     Aspley Lane, Nottingham
5 2015-12-19 22:04:36  iphone     Aspley Lane, Nottingham
6 2015-12-26 12:48:15  iphone            Home, Nottingham

                   beg  devid                              location
0  2015-11-11 16:00:31     27                      Home, Nottingham
1  2015-11-12 12:08:03     27          Bluecoat Academy, Nottingham
2  2015-11-13 09:59:46     27          Bluecoat Academy, Nottingham
3  2015-11-14 12:22:10     27                      Home, Nottingham
4  2015-11-15 21:26:08     27            Families House, Nottingham
5  2015-11-16 12:25:12     27          Bluecoat Academy, Nottingham
6  2015-11-17 11:05:53     27          Bluecoat Academy, Nottingham
7  2015-11-18 09:35:22     27           Minver Crescent, Nottingham
8  2015-11-19 09:36:45     27            Sherborne Road, Nottingham
9  2015-11-20 12:22:58     27            Families House, Nottingham
10 2015-11-21 11:16:41     27                      Home, Nottingham
11 2015-11-23 10:20:34     27               Aspley Lane, Nottingham
12 2015-11-24 11:11:08     27          Bluecoat Academy, Nottingham
13 2015-11-25 10:07:32     27          Bluecoat Academy, Nottingham
14 2015-11-26 11:59:01     27          Bluecoat Academy, Nottingham
15 2015-11-27 10:52:13     27          Bluecoat Academy, Nottingham
16 2015-11-28 11:31:34     27                      Home, Nottingham
17 2015-11-29 17:49:00     27                      Home, Nottingham
18 2015-11-30 10:55:43     27                  My Local, Nottingham
19 2015-12-01 11:09:09     27                      Home, Nottingham
20 2015-12-02 10:03:50     27                  My Local, Nottingham
21 2015-12-03 09:26:55     27  Ambleside Primary School, Nottingham
22 2015-12-04 04:53:50     27                      Home, Nottingham
23 2015-12-05 15:22:47     27               Church Lane, Stapleford
24 2015-12-06 05:13:47     27                      Home, Nottingham
25 2015-12-07 11:13:42     27                      Home, Nottingham
26 2015-12-08 11:02:15     27               Aspley Lane, Nottingham
27 2015-12-09 08:21:23     27               Aspley Lane, Nottingham
28 2015-12-10 09:31:21     27  Ambleside Primary School, Nottingham
29 2015-12-11 12:39:10     27               Aspley Lane, Nottingham
30 2015-12-12 17:11:56     27               Aspley Lane, Nottingham
31 2015-12-13 21:52:09     27                      Home, Nottingham
32 2015-12-14 13:13:16     27               Aspley Lane, Nottingham
33 2015-12-15 09:33:16     27           Minver Crescent, Nottingham
34 2015-12-16 09:40:54     27               Aspley Lane, Nottingham
35 2015-12-17 09:25:11     27  Ambleside Primary School, Nottingham
36 2015-12-18 04:46:36     27                Derby Road, Nottingham
37 2015-12-19 13:33:11     27                      Home, Nottingham
38 2015-12-20 06:14:22     27             Alfreton Road, Nottingham
39 2015-12-21 13:35:12     27            Families House, Nottingham
40 2015-12-22 10:42:01     27               Aspley Lane, Nottingham
41 2015-12-23 11:26:14     27                      Home, Nottingham
42 2015-12-24 11:43:11     27                      Home, Nottingham
43 2015-12-25 13:05:27     27            Families House, Nottingham
44 2015-12-27 16:19:37     27               Harrow Road, Nottingham
45 2015-11-22 02:36:43     27               Wigman Road, Nottingham

,devid,end,location
0,27,2015-11-12 22:13:33,"Inspire Academy, Nottingham"
1,27,2015-11-13 13:31:40,"My Local, Nottingham"
2,27,2015-11-14 21:19:57,"Families House, Nottingham"
3,27,2015-11-15 21:29:05,"Families House, Nottingham"
4,27,2015-11-16 20:03:17,"Families House, Nottingham"
5,27,2015-11-17 20:02:31,"Amersham Rise, Nottingham"
6,27,2015-11-18 18:56:53,"Families House, Nottingham"
7,27,2015-11-19 23:34:50,"The Company Inn (Wetherspoon), Nottingham"
8,27,2015-11-20 19:13:29,"Families House, Nottingham"
9,27,2015-11-21 21:25:38,"County Road, Nottingham"
10,27,2015-11-22 02:40:34,"Wigman Road, Nottingham"
11,27,2015-11-23 17:05:35,"Allendale Avenue, Nottingham"
12,27,2015-11-24 17:03:18,"Bluecoat Academy, Nottingham"
13,27,2015-11-25 19:21:22,"Home, Nottingham"
14,27,2015-11-26 21:03:14,"Nuthall Road, Nottingham"
15,27,2015-11-27 21:13:55,"Chapel Bar, Nottingham"
16,27,2015-11-28 21:39:09,"Families House, Nottingham"
17,27,2015-11-29 10:16:29,"Home, Nottingham"
18,27,2015-11-30 16:02:38,"Aspley Lane, Nottingham"
19,27,2015-12-01 18:48:37,"Mansfield Road, Nottingham"
20,27,2015-12-02 17:03:40,"Bluecoat Academy, Nottingham"
21,27,2015-12-03 22:28:34,"Canal Street, Nottingham"
22,27,2015-12-04 16:10:04,"Aspley Lane, Nottingham"
23,27,2015-12-05 23:54:40,"Canal Street, Nottingham"
24,27,2015-12-06 19:12:37,"Home, Nottingham"
25,27,2015-12-07 18:03:19,"Amersham Rise, Nottingham"
26,27,2015-12-08 22:20:22,"Aspley Lane, Nottingham"
27,27,2015-12-09 20:35:03,London St Pancras International Railway Statio...
28,27,2015-12-10 23:31:38,"The Company Inn (Wetherspoon), Nottingham"
29,27,2015-12-11 16:07:46,"Aspley Lane, Nottingham"
30,27,2015-12-12 17:29:52,"Aspley Lane, Nottingham"
31,27,2015-12-13 08:07:50,"Home, Nottingham"
32,27,2015-12-14 16:36:15,"Aspley Lane, Nottingham"
33,27,2015-12-15 19:01:33,"Aspley Lane, Nottingham"
34,27,2015-12-16 20:36:21,"Aspley Lane, Nottingham"
35,27,2015-12-17 23:38:47,"Bluecoat Academy, Nottingham"
36,27,2015-12-18 04:48:57,"Derby Road, Nottingham"
37,27,2015-12-19 22:04:36,"Aspley Lane, Nottingham"
38,27,2015-12-20 21:44:24,"Amersham Rise, Nottingham"
39,27,2015-12-21 14:46:22,"Aspley Lane, Nottingham"
40,27,2015-12-22 22:06:41,"Church Road, Bestwood Village"
41,27,2015-12-23 22:36:12,"Home, Nottingham"
42,27,2015-12-24 17:13:16,"Buxton Avenue, Carlton"
43,27,2015-12-25 23:24:39,"Families House, Nottingham"
44,27,2015-12-26 12:48:15,"Home, Nottingham"
45,27,2015-12-27 17:44:54,"Harrow Road, Nottingham"
46,27,2015-12-28 15:33:01,"Home, Nottingham"

           Monday beg  device                      location
0 2015-11-16 12:25:12  iphone  Bluecoat Academy, Nottingham
1 2015-11-23 10:20:34  iphone       Aspley Lane, Nottingham
2 2015-11-30 10:55:43  iphone          My Local, Nottingham
3 2015-12-07 11:13:42  iphone              Home, Nottingham
4 2015-12-14 13:13:16  iphone       Aspley Lane, Nottingham
5 2015-12-21 13:35:12  iphone    Families House, Nottingham

          Tuesday beg  device                      location
0 2015-11-17 11:05:53  iphone  Bluecoat Academy, Nottingham
1 2015-11-24 11:11:08  iphone  Bluecoat Academy, Nottingham
2 2015-12-01 11:09:09  iphone              Home, Nottingham
3 2015-12-08 11:02:15  iphone       Aspley Lane, Nottingham
4 2015-12-15 09:33:16  iphone   Minver Crescent, Nottingham
5 2015-12-22 10:42:01  iphone       Aspley Lane, Nottingham

           Friday beg  device                      location
0 2015-11-13 09:59:46  iphone  Bluecoat Academy, Nottingham
1 2015-11-20 12:22:58  iphone    Families House, Nottingham
2 2015-11-27 10:52:13  iphone  Bluecoat Academy, Nottingham
3 2015-12-04 04:53:50  iphone              Home, Nottingham
4 2015-12-11 12:39:10  iphone       Aspley Lane, Nottingham
5 2015-12-18 04:46:36  iphone        Derby Road, Nottingham
6 2015-12-25 13:05:27  iphone    Families House, Nottingham

        Wednesday beg  device                      location
0 2015-11-11 16:00:31  iphone              Home, Nottingham
1 2015-11-18 09:35:22  iphone   Minver Crescent, Nottingham
2 2015-11-25 10:07:32  iphone  Bluecoat Academy, Nottingham
3 2015-12-02 10:03:50  iphone          My Local, Nottingham
4 2015-12-09 08:21:23  iphone       Aspley Lane, Nottingham
5 2015-12-16 09:40:54  iphone       Aspley Lane, Nottingham
6 2015-12-23 11:26:14  iphone              Home, Nottingham

         Thursday beg  device                              location
0 2015-11-12 12:08:03  iphone          Bluecoat Academy, Nottingham
1 2015-11-19 09:36:45  iphone            Sherborne Road, Nottingham
2 2015-11-26 11:59:01  iphone          Bluecoat Academy, Nottingham
3 2015-12-03 09:26:55  iphone  Ambleside Primary School, Nottingham
4 2015-12-10 09:31:21  iphone  Ambleside Primary School, Nottingham
5 2015-12-17 09:25:11  iphone  Ambleside Primary School, Nottingham
6 2015-12-24 11:43:11  iphone                      Home, Nottingham

           Sunday beg  device                    location
0 2015-11-15 21:26:08  iphone  Families House, Nottingham
1 2015-11-29 17:49:00  iphone            Home, Nottingham
2 2015-12-06 05:13:47  iphone            Home, Nottingham
3 2015-12-13 21:52:09  iphone            Home, Nottingham
4 2015-12-20 06:14:22  iphone   Alfreton Road, Nottingham
5 2015-12-27 16:19:37  iphone     Harrow Road, Nottingham
6 2015-11-22 02:36:43  iphone     Wigman Road, Nottingham

         Saturday beg  device                 location
0 2015-11-14 12:22:10  iphone         Home, Nottingham
1 2015-11-21 11:16:41  iphone         Home, Nottingham
2 2015-11-28 11:31:34  iphone         Home, Nottingham
3 2015-12-05 15:22:47  iphone  Church Lane, Stapleford
4 2015-12-12 17:11:56  iphone  Aspley Lane, Nottingham
5 2015-12-19 13:33:11  iphone         Home, Nottingham

           Monday end  device                      location
0 2015-11-16 20:03:17  iphone    Families House, Nottingham
1 2015-11-23 17:05:35  iphone  Allendale Avenue, Nottingham
2 2015-11-30 16:02:38  iphone       Aspley Lane, Nottingham
3 2015-12-07 18:03:19  iphone     Amersham Rise, Nottingham
4 2015-12-14 16:36:15  iphone       Aspley Lane, Nottingham
5 2015-12-21 14:46:22  iphone       Aspley Lane, Nottingham
6 2015-12-28 15:33:01  iphone              Home, Nottingham

          Tuesday end  device                       location
0 2015-11-17 20:02:31  iphone      Amersham Rise, Nottingham
1 2015-11-24 17:03:18  iphone   Bluecoat Academy, Nottingham
2 2015-12-01 18:48:37  iphone     Mansfield Road, Nottingham
3 2015-12-08 22:20:22  iphone        Aspley Lane, Nottingham
4 2015-12-15 19:01:33  iphone        Aspley Lane, Nottingham
5 2015-12-22 22:06:41  iphone  Church Road, Bestwood Village

           Friday end  device                    location
0 2015-11-13 13:31:40  iphone        My Local, Nottingham
1 2015-11-20 19:13:29  iphone  Families House, Nottingham
2 2015-11-27 21:13:55  iphone      Chapel Bar, Nottingham
3 2015-12-04 16:10:04  iphone     Aspley Lane, Nottingham
4 2015-12-11 16:07:46  iphone     Aspley Lane, Nottingham
5 2015-12-18 04:48:57  iphone      Derby Road, Nottingham
6 2015-12-25 23:24:39  iphone  Families House, Nottingham

,Wednesday end,device,location
0,2015-11-18 18:56:53,iphone,"Families House, Nottingham"
1,2015-11-25 19:21:22,iphone,"Home, Nottingham"
2,2015-12-02 17:03:40,iphone,"Bluecoat Academy, Nottingham"
3,2015-12-09 20:35:03,iphone,London St Pancras International Railway Statio...
4,2015-12-16 20:36:21,iphone,"Aspley Lane, Nottingham"
5,2015-12-23 22:36:12,iphone,"Home, Nottingham"

         Thursday end  device                                   location
0 2015-11-12 22:13:33  iphone                Inspire Academy, Nottingham
1 2015-11-19 23:34:50  iphone  The Company Inn (Wetherspoon), Nottingham
2 2015-11-26 21:03:14  iphone                   Nuthall Road, Nottingham
3 2015-12-03 22:28:34  iphone                   Canal Street, Nottingham
4 2015-12-10 23:31:38  iphone  The Company Inn (Wetherspoon), Nottingham
5 2015-12-17 23:38:47  iphone               Bluecoat Academy, Nottingham
6 2015-12-24 17:13:16  iphone                     Buxton Avenue, Carlton

           Sunday end  device                    location
0 2015-11-15 21:29:05  iphone  Families House, Nottingham
1 2015-11-22 02:40:34  iphone     Wigman Road, Nottingham
2 2015-11-29 10:16:29  iphone            Home, Nottingham
3 2015-12-06 19:12:37  iphone            Home, Nottingham
4 2015-12-13 08:07:50  iphone            Home, Nottingham
5 2015-12-20 21:44:24  iphone   Amersham Rise, Nottingham
6 2015-12-27 17:44:54  iphone     Harrow Road, Nottingham

         Saturday end  device                    location
0 2015-11-14 21:19:57  iphone  Families House, Nottingham
1 2015-11-21 21:25:38  iphone     County Road, Nottingham
2 2015-11-28 21:39:09  iphone  Families House, Nottingham
3 2015-12-05 23:54:40  iphone    Canal Street, Nottingham
4 2015-12-12 17:29:52  iphone     Aspley Lane, Nottingham
5 2015-12-19 22:04:36  iphone     Aspley Lane, Nottingham
6 2015-12-26 12:48:15  iphone            Home, Nottingham

user: 16=======================

                       beg  devid                        location
0  2015-11-11 18:01:32.712     28       Long Row West, Nottingham
1  2015-11-12 09:54:18.000     29  Marlborough Street, Nottingham
2  2015-11-13 09:56:50.000     29  Marlborough Street, Nottingham
3  2015-11-14 17:32:43.000     29           Leen Gate, Nottingham
4  2015-11-16 09:52:41.000     29  Marlborough Street, Nottingham
5  2015-11-17 09:57:36.000     29        Abbey Street, Nottingham
6  2015-11-18 09:54:34.000     29  Marlborough Street, Nottingham
7  2015-11-19 09:54:14.000     29   Clifton Boulevard, Nottingham
8  2015-11-20 07:02:33.000     29           Leen Gate, Nottingham
9  2015-11-21 05:26:23.000     29           Leen Gate, Nottingham
10 2015-11-22 11:15:24.000     29           Leen Gate, Nottingham
11 2015-11-23 09:57:26.000     29  Marlborough Street, Nottingham
12 2015-11-24 09:57:08.000     29  Marlborough Street, Nottingham
13 2015-11-25 09:27:58.000     29           Leen Gate, Nottingham
14 2015-11-26 10:01:56.000     29  Marlborough Street, Nottingham
15 2015-11-27 06:49:33.000     29           Leen Gate, Nottingham
16 2015-11-28 17:50:00.000     29           Leen Gate, Nottingham
17 2015-11-30 09:55:32.000     29  Marlborough Street, Nottingham
18 2015-12-01 12:26:44.000     29      Nottingham, United Kingdom
19 2015-12-02 09:54:40.000     29  Marlborough Street, Nottingham
20 2015-12-03 09:55:15.000     29  Marlborough Street, Nottingham
21 2015-12-04 09:53:30.000     29  Marlborough Street, Nottingham
22 2015-12-05 12:12:03.000     29              High Road, Beeston
23 2015-12-07 09:56:23.000     29  Marlborough Street, Nottingham
24 2015-12-08 09:54:32.000     29  Marlborough Street, Nottingham
25 2015-12-09 09:53:07.000     29   Clifton Boulevard, Nottingham
26 2015-12-10 09:54:25.000     29  Marlborough Street, Nottingham
27 2015-12-11 10:17:28.000     29      Nottingham, United Kingdom
28 2015-12-12 19:11:33.000     29           Leen Gate, Nottingham
29 2015-12-14 09:59:12.000     29      Nottingham, United Kingdom
30 2015-12-15 10:07:41.000     29      Nottingham, United Kingdom

    devid                     end                        location
0      28 2015-11-11 18:06:32.712       Long Row West, Nottingham
1      29 2015-11-12 16:13:29.000      Nottingham, United Kingdom
2      29 2015-11-13 16:32:54.000  Marlborough Street, Nottingham
3      29 2015-11-14 17:32:43.000           Leen Gate, Nottingham
4      29 2015-11-16 16:36:08.000  Marlborough Street, Nottingham
5      29 2015-11-17 16:35:42.000   Clifton Boulevard, Nottingham
6      29 2015-11-18 17:33:10.000           East Road, Nottingham
7      29 2015-11-19 20:42:40.000           Leen Gate, Nottingham
8      29 2015-11-20 22:57:59.000           Leen Gate, Nottingham
9      28 2015-11-21 13:42:10.789    Leicester Road, Loughborough
10     28 2015-11-22 12:27:08.634    Leicester Road, Loughborough
11     29 2015-11-23 21:16:22.000           Leen Gate, Nottingham
12     29 2015-11-24 22:54:04.000           Leen Gate, Nottingham
13     28 2015-11-25 17:44:18.511       Main Road, United Kingdom
14     29 2015-11-26 18:12:50.000      Nottingham, United Kingdom
15     29 2015-11-27 16:35:18.000  Marlborough Street, Nottingham
16     29 2015-11-28 17:50:00.000           Leen Gate, Nottingham
17     29 2015-11-30 17:50:03.000      Clumber Street, Nottingham
18     29 2015-12-01 17:34:26.000    Wilkinson Street, Nottingham
19     29 2015-12-02 16:36:57.000  Marlborough Street, Nottingham
20     29 2015-12-03 18:05:24.000      Nottingham, United Kingdom
21     29 2015-12-04 16:43:23.000   Clifton Boulevard, Nottingham
22     29 2015-12-05 12:30:19.000              High Road, Beeston
23     29 2015-12-07 16:49:12.000   Clifton Boulevard, Nottingham
24     29 2015-12-08 18:45:58.000          North Road, Nottingham
25     29 2015-12-09 17:44:01.000      Nottingham, United Kingdom
26     29 2015-12-10 17:45:41.000          Derby Road, Nottingham
27     29 2015-12-11 18:26:50.000        Radford Road, Nottingham
28     29 2015-12-12 19:11:33.000           Leen Gate, Nottingham
29     29 2015-12-14 17:01:32.000      Nottingham, United Kingdom
30     29 2015-12-15 17:52:45.000           Hill Side, Nottingham

           Monday beg         device                        location
0 2015-11-16 09:52:41  android-phone  Marlborough Street, Nottingham
1 2015-11-23 09:57:26  android-phone  Marlborough Street, Nottingham
2 2015-11-30 09:55:32  android-phone  Marlborough Street, Nottingham
3 2015-12-07 09:56:23  android-phone  Marlborough Street, Nottingham
4 2015-12-14 09:59:12  android-phone      Nottingham, United Kingdom

          Tuesday beg         device                        location
0 2015-11-17 09:57:36  android-phone        Abbey Street, Nottingham
1 2015-11-24 09:57:08  android-phone  Marlborough Street, Nottingham
2 2015-12-01 12:26:44  android-phone      Nottingham, United Kingdom
3 2015-12-08 09:54:32  android-phone  Marlborough Street, Nottingham
4 2015-12-15 10:07:41  android-phone      Nottingham, United Kingdom

           Friday beg         device                        location
0 2015-11-13 09:56:50  android-phone  Marlborough Street, Nottingham
1 2015-11-20 07:02:33  android-phone           Leen Gate, Nottingham
2 2015-11-27 06:49:33  android-phone           Leen Gate, Nottingham
3 2015-12-04 09:53:30  android-phone  Marlborough Street, Nottingham
4 2015-12-11 10:17:28  android-phone      Nottingham, United Kingdom

            Wednesday beg          device                        location
0 2015-11-11 18:01:32.712  windows-laptop       Long Row West, Nottingham
1 2015-11-18 09:54:34.000   android-phone  Marlborough Street, Nottingham
2 2015-11-25 09:27:58.000   android-phone           Leen Gate, Nottingham
3 2015-12-02 09:54:40.000   android-phone  Marlborough Street, Nottingham
4 2015-12-09 09:53:07.000   android-phone   Clifton Boulevard, Nottingham

         Thursday beg         device                        location
0 2015-11-12 09:54:18  android-phone  Marlborough Street, Nottingham
1 2015-11-19 09:54:14  android-phone   Clifton Boulevard, Nottingham
2 2015-11-26 10:01:56  android-phone  Marlborough Street, Nottingham
3 2015-12-03 09:55:15  android-phone  Marlborough Street, Nottingham
4 2015-12-10 09:54:25  android-phone  Marlborough Street, Nottingham

           Sunday beg         device               location
0 2015-11-22 11:15:24  android-phone  Leen Gate, Nottingham

         Saturday beg         device               location
0 2015-11-14 17:32:43  android-phone  Leen Gate, Nottingham
1 2015-11-21 05:26:23  android-phone  Leen Gate, Nottingham
2 2015-11-28 17:50:00  android-phone  Leen Gate, Nottingham
3 2015-12-05 12:12:03  android-phone     High Road, Beeston
4 2015-12-12 19:11:33  android-phone  Leen Gate, Nottingham

           Monday end         device                        location
0 2015-11-16 16:36:08  android-phone  Marlborough Street, Nottingham
1 2015-11-23 21:16:22  android-phone           Leen Gate, Nottingham
2 2015-11-30 17:50:03  android-phone      Clumber Street, Nottingham
3 2015-12-07 16:49:12  android-phone   Clifton Boulevard, Nottingham
4 2015-12-14 17:01:32  android-phone      Nottingham, United Kingdom

          Tuesday end         device                       location
0 2015-11-17 16:35:42  android-phone  Clifton Boulevard, Nottingham
1 2015-11-24 22:54:04  android-phone          Leen Gate, Nottingham
2 2015-12-01 17:34:26  android-phone   Wilkinson Street, Nottingham
3 2015-12-08 18:45:58  android-phone         North Road, Nottingham
4 2015-12-15 17:52:45  android-phone          Hill Side, Nottingham

           Friday end         device                        location
0 2015-11-13 16:32:54  android-phone  Marlborough Street, Nottingham
1 2015-11-20 22:57:59  android-phone           Leen Gate, Nottingham
2 2015-11-27 16:35:18  android-phone  Marlborough Street, Nottingham
3 2015-12-04 16:43:23  android-phone   Clifton Boulevard, Nottingham
4 2015-12-11 18:26:50  android-phone        Radford Road, Nottingham

            Wednesday end          device                        location
0 2015-11-11 18:06:32.712  windows-laptop       Long Row West, Nottingham
1 2015-11-18 17:33:10.000   android-phone           East Road, Nottingham
2 2015-11-25 17:44:18.511  windows-laptop       Main Road, United Kingdom
3 2015-12-02 16:36:57.000   android-phone  Marlborough Street, Nottingham
4 2015-12-09 17:44:01.000   android-phone      Nottingham, United Kingdom

         Thursday end         device                    location
0 2015-11-12 16:13:29  android-phone  Nottingham, United Kingdom
1 2015-11-19 20:42:40  android-phone       Leen Gate, Nottingham
2 2015-11-26 18:12:50  android-phone  Nottingham, United Kingdom
3 2015-12-03 18:05:24  android-phone  Nottingham, United Kingdom
4 2015-12-10 17:45:41  android-phone      Derby Road, Nottingham

               Sunday end          device                      location
0 2015-11-22 12:27:08.634  windows-laptop  Leicester Road, Loughborough

             Saturday end          device                      location
0 2015-11-14 17:32:43.000   android-phone         Leen Gate, Nottingham
1 2015-11-21 13:42:10.789  windows-laptop  Leicester Road, Loughborough
2 2015-11-28 17:50:00.000   android-phone         Leen Gate, Nottingham
3 2015-12-05 12:30:19.000   android-phone            High Road, Beeston
4 2015-12-12 19:11:33.000   android-phone         Leen Gate, Nottingham

                       beg  devid                        location
0  2015-11-11 18:01:32.712     28       Long Row West, Nottingham
1  2015-11-12 09:54:18.000     29  Marlborough Street, Nottingham
2  2015-11-13 09:56:50.000     29  Marlborough Street, Nottingham
3  2015-11-14 17:32:43.000     29           Leen Gate, Nottingham
4  2015-11-16 09:52:41.000     29  Marlborough Street, Nottingham
5  2015-11-17 09:57:36.000     29        Abbey Street, Nottingham
6  2015-11-18 09:54:34.000     29  Marlborough Street, Nottingham
7  2015-11-19 09:54:14.000     29   Clifton Boulevard, Nottingham
8  2015-11-20 07:02:33.000     29           Leen Gate, Nottingham
9  2015-11-21 05:26:23.000     29           Leen Gate, Nottingham
10 2015-11-22 11:15:24.000     29           Leen Gate, Nottingham
11 2015-11-23 09:57:26.000     29  Marlborough Street, Nottingham
12 2015-11-24 09:57:08.000     29  Marlborough Street, Nottingham
13 2015-11-25 09:27:58.000     29           Leen Gate, Nottingham
14 2015-11-26 10:01:56.000     29  Marlborough Street, Nottingham
15 2015-11-27 06:49:33.000     29           Leen Gate, Nottingham
16 2015-11-28 17:50:00.000     29           Leen Gate, Nottingham
17 2015-11-30 09:55:32.000     29  Marlborough Street, Nottingham
18 2015-12-01 12:26:44.000     29      Nottingham, United Kingdom
19 2015-12-02 09:54:40.000     29  Marlborough Street, Nottingham
20 2015-12-03 09:55:15.000     29  Marlborough Street, Nottingham
21 2015-12-04 09:53:30.000     29  Marlborough Street, Nottingham
22 2015-12-05 12:12:03.000     29              High Road, Beeston
23 2015-12-07 09:56:23.000     29  Marlborough Street, Nottingham
24 2015-12-08 09:54:32.000     29  Marlborough Street, Nottingham
25 2015-12-09 09:53:07.000     29   Clifton Boulevard, Nottingham
26 2015-12-10 09:54:25.000     29  Marlborough Street, Nottingham
27 2015-12-11 10:17:28.000     29      Nottingham, United Kingdom
28 2015-12-12 19:11:33.000     29           Leen Gate, Nottingham
29 2015-12-14 09:59:12.000     29      Nottingham, United Kingdom
30 2015-12-15 10:07:41.000     29      Nottingham, United Kingdom

    devid                     end                        location
0      28 2015-11-11 18:06:32.712       Long Row West, Nottingham
1      29 2015-11-12 16:13:29.000      Nottingham, United Kingdom
2      29 2015-11-13 16:32:54.000  Marlborough Street, Nottingham
3      29 2015-11-14 17:32:43.000           Leen Gate, Nottingham
4      29 2015-11-16 16:36:08.000  Marlborough Street, Nottingham
5      29 2015-11-17 16:35:42.000   Clifton Boulevard, Nottingham
6      29 2015-11-18 17:33:10.000           East Road, Nottingham
7      29 2015-11-19 20:42:40.000           Leen Gate, Nottingham
8      29 2015-11-20 22:57:59.000           Leen Gate, Nottingham
9      28 2015-11-21 13:42:10.789    Leicester Road, Loughborough
10     28 2015-11-22 12:27:08.634    Leicester Road, Loughborough
11     29 2015-11-23 21:16:22.000           Leen Gate, Nottingham
12     29 2015-11-24 22:54:04.000           Leen Gate, Nottingham
13     28 2015-11-25 17:44:18.511       Main Road, United Kingdom
14     29 2015-11-26 18:12:50.000      Nottingham, United Kingdom
15     29 2015-11-27 16:35:18.000  Marlborough Street, Nottingham
16     29 2015-11-28 17:50:00.000           Leen Gate, Nottingham
17     29 2015-11-30 17:50:03.000      Clumber Street, Nottingham
18     29 2015-12-01 17:34:26.000    Wilkinson Street, Nottingham
19     29 2015-12-02 16:36:57.000  Marlborough Street, Nottingham
20     29 2015-12-03 18:05:24.000      Nottingham, United Kingdom
21     29 2015-12-04 16:43:23.000   Clifton Boulevard, Nottingham
22     29 2015-12-05 12:30:19.000              High Road, Beeston
23     29 2015-12-07 16:49:12.000   Clifton Boulevard, Nottingham
24     29 2015-12-08 18:45:58.000          North Road, Nottingham
25     29 2015-12-09 17:44:01.000      Nottingham, United Kingdom
26     29 2015-12-10 17:45:41.000          Derby Road, Nottingham
27     29 2015-12-11 18:26:50.000        Radford Road, Nottingham
28     29 2015-12-12 19:11:33.000           Leen Gate, Nottingham
29     29 2015-12-14 17:01:32.000      Nottingham, United Kingdom
30     29 2015-12-15 17:52:45.000           Hill Side, Nottingham

           Monday beg         device                        location
0 2015-11-16 09:52:41  android-phone  Marlborough Street, Nottingham
1 2015-11-23 09:57:26  android-phone  Marlborough Street, Nottingham
2 2015-11-30 09:55:32  android-phone  Marlborough Street, Nottingham
3 2015-12-07 09:56:23  android-phone  Marlborough Street, Nottingham
4 2015-12-14 09:59:12  android-phone      Nottingham, United Kingdom

          Tuesday beg         device                        location
0 2015-11-17 09:57:36  android-phone        Abbey Street, Nottingham
1 2015-11-24 09:57:08  android-phone  Marlborough Street, Nottingham
2 2015-12-01 12:26:44  android-phone      Nottingham, United Kingdom
3 2015-12-08 09:54:32  android-phone  Marlborough Street, Nottingham
4 2015-12-15 10:07:41  android-phone      Nottingham, United Kingdom

           Friday beg         device                        location
0 2015-11-13 09:56:50  android-phone  Marlborough Street, Nottingham
1 2015-11-20 07:02:33  android-phone           Leen Gate, Nottingham
2 2015-11-27 06:49:33  android-phone           Leen Gate, Nottingham
3 2015-12-04 09:53:30  android-phone  Marlborough Street, Nottingham
4 2015-12-11 10:17:28  android-phone      Nottingham, United Kingdom

            Wednesday beg          device                        location
0 2015-11-11 18:01:32.712  windows-laptop       Long Row West, Nottingham
1 2015-11-18 09:54:34.000   android-phone  Marlborough Street, Nottingham
2 2015-11-25 09:27:58.000   android-phone           Leen Gate, Nottingham
3 2015-12-02 09:54:40.000   android-phone  Marlborough Street, Nottingham
4 2015-12-09 09:53:07.000   android-phone   Clifton Boulevard, Nottingham

         Thursday beg         device                        location
0 2015-11-12 09:54:18  android-phone  Marlborough Street, Nottingham
1 2015-11-19 09:54:14  android-phone   Clifton Boulevard, Nottingham
2 2015-11-26 10:01:56  android-phone  Marlborough Street, Nottingham
3 2015-12-03 09:55:15  android-phone  Marlborough Street, Nottingham
4 2015-12-10 09:54:25  android-phone  Marlborough Street, Nottingham

           Sunday beg         device               location
0 2015-11-22 11:15:24  android-phone  Leen Gate, Nottingham

         Saturday beg         device               location
0 2015-11-14 17:32:43  android-phone  Leen Gate, Nottingham
1 2015-11-21 05:26:23  android-phone  Leen Gate, Nottingham
2 2015-11-28 17:50:00  android-phone  Leen Gate, Nottingham
3 2015-12-05 12:12:03  android-phone     High Road, Beeston
4 2015-12-12 19:11:33  android-phone  Leen Gate, Nottingham

           Monday end         device                        location
0 2015-11-16 16:36:08  android-phone  Marlborough Street, Nottingham
1 2015-11-23 21:16:22  android-phone           Leen Gate, Nottingham
2 2015-11-30 17:50:03  android-phone      Clumber Street, Nottingham
3 2015-12-07 16:49:12  android-phone   Clifton Boulevard, Nottingham
4 2015-12-14 17:01:32  android-phone      Nottingham, United Kingdom

          Tuesday end         device                       location
0 2015-11-17 16:35:42  android-phone  Clifton Boulevard, Nottingham
1 2015-11-24 22:54:04  android-phone          Leen Gate, Nottingham
2 2015-12-01 17:34:26  android-phone   Wilkinson Street, Nottingham
3 2015-12-08 18:45:58  android-phone         North Road, Nottingham
4 2015-12-15 17:52:45  android-phone          Hill Side, Nottingham

           Friday end         device                        location
0 2015-11-13 16:32:54  android-phone  Marlborough Street, Nottingham
1 2015-11-20 22:57:59  android-phone           Leen Gate, Nottingham
2 2015-11-27 16:35:18  android-phone  Marlborough Street, Nottingham
3 2015-12-04 16:43:23  android-phone   Clifton Boulevard, Nottingham
4 2015-12-11 18:26:50  android-phone        Radford Road, Nottingham

            Wednesday end          device                        location
0 2015-11-11 18:06:32.712  windows-laptop       Long Row West, Nottingham
1 2015-11-18 17:33:10.000   android-phone           East Road, Nottingham
2 2015-11-25 17:44:18.511  windows-laptop       Main Road, United Kingdom
3 2015-12-02 16:36:57.000   android-phone  Marlborough Street, Nottingham
4 2015-12-09 17:44:01.000   android-phone      Nottingham, United Kingdom

         Thursday end         device                    location
0 2015-11-12 16:13:29  android-phone  Nottingham, United Kingdom
1 2015-11-19 20:42:40  android-phone       Leen Gate, Nottingham
2 2015-11-26 18:12:50  android-phone  Nottingham, United Kingdom
3 2015-12-03 18:05:24  android-phone  Nottingham, United Kingdom
4 2015-12-10 17:45:41  android-phone      Derby Road, Nottingham

               Sunday end          device                      location
0 2015-11-22 12:27:08.634  windows-laptop  Leicester Road, Loughborough

             Saturday end          device                      location
0 2015-11-14 17:32:43.000   android-phone         Leen Gate, Nottingham
1 2015-11-21 13:42:10.789  windows-laptop  Leicester Road, Loughborough
2 2015-11-28 17:50:00.000   android-phone         Leen Gate, Nottingham
3 2015-12-05 12:30:19.000   android-phone            High Road, Beeston
4 2015-12-12 19:11:33.000   android-phone         Leen Gate, Nottingham

                       beg  devid                        location
0  2015-11-11 18:01:32.712     28       Long Row West, Nottingham
1  2015-11-12 09:54:18.000     29  Marlborough Street, Nottingham
2  2015-11-13 09:56:50.000     29  Marlborough Street, Nottingham
3  2015-11-14 17:32:43.000     29           Leen Gate, Nottingham
4  2015-11-16 09:52:41.000     29  Marlborough Street, Nottingham
5  2015-11-17 09:57:36.000     29        Abbey Street, Nottingham
6  2015-11-18 09:54:34.000     29  Marlborough Street, Nottingham
7  2015-11-19 09:54:14.000     29   Clifton Boulevard, Nottingham
8  2015-11-20 07:02:33.000     29           Leen Gate, Nottingham
9  2015-11-21 05:26:23.000     29           Leen Gate, Nottingham
10 2015-11-22 11:15:24.000     29           Leen Gate, Nottingham
11 2015-11-23 09:57:26.000     29  Marlborough Street, Nottingham
12 2015-11-24 09:57:08.000     29  Marlborough Street, Nottingham
13 2015-11-25 09:27:58.000     29           Leen Gate, Nottingham
14 2015-11-26 10:01:56.000     29  Marlborough Street, Nottingham
15 2015-11-27 06:49:33.000     29           Leen Gate, Nottingham
16 2015-11-28 17:50:00.000     29           Leen Gate, Nottingham
17 2015-11-30 09:55:32.000     29  Marlborough Street, Nottingham
18 2015-12-01 12:26:44.000     29      Nottingham, United Kingdom
19 2015-12-02 09:54:40.000     29  Marlborough Street, Nottingham
20 2015-12-03 09:55:15.000     29  Marlborough Street, Nottingham
21 2015-12-04 09:53:30.000     29  Marlborough Street, Nottingham
22 2015-12-05 12:12:03.000     29              High Road, Beeston
23 2015-12-07 09:56:23.000     29  Marlborough Street, Nottingham
24 2015-12-08 09:54:32.000     29  Marlborough Street, Nottingham
25 2015-12-09 09:53:07.000     29   Clifton Boulevard, Nottingham
26 2015-12-10 09:54:25.000     29  Marlborough Street, Nottingham
27 2015-12-11 10:17:28.000     29      Nottingham, United Kingdom
28 2015-12-12 19:11:33.000     29           Leen Gate, Nottingham
29 2015-12-14 09:59:12.000     29      Nottingham, United Kingdom
30 2015-12-15 10:07:41.000     29      Nottingham, United Kingdom

    devid                     end                        location
0      28 2015-11-11 18:06:32.712       Long Row West, Nottingham
1      29 2015-11-12 16:13:29.000      Nottingham, United Kingdom
2      29 2015-11-13 16:32:54.000  Marlborough Street, Nottingham
3      29 2015-11-14 17:32:43.000           Leen Gate, Nottingham
4      29 2015-11-16 16:36:08.000  Marlborough Street, Nottingham
5      29 2015-11-17 16:35:42.000   Clifton Boulevard, Nottingham
6      29 2015-11-18 17:33:10.000           East Road, Nottingham
7      29 2015-11-19 20:42:40.000           Leen Gate, Nottingham
8      29 2015-11-20 22:57:59.000           Leen Gate, Nottingham
9      28 2015-11-21 13:42:10.789    Leicester Road, Loughborough
10     28 2015-11-22 12:27:08.634    Leicester Road, Loughborough
11     29 2015-11-23 21:16:22.000           Leen Gate, Nottingham
12     29 2015-11-24 22:54:04.000           Leen Gate, Nottingham
13     28 2015-11-25 17:44:18.511       Main Road, United Kingdom
14     29 2015-11-26 18:12:50.000      Nottingham, United Kingdom
15     29 2015-11-27 16:35:18.000  Marlborough Street, Nottingham
16     29 2015-11-28 17:50:00.000           Leen Gate, Nottingham
17     29 2015-11-30 17:50:03.000      Clumber Street, Nottingham
18     29 2015-12-01 17:34:26.000    Wilkinson Street, Nottingham
19     29 2015-12-02 16:36:57.000  Marlborough Street, Nottingham
20     29 2015-12-03 18:05:24.000      Nottingham, United Kingdom
21     29 2015-12-04 16:43:23.000   Clifton Boulevard, Nottingham
22     29 2015-12-05 12:30:19.000              High Road, Beeston
23     29 2015-12-07 16:49:12.000   Clifton Boulevard, Nottingham
24     29 2015-12-08 18:45:58.000          North Road, Nottingham
25     29 2015-12-09 17:44:01.000      Nottingham, United Kingdom
26     29 2015-12-10 17:45:41.000          Derby Road, Nottingham
27     29 2015-12-11 18:26:50.000        Radford Road, Nottingham
28     29 2015-12-12 19:11:33.000           Leen Gate, Nottingham
29     29 2015-12-14 17:01:32.000      Nottingham, United Kingdom
30     29 2015-12-15 17:52:45.000           Hill Side, Nottingham

           Monday beg         device                        location
0 2015-11-16 09:52:41  android-phone  Marlborough Street, Nottingham
1 2015-11-23 09:57:26  android-phone  Marlborough Street, Nottingham
2 2015-11-30 09:55:32  android-phone  Marlborough Street, Nottingham
3 2015-12-07 09:56:23  android-phone  Marlborough Street, Nottingham
4 2015-12-14 09:59:12  android-phone      Nottingham, United Kingdom

          Tuesday beg         device                        location
0 2015-11-17 09:57:36  android-phone        Abbey Street, Nottingham
1 2015-11-24 09:57:08  android-phone  Marlborough Street, Nottingham
2 2015-12-01 12:26:44  android-phone      Nottingham, United Kingdom
3 2015-12-08 09:54:32  android-phone  Marlborough Street, Nottingham
4 2015-12-15 10:07:41  android-phone      Nottingham, United Kingdom

           Friday beg         device                        location
0 2015-11-13 09:56:50  android-phone  Marlborough Street, Nottingham
1 2015-11-20 07:02:33  android-phone           Leen Gate, Nottingham
2 2015-11-27 06:49:33  android-phone           Leen Gate, Nottingham
3 2015-12-04 09:53:30  android-phone  Marlborough Street, Nottingham
4 2015-12-11 10:17:28  android-phone      Nottingham, United Kingdom

            Wednesday beg          device                        location
0 2015-11-11 18:01:32.712  windows-laptop       Long Row West, Nottingham
1 2015-11-18 09:54:34.000   android-phone  Marlborough Street, Nottingham
2 2015-11-25 09:27:58.000   android-phone           Leen Gate, Nottingham
3 2015-12-02 09:54:40.000   android-phone  Marlborough Street, Nottingham
4 2015-12-09 09:53:07.000   android-phone   Clifton Boulevard, Nottingham

         Thursday beg         device                        location
0 2015-11-12 09:54:18  android-phone  Marlborough Street, Nottingham
1 2015-11-19 09:54:14  android-phone   Clifton Boulevard, Nottingham
2 2015-11-26 10:01:56  android-phone  Marlborough Street, Nottingham
3 2015-12-03 09:55:15  android-phone  Marlborough Street, Nottingham
4 2015-12-10 09:54:25  android-phone  Marlborough Street, Nottingham

           Sunday beg         device               location
0 2015-11-22 11:15:24  android-phone  Leen Gate, Nottingham

         Saturday beg         device               location
0 2015-11-14 17:32:43  android-phone  Leen Gate, Nottingham
1 2015-11-21 05:26:23  android-phone  Leen Gate, Nottingham
2 2015-11-28 17:50:00  android-phone  Leen Gate, Nottingham
3 2015-12-05 12:12:03  android-phone     High Road, Beeston
4 2015-12-12 19:11:33  android-phone  Leen Gate, Nottingham

           Monday end         device                        location
0 2015-11-16 16:36:08  android-phone  Marlborough Street, Nottingham
1 2015-11-23 21:16:22  android-phone           Leen Gate, Nottingham
2 2015-11-30 17:50:03  android-phone      Clumber Street, Nottingham
3 2015-12-07 16:49:12  android-phone   Clifton Boulevard, Nottingham
4 2015-12-14 17:01:32  android-phone      Nottingham, United Kingdom

          Tuesday end         device                       location
0 2015-11-17 16:35:42  android-phone  Clifton Boulevard, Nottingham
1 2015-11-24 22:54:04  android-phone          Leen Gate, Nottingham
2 2015-12-01 17:34:26  android-phone   Wilkinson Street, Nottingham
3 2015-12-08 18:45:58  android-phone         North Road, Nottingham
4 2015-12-15 17:52:45  android-phone          Hill Side, Nottingham

           Friday end         device                        location
0 2015-11-13 16:32:54  android-phone  Marlborough Street, Nottingham
1 2015-11-20 22:57:59  android-phone           Leen Gate, Nottingham
2 2015-11-27 16:35:18  android-phone  Marlborough Street, Nottingham
3 2015-12-04 16:43:23  android-phone   Clifton Boulevard, Nottingham
4 2015-12-11 18:26:50  android-phone        Radford Road, Nottingham

            Wednesday end          device                        location
0 2015-11-11 18:06:32.712  windows-laptop       Long Row West, Nottingham
1 2015-11-18 17:33:10.000   android-phone           East Road, Nottingham
2 2015-11-25 17:44:18.511  windows-laptop       Main Road, United Kingdom
3 2015-12-02 16:36:57.000   android-phone  Marlborough Street, Nottingham
4 2015-12-09 17:44:01.000   android-phone      Nottingham, United Kingdom

         Thursday end         device                    location
0 2015-11-12 16:13:29  android-phone  Nottingham, United Kingdom
1 2015-11-19 20:42:40  android-phone       Leen Gate, Nottingham
2 2015-11-26 18:12:50  android-phone  Nottingham, United Kingdom
3 2015-12-03 18:05:24  android-phone  Nottingham, United Kingdom
4 2015-12-10 17:45:41  android-phone      Derby Road, Nottingham

               Sunday end          device                      location
0 2015-11-22 12:27:08.634  windows-laptop  Leicester Road, Loughborough

             Saturday end          device                      location
0 2015-11-14 17:32:43.000   android-phone         Leen Gate, Nottingham
1 2015-11-21 13:42:10.789  windows-laptop  Leicester Road, Loughborough
2 2015-11-28 17:50:00.000   android-phone         Leen Gate, Nottingham
3 2015-12-05 12:30:19.000   android-phone            High Road, Beeston
4 2015-12-12 19:11:33.000   android-phone         Leen Gate, Nottingham

user: 17=======================

                   beg  devid                                       location
0  2015-11-13 10:59:35     33                           Home, West Bridgford
1  2015-11-14 11:01:10     33                       Redfield Way, Nottingham
2  2015-11-15 11:34:58     33                       Stanwick, United Kingdom
3  2015-11-16 11:55:28     33                    Scaftworth Close, Doncaster
4  2015-11-17 09:35:42     33                         School, West Bridgford
5  2015-11-18 10:53:43     33  west bridgford baptist church, West Bridgford
6  2015-11-19 13:59:27     33                   Musters Road, West Bridgford
7  2015-11-20 10:27:26     33              Oasis Dental Care, West Bridgford
8  2015-11-21 17:14:44     33                         Bye Pass Road, Beeston
9  2015-11-23 09:41:47     33                         School, West Bridgford
10 2015-11-24 11:42:52     33                            Ikea Way, Giltbrook
11 2015-11-26 18:07:54     33              Loughborough Road, West Bridgford
12 2015-11-27 09:32:05     33                         School, West Bridgford
13 2015-11-28 12:21:16     33                   Beningbrough, United Kingdom
14 2015-11-29 09:31:43     33                  Cleveland Way, United Kingdom
15 2015-11-30 09:23:25     33                         School, West Bridgford
16 2015-12-01 09:23:47     33                         School, West Bridgford
17 2015-12-02 09:32:47     33                         School, West Bridgford
18 2015-12-03 09:32:49     33                         School, West Bridgford
19 2015-12-04 09:23:13     33                         School, West Bridgford
20 2015-12-05 12:10:40     33                       Redfield Way, Nottingham
21 2015-12-06 12:01:41     33              Loughborough Road, West Bridgford
22 2015-12-07 09:30:42     33                         School, West Bridgford
23 2015-12-08 09:27:45     33              Loughborough Road, West Bridgford
24 2015-12-09 09:34:17     33                         School, West Bridgford
25 2015-12-10 09:35:16     33                         School, West Bridgford
26 2015-12-11 09:41:50     33                         School, West Bridgford
27 2015-12-12 14:47:03     33                    Main Street, United Kingdom
28 2015-12-13 12:32:32     33                           Asda, West Bridgford
29 2015-12-14 09:36:16     33                         School, West Bridgford
30 2015-12-15 09:38:08     33                         School, West Bridgford
31 2015-12-16 09:39:50     33                         School, West Bridgford
32 2015-12-17 09:31:20     33                         School, West Bridgford
33 2015-12-18 09:40:52     33                         School, West Bridgford
34 2015-12-19 13:26:27     33                     Cliff Lane, United Kingdom
35 2015-12-20 11:17:09     33                           Derwent Way, Matlock
36 2015-12-21 09:25:55     33                     Nottingham, United Kingdom
37 2015-12-22 10:02:16     33                     Nottingham, United Kingdom
38 2015-12-23 10:07:16     33                     Nottingham, United Kingdom
39 2015-12-24 09:54:55     33                     Nottingham, United Kingdom
40 2015-12-25 13:58:32     33                           Home, West Bridgford
41 2015-12-27 10:14:19     33                    Melton Road, West Bridgford
42 2015-12-28 11:19:48     33                           Dagger Lane, Radlett
43 2015-12-29 12:35:12     33                  Woodthorpe Grange, Woodthorpe
44 2015-12-30 11:04:23     33                         Tinkersway, Nottingham

    devid                 end                                     location
0      33 2015-11-13 16:10:56  Marks & Spencer Simply Food, West Bridgford
1      33 2015-11-14 12:47:33                     Redfield Way, Nottingham
2      33 2015-11-15 18:51:57                           Harvester, Wilford
3      33 2015-11-16 18:24:25              Swithland Drive, West Bridgford
4      33 2015-11-17 17:11:46                 PizzaExpress, West Bridgford
5      33 2015-11-18 13:39:08                         Asda, West Bridgford
6      33 2015-11-19 18:17:40                       School, West Bridgford
7      33 2015-11-20 17:56:13                       School, West Bridgford
8      33 2015-11-21 19:11:32                       Bye Pass Road, Beeston
9      33 2015-11-23 09:47:22                       School, West Bridgford
10     33 2015-11-24 18:50:01                       School, West Bridgford
11     33 2015-11-26 18:41:52            Loughborough Road, West Bridgford
12     33 2015-11-27 18:53:52                       School, West Bridgford
13     33 2015-11-28 17:18:21             Bridge Holm Lane, United Kingdom
14     33 2015-11-29 16:35:07                                    A1, Blyth
15     33 2015-11-30 19:12:25                         Home, West Bridgford
16     33 2015-12-01 17:13:15                   Nottingham, United Kingdom
17     33 2015-12-02 18:59:00                       School, West Bridgford
18     33 2015-12-03 18:37:00                      Nursery, West Bridgford
19     33 2015-12-04 18:29:35                      Nursery, West Bridgford
20     33 2015-12-05 15:21:11                     Redfield Way, Nottingham
21     33 2015-12-06 12:08:58            Loughborough Road, West Bridgford
22     33 2015-12-07 16:58:22                  George Road, West Bridgford
23     33 2015-12-08 21:23:48                    Long Row West, Nottingham
24     33 2015-12-09 14:13:32                      Nursery, West Bridgford
25     33 2015-12-10 19:00:59                   Nottingham, United Kingdom
26     33 2015-12-11 18:14:34                   Nottingham, United Kingdom
27     33 2015-12-12 15:05:35                  Main Street, United Kingdom
28     33 2015-12-13 13:03:38                         Asda, West Bridgford
29     33 2015-12-14 18:20:58                   Nottingham, United Kingdom
30     33 2015-12-15 18:44:23                       School, West Bridgford
31     33 2015-12-16 19:11:18                       School, West Bridgford
32     33 2015-12-17 18:27:35                   Nottingham, United Kingdom
33     33 2015-12-18 20:55:50                    Derwent Lane, Darley Dale
34     33 2015-12-19 15:39:23                       Main Street, Birchover
35     33 2015-12-20 13:44:18                          Mandarin Way, Derby
36     33 2015-12-21 17:35:26                         Asda, West Bridgford
37     33 2015-12-22 18:21:14                   Nottingham, United Kingdom
38     33 2015-12-23 17:47:00                   Nottingham, United Kingdom
39     33 2015-12-24 13:17:20                   Nottingham, United Kingdom
40     33 2015-12-25 13:58:32                         Home, West Bridgford
41     33 2015-12-27 10:23:41                  Melton Road, West Bridgford
42     33 2015-12-28 15:36:00                   Centennial Avenue, Elstree
43     33 2015-12-29 16:39:32                         Asda, West Bridgford
44     33 2015-12-30 14:02:57                       Tinkersway, Nottingham
45     33 2015-12-31 08:00:43                         Home, West Bridgford

           Monday beg         device                     location
0 2015-11-16 11:55:28  android-phone  Scaftworth Close, Doncaster
1 2015-11-23 09:41:47  android-phone       School, West Bridgford
2 2015-11-30 09:23:25  android-phone       School, West Bridgford
3 2015-12-07 09:30:42  android-phone       School, West Bridgford
4 2015-12-14 09:36:16  android-phone       School, West Bridgford
5 2015-12-21 09:25:55  android-phone   Nottingham, United Kingdom
6 2015-12-28 11:19:48  android-phone         Dagger Lane, Radlett

          Tuesday beg         device                           location
0 2015-11-17 09:35:42  android-phone             School, West Bridgford
1 2015-11-24 11:42:52  android-phone                Ikea Way, Giltbrook
2 2015-12-01 09:23:47  android-phone             School, West Bridgford
3 2015-12-08 09:27:45  android-phone  Loughborough Road, West Bridgford
4 2015-12-15 09:38:08  android-phone             School, West Bridgford
5 2015-12-22 10:02:16  android-phone         Nottingham, United Kingdom
6 2015-12-29 12:35:12  android-phone      Woodthorpe Grange, Woodthorpe

           Friday beg         device                           location
0 2015-11-13 10:59:35  android-phone               Home, West Bridgford
1 2015-11-20 10:27:26  android-phone  Oasis Dental Care, West Bridgford
2 2015-11-27 09:32:05  android-phone             School, West Bridgford
3 2015-12-04 09:23:13  android-phone             School, West Bridgford
4 2015-12-11 09:41:50  android-phone             School, West Bridgford
5 2015-12-18 09:40:52  android-phone             School, West Bridgford
6 2015-12-25 13:58:32  android-phone               Home, West Bridgford

,Wednesday beg,device,location
0,2015-11-18 10:53:43,android-phone,"west bridgford baptist church, West Bridgford"
1,2015-12-02 09:32:47,android-phone,"School, West Bridgford"
2,2015-12-09 09:34:17,android-phone,"School, West Bridgford"
3,2015-12-16 09:39:50,android-phone,"School, West Bridgford"
4,2015-12-23 10:07:16,android-phone,"Nottingham, United Kingdom"
5,2015-12-30 11:04:23,android-phone,"Tinkersway, Nottingham"

         Thursday beg         device                           location
0 2015-11-19 13:59:27  android-phone       Musters Road, West Bridgford
1 2015-11-26 18:07:54  android-phone  Loughborough Road, West Bridgford
2 2015-12-03 09:32:49  android-phone             School, West Bridgford
3 2015-12-10 09:35:16  android-phone             School, West Bridgford
4 2015-12-17 09:31:20  android-phone             School, West Bridgford
5 2015-12-24 09:54:55  android-phone         Nottingham, United Kingdom

           Sunday beg         device                           location
0 2015-11-15 11:34:58  android-phone           Stanwick, United Kingdom
1 2015-11-29 09:31:43  android-phone      Cleveland Way, United Kingdom
2 2015-12-06 12:01:41  android-phone  Loughborough Road, West Bridgford
3 2015-12-13 12:32:32  android-phone               Asda, West Bridgford
4 2015-12-20 11:17:09  android-phone               Derwent Way, Matlock
5 2015-12-27 10:14:19  android-phone        Melton Road, West Bridgford

         Saturday beg         device                      location
0 2015-11-14 11:01:10  android-phone      Redfield Way, Nottingham
1 2015-11-21 17:14:44  android-phone        Bye Pass Road, Beeston
2 2015-11-28 12:21:16  android-phone  Beningbrough, United Kingdom
3 2015-12-05 12:10:40  android-phone      Redfield Way, Nottingham
4 2015-12-12 14:47:03  android-phone   Main Street, United Kingdom
5 2015-12-19 13:26:27  android-phone    Cliff Lane, United Kingdom

           Monday end         device                         location
0 2015-11-16 18:24:25  android-phone  Swithland Drive, West Bridgford
1 2015-11-23 09:47:22  android-phone           School, West Bridgford
2 2015-11-30 19:12:25  android-phone             Home, West Bridgford
3 2015-12-07 16:58:22  android-phone      George Road, West Bridgford
4 2015-12-14 18:20:58  android-phone       Nottingham, United Kingdom
5 2015-12-21 17:35:26  android-phone             Asda, West Bridgford
6 2015-12-28 15:36:00  android-phone       Centennial Avenue, Elstree

          Tuesday end         device                      location
0 2015-11-17 17:11:46  android-phone  PizzaExpress, West Bridgford
1 2015-11-24 18:50:01  android-phone        School, West Bridgford
2 2015-12-01 17:13:15  android-phone    Nottingham, United Kingdom
3 2015-12-08 21:23:48  android-phone     Long Row West, Nottingham
4 2015-12-15 18:44:23  android-phone        School, West Bridgford
5 2015-12-22 18:21:14  android-phone    Nottingham, United Kingdom
6 2015-12-29 16:39:32  android-phone          Asda, West Bridgford

,Friday end,device,location
0,2015-11-13 16:10:56,android-phone,"Marks & Spencer Simply Food, West Bridgford"
1,2015-11-20 17:56:13,android-phone,"School, West Bridgford"
2,2015-11-27 18:53:52,android-phone,"School, West Bridgford"
3,2015-12-04 18:29:35,android-phone,"Nursery, West Bridgford"
4,2015-12-11 18:14:34,android-phone,"Nottingham, United Kingdom"
5,2015-12-18 20:55:50,android-phone,"Derwent Lane, Darley Dale"
6,2015-12-25 13:58:32,android-phone,"Home, West Bridgford"

        Wednesday end         device                    location
0 2015-11-18 13:39:08  android-phone        Asda, West Bridgford
1 2015-12-02 18:59:00  android-phone      School, West Bridgford
2 2015-12-09 14:13:32  android-phone     Nursery, West Bridgford
3 2015-12-16 19:11:18  android-phone      School, West Bridgford
4 2015-12-23 17:47:00  android-phone  Nottingham, United Kingdom
5 2015-12-30 14:02:57  android-phone      Tinkersway, Nottingham

         Thursday end         device                           location
0 2015-11-19 18:17:40  android-phone             School, West Bridgford
1 2015-11-26 18:41:52  android-phone  Loughborough Road, West Bridgford
2 2015-12-03 18:37:00  android-phone            Nursery, West Bridgford
3 2015-12-10 19:00:59  android-phone         Nottingham, United Kingdom
4 2015-12-17 18:27:35  android-phone         Nottingham, United Kingdom
5 2015-12-24 13:17:20  android-phone         Nottingham, United Kingdom
6 2015-12-31 08:00:43  android-phone               Home, West Bridgford

           Sunday end         device                           location
0 2015-11-15 18:51:57  android-phone                 Harvester, Wilford
1 2015-11-29 16:35:07  android-phone                          A1, Blyth
2 2015-12-06 12:08:58  android-phone  Loughborough Road, West Bridgford
3 2015-12-13 13:03:38  android-phone               Asda, West Bridgford
4 2015-12-20 13:44:18  android-phone                Mandarin Way, Derby
5 2015-12-27 10:23:41  android-phone        Melton Road, West Bridgford

         Saturday end         device                          location
0 2015-11-14 12:47:33  android-phone          Redfield Way, Nottingham
1 2015-11-21 19:11:32  android-phone            Bye Pass Road, Beeston
2 2015-11-28 17:18:21  android-phone  Bridge Holm Lane, United Kingdom
3 2015-12-05 15:21:11  android-phone          Redfield Way, Nottingham
4 2015-12-12 15:05:35  android-phone       Main Street, United Kingdom
5 2015-12-19 15:39:23  android-phone            Main Street, Birchover

                   beg  devid                                       location
0  2015-11-13 10:59:35     33                           Home, West Bridgford
1  2015-11-14 11:01:10     33                       Redfield Way, Nottingham
2  2015-11-15 11:34:58     33                       Stanwick, United Kingdom
3  2015-11-16 11:55:28     33                    Scaftworth Close, Doncaster
4  2015-11-17 09:35:42     33                         School, West Bridgford
5  2015-11-18 10:53:43     33  west bridgford baptist church, West Bridgford
6  2015-11-19 13:59:27     33                   Musters Road, West Bridgford
7  2015-11-20 10:27:26     33              Oasis Dental Care, West Bridgford
8  2015-11-21 17:14:44     33                         Bye Pass Road, Beeston
9  2015-11-23 09:41:47     33                         School, West Bridgford
10 2015-11-24 11:42:52     33                            Ikea Way, Giltbrook
11 2015-11-26 18:07:54     33              Loughborough Road, West Bridgford
12 2015-11-27 09:32:05     33                         School, West Bridgford
13 2015-11-28 12:21:16     33                   Beningbrough, United Kingdom
14 2015-11-29 09:31:43     33                  Cleveland Way, United Kingdom
15 2015-11-30 09:23:25     33                         School, West Bridgford
16 2015-12-01 09:23:47     33                         School, West Bridgford
17 2015-12-02 09:32:47     33                         School, West Bridgford
18 2015-12-03 09:32:49     33                         School, West Bridgford
19 2015-12-04 09:23:13     33                         School, West Bridgford
20 2015-12-05 12:10:40     33                       Redfield Way, Nottingham
21 2015-12-06 12:01:41     33              Loughborough Road, West Bridgford
22 2015-12-07 09:30:42     33                         School, West Bridgford
23 2015-12-08 09:27:45     33              Loughborough Road, West Bridgford
24 2015-12-09 09:34:17     33                         School, West Bridgford
25 2015-12-10 09:35:16     33                         School, West Bridgford
26 2015-12-11 09:41:50     33                         School, West Bridgford
27 2015-12-12 14:47:03     33                    Main Street, United Kingdom
28 2015-12-13 12:32:32     33                           Asda, West Bridgford
29 2015-12-14 09:36:16     33                         School, West Bridgford
30 2015-12-15 09:38:08     33                         School, West Bridgford
31 2015-12-16 09:39:50     33                         School, West Bridgford
32 2015-12-17 09:31:20     33                         School, West Bridgford
33 2015-12-18 09:40:52     33                         School, West Bridgford
34 2015-12-19 13:26:27     33                     Cliff Lane, United Kingdom
35 2015-12-20 11:17:09     33                           Derwent Way, Matlock
36 2015-12-21 09:25:55     33                     Nottingham, United Kingdom
37 2015-12-22 10:02:16     33                     Nottingham, United Kingdom
38 2015-12-23 10:07:16     33                     Nottingham, United Kingdom
39 2015-12-24 09:54:55     33                     Nottingham, United Kingdom
40 2015-12-25 13:58:32     33                           Home, West Bridgford
41 2015-12-27 10:14:19     33                    Melton Road, West Bridgford
42 2015-12-28 11:19:48     33                           Dagger Lane, Radlett
43 2015-12-29 12:35:12     33                  Woodthorpe Grange, Woodthorpe
44 2015-12-30 11:04:23     33                         Tinkersway, Nottingham

    devid                 end                                     location
0      33 2015-11-13 16:10:56  Marks & Spencer Simply Food, West Bridgford
1      33 2015-11-14 12:47:33                     Redfield Way, Nottingham
2      33 2015-11-15 18:51:57                           Harvester, Wilford
3      33 2015-11-16 18:24:25              Swithland Drive, West Bridgford
4      33 2015-11-17 17:11:46                 PizzaExpress, West Bridgford
5      33 2015-11-18 13:39:08                         Asda, West Bridgford
6      33 2015-11-19 18:17:40                       School, West Bridgford
7      33 2015-11-20 17:56:13                       School, West Bridgford
8      33 2015-11-21 19:11:32                       Bye Pass Road, Beeston
9      33 2015-11-23 09:47:22                       School, West Bridgford
10     33 2015-11-24 18:50:01                       School, West Bridgford
11     33 2015-11-26 18:41:52            Loughborough Road, West Bridgford
12     33 2015-11-27 18:53:52                       School, West Bridgford
13     33 2015-11-28 17:18:21             Bridge Holm Lane, United Kingdom
14     33 2015-11-29 16:35:07                                    A1, Blyth
15     33 2015-11-30 19:12:25                         Home, West Bridgford
16     33 2015-12-01 17:13:15                   Nottingham, United Kingdom
17     33 2015-12-02 18:59:00                       School, West Bridgford
18     33 2015-12-03 18:37:00                      Nursery, West Bridgford
19     33 2015-12-04 18:29:35                      Nursery, West Bridgford
20     33 2015-12-05 15:21:11                     Redfield Way, Nottingham
21     33 2015-12-06 12:08:58            Loughborough Road, West Bridgford
22     33 2015-12-07 16:58:22                  George Road, West Bridgford
23     33 2015-12-08 21:23:48                    Long Row West, Nottingham
24     33 2015-12-09 14:13:32                      Nursery, West Bridgford
25     33 2015-12-10 19:00:59                   Nottingham, United Kingdom
26     33 2015-12-11 18:14:34                   Nottingham, United Kingdom
27     33 2015-12-12 15:05:35                  Main Street, United Kingdom
28     33 2015-12-13 13:03:38                         Asda, West Bridgford
29     33 2015-12-14 18:20:58                   Nottingham, United Kingdom
30     33 2015-12-15 18:44:23                       School, West Bridgford
31     33 2015-12-16 19:11:18                       School, West Bridgford
32     33 2015-12-17 18:27:35                   Nottingham, United Kingdom
33     33 2015-12-18 20:55:50                    Derwent Lane, Darley Dale
34     33 2015-12-19 15:39:23                       Main Street, Birchover
35     33 2015-12-20 13:44:18                          Mandarin Way, Derby
36     33 2015-12-21 17:35:26                         Asda, West Bridgford
37     33 2015-12-22 18:21:14                   Nottingham, United Kingdom
38     33 2015-12-23 17:47:00                   Nottingham, United Kingdom
39     33 2015-12-24 13:17:20                   Nottingham, United Kingdom
40     33 2015-12-25 13:58:32                         Home, West Bridgford
41     33 2015-12-27 10:23:41                  Melton Road, West Bridgford
42     33 2015-12-28 15:36:00                   Centennial Avenue, Elstree
43     33 2015-12-29 16:39:32                         Asda, West Bridgford
44     33 2015-12-30 14:02:57                       Tinkersway, Nottingham
45     33 2015-12-31 08:00:43                         Home, West Bridgford

           Monday beg         device                     location
0 2015-11-16 11:55:28  android-phone  Scaftworth Close, Doncaster
1 2015-11-23 09:41:47  android-phone       School, West Bridgford
2 2015-11-30 09:23:25  android-phone       School, West Bridgford
3 2015-12-07 09:30:42  android-phone       School, West Bridgford
4 2015-12-14 09:36:16  android-phone       School, West Bridgford
5 2015-12-21 09:25:55  android-phone   Nottingham, United Kingdom
6 2015-12-28 11:19:48  android-phone         Dagger Lane, Radlett

          Tuesday beg         device                           location
0 2015-11-17 09:35:42  android-phone             School, West Bridgford
1 2015-11-24 11:42:52  android-phone                Ikea Way, Giltbrook
2 2015-12-01 09:23:47  android-phone             School, West Bridgford
3 2015-12-08 09:27:45  android-phone  Loughborough Road, West Bridgford
4 2015-12-15 09:38:08  android-phone             School, West Bridgford
5 2015-12-22 10:02:16  android-phone         Nottingham, United Kingdom
6 2015-12-29 12:35:12  android-phone      Woodthorpe Grange, Woodthorpe

           Friday beg         device                           location
0 2015-11-13 10:59:35  android-phone               Home, West Bridgford
1 2015-11-20 10:27:26  android-phone  Oasis Dental Care, West Bridgford
2 2015-11-27 09:32:05  android-phone             School, West Bridgford
3 2015-12-04 09:23:13  android-phone             School, West Bridgford
4 2015-12-11 09:41:50  android-phone             School, West Bridgford
5 2015-12-18 09:40:52  android-phone             School, West Bridgford
6 2015-12-25 13:58:32  android-phone               Home, West Bridgford

,Wednesday beg,device,location
0,2015-11-18 10:53:43,android-phone,"west bridgford baptist church, West Bridgford"
1,2015-12-02 09:32:47,android-phone,"School, West Bridgford"
2,2015-12-09 09:34:17,android-phone,"School, West Bridgford"
3,2015-12-16 09:39:50,android-phone,"School, West Bridgford"
4,2015-12-23 10:07:16,android-phone,"Nottingham, United Kingdom"
5,2015-12-30 11:04:23,android-phone,"Tinkersway, Nottingham"

         Thursday beg         device                           location
0 2015-11-19 13:59:27  android-phone       Musters Road, West Bridgford
1 2015-11-26 18:07:54  android-phone  Loughborough Road, West Bridgford
2 2015-12-03 09:32:49  android-phone             School, West Bridgford
3 2015-12-10 09:35:16  android-phone             School, West Bridgford
4 2015-12-17 09:31:20  android-phone             School, West Bridgford
5 2015-12-24 09:54:55  android-phone         Nottingham, United Kingdom

           Sunday beg         device                           location
0 2015-11-15 11:34:58  android-phone           Stanwick, United Kingdom
1 2015-11-29 09:31:43  android-phone      Cleveland Way, United Kingdom
2 2015-12-06 12:01:41  android-phone  Loughborough Road, West Bridgford
3 2015-12-13 12:32:32  android-phone               Asda, West Bridgford
4 2015-12-20 11:17:09  android-phone               Derwent Way, Matlock
5 2015-12-27 10:14:19  android-phone        Melton Road, West Bridgford

         Saturday beg         device                      location
0 2015-11-14 11:01:10  android-phone      Redfield Way, Nottingham
1 2015-11-21 17:14:44  android-phone        Bye Pass Road, Beeston
2 2015-11-28 12:21:16  android-phone  Beningbrough, United Kingdom
3 2015-12-05 12:10:40  android-phone      Redfield Way, Nottingham
4 2015-12-12 14:47:03  android-phone   Main Street, United Kingdom
5 2015-12-19 13:26:27  android-phone    Cliff Lane, United Kingdom

           Monday end         device                         location
0 2015-11-16 18:24:25  android-phone  Swithland Drive, West Bridgford
1 2015-11-23 09:47:22  android-phone           School, West Bridgford
2 2015-11-30 19:12:25  android-phone             Home, West Bridgford
3 2015-12-07 16:58:22  android-phone      George Road, West Bridgford
4 2015-12-14 18:20:58  android-phone       Nottingham, United Kingdom
5 2015-12-21 17:35:26  android-phone             Asda, West Bridgford
6 2015-12-28 15:36:00  android-phone       Centennial Avenue, Elstree

          Tuesday end         device                      location
0 2015-11-17 17:11:46  android-phone  PizzaExpress, West Bridgford
1 2015-11-24 18:50:01  android-phone        School, West Bridgford
2 2015-12-01 17:13:15  android-phone    Nottingham, United Kingdom
3 2015-12-08 21:23:48  android-phone     Long Row West, Nottingham
4 2015-12-15 18:44:23  android-phone        School, West Bridgford
5 2015-12-22 18:21:14  android-phone    Nottingham, United Kingdom
6 2015-12-29 16:39:32  android-phone          Asda, West Bridgford

,Friday end,device,location
0,2015-11-13 16:10:56,android-phone,"Marks & Spencer Simply Food, West Bridgford"
1,2015-11-20 17:56:13,android-phone,"School, West Bridgford"
2,2015-11-27 18:53:52,android-phone,"School, West Bridgford"
3,2015-12-04 18:29:35,android-phone,"Nursery, West Bridgford"
4,2015-12-11 18:14:34,android-phone,"Nottingham, United Kingdom"
5,2015-12-18 20:55:50,android-phone,"Derwent Lane, Darley Dale"
6,2015-12-25 13:58:32,android-phone,"Home, West Bridgford"

        Wednesday end         device                    location
0 2015-11-18 13:39:08  android-phone        Asda, West Bridgford
1 2015-12-02 18:59:00  android-phone      School, West Bridgford
2 2015-12-09 14:13:32  android-phone     Nursery, West Bridgford
3 2015-12-16 19:11:18  android-phone      School, West Bridgford
4 2015-12-23 17:47:00  android-phone  Nottingham, United Kingdom
5 2015-12-30 14:02:57  android-phone      Tinkersway, Nottingham

         Thursday end         device                           location
0 2015-11-19 18:17:40  android-phone             School, West Bridgford
1 2015-11-26 18:41:52  android-phone  Loughborough Road, West Bridgford
2 2015-12-03 18:37:00  android-phone            Nursery, West Bridgford
3 2015-12-10 19:00:59  android-phone         Nottingham, United Kingdom
4 2015-12-17 18:27:35  android-phone         Nottingham, United Kingdom
5 2015-12-24 13:17:20  android-phone         Nottingham, United Kingdom
6 2015-12-31 08:00:43  android-phone               Home, West Bridgford

           Sunday end         device                           location
0 2015-11-15 18:51:57  android-phone                 Harvester, Wilford
1 2015-11-29 16:35:07  android-phone                          A1, Blyth
2 2015-12-06 12:08:58  android-phone  Loughborough Road, West Bridgford
3 2015-12-13 13:03:38  android-phone               Asda, West Bridgford
4 2015-12-20 13:44:18  android-phone                Mandarin Way, Derby
5 2015-12-27 10:23:41  android-phone        Melton Road, West Bridgford

         Saturday end         device                          location
0 2015-11-14 12:47:33  android-phone          Redfield Way, Nottingham
1 2015-11-21 19:11:32  android-phone            Bye Pass Road, Beeston
2 2015-11-28 17:18:21  android-phone  Bridge Holm Lane, United Kingdom
3 2015-12-05 15:21:11  android-phone          Redfield Way, Nottingham
4 2015-12-12 15:05:35  android-phone       Main Street, United Kingdom
5 2015-12-19 15:39:23  android-phone            Main Street, Birchover

user: 24=======================

,beg,devid,location
0,2015-11-13 10:40:58,32,"Home, West Bridgford"
1,2015-11-14 09:03:53,32,"Daleside Road, Nottingham"
2,2015-11-15 11:34:58,33,"Stanwick, United Kingdom"
3,2015-11-16 09:30:27,32,"MachineMart, Nottingham"
4,2015-11-17 09:28:43,32,"MachineMart, Nottingham"
5,2015-11-18 09:29:05,32,"MachineMart, Nottingham"
6,2015-11-19 09:22:16,32,"MachineMart, Nottingham"
7,2015-11-20 09:28:46,32,"MachineMart, Nottingham"
8,2015-11-21 10:24:16,32,"Gipton, Leeds"
9,2015-11-22 10:12:31,32,"SnowDome, Tamworth"
10,2015-11-23 09:28:27,32,"MachineMart, Nottingham"
11,2015-11-24 09:28:26,32,"MachineMart, Nottingham"
12,2015-11-25 09:26:41,32,"MachineMart, Nottingham"
13,2015-11-26 09:25:41,32,"MachineMart, Nottingham"
14,2015-11-27 07:27:27,32,"Home, West Bridgford"
15,2015-11-28 12:21:16,33,"Beningbrough, United Kingdom"
16,2015-11-29 09:31:43,33,"Cleveland Way, United Kingdom"
17,2015-11-30 08:59:41,32,"MachineMart, Nottingham"
18,2015-12-01 08:52:53,32,"MachineMart, Nottingham"
19,2015-12-02 08:58:30,32,"MachineMart, Nottingham"
20,2015-12-03 08:59:45,32,"MachineMart, Nottingham"
21,2015-12-04 08:59:52,32,"MachineMart, Nottingham"
22,2015-12-05 12:10:40,33,"Redfield Way, Nottingham"
23,2015-12-06 10:49:20,32,"YHA Sherwood Forest, Edwinstowe"
24,2015-12-07 09:00:37,32,"MachineMart, Nottingham"
25,2015-12-08 08:57:28,32,"MachineMart, Nottingham"
26,2015-12-09 08:57:35,32,"MachineMart, Nottingham"
27,2015-12-10 08:59:19,32,"MachineMart, Nottingham"
28,2015-12-11 08:58:52,32,"MachineMart, Nottingham"
29,2015-12-12 14:47:03,33,"Main Street, United Kingdom"
30,2015-12-13 11:03:29,32,"Church Drive, Keyworth"
31,2015-12-14 09:00:45,32,"MachineMart, Nottingham"
32,2015-12-15 09:37:41,32,"Scotts Wood Day Nursery - Nottingham, West Bri..."
33,2015-12-16 08:56:45,32,"MachineMart, Nottingham"
34,2015-12-17 09:00:20,32,"MachineMart, Nottingham"
35,2015-12-18 09:00:08,32,"MachineMart, Nottingham"
36,2015-12-19 13:06:03,32,"Unnamed Road, United Kingdom"
37,2015-12-20 11:17:09,33,"Derwent Way, Matlock"
38,2015-12-21 09:25:55,33,"Nottingham, United Kingdom"
39,2015-12-22 10:02:16,33,"Nottingham, United Kingdom"
40,2015-12-23 10:07:16,33,"Nottingham, United Kingdom"
41,2015-12-24 09:54:55,33,"Nottingham, United Kingdom"
42,2015-12-25 13:58:32,33,"Home, West Bridgford"
43,2015-12-27 10:14:19,33,"Melton Road, West Bridgford"
44,2015-12-28 11:19:48,33,"Dagger Lane, Radlett"
45,2015-12-29 09:25:35,32,"MachineMart, Nottingham"
46,2015-12-30 09:31:51,32,"MachineMart, Nottingham"

,devid,end,location
0,32,2015-11-13 20:30:51,"Home, West Bridgford"
1,32,2015-11-14 15:46:03,"Daleside Road, Nottingham"
2,33,2015-11-15 18:51:57,"Harvester, Wilford"
3,32,2015-11-16 19:02:09,"MachineMart, Nottingham"
4,32,2015-11-17 19:00:46,"MachineMart, Nottingham"
5,32,2015-11-18 19:02:09,"MachineMart, Nottingham"
6,32,2015-11-19 19:01:42,"MachineMart, Nottingham"
7,32,2015-11-20 18:59:36,"MachineMart, Nottingham"
8,33,2015-11-21 19:11:32,"Bye Pass Road, Beeston"
9,32,2015-11-22 14:12:45,"Home, West Bridgford"
10,32,2015-11-23 19:27:52,"Home, West Bridgford"
11,32,2015-11-24 20:53:00,"Melton Road, West Bridgford"
12,32,2015-11-25 19:29:30,"Home, West Bridgford"
13,32,2015-11-26 19:11:40,"MachineMart, Nottingham"
14,32,2015-11-27 19:01:22,"MachineMart, Nottingham"
15,32,2015-11-28 20:29:38,"Bridge Holm Lane, United Kingdom"
16,33,2015-11-29 16:35:07,"A1, Blyth"
17,33,2015-11-30 19:12:25,"Home, West Bridgford"
18,32,2015-12-01 18:30:00,"MachineMart, Nottingham"
19,33,2015-12-02 18:59:00,"School, West Bridgford"
20,33,2015-12-03 18:37:00,"Nursery, West Bridgford"
21,32,2015-12-04 21:39:30,"Asda, West Bridgford"
22,32,2015-12-05 15:24:05,"Showcase Cinema, Nottingham"
23,32,2015-12-06 12:38:49,"Sherwood Forest Craft Centre, Edwinstowe"
24,32,2015-12-07 18:31:41,"MachineMart, Nottingham"
25,32,2015-12-08 23:46:44,"Capital FM Arena, Nottingham"
26,32,2015-12-09 21:54:04,"Morrisons, West Bridgford"
27,33,2015-12-10 19:00:59,"Nottingham, United Kingdom"
28,32,2015-12-11 23:57:16,"The Picnic Basket, Nottingham"
29,33,2015-12-12 15:05:35,"Main Street, United Kingdom"
30,32,2015-12-13 18:53:33,"George's Tradition, West Bridgford"
31,32,2015-12-14 18:32:24,"MachineMart, Nottingham"
32,33,2015-12-15 18:44:23,"School, West Bridgford"
33,32,2015-12-16 23:02:20,"Morrisons, West Bridgford"
34,32,2015-12-17 18:48:41,"Scotts Wood Day Nursery - Nottingham, West Bri..."
35,33,2015-12-18 20:55:50,"Derwent Lane, Darley Dale"
36,33,2015-12-19 15:39:23,"Main Street, Birchover"
37,32,2015-12-20 16:19:16,"Morrisons, West Bridgford"
38,33,2015-12-21 17:35:26,"Asda, West Bridgford"
39,33,2015-12-22 18:21:14,"Nottingham, United Kingdom"
40,33,2015-12-23 17:47:00,"Nottingham, United Kingdom"
41,32,2015-12-24 16:56:46,"Home, West Bridgford"
42,32,2015-12-25 17:27:30,"Home, West Bridgford"
43,33,2015-12-27 10:23:41,"Melton Road, West Bridgford"
44,33,2015-12-28 15:36:00,"Centennial Avenue, Elstree"
45,32,2015-12-29 20:23:43,"Asda, West Bridgford"
46,32,2015-12-30 16:39:19,"MachineMart, Nottingham"
47,33,2015-12-31 08:00:43,"Home, West Bridgford"

           Monday beg         device                    location
0 2015-11-16 09:30:27  android-phone     MachineMart, Nottingham
1 2015-11-23 09:28:27  android-phone     MachineMart, Nottingham
2 2015-11-30 08:59:41  android-phone     MachineMart, Nottingham
3 2015-12-07 09:00:37  android-phone     MachineMart, Nottingham
4 2015-12-14 09:00:45  android-phone     MachineMart, Nottingham
5 2015-12-21 09:25:55  android-phone  Nottingham, United Kingdom
6 2015-12-28 11:19:48  android-phone        Dagger Lane, Radlett

,Tuesday beg,device,location
0,2015-11-17 09:28:43,android-phone,"MachineMart, Nottingham"
1,2015-11-24 09:28:26,android-phone,"MachineMart, Nottingham"
2,2015-12-01 08:52:53,android-phone,"MachineMart, Nottingham"
3,2015-12-08 08:57:28,android-phone,"MachineMart, Nottingham"
4,2015-12-15 09:37:41,android-phone,"Scotts Wood Day Nursery - Nottingham, West Bri..."
5,2015-12-22 10:02:16,android-phone,"Nottingham, United Kingdom"
6,2015-12-29 09:25:35,android-phone,"MachineMart, Nottingham"

           Friday beg         device                 location
0 2015-11-13 10:40:58  android-phone     Home, West Bridgford
1 2015-11-20 09:28:46  android-phone  MachineMart, Nottingham
2 2015-11-27 07:27:27  android-phone     Home, West Bridgford
3 2015-12-04 08:59:52  android-phone  MachineMart, Nottingham
4 2015-12-11 08:58:52  android-phone  MachineMart, Nottingham
5 2015-12-18 09:00:08  android-phone  MachineMart, Nottingham
6 2015-12-25 13:58:32  android-phone     Home, West Bridgford

        Wednesday beg         device                    location
0 2015-11-18 09:29:05  android-phone     MachineMart, Nottingham
1 2015-11-25 09:26:41  android-phone     MachineMart, Nottingham
2 2015-12-02 08:58:30  android-phone     MachineMart, Nottingham
3 2015-12-09 08:57:35  android-phone     MachineMart, Nottingham
4 2015-12-16 08:56:45  android-phone     MachineMart, Nottingham
5 2015-12-23 10:07:16  android-phone  Nottingham, United Kingdom
6 2015-12-30 09:31:51  android-phone     MachineMart, Nottingham

         Thursday beg         device                    location
0 2015-11-19 09:22:16  android-phone     MachineMart, Nottingham
1 2015-11-26 09:25:41  android-phone     MachineMart, Nottingham
2 2015-12-03 08:59:45  android-phone     MachineMart, Nottingham
3 2015-12-10 08:59:19  android-phone     MachineMart, Nottingham
4 2015-12-17 09:00:20  android-phone     MachineMart, Nottingham
5 2015-12-24 09:54:55  android-phone  Nottingham, United Kingdom

           Sunday beg         device                         location
0 2015-11-15 11:34:58  android-phone         Stanwick, United Kingdom
1 2015-11-22 10:12:31  android-phone               SnowDome, Tamworth
2 2015-11-29 09:31:43  android-phone    Cleveland Way, United Kingdom
3 2015-12-06 10:49:20  android-phone  YHA Sherwood Forest, Edwinstowe
4 2015-12-13 11:03:29  android-phone           Church Drive, Keyworth
5 2015-12-20 11:17:09  android-phone             Derwent Way, Matlock
6 2015-12-27 10:14:19  android-phone      Melton Road, West Bridgford

         Saturday beg         device                      location
0 2015-11-14 09:03:53  android-phone     Daleside Road, Nottingham
1 2015-11-21 10:24:16  android-phone                 Gipton, Leeds
2 2015-11-28 12:21:16  android-phone  Beningbrough, United Kingdom
3 2015-12-05 12:10:40  android-phone      Redfield Way, Nottingham
4 2015-12-12 14:47:03  android-phone   Main Street, United Kingdom
5 2015-12-19 13:06:03  android-phone  Unnamed Road, United Kingdom

           Monday end         device                    location
0 2015-11-16 19:02:09  android-phone     MachineMart, Nottingham
1 2015-11-23 19:27:52  android-phone        Home, West Bridgford
2 2015-11-30 19:12:25  android-phone        Home, West Bridgford
3 2015-12-07 18:31:41  android-phone     MachineMart, Nottingham
4 2015-12-14 18:32:24  android-phone     MachineMart, Nottingham
5 2015-12-21 17:35:26  android-phone        Asda, West Bridgford
6 2015-12-28 15:36:00  android-phone  Centennial Avenue, Elstree

          Tuesday end         device                      location
0 2015-11-17 19:00:46  android-phone       MachineMart, Nottingham
1 2015-11-24 20:53:00  android-phone   Melton Road, West Bridgford
2 2015-12-01 18:30:00  android-phone       MachineMart, Nottingham
3 2015-12-08 23:46:44  android-phone  Capital FM Arena, Nottingham
4 2015-12-15 18:44:23  android-phone        School, West Bridgford
5 2015-12-22 18:21:14  android-phone    Nottingham, United Kingdom
6 2015-12-29 20:23:43  android-phone          Asda, West Bridgford

           Friday end         device                       location
0 2015-11-13 20:30:51  android-phone           Home, West Bridgford
1 2015-11-20 18:59:36  android-phone        MachineMart, Nottingham
2 2015-11-27 19:01:22  android-phone        MachineMart, Nottingham
3 2015-12-04 21:39:30  android-phone           Asda, West Bridgford
4 2015-12-11 23:57:16  android-phone  The Picnic Basket, Nottingham
5 2015-12-18 20:55:50  android-phone      Derwent Lane, Darley Dale
6 2015-12-25 17:27:30  android-phone           Home, West Bridgford

        Wednesday end         device                    location
0 2015-11-18 19:02:09  android-phone     MachineMart, Nottingham
1 2015-11-25 19:29:30  android-phone        Home, West Bridgford
2 2015-12-02 18:59:00  android-phone      School, West Bridgford
3 2015-12-09 21:54:04  android-phone   Morrisons, West Bridgford
4 2015-12-16 23:02:20  android-phone   Morrisons, West Bridgford
5 2015-12-23 17:47:00  android-phone  Nottingham, United Kingdom
6 2015-12-30 16:39:19  android-phone     MachineMart, Nottingham

,Thursday end,device,location
0,2015-11-19 19:01:42,android-phone,"MachineMart, Nottingham"
1,2015-11-26 19:11:40,android-phone,"MachineMart, Nottingham"
2,2015-12-03 18:37:00,android-phone,"Nursery, West Bridgford"
3,2015-12-10 19:00:59,android-phone,"Nottingham, United Kingdom"
4,2015-12-17 18:48:41,android-phone,"Scotts Wood Day Nursery - Nottingham, West Bri..."
5,2015-12-24 16:56:46,android-phone,"Home, West Bridgford"
6,2015-12-31 08:00:43,android-phone,"Home, West Bridgford"

           Sunday end         device                                  location
0 2015-11-15 18:51:57  android-phone                        Harvester, Wilford
1 2015-11-22 14:12:45  android-phone                      Home, West Bridgford
2 2015-11-29 16:35:07  android-phone                                 A1, Blyth
3 2015-12-06 12:38:49  android-phone  Sherwood Forest Craft Centre, Edwinstowe
4 2015-12-13 18:53:33  android-phone        George's Tradition, West Bridgford
5 2015-12-20 16:19:16  android-phone                 Morrisons, West Bridgford
6 2015-12-27 10:23:41  android-phone               Melton Road, West Bridgford

         Saturday end         device                          location
0 2015-11-14 15:46:03  android-phone         Daleside Road, Nottingham
1 2015-11-21 19:11:32  android-phone            Bye Pass Road, Beeston
2 2015-11-28 20:29:38  android-phone  Bridge Holm Lane, United Kingdom
3 2015-12-05 15:24:05  android-phone       Showcase Cinema, Nottingham
4 2015-12-12 15:05:35  android-phone       Main Street, United Kingdom
5 2015-12-19 15:39:23  android-phone            Main Street, Birchover

,beg,devid,location
0,2015-11-13 10:40:58,32,"Home, West Bridgford"
1,2015-11-14 09:03:53,32,"Daleside Road, Nottingham"
2,2015-11-15 11:34:58,33,"Stanwick, United Kingdom"
3,2015-11-16 09:30:27,32,"MachineMart, Nottingham"
4,2015-11-17 09:28:43,32,"MachineMart, Nottingham"
5,2015-11-18 09:29:05,32,"MachineMart, Nottingham"
6,2015-11-19 09:22:16,32,"MachineMart, Nottingham"
7,2015-11-20 09:28:46,32,"MachineMart, Nottingham"
8,2015-11-21 10:24:16,32,"Gipton, Leeds"
9,2015-11-22 10:12:31,32,"SnowDome, Tamworth"
10,2015-11-23 09:28:27,32,"MachineMart, Nottingham"
11,2015-11-24 09:28:26,32,"MachineMart, Nottingham"
12,2015-11-25 09:26:41,32,"MachineMart, Nottingham"
13,2015-11-26 09:25:41,32,"MachineMart, Nottingham"
14,2015-11-27 07:27:27,32,"Home, West Bridgford"
15,2015-11-28 12:21:16,33,"Beningbrough, United Kingdom"
16,2015-11-29 09:31:43,33,"Cleveland Way, United Kingdom"
17,2015-11-30 08:59:41,32,"MachineMart, Nottingham"
18,2015-12-01 08:52:53,32,"MachineMart, Nottingham"
19,2015-12-02 08:58:30,32,"MachineMart, Nottingham"
20,2015-12-03 08:59:45,32,"MachineMart, Nottingham"
21,2015-12-04 08:59:52,32,"MachineMart, Nottingham"
22,2015-12-05 12:10:40,33,"Redfield Way, Nottingham"
23,2015-12-06 10:49:20,32,"YHA Sherwood Forest, Edwinstowe"
24,2015-12-07 09:00:37,32,"MachineMart, Nottingham"
25,2015-12-08 08:57:28,32,"MachineMart, Nottingham"
26,2015-12-09 08:57:35,32,"MachineMart, Nottingham"
27,2015-12-10 08:59:19,32,"MachineMart, Nottingham"
28,2015-12-11 08:58:52,32,"MachineMart, Nottingham"
29,2015-12-12 14:47:03,33,"Main Street, United Kingdom"
30,2015-12-13 11:03:29,32,"Church Drive, Keyworth"
31,2015-12-14 09:00:45,32,"MachineMart, Nottingham"
32,2015-12-15 09:37:41,32,"Scotts Wood Day Nursery - Nottingham, West Bri..."
33,2015-12-16 08:56:45,32,"MachineMart, Nottingham"
34,2015-12-17 09:00:20,32,"MachineMart, Nottingham"
35,2015-12-18 09:00:08,32,"MachineMart, Nottingham"
36,2015-12-19 13:06:03,32,"Unnamed Road, United Kingdom"
37,2015-12-20 11:17:09,33,"Derwent Way, Matlock"
38,2015-12-21 09:25:55,33,"Nottingham, United Kingdom"
39,2015-12-22 10:02:16,33,"Nottingham, United Kingdom"
40,2015-12-23 10:07:16,33,"Nottingham, United Kingdom"
41,2015-12-24 09:54:55,33,"Nottingham, United Kingdom"
42,2015-12-25 13:58:32,33,"Home, West Bridgford"
43,2015-12-27 10:14:19,33,"Melton Road, West Bridgford"
44,2015-12-28 11:19:48,33,"Dagger Lane, Radlett"
45,2015-12-29 09:25:35,32,"MachineMart, Nottingham"
46,2015-12-30 09:31:51,32,"MachineMart, Nottingham"

,devid,end,location
0,32,2015-11-13 20:30:51,"Home, West Bridgford"
1,32,2015-11-14 15:46:03,"Daleside Road, Nottingham"
2,33,2015-11-15 18:51:57,"Harvester, Wilford"
3,32,2015-11-16 19:02:09,"MachineMart, Nottingham"
4,32,2015-11-17 19:00:46,"MachineMart, Nottingham"
5,32,2015-11-18 19:02:09,"MachineMart, Nottingham"
6,32,2015-11-19 19:01:42,"MachineMart, Nottingham"
7,32,2015-11-20 18:59:36,"MachineMart, Nottingham"
8,33,2015-11-21 19:11:32,"Bye Pass Road, Beeston"
9,32,2015-11-22 14:12:45,"Home, West Bridgford"
10,32,2015-11-23 19:27:52,"Home, West Bridgford"
11,32,2015-11-24 20:53:00,"Melton Road, West Bridgford"
12,32,2015-11-25 19:29:30,"Home, West Bridgford"
13,32,2015-11-26 19:11:40,"MachineMart, Nottingham"
14,32,2015-11-27 19:01:22,"MachineMart, Nottingham"
15,32,2015-11-28 20:29:38,"Bridge Holm Lane, United Kingdom"
16,33,2015-11-29 16:35:07,"A1, Blyth"
17,33,2015-11-30 19:12:25,"Home, West Bridgford"
18,32,2015-12-01 18:30:00,"MachineMart, Nottingham"
19,33,2015-12-02 18:59:00,"School, West Bridgford"
20,33,2015-12-03 18:37:00,"Nursery, West Bridgford"
21,32,2015-12-04 21:39:30,"Asda, West Bridgford"
22,32,2015-12-05 15:24:05,"Showcase Cinema, Nottingham"
23,32,2015-12-06 12:38:49,"Sherwood Forest Craft Centre, Edwinstowe"
24,32,2015-12-07 18:31:41,"MachineMart, Nottingham"
25,32,2015-12-08 23:46:44,"Capital FM Arena, Nottingham"
26,32,2015-12-09 21:54:04,"Morrisons, West Bridgford"
27,33,2015-12-10 19:00:59,"Nottingham, United Kingdom"
28,32,2015-12-11 23:57:16,"The Picnic Basket, Nottingham"
29,33,2015-12-12 15:05:35,"Main Street, United Kingdom"
30,32,2015-12-13 18:53:33,"George's Tradition, West Bridgford"
31,32,2015-12-14 18:32:24,"MachineMart, Nottingham"
32,33,2015-12-15 18:44:23,"School, West Bridgford"
33,32,2015-12-16 23:02:20,"Morrisons, West Bridgford"
34,32,2015-12-17 18:48:41,"Scotts Wood Day Nursery - Nottingham, West Bri..."
35,33,2015-12-18 20:55:50,"Derwent Lane, Darley Dale"
36,33,2015-12-19 15:39:23,"Main Street, Birchover"
37,32,2015-12-20 16:19:16,"Morrisons, West Bridgford"
38,33,2015-12-21 17:35:26,"Asda, West Bridgford"
39,33,2015-12-22 18:21:14,"Nottingham, United Kingdom"
40,33,2015-12-23 17:47:00,"Nottingham, United Kingdom"
41,32,2015-12-24 16:56:46,"Home, West Bridgford"
42,32,2015-12-25 17:27:30,"Home, West Bridgford"
43,33,2015-12-27 10:23:41,"Melton Road, West Bridgford"
44,33,2015-12-28 15:36:00,"Centennial Avenue, Elstree"
45,32,2015-12-29 20:23:43,"Asda, West Bridgford"
46,32,2015-12-30 16:39:19,"MachineMart, Nottingham"
47,33,2015-12-31 08:00:43,"Home, West Bridgford"

           Monday beg         device                    location
0 2015-11-16 09:30:27  android-phone     MachineMart, Nottingham
1 2015-11-23 09:28:27  android-phone     MachineMart, Nottingham
2 2015-11-30 08:59:41  android-phone     MachineMart, Nottingham
3 2015-12-07 09:00:37  android-phone     MachineMart, Nottingham
4 2015-12-14 09:00:45  android-phone     MachineMart, Nottingham
5 2015-12-21 09:25:55  android-phone  Nottingham, United Kingdom
6 2015-12-28 11:19:48  android-phone        Dagger Lane, Radlett

,Tuesday beg,device,location
0,2015-11-17 09:28:43,android-phone,"MachineMart, Nottingham"
1,2015-11-24 09:28:26,android-phone,"MachineMart, Nottingham"
2,2015-12-01 08:52:53,android-phone,"MachineMart, Nottingham"
3,2015-12-08 08:57:28,android-phone,"MachineMart, Nottingham"
4,2015-12-15 09:37:41,android-phone,"Scotts Wood Day Nursery - Nottingham, West Bri..."
5,2015-12-22 10:02:16,android-phone,"Nottingham, United Kingdom"
6,2015-12-29 09:25:35,android-phone,"MachineMart, Nottingham"

           Friday beg         device                 location
0 2015-11-13 10:40:58  android-phone     Home, West Bridgford
1 2015-11-20 09:28:46  android-phone  MachineMart, Nottingham
2 2015-11-27 07:27:27  android-phone     Home, West Bridgford
3 2015-12-04 08:59:52  android-phone  MachineMart, Nottingham
4 2015-12-11 08:58:52  android-phone  MachineMart, Nottingham
5 2015-12-18 09:00:08  android-phone  MachineMart, Nottingham
6 2015-12-25 13:58:32  android-phone     Home, West Bridgford

        Wednesday beg         device                    location
0 2015-11-18 09:29:05  android-phone     MachineMart, Nottingham
1 2015-11-25 09:26:41  android-phone     MachineMart, Nottingham
2 2015-12-02 08:58:30  android-phone     MachineMart, Nottingham
3 2015-12-09 08:57:35  android-phone     MachineMart, Nottingham
4 2015-12-16 08:56:45  android-phone     MachineMart, Nottingham
5 2015-12-23 10:07:16  android-phone  Nottingham, United Kingdom
6 2015-12-30 09:31:51  android-phone     MachineMart, Nottingham

         Thursday beg         device                    location
0 2015-11-19 09:22:16  android-phone     MachineMart, Nottingham
1 2015-11-26 09:25:41  android-phone     MachineMart, Nottingham
2 2015-12-03 08:59:45  android-phone     MachineMart, Nottingham
3 2015-12-10 08:59:19  android-phone     MachineMart, Nottingham
4 2015-12-17 09:00:20  android-phone     MachineMart, Nottingham
5 2015-12-24 09:54:55  android-phone  Nottingham, United Kingdom

           Sunday beg         device                         location
0 2015-11-15 11:34:58  android-phone         Stanwick, United Kingdom
1 2015-11-22 10:12:31  android-phone               SnowDome, Tamworth
2 2015-11-29 09:31:43  android-phone    Cleveland Way, United Kingdom
3 2015-12-06 10:49:20  android-phone  YHA Sherwood Forest, Edwinstowe
4 2015-12-13 11:03:29  android-phone           Church Drive, Keyworth
5 2015-12-20 11:17:09  android-phone             Derwent Way, Matlock
6 2015-12-27 10:14:19  android-phone      Melton Road, West Bridgford

         Saturday beg         device                      location
0 2015-11-14 09:03:53  android-phone     Daleside Road, Nottingham
1 2015-11-21 10:24:16  android-phone                 Gipton, Leeds
2 2015-11-28 12:21:16  android-phone  Beningbrough, United Kingdom
3 2015-12-05 12:10:40  android-phone      Redfield Way, Nottingham
4 2015-12-12 14:47:03  android-phone   Main Street, United Kingdom
5 2015-12-19 13:06:03  android-phone  Unnamed Road, United Kingdom

           Monday end         device                    location
0 2015-11-16 19:02:09  android-phone     MachineMart, Nottingham
1 2015-11-23 19:27:52  android-phone        Home, West Bridgford
2 2015-11-30 19:12:25  android-phone        Home, West Bridgford
3 2015-12-07 18:31:41  android-phone     MachineMart, Nottingham
4 2015-12-14 18:32:24  android-phone     MachineMart, Nottingham
5 2015-12-21 17:35:26  android-phone        Asda, West Bridgford
6 2015-12-28 15:36:00  android-phone  Centennial Avenue, Elstree

          Tuesday end         device                      location
0 2015-11-17 19:00:46  android-phone       MachineMart, Nottingham
1 2015-11-24 20:53:00  android-phone   Melton Road, West Bridgford
2 2015-12-01 18:30:00  android-phone       MachineMart, Nottingham
3 2015-12-08 23:46:44  android-phone  Capital FM Arena, Nottingham
4 2015-12-15 18:44:23  android-phone        School, West Bridgford
5 2015-12-22 18:21:14  android-phone    Nottingham, United Kingdom
6 2015-12-29 20:23:43  android-phone          Asda, West Bridgford

           Friday end         device                       location
0 2015-11-13 20:30:51  android-phone           Home, West Bridgford
1 2015-11-20 18:59:36  android-phone        MachineMart, Nottingham
2 2015-11-27 19:01:22  android-phone        MachineMart, Nottingham
3 2015-12-04 21:39:30  android-phone           Asda, West Bridgford
4 2015-12-11 23:57:16  android-phone  The Picnic Basket, Nottingham
5 2015-12-18 20:55:50  android-phone      Derwent Lane, Darley Dale
6 2015-12-25 17:27:30  android-phone           Home, West Bridgford

        Wednesday end         device                    location
0 2015-11-18 19:02:09  android-phone     MachineMart, Nottingham
1 2015-11-25 19:29:30  android-phone        Home, West Bridgford
2 2015-12-02 18:59:00  android-phone      School, West Bridgford
3 2015-12-09 21:54:04  android-phone   Morrisons, West Bridgford
4 2015-12-16 23:02:20  android-phone   Morrisons, West Bridgford
5 2015-12-23 17:47:00  android-phone  Nottingham, United Kingdom
6 2015-12-30 16:39:19  android-phone     MachineMart, Nottingham

,Thursday end,device,location
0,2015-11-19 19:01:42,android-phone,"MachineMart, Nottingham"
1,2015-11-26 19:11:40,android-phone,"MachineMart, Nottingham"
2,2015-12-03 18:37:00,android-phone,"Nursery, West Bridgford"
3,2015-12-10 19:00:59,android-phone,"Nottingham, United Kingdom"
4,2015-12-17 18:48:41,android-phone,"Scotts Wood Day Nursery - Nottingham, West Bri..."
5,2015-12-24 16:56:46,android-phone,"Home, West Bridgford"
6,2015-12-31 08:00:43,android-phone,"Home, West Bridgford"

           Sunday end         device                                  location
0 2015-11-15 18:51:57  android-phone                        Harvester, Wilford
1 2015-11-22 14:12:45  android-phone                      Home, West Bridgford
2 2015-11-29 16:35:07  android-phone                                 A1, Blyth
3 2015-12-06 12:38:49  android-phone  Sherwood Forest Craft Centre, Edwinstowe
4 2015-12-13 18:53:33  android-phone        George's Tradition, West Bridgford
5 2015-12-20 16:19:16  android-phone                 Morrisons, West Bridgford
6 2015-12-27 10:23:41  android-phone               Melton Road, West Bridgford

         Saturday end         device                          location
0 2015-11-14 15:46:03  android-phone         Daleside Road, Nottingham
1 2015-11-21 19:11:32  android-phone            Bye Pass Road, Beeston
2 2015-11-28 20:29:38  android-phone  Bridge Holm Lane, United Kingdom
3 2015-12-05 15:24:05  android-phone       Showcase Cinema, Nottingham
4 2015-12-12 15:05:35  android-phone       Main Street, United Kingdom
5 2015-12-19 15:39:23  android-phone            Main Street, Birchover

user: 18=======================

                   beg  devid                            location
0  2015-11-13 19:16:24     35          Flintham Drive, Nottingham
1  2015-11-14 13:48:54     35  De Caldwell Drive, Newark-on-Trent
2  2015-11-15 13:26:18     35  De Caldwell Drive, Newark-on-Trent
3  2015-11-16 09:38:45     35              Sandhill Road, Farndon
4  2015-11-17 10:37:49     35             Valley Road, Nottingham
5  2015-11-18 10:24:52     35                 A59, United Kingdom
6  2015-11-19 10:01:17     35  De Caldwell Drive, Newark-on-Trent
7  2015-11-20 10:10:22     35          Flintham Drive, Nottingham
8  2015-11-21 10:44:46     35             Nevinstown Lane, Swords
9  2015-11-22 13:14:26     35               Nassau Street, Dublin
10 2015-11-23 09:40:19     35                 Marsh Lane, Farndon
11 2015-11-24 10:23:05     35          Flintham Drive, Nottingham
12 2015-11-25 11:42:33     35          Flintham Drive, Nottingham
13 2015-11-26 08:07:27     35  De Caldwell Drive, Newark-on-Trent
14 2015-11-27 10:02:54     35         Devon Road, Newark-on-Trent
15 2015-11-28 13:04:45     35          Flintham Drive, Nottingham
16 2015-11-29 14:33:04     35            Rigley Drive, Nottingham
17 2015-11-30 10:01:16     35  De Caldwell Drive, Newark-on-Trent
18 2015-12-01 09:03:53     35                     Lelyweg, Almelo
19 2015-12-02 09:04:06     35                     Lelyweg, Almelo
20 2015-12-03 10:07:00     35                Spring Lane, Lambley
21 2015-12-04 14:26:50     35          Flintham Drive, Nottingham
22 2015-12-05 12:17:21     35          Flintham Drive, Nottingham
23 2015-12-06 09:12:11     35           Saxon Gate, Milton Keynes
24 2015-12-07 09:45:10     35                 Marsh Lane, Farndon
25 2015-12-08 10:18:27     35          Flintham Drive, Nottingham
26 2015-12-09 11:02:03     35             Beach Drive, Waterbeach
27 2015-12-10 10:57:39     35          Flintham Drive, Nottingham

    devid                 end                            location
0      35 2015-11-13 20:38:51          Flintham Drive, Nottingham
1      35 2015-11-14 19:16:58  De Caldwell Drive, Newark-on-Trent
2      35 2015-11-15 18:45:34  De Caldwell Drive, Newark-on-Trent
3      35 2015-11-16 22:22:06  De Caldwell Drive, Newark-on-Trent
4      35 2015-11-17 22:46:31           Clarborough Drive, Arnold
5      35 2015-11-18 22:54:23  De Caldwell Drive, Newark-on-Trent
6      35 2015-11-19 22:59:14          Flintham Drive, Nottingham
7      35 2015-11-20 20:12:07       Beverley Road, United Kingdom
8      35 2015-11-21 19:02:53         Market Street South, Dublin
9      35 2015-11-22 20:23:48               Unnamed Road, Ireland
10     35 2015-11-23 20:39:28  De Caldwell Drive, Newark-on-Trent
11     35 2015-11-24 23:19:19          Flintham Drive, Nottingham
12     35 2015-11-25 21:47:51  De Caldwell Drive, Newark-on-Trent
13     35 2015-11-26 21:05:01  De Caldwell Drive, Newark-on-Trent
14     35 2015-11-27 19:19:08          Flintham Drive, Nottingham
15     35 2015-11-28 22:11:56          Mansfield Road, Nottingham
16     35 2015-11-29 15:13:57            Rigley Drive, Nottingham
17     35 2015-11-30 18:36:42  Amstelweg, Ouderkerk aan de Amstel
18     35 2015-12-01 15:35:51                     Lelyweg, Almelo
19     35 2015-12-02 22:13:26        Airport Approach Road, Luton
20     35 2015-12-03 21:33:24              Thane Road, Nottingham
21     35 2015-12-04 23:07:54          Flintham Drive, Nottingham
22     35 2015-12-05 19:43:52    Brickhill Street, United Kingdom
23     35 2015-12-06 17:56:52          Flintham Drive, Nottingham
24     35 2015-12-07 22:18:30          Flintham Drive, Nottingham
25     35 2015-12-08 23:56:38         Broxtowe Street, Nottingham
26     35 2015-12-09 21:32:06                Cowlairs, Nottingham
27     35 2015-12-10 22:46:31           Fisher Street, Nottingham

           Monday beg  device                            location
0 2015-11-16 09:38:45  iphone              Sandhill Road, Farndon
1 2015-11-23 09:40:19  iphone                 Marsh Lane, Farndon
2 2015-11-30 10:01:16  iphone  De Caldwell Drive, Newark-on-Trent
3 2015-12-07 09:45:10  iphone                 Marsh Lane, Farndon

          Tuesday beg  device                    location
0 2015-11-17 10:37:49  iphone     Valley Road, Nottingham
1 2015-11-24 10:23:05  iphone  Flintham Drive, Nottingham
2 2015-12-01 09:03:53  iphone             Lelyweg, Almelo
3 2015-12-08 10:18:27  iphone  Flintham Drive, Nottingham

           Friday beg  device                     location
0 2015-11-13 19:16:24  iphone   Flintham Drive, Nottingham
1 2015-11-20 10:10:22  iphone   Flintham Drive, Nottingham
2 2015-11-27 10:02:54  iphone  Devon Road, Newark-on-Trent
3 2015-12-04 14:26:50  iphone   Flintham Drive, Nottingham

        Wednesday beg  device                    location
0 2015-11-18 10:24:52  iphone         A59, United Kingdom
1 2015-11-25 11:42:33  iphone  Flintham Drive, Nottingham
2 2015-12-02 09:04:06  iphone             Lelyweg, Almelo
3 2015-12-09 11:02:03  iphone     Beach Drive, Waterbeach

         Thursday beg  device                            location
0 2015-11-19 10:01:17  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-26 08:07:27  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-12-03 10:07:00  iphone                Spring Lane, Lambley
3 2015-12-10 10:57:39  iphone          Flintham Drive, Nottingham

           Sunday beg  device                            location
0 2015-11-15 13:26:18  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-22 13:14:26  iphone               Nassau Street, Dublin
2 2015-11-29 14:33:04  iphone            Rigley Drive, Nottingham
3 2015-12-06 09:12:11  iphone           Saxon Gate, Milton Keynes

         Saturday beg  device                            location
0 2015-11-14 13:48:54  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-21 10:44:46  iphone             Nevinstown Lane, Swords
2 2015-11-28 13:04:45  iphone          Flintham Drive, Nottingham
3 2015-12-05 12:17:21  iphone          Flintham Drive, Nottingham

           Monday end  device                            location
0 2015-11-16 22:22:06  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-23 20:39:28  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-11-30 18:36:42  iphone  Amstelweg, Ouderkerk aan de Amstel
3 2015-12-07 22:18:30  iphone          Flintham Drive, Nottingham

          Tuesday end  device                     location
0 2015-11-17 22:46:31  iphone    Clarborough Drive, Arnold
1 2015-11-24 23:19:19  iphone   Flintham Drive, Nottingham
2 2015-12-01 15:35:51  iphone              Lelyweg, Almelo
3 2015-12-08 23:56:38  iphone  Broxtowe Street, Nottingham

           Friday end  device                       location
0 2015-11-13 20:38:51  iphone     Flintham Drive, Nottingham
1 2015-11-20 20:12:07  iphone  Beverley Road, United Kingdom
2 2015-11-27 19:19:08  iphone     Flintham Drive, Nottingham
3 2015-12-04 23:07:54  iphone     Flintham Drive, Nottingham

        Wednesday end  device                            location
0 2015-11-18 22:54:23  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-25 21:47:51  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-12-02 22:13:26  iphone        Airport Approach Road, Luton
3 2015-12-09 21:32:06  iphone                Cowlairs, Nottingham

         Thursday end  device                            location
0 2015-11-19 22:59:14  iphone          Flintham Drive, Nottingham
1 2015-11-26 21:05:01  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-12-03 21:33:24  iphone              Thane Road, Nottingham
3 2015-12-10 22:46:31  iphone           Fisher Street, Nottingham

           Sunday end  device                            location
0 2015-11-15 18:45:34  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-22 20:23:48  iphone               Unnamed Road, Ireland
2 2015-11-29 15:13:57  iphone            Rigley Drive, Nottingham
3 2015-12-06 17:56:52  iphone          Flintham Drive, Nottingham

         Saturday end  device                            location
0 2015-11-14 19:16:58  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-21 19:02:53  iphone         Market Street South, Dublin
2 2015-11-28 22:11:56  iphone          Mansfield Road, Nottingham
3 2015-12-05 19:43:52  iphone    Brickhill Street, United Kingdom

                   beg  devid                            location
0  2015-11-13 19:16:24     35          Flintham Drive, Nottingham
1  2015-11-14 13:48:54     35  De Caldwell Drive, Newark-on-Trent
2  2015-11-15 13:26:18     35  De Caldwell Drive, Newark-on-Trent
3  2015-11-16 09:38:45     35              Sandhill Road, Farndon
4  2015-11-17 10:37:49     35             Valley Road, Nottingham
5  2015-11-18 10:24:52     35                 A59, United Kingdom
6  2015-11-19 10:01:17     35  De Caldwell Drive, Newark-on-Trent
7  2015-11-20 10:10:22     35          Flintham Drive, Nottingham
8  2015-11-21 10:44:46     35             Nevinstown Lane, Swords
9  2015-11-22 13:14:26     35               Nassau Street, Dublin
10 2015-11-23 09:40:19     35                 Marsh Lane, Farndon
11 2015-11-24 10:23:05     35          Flintham Drive, Nottingham
12 2015-11-25 11:42:33     35          Flintham Drive, Nottingham
13 2015-11-26 08:07:27     35  De Caldwell Drive, Newark-on-Trent
14 2015-11-27 10:02:54     35         Devon Road, Newark-on-Trent
15 2015-11-28 13:04:45     35          Flintham Drive, Nottingham
16 2015-11-29 14:33:04     35            Rigley Drive, Nottingham
17 2015-11-30 10:01:16     35  De Caldwell Drive, Newark-on-Trent
18 2015-12-01 09:03:53     35                     Lelyweg, Almelo
19 2015-12-02 09:04:06     35                     Lelyweg, Almelo
20 2015-12-03 10:07:00     35                Spring Lane, Lambley
21 2015-12-04 14:26:50     35          Flintham Drive, Nottingham
22 2015-12-05 12:17:21     35          Flintham Drive, Nottingham
23 2015-12-06 09:12:11     35           Saxon Gate, Milton Keynes
24 2015-12-07 09:45:10     35                 Marsh Lane, Farndon
25 2015-12-08 10:18:27     35          Flintham Drive, Nottingham
26 2015-12-09 11:02:03     35             Beach Drive, Waterbeach
27 2015-12-10 10:57:39     35          Flintham Drive, Nottingham

    devid                 end                            location
0      35 2015-11-13 20:38:51          Flintham Drive, Nottingham
1      35 2015-11-14 19:16:58  De Caldwell Drive, Newark-on-Trent
2      35 2015-11-15 18:45:34  De Caldwell Drive, Newark-on-Trent
3      35 2015-11-16 22:22:06  De Caldwell Drive, Newark-on-Trent
4      35 2015-11-17 22:46:31           Clarborough Drive, Arnold
5      35 2015-11-18 22:54:23  De Caldwell Drive, Newark-on-Trent
6      35 2015-11-19 22:59:14          Flintham Drive, Nottingham
7      35 2015-11-20 20:12:07       Beverley Road, United Kingdom
8      35 2015-11-21 19:02:53         Market Street South, Dublin
9      35 2015-11-22 20:23:48               Unnamed Road, Ireland
10     35 2015-11-23 20:39:28  De Caldwell Drive, Newark-on-Trent
11     35 2015-11-24 23:19:19          Flintham Drive, Nottingham
12     35 2015-11-25 21:47:51  De Caldwell Drive, Newark-on-Trent
13     35 2015-11-26 21:05:01  De Caldwell Drive, Newark-on-Trent
14     35 2015-11-27 19:19:08          Flintham Drive, Nottingham
15     35 2015-11-28 22:11:56          Mansfield Road, Nottingham
16     35 2015-11-29 15:13:57            Rigley Drive, Nottingham
17     35 2015-11-30 18:36:42  Amstelweg, Ouderkerk aan de Amstel
18     35 2015-12-01 15:35:51                     Lelyweg, Almelo
19     35 2015-12-02 22:13:26        Airport Approach Road, Luton
20     35 2015-12-03 21:33:24              Thane Road, Nottingham
21     35 2015-12-04 23:07:54          Flintham Drive, Nottingham
22     35 2015-12-05 19:43:52    Brickhill Street, United Kingdom
23     35 2015-12-06 17:56:52          Flintham Drive, Nottingham
24     35 2015-12-07 22:18:30          Flintham Drive, Nottingham
25     35 2015-12-08 23:56:38         Broxtowe Street, Nottingham
26     35 2015-12-09 21:32:06                Cowlairs, Nottingham
27     35 2015-12-10 22:46:31           Fisher Street, Nottingham

           Monday beg  device                            location
0 2015-11-16 09:38:45  iphone              Sandhill Road, Farndon
1 2015-11-23 09:40:19  iphone                 Marsh Lane, Farndon
2 2015-11-30 10:01:16  iphone  De Caldwell Drive, Newark-on-Trent
3 2015-12-07 09:45:10  iphone                 Marsh Lane, Farndon

          Tuesday beg  device                    location
0 2015-11-17 10:37:49  iphone     Valley Road, Nottingham
1 2015-11-24 10:23:05  iphone  Flintham Drive, Nottingham
2 2015-12-01 09:03:53  iphone             Lelyweg, Almelo
3 2015-12-08 10:18:27  iphone  Flintham Drive, Nottingham

           Friday beg  device                     location
0 2015-11-13 19:16:24  iphone   Flintham Drive, Nottingham
1 2015-11-20 10:10:22  iphone   Flintham Drive, Nottingham
2 2015-11-27 10:02:54  iphone  Devon Road, Newark-on-Trent
3 2015-12-04 14:26:50  iphone   Flintham Drive, Nottingham

        Wednesday beg  device                    location
0 2015-11-18 10:24:52  iphone         A59, United Kingdom
1 2015-11-25 11:42:33  iphone  Flintham Drive, Nottingham
2 2015-12-02 09:04:06  iphone             Lelyweg, Almelo
3 2015-12-09 11:02:03  iphone     Beach Drive, Waterbeach

         Thursday beg  device                            location
0 2015-11-19 10:01:17  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-26 08:07:27  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-12-03 10:07:00  iphone                Spring Lane, Lambley
3 2015-12-10 10:57:39  iphone          Flintham Drive, Nottingham

           Sunday beg  device                            location
0 2015-11-15 13:26:18  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-22 13:14:26  iphone               Nassau Street, Dublin
2 2015-11-29 14:33:04  iphone            Rigley Drive, Nottingham
3 2015-12-06 09:12:11  iphone           Saxon Gate, Milton Keynes

         Saturday beg  device                            location
0 2015-11-14 13:48:54  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-21 10:44:46  iphone             Nevinstown Lane, Swords
2 2015-11-28 13:04:45  iphone          Flintham Drive, Nottingham
3 2015-12-05 12:17:21  iphone          Flintham Drive, Nottingham

           Monday end  device                            location
0 2015-11-16 22:22:06  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-23 20:39:28  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-11-30 18:36:42  iphone  Amstelweg, Ouderkerk aan de Amstel
3 2015-12-07 22:18:30  iphone          Flintham Drive, Nottingham

          Tuesday end  device                     location
0 2015-11-17 22:46:31  iphone    Clarborough Drive, Arnold
1 2015-11-24 23:19:19  iphone   Flintham Drive, Nottingham
2 2015-12-01 15:35:51  iphone              Lelyweg, Almelo
3 2015-12-08 23:56:38  iphone  Broxtowe Street, Nottingham

           Friday end  device                       location
0 2015-11-13 20:38:51  iphone     Flintham Drive, Nottingham
1 2015-11-20 20:12:07  iphone  Beverley Road, United Kingdom
2 2015-11-27 19:19:08  iphone     Flintham Drive, Nottingham
3 2015-12-04 23:07:54  iphone     Flintham Drive, Nottingham

        Wednesday end  device                            location
0 2015-11-18 22:54:23  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-25 21:47:51  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-12-02 22:13:26  iphone        Airport Approach Road, Luton
3 2015-12-09 21:32:06  iphone                Cowlairs, Nottingham

         Thursday end  device                            location
0 2015-11-19 22:59:14  iphone          Flintham Drive, Nottingham
1 2015-11-26 21:05:01  iphone  De Caldwell Drive, Newark-on-Trent
2 2015-12-03 21:33:24  iphone              Thane Road, Nottingham
3 2015-12-10 22:46:31  iphone           Fisher Street, Nottingham

           Sunday end  device                            location
0 2015-11-15 18:45:34  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-22 20:23:48  iphone               Unnamed Road, Ireland
2 2015-11-29 15:13:57  iphone            Rigley Drive, Nottingham
3 2015-12-06 17:56:52  iphone          Flintham Drive, Nottingham

         Saturday end  device                            location
0 2015-11-14 19:16:58  iphone  De Caldwell Drive, Newark-on-Trent
1 2015-11-21 19:02:53  iphone         Market Street South, Dublin
2 2015-11-28 22:11:56  iphone          Mansfield Road, Nottingham
3 2015-12-05 19:43:52  iphone    Brickhill Street, United Kingdom

user: 19=======================

                   beg  devid                                    location
0  2015-11-20 09:56:46     38                     Denison Street, Beeston
1  2015-11-21 11:08:05     38                     Denison Street, Beeston
2  2015-11-22 11:06:44     38                 Regatta Way, West Bridgford
3  2015-11-23 22:55:29     38                     Denison Street, Beeston
4  2015-11-24 07:41:26     38                     Denison Street, Beeston
5  2015-11-25 09:12:19     38                     Beeston, United Kingdom
6  2015-11-26 09:23:55     38                   Milton Street, Nottingham
7  2015-11-27 07:52:15     38                     Denison Street, Beeston
8  2015-11-28 11:17:44     38                     Denison Street, Beeston
9  2015-11-29 10:52:18     38        University Boulevard, United Kingdom
10 2015-11-30 09:48:59     38              Shakespeare Street, Nottingham
11 2015-12-01 09:32:17     38             North Church Street, Nottingham
12 2015-12-02 09:27:47     38              Shakespeare Street, Nottingham
13 2015-12-03 09:09:32     38                    Radford Road, Nottingham
14 2015-12-04 09:29:38     38             North Church Street, Nottingham
15 2015-12-05 13:46:32     38                    Beeston Road, Nottingham
16 2015-12-06 10:11:31     38                        Park Street, Beeston
17 2015-12-07 09:55:15     38                     Ward Street, Nottingham
18 2015-12-08 09:48:34     38                  Nottingham, United Kingdom
19 2015-12-09 10:48:15     38                            Broadway, London
20 2015-12-10 09:21:32     38                   Norfolk Place, Nottingham
21 2015-12-11 09:19:55     38                Greyhound Street, Nottingham
22 2015-12-12 17:16:39     38                     Denison Street, Beeston
23 2015-12-13 16:44:33     38                     Denison Street, Beeston
24 2015-12-14 09:31:22     38                  Nottingham, United Kingdom
25 2015-12-15 07:53:05     38                     Denison Street, Beeston
26 2015-12-16 09:50:14     38                     Ward Street, Nottingham
27 2015-12-17 10:54:05     38                 South Lambeth Place, London
28 2015-12-18 10:21:12     38              Acre Edge Road, United Kingdom
29 2015-12-19 10:55:04     38                               Home, Beeston
..                 ...    ...                                         ...
60 2016-01-20 09:51:45     38  Nottingham City Police Station, Nottingham
61 2016-01-21 09:13:20     38     Radford Road Police Station, Nottingham
62 2016-01-22 08:43:13     38                        Sainsbury's, Beeston
63 2016-01-23 09:56:13     38                         Canal Side, Beeston
64 2016-01-24 09:40:59     38                               Home, Beeston
65 2016-01-25 09:55:48     38                  Nottingham, United Kingdom
66 2016-01-26 09:01:04     38     Radford Road Police Station, Nottingham
67 2016-01-27 09:04:28     38     Radford Road Police Station, Nottingham
68 2016-01-28 09:12:24     38                    Russell Road, Nottingham
69 2016-01-29 09:04:12     38         Upper Parliament Street, Nottingham
70 2016-01-30 14:06:53     38                     Enfield Street, Beeston
71 2016-01-31 10:13:24     38                      Bramcote Road, Beeston
72 2016-02-01 08:34:17     38                     Willow Road, Nottingham
73 2016-02-02 07:37:26     38                               Home, Beeston
74 2016-02-03 09:05:16     38     Radford Road Police Station, Nottingham
75 2016-02-04 09:40:45     38     Radford Road Police Station, Nottingham
76 2016-02-05 09:28:25     38  Nottingham City Police Station, Nottingham
77 2016-02-06 14:41:16     38                               Home, Beeston
78 2016-02-07 10:31:20     38                     Enfield Street, Beeston
79 2016-02-08 09:38:01     38                     Enfield Street, Beeston
80 2016-02-09 08:39:16     38                     Beeston, United Kingdom
81 2016-02-10 09:23:27     38     Radford Road Police Station, Nottingham
82 2016-02-11 08:04:59     38                     Chilwell Lane, Bramcote
83 2016-02-12 09:08:11     38                  Pure Gym, Beeston, Beeston
84 2016-02-13 15:10:26     38                          Old Drive, Beeston
85 2016-02-14 10:59:07     38                     Enfield Street, Beeston
86 2016-02-15 12:33:21     38  Nottingham City Police Station, Nottingham
87 2016-02-17 09:28:29     38                  Station Street, Nottingham
88 2016-02-18 08:03:01     38                               Home, Beeston
89 2016-02-19 09:14:23     38     Radford Road Police Station, Nottingham

[90 rows x 3 columns]

    devid                 end                                     location
0      38 2015-11-20 21:34:42                      Denison Street, Beeston
1      38 2015-11-21 13:40:34                       Albion Street, Beeston
2      38 2015-11-22 18:11:28                         Queens Road, Beeston
3      38 2015-11-23 23:50:44                      Denison Street, Beeston
4      38 2015-11-24 19:40:00                      Denison Street, Beeston
5      38 2015-11-25 18:56:50                       Albion Street, Beeston
6      38 2015-11-26 22:35:52                    The Manor, United Kingdom
7      38 2015-11-27 18:31:25               Shakespeare Street, Nottingham
8      38 2015-11-28 21:36:12                 Woodborough Road, Nottingham
9      38 2015-11-29 16:51:45                       Bramcote Road, Beeston
10     38 2015-11-30 22:38:28                       Nether Street, Beeston
11     38 2015-12-01 18:30:44            South Sherwood Street, Nottingham
12     38 2015-12-02 19:23:56                   Nottingham, United Kingdom
13     38 2015-12-03 22:54:36                      Denison Street, Beeston
14     38 2015-12-04 23:46:56                   Adams Walk, United Kingdom
15     38 2015-12-05 20:29:21                     Broad Street, Nottingham
16     38 2015-12-06 15:59:06                     Beeston Lane, Nottingham
17     38 2015-12-07 22:36:08                       Nether Street, Beeston
18     38 2015-12-08 18:03:43                 London Bridge Street, London
19     38 2015-12-09 11:05:32                             Broadway, London
20     38 2015-12-10 22:29:57                       Chilwell Road, Beeston
21     38 2015-12-11 18:58:30                           Lace Road, Beeston
22     38 2015-12-12 23:26:45                      Denison Street, Beeston
23     38 2015-12-13 18:49:24                      Denison Street, Beeston
24     38 2015-12-14 22:54:36                       Nether Street, Beeston
25     38 2015-12-15 23:41:01                      Chilwell Lane, Bramcote
26     38 2015-12-16 23:10:02  Burlington House Piccadilly, United Kingdom
27     38 2015-12-17 19:02:13                        Villa Street, Beeston
28     38 2015-12-18 23:14:50                      Denison Street, Beeston
29     38 2015-12-19 16:05:40                    Middleton Street, Beeston
..    ...                 ...                                          ...
60     38 2016-01-20 21:00:37                    Bentinck Road, Nottingham
61     38 2016-01-21 22:29:19                       Chilwell Road, Beeston
62     38 2016-01-22 22:19:26                       Bye Pass Road, Beeston
63     38 2016-01-23 16:33:29                                Home, Beeston
64     38 2016-01-24 23:17:34                         Park Street, Beeston
65     38 2016-01-25 22:36:00                       Nether Street, Beeston
66     38 2016-01-26 18:01:40      Radford Road Police Station, Nottingham
67     38 2016-01-27 20:27:13                Old Market Square, Nottingham
68     38 2016-01-28 21:55:59                     Trent Street, Nottingham
69     38 2016-01-29 17:32:44                    Burton Street, Nottingham
70     38 2016-01-30 19:29:00                         Sainsbury's, Beeston
71     38 2016-01-31 19:26:04                                Home, Beeston
72     38 2016-02-01 23:23:09                    The Manor, United Kingdom
73     38 2016-02-02 18:26:09                 Greyhound Street, Nottingham
74     38 2016-02-03 21:21:43                                Home, Beeston
75     38 2016-02-04 20:31:35                                Home, Beeston
76     38 2016-02-05 22:53:58                       Bye Pass Road, Beeston
77     38 2016-02-06 20:01:44                           High Road, Beeston
78     38 2016-02-07 16:20:32                                Home, Beeston
79     38 2016-02-08 22:36:39                       Nether Street, Beeston
80     38 2016-02-09 18:36:40                   Pure Gym, Beeston, Beeston
81     38 2016-02-10 18:16:47      Radford Road Police Station, Nottingham
82     38 2016-02-11 21:07:04                     Triumph Road, Nottingham
83     38 2016-02-12 18:42:03                        Station Road, Beeston
84     38 2016-02-13 16:34:48                         Sainsbury's, Beeston
85     38 2016-02-14 16:39:36                                Home, Beeston
86     38 2016-02-15 17:25:09   Nottingham City Police Station, Nottingham
87     38 2016-02-17 23:10:35                        Angel Row, Nottingham
88     38 2016-02-18 23:35:25                   Nottingham, United Kingdom
89     38 2016-02-19 09:32:09      Radford Road Police Station, Nottingham

[90 rows x 3 columns]

,Monday beg,device,location
0,2015-11-23 22:55:29,android-phone,"Denison Street, Beeston"
1,2015-11-30 09:48:59,android-phone,"Shakespeare Street, Nottingham"
2,2015-12-07 09:55:15,android-phone,"Ward Street, Nottingham"
3,2015-12-14 09:31:22,android-phone,"Nottingham, United Kingdom"
4,2015-12-21 09:06:50,android-phone,"Shakespeare Street, Nottingham"
5,2015-12-28 13:33:15,android-phone,"M6, United Kingdom"
6,2016-01-04 09:13:44,android-phone,"Radford Road Police Station, Nottingham"
7,2016-01-18 09:50:34,android-phone,"Nottingham, United Kingdom"
8,2016-01-25 09:55:48,android-phone,"Nottingham, United Kingdom"
9,2016-02-01 08:34:17,android-phone,"Willow Road, Nottingham"
10,2016-02-08 09:38:01,android-phone,"Enfield Street, Beeston"
11,2016-02-15 12:33:21,android-phone,"Nottingham City Police Station, Nottingham"

           Tuesday beg         device                                 location
0  2015-11-24 07:41:26  android-phone                  Denison Street, Beeston
1  2015-12-01 09:32:17  android-phone          North Church Street, Nottingham
2  2015-12-08 09:48:34  android-phone               Nottingham, United Kingdom
3  2015-12-15 07:53:05  android-phone                  Denison Street, Beeston
4  2015-12-22 09:30:36  android-phone  Radford Road Police Station, Nottingham
5  2015-12-29 05:21:35  android-phone                   Tree Gardens, Brampton
6  2016-01-05 09:51:29  android-phone                  Ward Street, Nottingham
7  2016-01-12 09:33:20  android-phone  Radford Road Police Station, Nottingham
8  2016-01-19 09:13:04  android-phone  Radford Road Police Station, Nottingham
9  2016-01-26 09:01:04  android-phone  Radford Road Police Station, Nottingham
10 2016-02-02 07:37:26  android-phone                            Home, Beeston
11 2016-02-09 08:39:16  android-phone                  Beeston, United Kingdom

,Friday beg,device,location
0,2015-11-20 09:56:46,android-phone,"Denison Street, Beeston"
1,2015-11-27 07:52:15,android-phone,"Denison Street, Beeston"
2,2015-12-04 09:29:38,android-phone,"North Church Street, Nottingham"
3,2015-12-11 09:19:55,android-phone,"Greyhound Street, Nottingham"
4,2015-12-18 10:21:12,android-phone,"Acre Edge Road, United Kingdom"
5,2015-12-25 10:46:02,android-phone,"Home, Beeston"
6,2016-01-01 13:40:44,android-phone,"Sidney Road, Beeston"
7,2016-01-08 09:43:11,android-phone,"Nottingham City Police Station, Nottingham"
8,2016-01-15 09:57:37,android-phone,"Nottingham City Police Station, Nottingham"
9,2016-01-22 08:43:13,android-phone,"Sainsbury's, Beeston"
10,2016-01-29 09:04:12,android-phone,"Upper Parliament Street, Nottingham"
11,2016-02-05 09:28:25,android-phone,"Nottingham City Police Station, Nottingham"
12,2016-02-12 09:08:11,android-phone,"Pure Gym, Beeston, Beeston"
13,2016-02-19 09:14:23,android-phone,"Radford Road Police Station, Nottingham"

,Wednesday beg,device,location
0,2015-11-25 09:12:19,android-phone,"Beeston, United Kingdom"
1,2015-12-02 09:27:47,android-phone,"Shakespeare Street, Nottingham"
2,2015-12-09 10:48:15,android-phone,"Broadway, London"
3,2015-12-16 09:50:14,android-phone,"Ward Street, Nottingham"
4,2015-12-23 12:21:19,android-phone,"Burton Street, Nottingham"
5,2015-12-30 14:23:08,android-phone,"Cliff Lane, Lymm"
6,2016-01-06 09:39:15,android-phone,"Radford Road, Nottingham"
7,2016-01-13 07:34:09,android-phone,"Home, Beeston"
8,2016-01-20 09:51:45,android-phone,"Nottingham City Police Station, Nottingham"
9,2016-01-27 09:04:28,android-phone,"Radford Road Police Station, Nottingham"
10,2016-02-03 09:05:16,android-phone,"Radford Road Police Station, Nottingham"
11,2016-02-10 09:23:27,android-phone,"Radford Road Police Station, Nottingham"
12,2016-02-17 09:28:29,android-phone,"Station Street, Nottingham"

,Thursday beg,device,location
0,2015-11-26 09:23:55,android-phone,"Milton Street, Nottingham"
1,2015-12-03 09:09:32,android-phone,"Radford Road, Nottingham"
2,2015-12-10 09:21:32,android-phone,"Norfolk Place, Nottingham"
3,2015-12-17 10:54:05,android-phone,"South Lambeth Place, London"
4,2015-12-24 09:59:09,android-phone,"Ark Veterinary Clinic, Beeston"
5,2015-12-31 12:43:42,android-phone,"Unnamed Road, United Kingdom"
6,2016-01-07 09:04:47,android-phone,"Nottingham City Police Station, Nottingham"
7,2016-01-14 09:51:52,android-phone,"Radford Road Police Station, Nottingham"
8,2016-01-21 09:13:20,android-phone,"Radford Road Police Station, Nottingham"
9,2016-01-28 09:12:24,android-phone,"Russell Road, Nottingham"
10,2016-02-04 09:40:45,android-phone,"Radford Road Police Station, Nottingham"
11,2016-02-11 08:04:59,android-phone,"Chilwell Lane, Bramcote"
12,2016-02-18 08:03:01,android-phone,"Home, Beeston"

            Sunday beg         device                              location
0  2015-11-22 11:06:44  android-phone           Regatta Way, West Bridgford
1  2015-11-29 10:52:18  android-phone  University Boulevard, United Kingdom
2  2015-12-06 10:11:31  android-phone                  Park Street, Beeston
3  2015-12-13 16:44:33  android-phone               Denison Street, Beeston
4  2015-12-20 13:28:38  android-phone                  Sainsbury's, Beeston
5  2015-12-27 10:58:39  android-phone               Beeston, United Kingdom
6  2016-01-03 10:43:01  android-phone                Bramcote Road, Beeston
7  2016-01-10 10:41:58  android-phone                Bramcote Road, Beeston
8  2016-01-17 11:07:55  android-phone                Cromwell Road, Beeston
9  2016-01-24 09:40:59  android-phone                         Home, Beeston
10 2016-01-31 10:13:24  android-phone                Bramcote Road, Beeston
11 2016-02-07 10:31:20  android-phone               Enfield Street, Beeston
12 2016-02-14 10:59:07  android-phone               Enfield Street, Beeston

          Saturday beg         device                    location
0  2015-11-21 11:08:05  android-phone     Denison Street, Beeston
1  2015-11-28 11:17:44  android-phone     Denison Street, Beeston
2  2015-12-05 13:46:32  android-phone    Beeston Road, Nottingham
3  2015-12-12 17:16:39  android-phone     Denison Street, Beeston
4  2015-12-19 10:55:04  android-phone               Home, Beeston
5  2015-12-26 11:39:53  android-phone        Park Street, Beeston
6  2016-01-02 09:50:55  android-phone         Canal Side, Beeston
7  2016-01-09 10:24:13  android-phone  Pure Gym, Beeston, Beeston
8  2016-01-16 09:26:11  android-phone               Home, Beeston
9  2016-01-23 09:56:13  android-phone         Canal Side, Beeston
10 2016-01-30 14:06:53  android-phone     Enfield Street, Beeston
11 2016-02-06 14:41:16  android-phone               Home, Beeston
12 2016-02-13 15:10:26  android-phone          Old Drive, Beeston

,Monday end,device,location
0,2015-11-23 23:50:44,android-phone,"Denison Street, Beeston"
1,2015-11-30 22:38:28,android-phone,"Nether Street, Beeston"
2,2015-12-07 22:36:08,android-phone,"Nether Street, Beeston"
3,2015-12-14 22:54:36,android-phone,"Nether Street, Beeston"
4,2015-12-21 19:12:25,android-phone,"Wollaton Road, Beeston"
5,2015-12-28 13:49:34,android-phone,"M6, United Kingdom"
6,2016-01-04 23:11:04,android-phone,"Pure Gym, Beeston, Beeston"
7,2016-01-18 23:16:25,android-phone,"Pure Gym, Beeston, Beeston"
8,2016-01-25 22:36:00,android-phone,"Nether Street, Beeston"
9,2016-02-01 23:23:09,android-phone,"The Manor, United Kingdom"
10,2016-02-08 22:36:39,android-phone,"Nether Street, Beeston"
11,2016-02-15 17:25:09,android-phone,"Nottingham City Police Station, Nottingham"

,Tuesday end,device,location
0,2015-11-24 19:40:00,android-phone,"Denison Street, Beeston"
1,2015-12-01 18:30:44,android-phone,"South Sherwood Street, Nottingham"
2,2015-12-08 18:03:43,android-phone,"London Bridge Street, London"
3,2015-12-15 23:41:01,android-phone,"Chilwell Lane, Bramcote"
4,2015-12-22 18:04:24,android-phone,"Nottingham City Police Station, Nottingham"
5,2015-12-29 12:49:33,android-phone,"Tarn Road, Brampton"
6,2016-01-05 17:55:50,android-phone,"Radford Road Police Station, Nottingham"
7,2016-01-12 23:27:11,android-phone,"The Poplars, Beeston"
8,2016-01-19 22:07:34,android-phone,"College Street, Nottingham"
9,2016-01-26 18:01:40,android-phone,"Radford Road Police Station, Nottingham"
10,2016-02-02 18:26:09,android-phone,"Greyhound Street, Nottingham"
11,2016-02-09 18:36:40,android-phone,"Pure Gym, Beeston, Beeston"

            Friday end         device                                 location
0  2015-11-20 21:34:42  android-phone                  Denison Street, Beeston
1  2015-11-27 18:31:25  android-phone           Shakespeare Street, Nottingham
2  2015-12-04 23:46:56  android-phone               Adams Walk, United Kingdom
3  2015-12-11 18:58:30  android-phone                       Lace Road, Beeston
4  2015-12-18 23:14:50  android-phone                  Denison Street, Beeston
5  2015-12-25 18:01:53  android-phone                            Home, Beeston
6  2016-01-01 13:54:32  android-phone                     Sidney Road, Beeston
7  2016-01-08 20:50:32  android-phone               Pure Gym, Beeston, Beeston
8  2016-01-15 22:44:35  android-phone                   Bye Pass Road, Beeston
9  2016-01-22 22:19:26  android-phone                   Bye Pass Road, Beeston
10 2016-01-29 17:32:44  android-phone                Burton Street, Nottingham
11 2016-02-05 22:53:58  android-phone                   Bye Pass Road, Beeston
12 2016-02-12 18:42:03  android-phone                    Station Road, Beeston
13 2016-02-19 09:32:09  android-phone  Radford Road Police Station, Nottingham

,Wednesday end,device,location
0,2015-11-25 18:56:50,android-phone,"Albion Street, Beeston"
1,2015-12-02 19:23:56,android-phone,"Nottingham, United Kingdom"
2,2015-12-09 11:05:32,android-phone,"Broadway, London"
3,2015-12-16 23:10:02,android-phone,"Burlington House Piccadilly, United Kingdom"
4,2015-12-23 20:24:10,android-phone,"Albion Street, Beeston"
5,2015-12-30 17:38:05,android-phone,"Wollaton Road, Beeston"
6,2016-01-06 18:51:10,android-phone,"Nottingham City Police Station, Nottingham"
7,2016-01-13 19:08:55,android-phone,"High Road, Beeston"
8,2016-01-20 21:00:37,android-phone,"Bentinck Road, Nottingham"
9,2016-01-27 20:27:13,android-phone,"Old Market Square, Nottingham"
10,2016-02-03 21:21:43,android-phone,"Home, Beeston"
11,2016-02-10 18:16:47,android-phone,"Radford Road Police Station, Nottingham"
12,2016-02-17 23:10:35,android-phone,"Angel Row, Nottingham"

          Thursday end         device                    location
0  2015-11-26 22:35:52  android-phone   The Manor, United Kingdom
1  2015-12-03 22:54:36  android-phone     Denison Street, Beeston
2  2015-12-10 22:29:57  android-phone      Chilwell Road, Beeston
3  2015-12-17 19:02:13  android-phone       Villa Street, Beeston
4  2015-12-24 19:42:29  android-phone     Mel and Camp's, Beeston
5  2015-12-31 21:43:36  android-phone     Denison Street, Beeston
6  2016-01-07 22:50:57  android-phone      Dovecote Lane, Beeston
7  2016-01-14 18:43:07  android-phone               Home, Beeston
8  2016-01-21 22:29:19  android-phone      Chilwell Road, Beeston
9  2016-01-28 21:55:59  android-phone    Trent Street, Nottingham
10 2016-02-04 20:31:35  android-phone               Home, Beeston
11 2016-02-11 21:07:04  android-phone    Triumph Road, Nottingham
12 2016-02-18 23:35:25  android-phone  Nottingham, United Kingdom

            Sunday end         device                  location
0  2015-11-22 18:11:28  android-phone      Queens Road, Beeston
1  2015-11-29 16:51:45  android-phone    Bramcote Road, Beeston
2  2015-12-06 15:59:06  android-phone  Beeston Lane, Nottingham
3  2015-12-13 18:49:24  android-phone   Denison Street, Beeston
4  2015-12-20 16:09:23  android-phone     Moor Lane, Dale Abbey
5  2015-12-27 13:32:26  android-phone     Villa Street, Beeston
6  2016-01-03 15:55:31  android-phone             Home, Beeston
7  2016-01-10 14:46:00  android-phone             Home, Beeston
8  2016-01-17 16:05:11  android-phone             Home, Beeston
9  2016-01-24 23:17:34  android-phone      Park Street, Beeston
10 2016-01-31 19:26:04  android-phone             Home, Beeston
11 2016-02-07 16:20:32  android-phone             Home, Beeston
12 2016-02-14 16:39:36  android-phone             Home, Beeston

          Saturday end         device                      location
0  2015-11-21 13:40:34  android-phone        Albion Street, Beeston
1  2015-11-28 21:36:12  android-phone  Woodborough Road, Nottingham
2  2015-12-05 20:29:21  android-phone      Broad Street, Nottingham
3  2015-12-12 23:26:45  android-phone       Denison Street, Beeston
4  2015-12-19 16:05:40  android-phone     Middleton Street, Beeston
5  2015-12-26 14:44:38  android-phone     Wollaton Road, Nottingham
6  2016-01-02 16:22:26  android-phone          Sidney Road, Beeston
7  2016-01-09 21:41:25  android-phone                 Home, Beeston
8  2016-01-16 15:48:43  android-phone                 Home, Beeston
9  2016-01-23 16:33:29  android-phone                 Home, Beeston
10 2016-01-30 19:29:00  android-phone          Sainsbury's, Beeston
11 2016-02-06 20:01:44  android-phone            High Road, Beeston
12 2016-02-13 16:34:48  android-phone          Sainsbury's, Beeston

                   beg  devid                                    location
0  2015-11-20 09:56:46     38                     Denison Street, Beeston
1  2015-11-21 11:08:05     38                     Denison Street, Beeston
2  2015-11-22 11:06:44     38                 Regatta Way, West Bridgford
3  2015-11-23 22:55:29     38                     Denison Street, Beeston
4  2015-11-24 07:41:26     38                     Denison Street, Beeston
5  2015-11-25 09:12:19     38                     Beeston, United Kingdom
6  2015-11-26 09:23:55     38                   Milton Street, Nottingham
7  2015-11-27 07:52:15     38                     Denison Street, Beeston
8  2015-11-28 11:17:44     38                     Denison Street, Beeston
9  2015-11-29 10:52:18     38        University Boulevard, United Kingdom
10 2015-11-30 09:48:59     38              Shakespeare Street, Nottingham
11 2015-12-01 09:32:17     38             North Church Street, Nottingham
12 2015-12-02 09:27:47     38              Shakespeare Street, Nottingham
13 2015-12-03 09:09:32     38                    Radford Road, Nottingham
14 2015-12-04 09:29:38     38             North Church Street, Nottingham
15 2015-12-05 13:46:32     38                    Beeston Road, Nottingham
16 2015-12-06 10:11:31     38                        Park Street, Beeston
17 2015-12-07 09:55:15     38                     Ward Street, Nottingham
18 2015-12-08 09:48:34     38                  Nottingham, United Kingdom
19 2015-12-09 10:48:15     38                            Broadway, London
20 2015-12-10 09:21:32     38                   Norfolk Place, Nottingham
21 2015-12-11 09:19:55     38                Greyhound Street, Nottingham
22 2015-12-12 17:16:39     38                     Denison Street, Beeston
23 2015-12-13 16:44:33     38                     Denison Street, Beeston
24 2015-12-14 09:31:22     38                  Nottingham, United Kingdom
25 2015-12-15 07:53:05     38                     Denison Street, Beeston
26 2015-12-16 09:50:14     38                     Ward Street, Nottingham
27 2015-12-17 10:54:05     38                 South Lambeth Place, London
28 2015-12-18 10:21:12     38              Acre Edge Road, United Kingdom
29 2015-12-19 10:55:04     38                               Home, Beeston
..                 ...    ...                                         ...
60 2016-01-20 09:51:45     38  Nottingham City Police Station, Nottingham
61 2016-01-21 09:13:20     38     Radford Road Police Station, Nottingham
62 2016-01-22 08:43:13     38                        Sainsbury's, Beeston
63 2016-01-23 09:56:13     38                         Canal Side, Beeston
64 2016-01-24 09:40:59     38                               Home, Beeston
65 2016-01-25 09:55:48     38                  Nottingham, United Kingdom
66 2016-01-26 09:01:04     38     Radford Road Police Station, Nottingham
67 2016-01-27 09:04:28     38     Radford Road Police Station, Nottingham
68 2016-01-28 09:12:24     38                    Russell Road, Nottingham
69 2016-01-29 09:04:12     38         Upper Parliament Street, Nottingham
70 2016-01-30 14:06:53     38                     Enfield Street, Beeston
71 2016-01-31 10:13:24     38                      Bramcote Road, Beeston
72 2016-02-01 08:34:17     38                     Willow Road, Nottingham
73 2016-02-02 07:37:26     38                               Home, Beeston
74 2016-02-03 09:05:16     38     Radford Road Police Station, Nottingham
75 2016-02-04 09:40:45     38     Radford Road Police Station, Nottingham
76 2016-02-05 09:28:25     38  Nottingham City Police Station, Nottingham
77 2016-02-06 14:41:16     38                               Home, Beeston
78 2016-02-07 10:31:20     38                     Enfield Street, Beeston
79 2016-02-08 09:38:01     38                     Enfield Street, Beeston
80 2016-02-09 08:39:16     38                     Beeston, United Kingdom
81 2016-02-10 09:23:27     38     Radford Road Police Station, Nottingham
82 2016-02-11 08:04:59     38                     Chilwell Lane, Bramcote
83 2016-02-12 09:08:11     38                  Pure Gym, Beeston, Beeston
84 2016-02-13 15:10:26     38                          Old Drive, Beeston
85 2016-02-14 10:59:07     38                     Enfield Street, Beeston
86 2016-02-15 12:33:21     38  Nottingham City Police Station, Nottingham
87 2016-02-17 09:28:29     38                  Station Street, Nottingham
88 2016-02-18 08:03:01     38                               Home, Beeston
89 2016-02-19 09:14:23     38     Radford Road Police Station, Nottingham

[90 rows x 3 columns]

    devid                 end                                     location
0      38 2015-11-20 21:34:42                      Denison Street, Beeston
1      38 2015-11-21 13:40:34                       Albion Street, Beeston
2      38 2015-11-22 18:11:28                         Queens Road, Beeston
3      38 2015-11-23 23:50:44                      Denison Street, Beeston
4      38 2015-11-24 19:40:00                      Denison Street, Beeston
5      38 2015-11-25 18:56:50                       Albion Street, Beeston
6      38 2015-11-26 22:35:52                    The Manor, United Kingdom
7      38 2015-11-27 18:31:25               Shakespeare Street, Nottingham
8      38 2015-11-28 21:36:12                 Woodborough Road, Nottingham
9      38 2015-11-29 16:51:45                       Bramcote Road, Beeston
10     38 2015-11-30 22:38:28                       Nether Street, Beeston
11     38 2015-12-01 18:30:44            South Sherwood Street, Nottingham
12     38 2015-12-02 19:23:56                   Nottingham, United Kingdom
13     38 2015-12-03 22:54:36                      Denison Street, Beeston
14     38 2015-12-04 23:46:56                   Adams Walk, United Kingdom
15     38 2015-12-05 20:29:21                     Broad Street, Nottingham
16     38 2015-12-06 15:59:06                     Beeston Lane, Nottingham
17     38 2015-12-07 22:36:08                       Nether Street, Beeston
18     38 2015-12-08 18:03:43                 London Bridge Street, London
19     38 2015-12-09 11:05:32                             Broadway, London
20     38 2015-12-10 22:29:57                       Chilwell Road, Beeston
21     38 2015-12-11 18:58:30                           Lace Road, Beeston
22     38 2015-12-12 23:26:45                      Denison Street, Beeston
23     38 2015-12-13 18:49:24                      Denison Street, Beeston
24     38 2015-12-14 22:54:36                       Nether Street, Beeston
25     38 2015-12-15 23:41:01                      Chilwell Lane, Bramcote
26     38 2015-12-16 23:10:02  Burlington House Piccadilly, United Kingdom
27     38 2015-12-17 19:02:13                        Villa Street, Beeston
28     38 2015-12-18 23:14:50                      Denison Street, Beeston
29     38 2015-12-19 16:05:40                    Middleton Street, Beeston
..    ...                 ...                                          ...
60     38 2016-01-20 21:00:37                    Bentinck Road, Nottingham
61     38 2016-01-21 22:29:19                       Chilwell Road, Beeston
62     38 2016-01-22 22:19:26                       Bye Pass Road, Beeston
63     38 2016-01-23 16:33:29                                Home, Beeston
64     38 2016-01-24 23:17:34                         Park Street, Beeston
65     38 2016-01-25 22:36:00                       Nether Street, Beeston
66     38 2016-01-26 18:01:40      Radford Road Police Station, Nottingham
67     38 2016-01-27 20:27:13                Old Market Square, Nottingham
68     38 2016-01-28 21:55:59                     Trent Street, Nottingham
69     38 2016-01-29 17:32:44                    Burton Street, Nottingham
70     38 2016-01-30 19:29:00                         Sainsbury's, Beeston
71     38 2016-01-31 19:26:04                                Home, Beeston
72     38 2016-02-01 23:23:09                    The Manor, United Kingdom
73     38 2016-02-02 18:26:09                 Greyhound Street, Nottingham
74     38 2016-02-03 21:21:43                                Home, Beeston
75     38 2016-02-04 20:31:35                                Home, Beeston
76     38 2016-02-05 22:53:58                       Bye Pass Road, Beeston
77     38 2016-02-06 20:01:44                           High Road, Beeston
78     38 2016-02-07 16:20:32                                Home, Beeston
79     38 2016-02-08 22:36:39                       Nether Street, Beeston
80     38 2016-02-09 18:36:40                   Pure Gym, Beeston, Beeston
81     38 2016-02-10 18:16:47      Radford Road Police Station, Nottingham
82     38 2016-02-11 21:07:04                     Triumph Road, Nottingham
83     38 2016-02-12 18:42:03                        Station Road, Beeston
84     38 2016-02-13 16:34:48                         Sainsbury's, Beeston
85     38 2016-02-14 16:39:36                                Home, Beeston
86     38 2016-02-15 17:25:09   Nottingham City Police Station, Nottingham
87     38 2016-02-17 23:10:35                        Angel Row, Nottingham
88     38 2016-02-18 23:35:25                   Nottingham, United Kingdom
89     38 2016-02-19 09:32:09      Radford Road Police Station, Nottingham

[90 rows x 3 columns]

,Monday beg,device,location
0,2015-11-23 22:55:29,android-phone,"Denison Street, Beeston"
1,2015-11-30 09:48:59,android-phone,"Shakespeare Street, Nottingham"
2,2015-12-07 09:55:15,android-phone,"Ward Street, Nottingham"
3,2015-12-14 09:31:22,android-phone,"Nottingham, United Kingdom"
4,2015-12-21 09:06:50,android-phone,"Shakespeare Street, Nottingham"
5,2015-12-28 13:33:15,android-phone,"M6, United Kingdom"
6,2016-01-04 09:13:44,android-phone,"Radford Road Police Station, Nottingham"
7,2016-01-18 09:50:34,android-phone,"Nottingham, United Kingdom"
8,2016-01-25 09:55:48,android-phone,"Nottingham, United Kingdom"
9,2016-02-01 08:34:17,android-phone,"Willow Road, Nottingham"
10,2016-02-08 09:38:01,android-phone,"Enfield Street, Beeston"
11,2016-02-15 12:33:21,android-phone,"Nottingham City Police Station, Nottingham"

           Tuesday beg         device                                 location
0  2015-11-24 07:41:26  android-phone                  Denison Street, Beeston
1  2015-12-01 09:32:17  android-phone          North Church Street, Nottingham
2  2015-12-08 09:48:34  android-phone               Nottingham, United Kingdom
3  2015-12-15 07:53:05  android-phone                  Denison Street, Beeston
4  2015-12-22 09:30:36  android-phone  Radford Road Police Station, Nottingham
5  2015-12-29 05:21:35  android-phone                   Tree Gardens, Brampton
6  2016-01-05 09:51:29  android-phone                  Ward Street, Nottingham
7  2016-01-12 09:33:20  android-phone  Radford Road Police Station, Nottingham
8  2016-01-19 09:13:04  android-phone  Radford Road Police Station, Nottingham
9  2016-01-26 09:01:04  android-phone  Radford Road Police Station, Nottingham
10 2016-02-02 07:37:26  android-phone                            Home, Beeston
11 2016-02-09 08:39:16  android-phone                  Beeston, United Kingdom

,Friday beg,device,location
0,2015-11-20 09:56:46,android-phone,"Denison Street, Beeston"
1,2015-11-27 07:52:15,android-phone,"Denison Street, Beeston"
2,2015-12-04 09:29:38,android-phone,"North Church Street, Nottingham"
3,2015-12-11 09:19:55,android-phone,"Greyhound Street, Nottingham"
4,2015-12-18 10:21:12,android-phone,"Acre Edge Road, United Kingdom"
5,2015-12-25 10:46:02,android-phone,"Home, Beeston"
6,2016-01-01 13:40:44,android-phone,"Sidney Road, Beeston"
7,2016-01-08 09:43:11,android-phone,"Nottingham City Police Station, Nottingham"
8,2016-01-15 09:57:37,android-phone,"Nottingham City Police Station, Nottingham"
9,2016-01-22 08:43:13,android-phone,"Sainsbury's, Beeston"
10,2016-01-29 09:04:12,android-phone,"Upper Parliament Street, Nottingham"
11,2016-02-05 09:28:25,android-phone,"Nottingham City Police Station, Nottingham"
12,2016-02-12 09:08:11,android-phone,"Pure Gym, Beeston, Beeston"
13,2016-02-19 09:14:23,android-phone,"Radford Road Police Station, Nottingham"

,Wednesday beg,device,location
0,2015-11-25 09:12:19,android-phone,"Beeston, United Kingdom"
1,2015-12-02 09:27:47,android-phone,"Shakespeare Street, Nottingham"
2,2015-12-09 10:48:15,android-phone,"Broadway, London"
3,2015-12-16 09:50:14,android-phone,"Ward Street, Nottingham"
4,2015-12-23 12:21:19,android-phone,"Burton Street, Nottingham"
5,2015-12-30 14:23:08,android-phone,"Cliff Lane, Lymm"
6,2016-01-06 09:39:15,android-phone,"Radford Road, Nottingham"
7,2016-01-13 07:34:09,android-phone,"Home, Beeston"
8,2016-01-20 09:51:45,android-phone,"Nottingham City Police Station, Nottingham"
9,2016-01-27 09:04:28,android-phone,"Radford Road Police Station, Nottingham"
10,2016-02-03 09:05:16,android-phone,"Radford Road Police Station, Nottingham"
11,2016-02-10 09:23:27,android-phone,"Radford Road Police Station, Nottingham"
12,2016-02-17 09:28:29,android-phone,"Station Street, Nottingham"

,Thursday beg,device,location
0,2015-11-26 09:23:55,android-phone,"Milton Street, Nottingham"
1,2015-12-03 09:09:32,android-phone,"Radford Road, Nottingham"
2,2015-12-10 09:21:32,android-phone,"Norfolk Place, Nottingham"
3,2015-12-17 10:54:05,android-phone,"South Lambeth Place, London"
4,2015-12-24 09:59:09,android-phone,"Ark Veterinary Clinic, Beeston"
5,2015-12-31 12:43:42,android-phone,"Unnamed Road, United Kingdom"
6,2016-01-07 09:04:47,android-phone,"Nottingham City Police Station, Nottingham"
7,2016-01-14 09:51:52,android-phone,"Radford Road Police Station, Nottingham"
8,2016-01-21 09:13:20,android-phone,"Radford Road Police Station, Nottingham"
9,2016-01-28 09:12:24,android-phone,"Russell Road, Nottingham"
10,2016-02-04 09:40:45,android-phone,"Radford Road Police Station, Nottingham"
11,2016-02-11 08:04:59,android-phone,"Chilwell Lane, Bramcote"
12,2016-02-18 08:03:01,android-phone,"Home, Beeston"

            Sunday beg         device                              location
0  2015-11-22 11:06:44  android-phone           Regatta Way, West Bridgford
1  2015-11-29 10:52:18  android-phone  University Boulevard, United Kingdom
2  2015-12-06 10:11:31  android-phone                  Park Street, Beeston
3  2015-12-13 16:44:33  android-phone               Denison Street, Beeston
4  2015-12-20 13:28:38  android-phone                  Sainsbury's, Beeston
5  2015-12-27 10:58:39  android-phone               Beeston, United Kingdom
6  2016-01-03 10:43:01  android-phone                Bramcote Road, Beeston
7  2016-01-10 10:41:58  android-phone                Bramcote Road, Beeston
8  2016-01-17 11:07:55  android-phone                Cromwell Road, Beeston
9  2016-01-24 09:40:59  android-phone                         Home, Beeston
10 2016-01-31 10:13:24  android-phone                Bramcote Road, Beeston
11 2016-02-07 10:31:20  android-phone               Enfield Street, Beeston
12 2016-02-14 10:59:07  android-phone               Enfield Street, Beeston

          Saturday beg         device                    location
0  2015-11-21 11:08:05  android-phone     Denison Street, Beeston
1  2015-11-28 11:17:44  android-phone     Denison Street, Beeston
2  2015-12-05 13:46:32  android-phone    Beeston Road, Nottingham
3  2015-12-12 17:16:39  android-phone     Denison Street, Beeston
4  2015-12-19 10:55:04  android-phone               Home, Beeston
5  2015-12-26 11:39:53  android-phone        Park Street, Beeston
6  2016-01-02 09:50:55  android-phone         Canal Side, Beeston
7  2016-01-09 10:24:13  android-phone  Pure Gym, Beeston, Beeston
8  2016-01-16 09:26:11  android-phone               Home, Beeston
9  2016-01-23 09:56:13  android-phone         Canal Side, Beeston
10 2016-01-30 14:06:53  android-phone     Enfield Street, Beeston
11 2016-02-06 14:41:16  android-phone               Home, Beeston
12 2016-02-13 15:10:26  android-phone          Old Drive, Beeston

,Monday end,device,location
0,2015-11-23 23:50:44,android-phone,"Denison Street, Beeston"
1,2015-11-30 22:38:28,android-phone,"Nether Street, Beeston"
2,2015-12-07 22:36:08,android-phone,"Nether Street, Beeston"
3,2015-12-14 22:54:36,android-phone,"Nether Street, Beeston"
4,2015-12-21 19:12:25,android-phone,"Wollaton Road, Beeston"
5,2015-12-28 13:49:34,android-phone,"M6, United Kingdom"
6,2016-01-04 23:11:04,android-phone,"Pure Gym, Beeston, Beeston"
7,2016-01-18 23:16:25,android-phone,"Pure Gym, Beeston, Beeston"
8,2016-01-25 22:36:00,android-phone,"Nether Street, Beeston"
9,2016-02-01 23:23:09,android-phone,"The Manor, United Kingdom"
10,2016-02-08 22:36:39,android-phone,"Nether Street, Beeston"
11,2016-02-15 17:25:09,android-phone,"Nottingham City Police Station, Nottingham"

,Tuesday end,device,location
0,2015-11-24 19:40:00,android-phone,"Denison Street, Beeston"
1,2015-12-01 18:30:44,android-phone,"South Sherwood Street, Nottingham"
2,2015-12-08 18:03:43,android-phone,"London Bridge Street, London"
3,2015-12-15 23:41:01,android-phone,"Chilwell Lane, Bramcote"
4,2015-12-22 18:04:24,android-phone,"Nottingham City Police Station, Nottingham"
5,2015-12-29 12:49:33,android-phone,"Tarn Road, Brampton"
6,2016-01-05 17:55:50,android-phone,"Radford Road Police Station, Nottingham"
7,2016-01-12 23:27:11,android-phone,"The Poplars, Beeston"
8,2016-01-19 22:07:34,android-phone,"College Street, Nottingham"
9,2016-01-26 18:01:40,android-phone,"Radford Road Police Station, Nottingham"
10,2016-02-02 18:26:09,android-phone,"Greyhound Street, Nottingham"
11,2016-02-09 18:36:40,android-phone,"Pure Gym, Beeston, Beeston"

            Friday end         device                                 location
0  2015-11-20 21:34:42  android-phone                  Denison Street, Beeston
1  2015-11-27 18:31:25  android-phone           Shakespeare Street, Nottingham
2  2015-12-04 23:46:56  android-phone               Adams Walk, United Kingdom
3  2015-12-11 18:58:30  android-phone                       Lace Road, Beeston
4  2015-12-18 23:14:50  android-phone                  Denison Street, Beeston
5  2015-12-25 18:01:53  android-phone                            Home, Beeston
6  2016-01-01 13:54:32  android-phone                     Sidney Road, Beeston
7  2016-01-08 20:50:32  android-phone               Pure Gym, Beeston, Beeston
8  2016-01-15 22:44:35  android-phone                   Bye Pass Road, Beeston
9  2016-01-22 22:19:26  android-phone                   Bye Pass Road, Beeston
10 2016-01-29 17:32:44  android-phone                Burton Street, Nottingham
11 2016-02-05 22:53:58  android-phone                   Bye Pass Road, Beeston
12 2016-02-12 18:42:03  android-phone                    Station Road, Beeston
13 2016-02-19 09:32:09  android-phone  Radford Road Police Station, Nottingham

,Wednesday end,device,location
0,2015-11-25 18:56:50,android-phone,"Albion Street, Beeston"
1,2015-12-02 19:23:56,android-phone,"Nottingham, United Kingdom"
2,2015-12-09 11:05:32,android-phone,"Broadway, London"
3,2015-12-16 23:10:02,android-phone,"Burlington House Piccadilly, United Kingdom"
4,2015-12-23 20:24:10,android-phone,"Albion Street, Beeston"
5,2015-12-30 17:38:05,android-phone,"Wollaton Road, Beeston"
6,2016-01-06 18:51:10,android-phone,"Nottingham City Police Station, Nottingham"
7,2016-01-13 19:08:55,android-phone,"High Road, Beeston"
8,2016-01-20 21:00:37,android-phone,"Bentinck Road, Nottingham"
9,2016-01-27 20:27:13,android-phone,"Old Market Square, Nottingham"
10,2016-02-03 21:21:43,android-phone,"Home, Beeston"
11,2016-02-10 18:16:47,android-phone,"Radford Road Police Station, Nottingham"
12,2016-02-17 23:10:35,android-phone,"Angel Row, Nottingham"

          Thursday end         device                    location
0  2015-11-26 22:35:52  android-phone   The Manor, United Kingdom
1  2015-12-03 22:54:36  android-phone     Denison Street, Beeston
2  2015-12-10 22:29:57  android-phone      Chilwell Road, Beeston
3  2015-12-17 19:02:13  android-phone       Villa Street, Beeston
4  2015-12-24 19:42:29  android-phone     Mel and Camp's, Beeston
5  2015-12-31 21:43:36  android-phone     Denison Street, Beeston
6  2016-01-07 22:50:57  android-phone      Dovecote Lane, Beeston
7  2016-01-14 18:43:07  android-phone               Home, Beeston
8  2016-01-21 22:29:19  android-phone      Chilwell Road, Beeston
9  2016-01-28 21:55:59  android-phone    Trent Street, Nottingham
10 2016-02-04 20:31:35  android-phone               Home, Beeston
11 2016-02-11 21:07:04  android-phone    Triumph Road, Nottingham
12 2016-02-18 23:35:25  android-phone  Nottingham, United Kingdom

            Sunday end         device                  location
0  2015-11-22 18:11:28  android-phone      Queens Road, Beeston
1  2015-11-29 16:51:45  android-phone    Bramcote Road, Beeston
2  2015-12-06 15:59:06  android-phone  Beeston Lane, Nottingham
3  2015-12-13 18:49:24  android-phone   Denison Street, Beeston
4  2015-12-20 16:09:23  android-phone     Moor Lane, Dale Abbey
5  2015-12-27 13:32:26  android-phone     Villa Street, Beeston
6  2016-01-03 15:55:31  android-phone             Home, Beeston
7  2016-01-10 14:46:00  android-phone             Home, Beeston
8  2016-01-17 16:05:11  android-phone             Home, Beeston
9  2016-01-24 23:17:34  android-phone      Park Street, Beeston
10 2016-01-31 19:26:04  android-phone             Home, Beeston
11 2016-02-07 16:20:32  android-phone             Home, Beeston
12 2016-02-14 16:39:36  android-phone             Home, Beeston

          Saturday end         device                      location
0  2015-11-21 13:40:34  android-phone        Albion Street, Beeston
1  2015-11-28 21:36:12  android-phone  Woodborough Road, Nottingham
2  2015-12-05 20:29:21  android-phone      Broad Street, Nottingham
3  2015-12-12 23:26:45  android-phone       Denison Street, Beeston
4  2015-12-19 16:05:40  android-phone     Middleton Street, Beeston
5  2015-12-26 14:44:38  android-phone     Wollaton Road, Nottingham
6  2016-01-02 16:22:26  android-phone          Sidney Road, Beeston
7  2016-01-09 21:41:25  android-phone                 Home, Beeston
8  2016-01-16 15:48:43  android-phone                 Home, Beeston
9  2016-01-23 16:33:29  android-phone                 Home, Beeston
10 2016-01-30 19:29:00  android-phone          Sainsbury's, Beeston
11 2016-02-06 20:01:44  android-phone            High Road, Beeston
12 2016-02-13 16:34:48  android-phone          Sainsbury's, Beeston

                   beg  devid                                    location
0  2015-11-20 09:56:46     38                     Denison Street, Beeston
1  2015-11-21 11:08:05     38                     Denison Street, Beeston
2  2015-11-22 11:06:44     38                 Regatta Way, West Bridgford
3  2015-11-23 22:55:29     38                     Denison Street, Beeston
4  2015-11-24 07:41:26     38                     Denison Street, Beeston
5  2015-11-25 09:12:19     38                     Beeston, United Kingdom
6  2015-11-26 09:23:55     38                   Milton Street, Nottingham
7  2015-11-27 07:52:15     38                     Denison Street, Beeston
8  2015-11-28 11:17:44     38                     Denison Street, Beeston
9  2015-11-29 10:52:18     38        University Boulevard, United Kingdom
10 2015-11-30 09:48:59     38              Shakespeare Street, Nottingham
11 2015-12-01 09:32:17     38             North Church Street, Nottingham
12 2015-12-02 09:27:47     38              Shakespeare Street, Nottingham
13 2015-12-03 09:09:32     38                    Radford Road, Nottingham
14 2015-12-04 09:29:38     38             North Church Street, Nottingham
15 2015-12-05 13:46:32     38                    Beeston Road, Nottingham
16 2015-12-06 10:11:31     38                        Park Street, Beeston
17 2015-12-07 09:55:15     38                     Ward Street, Nottingham
18 2015-12-08 09:48:34     38                  Nottingham, United Kingdom
19 2015-12-09 10:48:15     38                            Broadway, London
20 2015-12-10 09:21:32     38                   Norfolk Place, Nottingham
21 2015-12-11 09:19:55     38                Greyhound Street, Nottingham
22 2015-12-12 17:16:39     38                     Denison Street, Beeston
23 2015-12-13 16:44:33     38                     Denison Street, Beeston
24 2015-12-14 09:31:22     38                  Nottingham, United Kingdom
25 2015-12-15 07:53:05     38                     Denison Street, Beeston
26 2015-12-16 09:50:14     38                     Ward Street, Nottingham
27 2015-12-17 10:54:05     38                 South Lambeth Place, London
28 2015-12-18 10:21:12     38              Acre Edge Road, United Kingdom
29 2015-12-19 10:55:04     38                               Home, Beeston
..                 ...    ...                                         ...
60 2016-01-20 09:51:45     38  Nottingham City Police Station, Nottingham
61 2016-01-21 09:13:20     38     Radford Road Police Station, Nottingham
62 2016-01-22 08:43:13     38                        Sainsbury's, Beeston
63 2016-01-23 09:56:13     38                         Canal Side, Beeston
64 2016-01-24 09:40:59     38                               Home, Beeston
65 2016-01-25 09:55:48     38                  Nottingham, United Kingdom
66 2016-01-26 09:01:04     38     Radford Road Police Station, Nottingham
67 2016-01-27 09:04:28     38     Radford Road Police Station, Nottingham
68 2016-01-28 09:12:24     38                    Russell Road, Nottingham
69 2016-01-29 09:04:12     38         Upper Parliament Street, Nottingham
70 2016-01-30 14:06:53     38                     Enfield Street, Beeston
71 2016-01-31 10:13:24     38                      Bramcote Road, Beeston
72 2016-02-01 08:34:17     38                     Willow Road, Nottingham
73 2016-02-02 07:37:26     38                               Home, Beeston
74 2016-02-03 09:05:16     38     Radford Road Police Station, Nottingham
75 2016-02-04 09:40:45     38     Radford Road Police Station, Nottingham
76 2016-02-05 09:28:25     38  Nottingham City Police Station, Nottingham
77 2016-02-06 14:41:16     38                               Home, Beeston
78 2016-02-07 10:31:20     38                     Enfield Street, Beeston
79 2016-02-08 09:38:01     38                     Enfield Street, Beeston
80 2016-02-09 08:39:16     38                     Beeston, United Kingdom
81 2016-02-10 09:23:27     38     Radford Road Police Station, Nottingham
82 2016-02-11 08:04:59     38                     Chilwell Lane, Bramcote
83 2016-02-12 09:08:11     38                  Pure Gym, Beeston, Beeston
84 2016-02-13 15:10:26     38                          Old Drive, Beeston
85 2016-02-14 10:59:07     38                     Enfield Street, Beeston
86 2016-02-15 12:33:21     38  Nottingham City Police Station, Nottingham
87 2016-02-17 09:28:29     38                  Station Street, Nottingham
88 2016-02-18 08:03:01     38                               Home, Beeston
89 2016-02-19 09:14:23     38     Radford Road Police Station, Nottingham

[90 rows x 3 columns]

    devid                 end                                     location
0      38 2015-11-20 21:34:42                      Denison Street, Beeston
1      38 2015-11-21 13:40:34                       Albion Street, Beeston
2      38 2015-11-22 18:11:28                         Queens Road, Beeston
3      38 2015-11-23 23:50:44                      Denison Street, Beeston
4      38 2015-11-24 19:40:00                      Denison Street, Beeston
5      38 2015-11-25 18:56:50                       Albion Street, Beeston
6      38 2015-11-26 22:35:52                    The Manor, United Kingdom
7      38 2015-11-27 18:31:25               Shakespeare Street, Nottingham
8      38 2015-11-28 21:36:12                 Woodborough Road, Nottingham
9      38 2015-11-29 16:51:45                       Bramcote Road, Beeston
10     38 2015-11-30 22:38:28                       Nether Street, Beeston
11     38 2015-12-01 18:30:44            South Sherwood Street, Nottingham
12     38 2015-12-02 19:23:56                   Nottingham, United Kingdom
13     38 2015-12-03 22:54:36                      Denison Street, Beeston
14     38 2015-12-04 23:46:56                   Adams Walk, United Kingdom
15     38 2015-12-05 20:29:21                     Broad Street, Nottingham
16     38 2015-12-06 15:59:06                     Beeston Lane, Nottingham
17     38 2015-12-07 22:36:08                       Nether Street, Beeston
18     38 2015-12-08 18:03:43                 London Bridge Street, London
19     38 2015-12-09 11:05:32                             Broadway, London
20     38 2015-12-10 22:29:57                       Chilwell Road, Beeston
21     38 2015-12-11 18:58:30                           Lace Road, Beeston
22     38 2015-12-12 23:26:45                      Denison Street, Beeston
23     38 2015-12-13 18:49:24                      Denison Street, Beeston
24     38 2015-12-14 22:54:36                       Nether Street, Beeston
25     38 2015-12-15 23:41:01                      Chilwell Lane, Bramcote
26     38 2015-12-16 23:10:02  Burlington House Piccadilly, United Kingdom
27     38 2015-12-17 19:02:13                        Villa Street, Beeston
28     38 2015-12-18 23:14:50                      Denison Street, Beeston
29     38 2015-12-19 16:05:40                    Middleton Street, Beeston
..    ...                 ...                                          ...
60     38 2016-01-20 21:00:37                    Bentinck Road, Nottingham
61     38 2016-01-21 22:29:19                       Chilwell Road, Beeston
62     38 2016-01-22 22:19:26                       Bye Pass Road, Beeston
63     38 2016-01-23 16:33:29                                Home, Beeston
64     38 2016-01-24 23:17:34                         Park Street, Beeston
65     38 2016-01-25 22:36:00                       Nether Street, Beeston
66     38 2016-01-26 18:01:40      Radford Road Police Station, Nottingham
67     38 2016-01-27 20:27:13                Old Market Square, Nottingham
68     38 2016-01-28 21:55:59                     Trent Street, Nottingham
69     38 2016-01-29 17:32:44                    Burton Street, Nottingham
70     38 2016-01-30 19:29:00                         Sainsbury's, Beeston
71     38 2016-01-31 19:26:04                                Home, Beeston
72     38 2016-02-01 23:23:09                    The Manor, United Kingdom
73     38 2016-02-02 18:26:09                 Greyhound Street, Nottingham
74     38 2016-02-03 21:21:43                                Home, Beeston
75     38 2016-02-04 20:31:35                                Home, Beeston
76     38 2016-02-05 22:53:58                       Bye Pass Road, Beeston
77     38 2016-02-06 20:01:44                           High Road, Beeston
78     38 2016-02-07 16:20:32                                Home, Beeston
79     38 2016-02-08 22:36:39                       Nether Street, Beeston
80     38 2016-02-09 18:36:40                   Pure Gym, Beeston, Beeston
81     38 2016-02-10 18:16:47      Radford Road Police Station, Nottingham
82     38 2016-02-11 21:07:04                     Triumph Road, Nottingham
83     38 2016-02-12 18:42:03                        Station Road, Beeston
84     38 2016-02-13 16:34:48                         Sainsbury's, Beeston
85     38 2016-02-14 16:39:36                                Home, Beeston
86     38 2016-02-15 17:25:09   Nottingham City Police Station, Nottingham
87     38 2016-02-17 23:10:35                        Angel Row, Nottingham
88     38 2016-02-18 23:35:25                   Nottingham, United Kingdom
89     38 2016-02-19 09:32:09      Radford Road Police Station, Nottingham

[90 rows x 3 columns]

,Monday beg,device,location
0,2015-11-23 22:55:29,android-phone,"Denison Street, Beeston"
1,2015-11-30 09:48:59,android-phone,"Shakespeare Street, Nottingham"
2,2015-12-07 09:55:15,android-phone,"Ward Street, Nottingham"
3,2015-12-14 09:31:22,android-phone,"Nottingham, United Kingdom"
4,2015-12-21 09:06:50,android-phone,"Shakespeare Street, Nottingham"
5,2015-12-28 13:33:15,android-phone,"M6, United Kingdom"
6,2016-01-04 09:13:44,android-phone,"Radford Road Police Station, Nottingham"
7,2016-01-18 09:50:34,android-phone,"Nottingham, United Kingdom"
8,2016-01-25 09:55:48,android-phone,"Nottingham, United Kingdom"
9,2016-02-01 08:34:17,android-phone,"Willow Road, Nottingham"
10,2016-02-08 09:38:01,android-phone,"Enfield Street, Beeston"
11,2016-02-15 12:33:21,android-phone,"Nottingham City Police Station, Nottingham"

           Tuesday beg         device                                 location
0  2015-11-24 07:41:26  android-phone                  Denison Street, Beeston
1  2015-12-01 09:32:17  android-phone          North Church Street, Nottingham
2  2015-12-08 09:48:34  android-phone               Nottingham, United Kingdom
3  2015-12-15 07:53:05  android-phone                  Denison Street, Beeston
4  2015-12-22 09:30:36  android-phone  Radford Road Police Station, Nottingham
5  2015-12-29 05:21:35  android-phone                   Tree Gardens, Brampton
6  2016-01-05 09:51:29  android-phone                  Ward Street, Nottingham
7  2016-01-12 09:33:20  android-phone  Radford Road Police Station, Nottingham
8  2016-01-19 09:13:04  android-phone  Radford Road Police Station, Nottingham
9  2016-01-26 09:01:04  android-phone  Radford Road Police Station, Nottingham
10 2016-02-02 07:37:26  android-phone                            Home, Beeston
11 2016-02-09 08:39:16  android-phone                  Beeston, United Kingdom

,Friday beg,device,location
0,2015-11-20 09:56:46,android-phone,"Denison Street, Beeston"
1,2015-11-27 07:52:15,android-phone,"Denison Street, Beeston"
2,2015-12-04 09:29:38,android-phone,"North Church Street, Nottingham"
3,2015-12-11 09:19:55,android-phone,"Greyhound Street, Nottingham"
4,2015-12-18 10:21:12,android-phone,"Acre Edge Road, United Kingdom"
5,2015-12-25 10:46:02,android-phone,"Home, Beeston"
6,2016-01-01 13:40:44,android-phone,"Sidney Road, Beeston"
7,2016-01-08 09:43:11,android-phone,"Nottingham City Police Station, Nottingham"
8,2016-01-15 09:57:37,android-phone,"Nottingham City Police Station, Nottingham"
9,2016-01-22 08:43:13,android-phone,"Sainsbury's, Beeston"
10,2016-01-29 09:04:12,android-phone,"Upper Parliament Street, Nottingham"
11,2016-02-05 09:28:25,android-phone,"Nottingham City Police Station, Nottingham"
12,2016-02-12 09:08:11,android-phone,"Pure Gym, Beeston, Beeston"
13,2016-02-19 09:14:23,android-phone,"Radford Road Police Station, Nottingham"

,Wednesday beg,device,location
0,2015-11-25 09:12:19,android-phone,"Beeston, United Kingdom"
1,2015-12-02 09:27:47,android-phone,"Shakespeare Street, Nottingham"
2,2015-12-09 10:48:15,android-phone,"Broadway, London"
3,2015-12-16 09:50:14,android-phone,"Ward Street, Nottingham"
4,2015-12-23 12:21:19,android-phone,"Burton Street, Nottingham"
5,2015-12-30 14:23:08,android-phone,"Cliff Lane, Lymm"
6,2016-01-06 09:39:15,android-phone,"Radford Road, Nottingham"
7,2016-01-13 07:34:09,android-phone,"Home, Beeston"
8,2016-01-20 09:51:45,android-phone,"Nottingham City Police Station, Nottingham"
9,2016-01-27 09:04:28,android-phone,"Radford Road Police Station, Nottingham"
10,2016-02-03 09:05:16,android-phone,"Radford Road Police Station, Nottingham"
11,2016-02-10 09:23:27,android-phone,"Radford Road Police Station, Nottingham"
12,2016-02-17 09:28:29,android-phone,"Station Street, Nottingham"

,Thursday beg,device,location
0,2015-11-26 09:23:55,android-phone,"Milton Street, Nottingham"
1,2015-12-03 09:09:32,android-phone,"Radford Road, Nottingham"
2,2015-12-10 09:21:32,android-phone,"Norfolk Place, Nottingham"
3,2015-12-17 10:54:05,android-phone,"South Lambeth Place, London"
4,2015-12-24 09:59:09,android-phone,"Ark Veterinary Clinic, Beeston"
5,2015-12-31 12:43:42,android-phone,"Unnamed Road, United Kingdom"
6,2016-01-07 09:04:47,android-phone,"Nottingham City Police Station, Nottingham"
7,2016-01-14 09:51:52,android-phone,"Radford Road Police Station, Nottingham"
8,2016-01-21 09:13:20,android-phone,"Radford Road Police Station, Nottingham"
9,2016-01-28 09:12:24,android-phone,"Russell Road, Nottingham"
10,2016-02-04 09:40:45,android-phone,"Radford Road Police Station, Nottingham"
11,2016-02-11 08:04:59,android-phone,"Chilwell Lane, Bramcote"
12,2016-02-18 08:03:01,android-phone,"Home, Beeston"

            Sunday beg         device                              location
0  2015-11-22 11:06:44  android-phone           Regatta Way, West Bridgford
1  2015-11-29 10:52:18  android-phone  University Boulevard, United Kingdom
2  2015-12-06 10:11:31  android-phone                  Park Street, Beeston
3  2015-12-13 16:44:33  android-phone               Denison Street, Beeston
4  2015-12-20 13:28:38  android-phone                  Sainsbury's, Beeston
5  2015-12-27 10:58:39  android-phone               Beeston, United Kingdom
6  2016-01-03 10:43:01  android-phone                Bramcote Road, Beeston
7  2016-01-10 10:41:58  android-phone                Bramcote Road, Beeston
8  2016-01-17 11:07:55  android-phone                Cromwell Road, Beeston
9  2016-01-24 09:40:59  android-phone                         Home, Beeston
10 2016-01-31 10:13:24  android-phone                Bramcote Road, Beeston
11 2016-02-07 10:31:20  android-phone               Enfield Street, Beeston
12 2016-02-14 10:59:07  android-phone               Enfield Street, Beeston

          Saturday beg         device                    location
0  2015-11-21 11:08:05  android-phone     Denison Street, Beeston
1  2015-11-28 11:17:44  android-phone     Denison Street, Beeston
2  2015-12-05 13:46:32  android-phone    Beeston Road, Nottingham
3  2015-12-12 17:16:39  android-phone     Denison Street, Beeston
4  2015-12-19 10:55:04  android-phone               Home, Beeston
5  2015-12-26 11:39:53  android-phone        Park Street, Beeston
6  2016-01-02 09:50:55  android-phone         Canal Side, Beeston
7  2016-01-09 10:24:13  android-phone  Pure Gym, Beeston, Beeston
8  2016-01-16 09:26:11  android-phone               Home, Beeston
9  2016-01-23 09:56:13  android-phone         Canal Side, Beeston
10 2016-01-30 14:06:53  android-phone     Enfield Street, Beeston
11 2016-02-06 14:41:16  android-phone               Home, Beeston
12 2016-02-13 15:10:26  android-phone          Old Drive, Beeston

,Monday end,device,location
0,2015-11-23 23:50:44,android-phone,"Denison Street, Beeston"
1,2015-11-30 22:38:28,android-phone,"Nether Street, Beeston"
2,2015-12-07 22:36:08,android-phone,"Nether Street, Beeston"
3,2015-12-14 22:54:36,android-phone,"Nether Street, Beeston"
4,2015-12-21 19:12:25,android-phone,"Wollaton Road, Beeston"
5,2015-12-28 13:49:34,android-phone,"M6, United Kingdom"
6,2016-01-04 23:11:04,android-phone,"Pure Gym, Beeston, Beeston"
7,2016-01-18 23:16:25,android-phone,"Pure Gym, Beeston, Beeston"
8,2016-01-25 22:36:00,android-phone,"Nether Street, Beeston"
9,2016-02-01 23:23:09,android-phone,"The Manor, United Kingdom"
10,2016-02-08 22:36:39,android-phone,"Nether Street, Beeston"
11,2016-02-15 17:25:09,android-phone,"Nottingham City Police Station, Nottingham"

,Tuesday end,device,location
0,2015-11-24 19:40:00,android-phone,"Denison Street, Beeston"
1,2015-12-01 18:30:44,android-phone,"South Sherwood Street, Nottingham"
2,2015-12-08 18:03:43,android-phone,"London Bridge Street, London"
3,2015-12-15 23:41:01,android-phone,"Chilwell Lane, Bramcote"
4,2015-12-22 18:04:24,android-phone,"Nottingham City Police Station, Nottingham"
5,2015-12-29 12:49:33,android-phone,"Tarn Road, Brampton"
6,2016-01-05 17:55:50,android-phone,"Radford Road Police Station, Nottingham"
7,2016-01-12 23:27:11,android-phone,"The Poplars, Beeston"
8,2016-01-19 22:07:34,android-phone,"College Street, Nottingham"
9,2016-01-26 18:01:40,android-phone,"Radford Road Police Station, Nottingham"
10,2016-02-02 18:26:09,android-phone,"Greyhound Street, Nottingham"
11,2016-02-09 18:36:40,android-phone,"Pure Gym, Beeston, Beeston"

            Friday end         device                                 location
0  2015-11-20 21:34:42  android-phone                  Denison Street, Beeston
1  2015-11-27 18:31:25  android-phone           Shakespeare Street, Nottingham
2  2015-12-04 23:46:56  android-phone               Adams Walk, United Kingdom
3  2015-12-11 18:58:30  android-phone                       Lace Road, Beeston
4  2015-12-18 23:14:50  android-phone                  Denison Street, Beeston
5  2015-12-25 18:01:53  android-phone                            Home, Beeston
6  2016-01-01 13:54:32  android-phone                     Sidney Road, Beeston
7  2016-01-08 20:50:32  android-phone               Pure Gym, Beeston, Beeston
8  2016-01-15 22:44:35  android-phone                   Bye Pass Road, Beeston
9  2016-01-22 22:19:26  android-phone                   Bye Pass Road, Beeston
10 2016-01-29 17:32:44  android-phone                Burton Street, Nottingham
11 2016-02-05 22:53:58  android-phone                   Bye Pass Road, Beeston
12 2016-02-12 18:42:03  android-phone                    Station Road, Beeston
13 2016-02-19 09:32:09  android-phone  Radford Road Police Station, Nottingham

,Wednesday end,device,location
0,2015-11-25 18:56:50,android-phone,"Albion Street, Beeston"
1,2015-12-02 19:23:56,android-phone,"Nottingham, United Kingdom"
2,2015-12-09 11:05:32,android-phone,"Broadway, London"
3,2015-12-16 23:10:02,android-phone,"Burlington House Piccadilly, United Kingdom"
4,2015-12-23 20:24:10,android-phone,"Albion Street, Beeston"
5,2015-12-30 17:38:05,android-phone,"Wollaton Road, Beeston"
6,2016-01-06 18:51:10,android-phone,"Nottingham City Police Station, Nottingham"
7,2016-01-13 19:08:55,android-phone,"High Road, Beeston"
8,2016-01-20 21:00:37,android-phone,"Bentinck Road, Nottingham"
9,2016-01-27 20:27:13,android-phone,"Old Market Square, Nottingham"
10,2016-02-03 21:21:43,android-phone,"Home, Beeston"
11,2016-02-10 18:16:47,android-phone,"Radford Road Police Station, Nottingham"
12,2016-02-17 23:10:35,android-phone,"Angel Row, Nottingham"

          Thursday end         device                    location
0  2015-11-26 22:35:52  android-phone   The Manor, United Kingdom
1  2015-12-03 22:54:36  android-phone     Denison Street, Beeston
2  2015-12-10 22:29:57  android-phone      Chilwell Road, Beeston
3  2015-12-17 19:02:13  android-phone       Villa Street, Beeston
4  2015-12-24 19:42:29  android-phone     Mel and Camp's, Beeston
5  2015-12-31 21:43:36  android-phone     Denison Street, Beeston
6  2016-01-07 22:50:57  android-phone      Dovecote Lane, Beeston
7  2016-01-14 18:43:07  android-phone               Home, Beeston
8  2016-01-21 22:29:19  android-phone      Chilwell Road, Beeston
9  2016-01-28 21:55:59  android-phone    Trent Street, Nottingham
10 2016-02-04 20:31:35  android-phone               Home, Beeston
11 2016-02-11 21:07:04  android-phone    Triumph Road, Nottingham
12 2016-02-18 23:35:25  android-phone  Nottingham, United Kingdom

            Sunday end         device                  location
0  2015-11-22 18:11:28  android-phone      Queens Road, Beeston
1  2015-11-29 16:51:45  android-phone    Bramcote Road, Beeston
2  2015-12-06 15:59:06  android-phone  Beeston Lane, Nottingham
3  2015-12-13 18:49:24  android-phone   Denison Street, Beeston
4  2015-12-20 16:09:23  android-phone     Moor Lane, Dale Abbey
5  2015-12-27 13:32:26  android-phone     Villa Street, Beeston
6  2016-01-03 15:55:31  android-phone             Home, Beeston
7  2016-01-10 14:46:00  android-phone             Home, Beeston
8  2016-01-17 16:05:11  android-phone             Home, Beeston
9  2016-01-24 23:17:34  android-phone      Park Street, Beeston
10 2016-01-31 19:26:04  android-phone             Home, Beeston
11 2016-02-07 16:20:32  android-phone             Home, Beeston
12 2016-02-14 16:39:36  android-phone             Home, Beeston

          Saturday end         device                      location
0  2015-11-21 13:40:34  android-phone        Albion Street, Beeston
1  2015-11-28 21:36:12  android-phone  Woodborough Road, Nottingham
2  2015-12-05 20:29:21  android-phone      Broad Street, Nottingham
3  2015-12-12 23:26:45  android-phone       Denison Street, Beeston
4  2015-12-19 16:05:40  android-phone     Middleton Street, Beeston
5  2015-12-26 14:44:38  android-phone     Wollaton Road, Nottingham
6  2016-01-02 16:22:26  android-phone          Sidney Road, Beeston
7  2016-01-09 21:41:25  android-phone                 Home, Beeston
8  2016-01-16 15:48:43  android-phone                 Home, Beeston
9  2016-01-23 16:33:29  android-phone                 Home, Beeston
10 2016-01-30 19:29:00  android-phone          Sainsbury's, Beeston
11 2016-02-06 20:01:44  android-phone            High Road, Beeston
12 2016-02-13 16:34:48  android-phone          Sainsbury's, Beeston

user: 20=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: [Monday beg, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device, location]
Index: []

Empty DataFrame
Columns: [Friday beg, device, location]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device, location]
Index: []

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

Empty DataFrame
Columns: [Saturday beg, device, location]
Index: []

Empty DataFrame
Columns: [Monday end, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, location]
Index: []

Empty DataFrame
Columns: [Friday end, device, location]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, location]
Index: []

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

Empty DataFrame
Columns: [Saturday end, device, location]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: [Monday beg, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device, location]
Index: []

Empty DataFrame
Columns: [Friday beg, device, location]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device, location]
Index: []

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

Empty DataFrame
Columns: [Saturday beg, device, location]
Index: []

Empty DataFrame
Columns: [Monday end, device, location]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, location]
Index: []

Empty DataFrame
Columns: [Friday end, device, location]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, location]
Index: []

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

Empty DataFrame
Columns: [Saturday end, device, location]
Index: []

user: 21=======================

                      beg  devid                       location
0 2015-11-20 20:11:27.700     42      Long Row West, Nottingham
1 2015-11-21 10:04:52.000     43      High Pavement, Nottingham
2 2015-11-22 15:33:16.000     43          Clifton Lane, Clifton
3 2015-11-23 08:51:39.000     43  Clifton Boulevard, Nottingham
4 2015-11-24 09:15:14.000     43        Lenton Lane, Nottingham
5 2015-11-25 09:04:19.000     43  Clifton Boulevard, Nottingham
6 2015-11-26 05:57:13.769     42          Market Street, Heanor
7 2015-11-27 08:57:27.000     43          Station Road, Beeston
8 2015-11-28 09:27:38.000     43     Ambleside Road, Nottingham

   devid                     end                       location
0     42 2015-11-20 22:20:48.142      Long Row West, Nottingham
1     43 2015-11-21 18:02:58.000      High Pavement, Nottingham
2     43 2015-11-22 21:58:41.000    Saint Quentin Gate, Telford
3     42 2015-11-23 17:24:09.638          Market Street, Heanor
4     42 2015-11-24 20:53:59.952          Market Street, Heanor
5     42 2015-11-25 18:20:32.313          Market Street, Heanor
6     42 2015-11-26 20:07:09.016          Market Street, Heanor
7     43 2015-11-27 16:47:58.000  Clifton Boulevard, Nottingham
8     43 2015-11-28 19:32:21.000     Ambleside Road, Nottingham

           Monday beg  device                       location
0 2015-11-23 08:51:39  iphone  Clifton Boulevard, Nottingham

          Tuesday beg  device                 location
0 2015-11-24 09:15:14  iphone  Lenton Lane, Nottingham

               Friday beg          device                   location
0 2015-11-20 20:11:27.700  windows-laptop  Long Row West, Nottingham
1 2015-11-27 08:57:27.000          iphone      Station Road, Beeston

        Wednesday beg  device                       location
0 2015-11-25 09:04:19  iphone  Clifton Boulevard, Nottingham

             Thursday beg          device               location
0 2015-11-26 05:57:13.769  windows-laptop  Market Street, Heanor

           Sunday beg  device               location
0 2015-11-22 15:33:16  iphone  Clifton Lane, Clifton

         Saturday beg  device                    location
0 2015-11-21 10:04:52  iphone   High Pavement, Nottingham
1 2015-11-28 09:27:38  iphone  Ambleside Road, Nottingham

               Monday end          device               location
0 2015-11-23 17:24:09.638  windows-laptop  Market Street, Heanor

              Tuesday end          device               location
0 2015-11-24 20:53:59.952  windows-laptop  Market Street, Heanor

               Friday end          device                       location
0 2015-11-20 22:20:48.142  windows-laptop      Long Row West, Nottingham
1 2015-11-27 16:47:58.000          iphone  Clifton Boulevard, Nottingham

            Wednesday end          device               location
0 2015-11-25 18:20:32.313  windows-laptop  Market Street, Heanor

             Thursday end          device               location
0 2015-11-26 20:07:09.016  windows-laptop  Market Street, Heanor

           Sunday end  device                     location
0 2015-11-22 21:58:41  iphone  Saint Quentin Gate, Telford

         Saturday end  device                    location
0 2015-11-21 18:02:58  iphone   High Pavement, Nottingham
1 2015-11-28 19:32:21  iphone  Ambleside Road, Nottingham

                      beg  devid                       location
0 2015-11-20 20:11:27.700     42      Long Row West, Nottingham
1 2015-11-21 10:04:52.000     43      High Pavement, Nottingham
2 2015-11-22 15:33:16.000     43          Clifton Lane, Clifton
3 2015-11-23 08:51:39.000     43  Clifton Boulevard, Nottingham
4 2015-11-24 09:15:14.000     43        Lenton Lane, Nottingham
5 2015-11-25 09:04:19.000     43  Clifton Boulevard, Nottingham
6 2015-11-26 05:57:13.769     42          Market Street, Heanor
7 2015-11-27 08:57:27.000     43          Station Road, Beeston
8 2015-11-28 09:27:38.000     43     Ambleside Road, Nottingham

   devid                     end                       location
0     42 2015-11-20 22:20:48.142      Long Row West, Nottingham
1     43 2015-11-21 18:02:58.000      High Pavement, Nottingham
2     43 2015-11-22 21:58:41.000    Saint Quentin Gate, Telford
3     42 2015-11-23 17:24:09.638          Market Street, Heanor
4     42 2015-11-24 20:53:59.952          Market Street, Heanor
5     42 2015-11-25 18:20:32.313          Market Street, Heanor
6     42 2015-11-26 20:07:09.016          Market Street, Heanor
7     43 2015-11-27 16:47:58.000  Clifton Boulevard, Nottingham
8     43 2015-11-28 19:32:21.000     Ambleside Road, Nottingham

           Monday beg  device                       location
0 2015-11-23 08:51:39  iphone  Clifton Boulevard, Nottingham

          Tuesday beg  device                 location
0 2015-11-24 09:15:14  iphone  Lenton Lane, Nottingham

               Friday beg          device                   location
0 2015-11-20 20:11:27.700  windows-laptop  Long Row West, Nottingham
1 2015-11-27 08:57:27.000          iphone      Station Road, Beeston

        Wednesday beg  device                       location
0 2015-11-25 09:04:19  iphone  Clifton Boulevard, Nottingham

             Thursday beg          device               location
0 2015-11-26 05:57:13.769  windows-laptop  Market Street, Heanor

           Sunday beg  device               location
0 2015-11-22 15:33:16  iphone  Clifton Lane, Clifton

         Saturday beg  device                    location
0 2015-11-21 10:04:52  iphone   High Pavement, Nottingham
1 2015-11-28 09:27:38  iphone  Ambleside Road, Nottingham

               Monday end          device               location
0 2015-11-23 17:24:09.638  windows-laptop  Market Street, Heanor

              Tuesday end          device               location
0 2015-11-24 20:53:59.952  windows-laptop  Market Street, Heanor

               Friday end          device                       location
0 2015-11-20 22:20:48.142  windows-laptop      Long Row West, Nottingham
1 2015-11-27 16:47:58.000          iphone  Clifton Boulevard, Nottingham

            Wednesday end          device               location
0 2015-11-25 18:20:32.313  windows-laptop  Market Street, Heanor

             Thursday end          device               location
0 2015-11-26 20:07:09.016  windows-laptop  Market Street, Heanor

           Sunday end  device                     location
0 2015-11-22 21:58:41  iphone  Saint Quentin Gate, Telford

         Saturday end  device                    location
0 2015-11-21 18:02:58  iphone   High Pavement, Nottingham
1 2015-11-28 19:32:21  iphone  Ambleside Road, Nottingham

                      beg  devid                       location
0 2015-11-20 20:11:27.700     42      Long Row West, Nottingham
1 2015-11-21 10:04:52.000     43      High Pavement, Nottingham
2 2015-11-22 15:33:16.000     43          Clifton Lane, Clifton
3 2015-11-23 08:51:39.000     43  Clifton Boulevard, Nottingham
4 2015-11-24 09:15:14.000     43        Lenton Lane, Nottingham
5 2015-11-25 09:04:19.000     43  Clifton Boulevard, Nottingham
6 2015-11-26 05:57:13.769     42          Market Street, Heanor
7 2015-11-27 08:57:27.000     43          Station Road, Beeston
8 2015-11-28 09:27:38.000     43     Ambleside Road, Nottingham

   devid                     end                       location
0     42 2015-11-20 22:20:48.142      Long Row West, Nottingham
1     43 2015-11-21 18:02:58.000      High Pavement, Nottingham
2     43 2015-11-22 21:58:41.000    Saint Quentin Gate, Telford
3     42 2015-11-23 17:24:09.638          Market Street, Heanor
4     42 2015-11-24 20:53:59.952          Market Street, Heanor
5     42 2015-11-25 18:20:32.313          Market Street, Heanor
6     42 2015-11-26 20:07:09.016          Market Street, Heanor
7     43 2015-11-27 16:47:58.000  Clifton Boulevard, Nottingham
8     43 2015-11-28 19:32:21.000     Ambleside Road, Nottingham

           Monday beg  device                       location
0 2015-11-23 08:51:39  iphone  Clifton Boulevard, Nottingham

          Tuesday beg  device                 location
0 2015-11-24 09:15:14  iphone  Lenton Lane, Nottingham

               Friday beg          device                   location
0 2015-11-20 20:11:27.700  windows-laptop  Long Row West, Nottingham
1 2015-11-27 08:57:27.000          iphone      Station Road, Beeston

        Wednesday beg  device                       location
0 2015-11-25 09:04:19  iphone  Clifton Boulevard, Nottingham

             Thursday beg          device               location
0 2015-11-26 05:57:13.769  windows-laptop  Market Street, Heanor

           Sunday beg  device               location
0 2015-11-22 15:33:16  iphone  Clifton Lane, Clifton

         Saturday beg  device                    location
0 2015-11-21 10:04:52  iphone   High Pavement, Nottingham
1 2015-11-28 09:27:38  iphone  Ambleside Road, Nottingham

               Monday end          device               location
0 2015-11-23 17:24:09.638  windows-laptop  Market Street, Heanor

              Tuesday end          device               location
0 2015-11-24 20:53:59.952  windows-laptop  Market Street, Heanor

               Friday end          device                       location
0 2015-11-20 22:20:48.142  windows-laptop      Long Row West, Nottingham
1 2015-11-27 16:47:58.000          iphone  Clifton Boulevard, Nottingham

            Wednesday end          device               location
0 2015-11-25 18:20:32.313  windows-laptop  Market Street, Heanor

             Thursday end          device               location
0 2015-11-26 20:07:09.016  windows-laptop  Market Street, Heanor

           Sunday end  device                     location
0 2015-11-22 21:58:41  iphone  Saint Quentin Gate, Telford

         Saturday end  device                    location
0 2015-11-21 18:02:58  iphone   High Pavement, Nottingham
1 2015-11-28 19:32:21  iphone  Ambleside Road, Nottingham

user: 25=======================

                       beg  devid                       location
0  2015-11-20 20:11:27.700     42      Long Row West, Nottingham
1  2015-11-21 10:08:54.000     44     Nottingham, United Kingdom
2  2015-11-22 12:27:41.000     44  Wilford Grove, United Kingdom
3  2015-11-23 09:30:38.830     42          Market Street, Heanor
4  2015-11-24 08:08:00.000     44       Triumph Road, Nottingham
5  2015-11-25 08:08:09.000     44       Triumph Road, Nottingham
6  2015-11-26 05:57:13.769     42          Market Street, Heanor
7  2015-11-27 08:01:26.000     44       Triumph Road, Nottingham
8  2015-11-28 13:03:07.000     44       Edwards Lane, Nottingham
9  2015-11-29 10:34:30.000     44       Holbeck Road, Nottingham
10 2015-11-30 09:09:15.000     44        MachineMart, Nottingham
11 2015-12-01 08:03:24.000     44       Triumph Road, Nottingham
12 2015-12-02 08:03:56.000     44       Triumph Road, Nottingham
13 2015-12-03 09:02:18.000     44        MachineMart, Nottingham
14 2015-12-04 08:06:58.000     44       Triumph Road, Nottingham
15 2015-12-05 10:54:34.000     44               Home, Nottingham
16 2015-12-06 11:33:10.000     44       Holbeck Road, Nottingham
17 2015-12-07 09:10:01.000     44        MachineMart, Nottingham
18 2015-12-08 08:15:31.000     44               Home, Nottingham
19 2015-12-09 08:04:39.000     44       Triumph Road, Nottingham
20 2015-12-10 08:02:39.000     44       Triumph Road, Nottingham
21 2015-12-11 08:27:50.000     44        Aspley Lane, Nottingham
22 2015-12-12 10:50:18.000     44             Giltway, Giltbrook
23 2015-12-13 10:27:35.000     44   Grassington Road, Nottingham
24 2015-12-14 08:00:58.000     44       Triumph Road, Nottingham
25 2015-12-15 08:48:42.000     44      Alfreton Road, Nottingham
26 2015-12-16 07:59:46.000     44       Triumph Road, Nottingham
27 2015-12-17 08:47:00.000     44          Angel Row, Nottingham
28 2015-12-18 08:54:04.000     44         Chapel Bar, Nottingham
29 2015-12-19 10:18:54.000     44       South Parade, Nottingham
30 2015-12-20 09:29:24.000     44               Home, Nottingham
31 2015-12-21 07:41:29.000     44        Aspley Lane, Nottingham
32 2015-12-22 09:08:10.000     44        MachineMart, Nottingham
33 2015-12-23 08:39:12.000     44               Home, Nottingham
34 2015-12-24 09:03:19.000     44        MachineMart, Nottingham
35 2015-12-25 10:58:49.000     44               Home, Nottingham
36 2015-12-26 09:46:39.000     44   Forest Road East, Nottingham
37 2015-12-27 10:58:24.000     44               Home, Nottingham

    devid                     end                             location
0      42 2015-11-20 22:20:48.142            Long Row West, Nottingham
1      44 2015-11-21 17:59:14.000            High Pavement, Nottingham
2      44 2015-11-22 23:22:46.000     The Crusader Roundabout, Clifton
3      42 2015-11-23 17:24:09.638                Market Street, Heanor
4      42 2015-11-24 20:53:59.952                Market Street, Heanor
5      44 2015-11-25 19:25:04.000                     Home, Nottingham
6      42 2015-11-26 20:07:09.016                Market Street, Heanor
7      44 2015-11-27 18:01:05.000                     Home, Nottingham
8      44 2015-11-28 23:51:45.000  Lower Parliament Street, Nottingham
9      44 2015-11-29 16:45:09.000                     Home, Nottingham
10     44 2015-11-30 20:18:19.000              MachineMart, Nottingham
11     44 2015-12-01 19:37:20.000                     Home, Nottingham
12     44 2015-12-02 20:54:41.000         Stockhill Circus, Nottingham
13     44 2015-12-03 23:04:05.000            Burton Street, Nottingham
14     44 2015-12-04 20:28:59.000              Aspley Lane, Nottingham
15     44 2015-12-05 21:19:21.000                     Home, Nottingham
16     44 2015-12-06 13:23:29.000             Holbeck Road, Nottingham
17     44 2015-12-07 19:38:29.000                     Home, Nottingham
18     44 2015-12-08 23:51:10.000  Lower Parliament Street, Nottingham
19     44 2015-12-09 19:04:04.000              MachineMart, Nottingham
20     44 2015-12-10 19:48:01.000                     Home, Nottingham
21     44 2015-12-11 23:41:59.000            Long Row West, Nottingham
22     44 2015-12-12 17:04:34.000             Queens Drive, Nottingham
23     44 2015-12-13 17:55:27.000         Unnamed Road, United Kingdom
24     44 2015-12-14 19:49:30.000                     Home, Nottingham
25     44 2015-12-15 19:39:15.000                     Home, Nottingham
26     44 2015-12-16 21:02:43.000         Stockhill Circus, Nottingham
27     44 2015-12-17 22:39:26.000             Redfield Way, Nottingham
28     44 2015-12-18 19:12:54.000            George Street, Nottingham
29     44 2015-12-19 16:27:09.000            Strelley Road, Nottingham
30     44 2015-12-21 19:10:14.000              MachineMart, Nottingham
31     44 2015-12-22 21:52:54.000             Rigley Drive, Nottingham
32     44 2015-12-23 17:20:39.000         Allendale Avenue, Nottingham
33     44 2015-12-24 18:45:45.000                     Home, Nottingham
34     44 2015-12-26 17:17:52.000           Nottingham, United Kingdom
35     44 2015-12-27 13:18:57.000           Critchley Street, Ilkeston

               Monday beg          device                  location
0 2015-11-23 09:30:38.830  windows-laptop     Market Street, Heanor
1 2015-11-30 09:09:15.000          iphone   MachineMart, Nottingham
2 2015-12-07 09:10:01.000          iphone   MachineMart, Nottingham
3 2015-12-14 08:00:58.000          iphone  Triumph Road, Nottingham
4 2015-12-21 07:41:29.000          iphone   Aspley Lane, Nottingham

          Tuesday beg  device                   location
0 2015-11-24 08:08:00  iphone   Triumph Road, Nottingham
1 2015-12-01 08:03:24  iphone   Triumph Road, Nottingham
2 2015-12-08 08:15:31  iphone           Home, Nottingham
3 2015-12-15 08:48:42  iphone  Alfreton Road, Nottingham
4 2015-12-22 09:08:10  iphone    MachineMart, Nottingham

               Friday beg          device                   location
0 2015-11-20 20:11:27.700  windows-laptop  Long Row West, Nottingham
1 2015-11-27 08:01:26.000          iphone   Triumph Road, Nottingham
2 2015-12-04 08:06:58.000          iphone   Triumph Road, Nottingham
3 2015-12-11 08:27:50.000          iphone    Aspley Lane, Nottingham
4 2015-12-18 08:54:04.000          iphone     Chapel Bar, Nottingham
5 2015-12-25 10:58:49.000          iphone           Home, Nottingham

        Wednesday beg  device                  location
0 2015-11-25 08:08:09  iphone  Triumph Road, Nottingham
1 2015-12-02 08:03:56  iphone  Triumph Road, Nottingham
2 2015-12-09 08:04:39  iphone  Triumph Road, Nottingham
3 2015-12-16 07:59:46  iphone  Triumph Road, Nottingham
4 2015-12-23 08:39:12  iphone          Home, Nottingham

             Thursday beg          device                  location
0 2015-11-26 05:57:13.769  windows-laptop     Market Street, Heanor
1 2015-12-03 09:02:18.000          iphone   MachineMart, Nottingham
2 2015-12-10 08:02:39.000          iphone  Triumph Road, Nottingham
3 2015-12-17 08:47:00.000          iphone     Angel Row, Nottingham
4 2015-12-24 09:03:19.000          iphone   MachineMart, Nottingham

           Sunday beg  device                       location
0 2015-11-22 12:27:41  iphone  Wilford Grove, United Kingdom
1 2015-11-29 10:34:30  iphone       Holbeck Road, Nottingham
2 2015-12-06 11:33:10  iphone       Holbeck Road, Nottingham
3 2015-12-13 10:27:35  iphone   Grassington Road, Nottingham
4 2015-12-20 09:29:24  iphone               Home, Nottingham
5 2015-12-27 10:58:24  iphone               Home, Nottingham

         Saturday beg  device                      location
0 2015-11-21 10:08:54  iphone    Nottingham, United Kingdom
1 2015-11-28 13:03:07  iphone      Edwards Lane, Nottingham
2 2015-12-05 10:54:34  iphone              Home, Nottingham
3 2015-12-12 10:50:18  iphone            Giltway, Giltbrook
4 2015-12-19 10:18:54  iphone      South Parade, Nottingham
5 2015-12-26 09:46:39  iphone  Forest Road East, Nottingham

               Monday end          device                 location
0 2015-11-23 17:24:09.638  windows-laptop    Market Street, Heanor
1 2015-11-30 20:18:19.000          iphone  MachineMart, Nottingham
2 2015-12-07 19:38:29.000          iphone         Home, Nottingham
3 2015-12-14 19:49:30.000          iphone         Home, Nottingham
4 2015-12-21 19:10:14.000          iphone  MachineMart, Nottingham

              Tuesday end          device                             location
0 2015-11-24 20:53:59.952  windows-laptop                Market Street, Heanor
1 2015-12-01 19:37:20.000          iphone                     Home, Nottingham
2 2015-12-08 23:51:10.000          iphone  Lower Parliament Street, Nottingham
3 2015-12-15 19:39:15.000          iphone                     Home, Nottingham
4 2015-12-22 21:52:54.000          iphone             Rigley Drive, Nottingham

               Friday end          device                   location
0 2015-11-20 22:20:48.142  windows-laptop  Long Row West, Nottingham
1 2015-11-27 18:01:05.000          iphone           Home, Nottingham
2 2015-12-04 20:28:59.000          iphone    Aspley Lane, Nottingham
3 2015-12-11 23:41:59.000          iphone  Long Row West, Nottingham
4 2015-12-18 19:12:54.000          iphone  George Street, Nottingham

        Wednesday end  device                      location
0 2015-11-25 19:25:04  iphone              Home, Nottingham
1 2015-12-02 20:54:41  iphone  Stockhill Circus, Nottingham
2 2015-12-09 19:04:04  iphone       MachineMart, Nottingham
3 2015-12-16 21:02:43  iphone  Stockhill Circus, Nottingham
4 2015-12-23 17:20:39  iphone  Allendale Avenue, Nottingham

             Thursday end          device                   location
0 2015-11-26 20:07:09.016  windows-laptop      Market Street, Heanor
1 2015-12-03 23:04:05.000          iphone  Burton Street, Nottingham
2 2015-12-10 19:48:01.000          iphone           Home, Nottingham
3 2015-12-17 22:39:26.000          iphone   Redfield Way, Nottingham
4 2015-12-24 18:45:45.000          iphone           Home, Nottingham

           Sunday end  device                          location
0 2015-11-22 23:22:46  iphone  The Crusader Roundabout, Clifton
1 2015-11-29 16:45:09  iphone                  Home, Nottingham
2 2015-12-06 13:23:29  iphone          Holbeck Road, Nottingham
3 2015-12-13 17:55:27  iphone      Unnamed Road, United Kingdom
4 2015-12-27 13:18:57  iphone        Critchley Street, Ilkeston

         Saturday end  device                             location
0 2015-11-21 17:59:14  iphone            High Pavement, Nottingham
1 2015-11-28 23:51:45  iphone  Lower Parliament Street, Nottingham
2 2015-12-05 21:19:21  iphone                     Home, Nottingham
3 2015-12-12 17:04:34  iphone             Queens Drive, Nottingham
4 2015-12-19 16:27:09  iphone            Strelley Road, Nottingham
5 2015-12-26 17:17:52  iphone           Nottingham, United Kingdom

                       beg  devid                       location
0  2015-11-20 20:11:27.700     42      Long Row West, Nottingham
1  2015-11-21 10:08:54.000     44     Nottingham, United Kingdom
2  2015-11-22 12:27:41.000     44  Wilford Grove, United Kingdom
3  2015-11-23 09:30:38.830     42          Market Street, Heanor
4  2015-11-24 08:08:00.000     44       Triumph Road, Nottingham
5  2015-11-25 08:08:09.000     44       Triumph Road, Nottingham
6  2015-11-26 05:57:13.769     42          Market Street, Heanor
7  2015-11-27 08:01:26.000     44       Triumph Road, Nottingham
8  2015-11-28 13:03:07.000     44       Edwards Lane, Nottingham
9  2015-11-29 10:34:30.000     44       Holbeck Road, Nottingham
10 2015-11-30 09:09:15.000     44        MachineMart, Nottingham
11 2015-12-01 08:03:24.000     44       Triumph Road, Nottingham
12 2015-12-02 08:03:56.000     44       Triumph Road, Nottingham
13 2015-12-03 09:02:18.000     44        MachineMart, Nottingham
14 2015-12-04 08:06:58.000     44       Triumph Road, Nottingham
15 2015-12-05 10:54:34.000     44               Home, Nottingham
16 2015-12-06 11:33:10.000     44       Holbeck Road, Nottingham
17 2015-12-07 09:10:01.000     44        MachineMart, Nottingham
18 2015-12-08 08:15:31.000     44               Home, Nottingham
19 2015-12-09 08:04:39.000     44       Triumph Road, Nottingham
20 2015-12-10 08:02:39.000     44       Triumph Road, Nottingham
21 2015-12-11 08:27:50.000     44        Aspley Lane, Nottingham
22 2015-12-12 10:50:18.000     44             Giltway, Giltbrook
23 2015-12-13 10:27:35.000     44   Grassington Road, Nottingham
24 2015-12-14 08:00:58.000     44       Triumph Road, Nottingham
25 2015-12-15 08:48:42.000     44      Alfreton Road, Nottingham
26 2015-12-16 07:59:46.000     44       Triumph Road, Nottingham
27 2015-12-17 08:47:00.000     44          Angel Row, Nottingham
28 2015-12-18 08:54:04.000     44         Chapel Bar, Nottingham
29 2015-12-19 10:18:54.000     44       South Parade, Nottingham
30 2015-12-20 09:29:24.000     44               Home, Nottingham
31 2015-12-21 07:41:29.000     44        Aspley Lane, Nottingham
32 2015-12-22 09:08:10.000     44        MachineMart, Nottingham
33 2015-12-23 08:39:12.000     44               Home, Nottingham
34 2015-12-24 09:03:19.000     44        MachineMart, Nottingham
35 2015-12-25 10:58:49.000     44               Home, Nottingham
36 2015-12-26 09:46:39.000     44   Forest Road East, Nottingham
37 2015-12-27 10:58:24.000     44               Home, Nottingham

    devid                     end                             location
0      42 2015-11-20 22:20:48.142            Long Row West, Nottingham
1      44 2015-11-21 17:59:14.000            High Pavement, Nottingham
2      44 2015-11-22 23:22:46.000     The Crusader Roundabout, Clifton
3      42 2015-11-23 17:24:09.638                Market Street, Heanor
4      42 2015-11-24 20:53:59.952                Market Street, Heanor
5      44 2015-11-25 19:25:04.000                     Home, Nottingham
6      42 2015-11-26 20:07:09.016                Market Street, Heanor
7      44 2015-11-27 18:01:05.000                     Home, Nottingham
8      44 2015-11-28 23:51:45.000  Lower Parliament Street, Nottingham
9      44 2015-11-29 16:45:09.000                     Home, Nottingham
10     44 2015-11-30 20:18:19.000              MachineMart, Nottingham
11     44 2015-12-01 19:37:20.000                     Home, Nottingham
12     44 2015-12-02 20:54:41.000         Stockhill Circus, Nottingham
13     44 2015-12-03 23:04:05.000            Burton Street, Nottingham
14     44 2015-12-04 20:28:59.000              Aspley Lane, Nottingham
15     44 2015-12-05 21:19:21.000                     Home, Nottingham
16     44 2015-12-06 13:23:29.000             Holbeck Road, Nottingham
17     44 2015-12-07 19:38:29.000                     Home, Nottingham
18     44 2015-12-08 23:51:10.000  Lower Parliament Street, Nottingham
19     44 2015-12-09 19:04:04.000              MachineMart, Nottingham
20     44 2015-12-10 19:48:01.000                     Home, Nottingham
21     44 2015-12-11 23:41:59.000            Long Row West, Nottingham
22     44 2015-12-12 17:04:34.000             Queens Drive, Nottingham
23     44 2015-12-13 17:55:27.000         Unnamed Road, United Kingdom
24     44 2015-12-14 19:49:30.000                     Home, Nottingham
25     44 2015-12-15 19:39:15.000                     Home, Nottingham
26     44 2015-12-16 21:02:43.000         Stockhill Circus, Nottingham
27     44 2015-12-17 22:39:26.000             Redfield Way, Nottingham
28     44 2015-12-18 19:12:54.000            George Street, Nottingham
29     44 2015-12-19 16:27:09.000            Strelley Road, Nottingham
30     44 2015-12-21 19:10:14.000              MachineMart, Nottingham
31     44 2015-12-22 21:52:54.000             Rigley Drive, Nottingham
32     44 2015-12-23 17:20:39.000         Allendale Avenue, Nottingham
33     44 2015-12-24 18:45:45.000                     Home, Nottingham
34     44 2015-12-26 17:17:52.000           Nottingham, United Kingdom
35     44 2015-12-27 13:18:57.000           Critchley Street, Ilkeston

               Monday beg          device                  location
0 2015-11-23 09:30:38.830  windows-laptop     Market Street, Heanor
1 2015-11-30 09:09:15.000          iphone   MachineMart, Nottingham
2 2015-12-07 09:10:01.000          iphone   MachineMart, Nottingham
3 2015-12-14 08:00:58.000          iphone  Triumph Road, Nottingham
4 2015-12-21 07:41:29.000          iphone   Aspley Lane, Nottingham

          Tuesday beg  device                   location
0 2015-11-24 08:08:00  iphone   Triumph Road, Nottingham
1 2015-12-01 08:03:24  iphone   Triumph Road, Nottingham
2 2015-12-08 08:15:31  iphone           Home, Nottingham
3 2015-12-15 08:48:42  iphone  Alfreton Road, Nottingham
4 2015-12-22 09:08:10  iphone    MachineMart, Nottingham

               Friday beg          device                   location
0 2015-11-20 20:11:27.700  windows-laptop  Long Row West, Nottingham
1 2015-11-27 08:01:26.000          iphone   Triumph Road, Nottingham
2 2015-12-04 08:06:58.000          iphone   Triumph Road, Nottingham
3 2015-12-11 08:27:50.000          iphone    Aspley Lane, Nottingham
4 2015-12-18 08:54:04.000          iphone     Chapel Bar, Nottingham
5 2015-12-25 10:58:49.000          iphone           Home, Nottingham

        Wednesday beg  device                  location
0 2015-11-25 08:08:09  iphone  Triumph Road, Nottingham
1 2015-12-02 08:03:56  iphone  Triumph Road, Nottingham
2 2015-12-09 08:04:39  iphone  Triumph Road, Nottingham
3 2015-12-16 07:59:46  iphone  Triumph Road, Nottingham
4 2015-12-23 08:39:12  iphone          Home, Nottingham

             Thursday beg          device                  location
0 2015-11-26 05:57:13.769  windows-laptop     Market Street, Heanor
1 2015-12-03 09:02:18.000          iphone   MachineMart, Nottingham
2 2015-12-10 08:02:39.000          iphone  Triumph Road, Nottingham
3 2015-12-17 08:47:00.000          iphone     Angel Row, Nottingham
4 2015-12-24 09:03:19.000          iphone   MachineMart, Nottingham

           Sunday beg  device                       location
0 2015-11-22 12:27:41  iphone  Wilford Grove, United Kingdom
1 2015-11-29 10:34:30  iphone       Holbeck Road, Nottingham
2 2015-12-06 11:33:10  iphone       Holbeck Road, Nottingham
3 2015-12-13 10:27:35  iphone   Grassington Road, Nottingham
4 2015-12-20 09:29:24  iphone               Home, Nottingham
5 2015-12-27 10:58:24  iphone               Home, Nottingham

         Saturday beg  device                      location
0 2015-11-21 10:08:54  iphone    Nottingham, United Kingdom
1 2015-11-28 13:03:07  iphone      Edwards Lane, Nottingham
2 2015-12-05 10:54:34  iphone              Home, Nottingham
3 2015-12-12 10:50:18  iphone            Giltway, Giltbrook
4 2015-12-19 10:18:54  iphone      South Parade, Nottingham
5 2015-12-26 09:46:39  iphone  Forest Road East, Nottingham

               Monday end          device                 location
0 2015-11-23 17:24:09.638  windows-laptop    Market Street, Heanor
1 2015-11-30 20:18:19.000          iphone  MachineMart, Nottingham
2 2015-12-07 19:38:29.000          iphone         Home, Nottingham
3 2015-12-14 19:49:30.000          iphone         Home, Nottingham
4 2015-12-21 19:10:14.000          iphone  MachineMart, Nottingham

              Tuesday end          device                             location
0 2015-11-24 20:53:59.952  windows-laptop                Market Street, Heanor
1 2015-12-01 19:37:20.000          iphone                     Home, Nottingham
2 2015-12-08 23:51:10.000          iphone  Lower Parliament Street, Nottingham
3 2015-12-15 19:39:15.000          iphone                     Home, Nottingham
4 2015-12-22 21:52:54.000          iphone             Rigley Drive, Nottingham

               Friday end          device                   location
0 2015-11-20 22:20:48.142  windows-laptop  Long Row West, Nottingham
1 2015-11-27 18:01:05.000          iphone           Home, Nottingham
2 2015-12-04 20:28:59.000          iphone    Aspley Lane, Nottingham
3 2015-12-11 23:41:59.000          iphone  Long Row West, Nottingham
4 2015-12-18 19:12:54.000          iphone  George Street, Nottingham

        Wednesday end  device                      location
0 2015-11-25 19:25:04  iphone              Home, Nottingham
1 2015-12-02 20:54:41  iphone  Stockhill Circus, Nottingham
2 2015-12-09 19:04:04  iphone       MachineMart, Nottingham
3 2015-12-16 21:02:43  iphone  Stockhill Circus, Nottingham
4 2015-12-23 17:20:39  iphone  Allendale Avenue, Nottingham

             Thursday end          device                   location
0 2015-11-26 20:07:09.016  windows-laptop      Market Street, Heanor
1 2015-12-03 23:04:05.000          iphone  Burton Street, Nottingham
2 2015-12-10 19:48:01.000          iphone           Home, Nottingham
3 2015-12-17 22:39:26.000          iphone   Redfield Way, Nottingham
4 2015-12-24 18:45:45.000          iphone           Home, Nottingham

           Sunday end  device                          location
0 2015-11-22 23:22:46  iphone  The Crusader Roundabout, Clifton
1 2015-11-29 16:45:09  iphone                  Home, Nottingham
2 2015-12-06 13:23:29  iphone          Holbeck Road, Nottingham
3 2015-12-13 17:55:27  iphone      Unnamed Road, United Kingdom
4 2015-12-27 13:18:57  iphone        Critchley Street, Ilkeston

         Saturday end  device                             location
0 2015-11-21 17:59:14  iphone            High Pavement, Nottingham
1 2015-11-28 23:51:45  iphone  Lower Parliament Street, Nottingham
2 2015-12-05 21:19:21  iphone                     Home, Nottingham
3 2015-12-12 17:04:34  iphone             Queens Drive, Nottingham
4 2015-12-19 16:27:09  iphone            Strelley Road, Nottingham
5 2015-12-26 17:17:52  iphone           Nottingham, United Kingdom

                       beg  devid                       location
0  2015-11-20 20:11:27.700     42      Long Row West, Nottingham
1  2015-11-21 10:08:54.000     44     Nottingham, United Kingdom
2  2015-11-22 12:27:41.000     44  Wilford Grove, United Kingdom
3  2015-11-23 09:30:38.830     42          Market Street, Heanor
4  2015-11-24 08:08:00.000     44       Triumph Road, Nottingham
5  2015-11-25 08:08:09.000     44       Triumph Road, Nottingham
6  2015-11-26 05:57:13.769     42          Market Street, Heanor
7  2015-11-27 08:01:26.000     44       Triumph Road, Nottingham
8  2015-11-28 13:03:07.000     44       Edwards Lane, Nottingham
9  2015-11-29 10:34:30.000     44       Holbeck Road, Nottingham
10 2015-11-30 09:09:15.000     44        MachineMart, Nottingham
11 2015-12-01 08:03:24.000     44       Triumph Road, Nottingham
12 2015-12-02 08:03:56.000     44       Triumph Road, Nottingham
13 2015-12-03 09:02:18.000     44        MachineMart, Nottingham
14 2015-12-04 08:06:58.000     44       Triumph Road, Nottingham
15 2015-12-05 10:54:34.000     44               Home, Nottingham
16 2015-12-06 11:33:10.000     44       Holbeck Road, Nottingham
17 2015-12-07 09:10:01.000     44        MachineMart, Nottingham
18 2015-12-08 08:15:31.000     44               Home, Nottingham
19 2015-12-09 08:04:39.000     44       Triumph Road, Nottingham
20 2015-12-10 08:02:39.000     44       Triumph Road, Nottingham
21 2015-12-11 08:27:50.000     44        Aspley Lane, Nottingham
22 2015-12-12 10:50:18.000     44             Giltway, Giltbrook
23 2015-12-13 10:27:35.000     44   Grassington Road, Nottingham
24 2015-12-14 08:00:58.000     44       Triumph Road, Nottingham
25 2015-12-15 08:48:42.000     44      Alfreton Road, Nottingham
26 2015-12-16 07:59:46.000     44       Triumph Road, Nottingham
27 2015-12-17 08:47:00.000     44          Angel Row, Nottingham
28 2015-12-18 08:54:04.000     44         Chapel Bar, Nottingham
29 2015-12-19 10:18:54.000     44       South Parade, Nottingham
30 2015-12-20 09:29:24.000     44               Home, Nottingham
31 2015-12-21 07:41:29.000     44        Aspley Lane, Nottingham
32 2015-12-22 09:08:10.000     44        MachineMart, Nottingham
33 2015-12-23 08:39:12.000     44               Home, Nottingham
34 2015-12-24 09:03:19.000     44        MachineMart, Nottingham
35 2015-12-25 10:58:49.000     44               Home, Nottingham
36 2015-12-26 09:46:39.000     44   Forest Road East, Nottingham
37 2015-12-27 10:58:24.000     44               Home, Nottingham

    devid                     end                             location
0      42 2015-11-20 22:20:48.142            Long Row West, Nottingham
1      44 2015-11-21 17:59:14.000            High Pavement, Nottingham
2      44 2015-11-22 23:22:46.000     The Crusader Roundabout, Clifton
3      42 2015-11-23 17:24:09.638                Market Street, Heanor
4      42 2015-11-24 20:53:59.952                Market Street, Heanor
5      44 2015-11-25 19:25:04.000                     Home, Nottingham
6      42 2015-11-26 20:07:09.016                Market Street, Heanor
7      44 2015-11-27 18:01:05.000                     Home, Nottingham
8      44 2015-11-28 23:51:45.000  Lower Parliament Street, Nottingham
9      44 2015-11-29 16:45:09.000                     Home, Nottingham
10     44 2015-11-30 20:18:19.000              MachineMart, Nottingham
11     44 2015-12-01 19:37:20.000                     Home, Nottingham
12     44 2015-12-02 20:54:41.000         Stockhill Circus, Nottingham
13     44 2015-12-03 23:04:05.000            Burton Street, Nottingham
14     44 2015-12-04 20:28:59.000              Aspley Lane, Nottingham
15     44 2015-12-05 21:19:21.000                     Home, Nottingham
16     44 2015-12-06 13:23:29.000             Holbeck Road, Nottingham
17     44 2015-12-07 19:38:29.000                     Home, Nottingham
18     44 2015-12-08 23:51:10.000  Lower Parliament Street, Nottingham
19     44 2015-12-09 19:04:04.000              MachineMart, Nottingham
20     44 2015-12-10 19:48:01.000                     Home, Nottingham
21     44 2015-12-11 23:41:59.000            Long Row West, Nottingham
22     44 2015-12-12 17:04:34.000             Queens Drive, Nottingham
23     44 2015-12-13 17:55:27.000         Unnamed Road, United Kingdom
24     44 2015-12-14 19:49:30.000                     Home, Nottingham
25     44 2015-12-15 19:39:15.000                     Home, Nottingham
26     44 2015-12-16 21:02:43.000         Stockhill Circus, Nottingham
27     44 2015-12-17 22:39:26.000             Redfield Way, Nottingham
28     44 2015-12-18 19:12:54.000            George Street, Nottingham
29     44 2015-12-19 16:27:09.000            Strelley Road, Nottingham
30     44 2015-12-21 19:10:14.000              MachineMart, Nottingham
31     44 2015-12-22 21:52:54.000             Rigley Drive, Nottingham
32     44 2015-12-23 17:20:39.000         Allendale Avenue, Nottingham
33     44 2015-12-24 18:45:45.000                     Home, Nottingham
34     44 2015-12-26 17:17:52.000           Nottingham, United Kingdom
35     44 2015-12-27 13:18:57.000           Critchley Street, Ilkeston

               Monday beg          device                  location
0 2015-11-23 09:30:38.830  windows-laptop     Market Street, Heanor
1 2015-11-30 09:09:15.000          iphone   MachineMart, Nottingham
2 2015-12-07 09:10:01.000          iphone   MachineMart, Nottingham
3 2015-12-14 08:00:58.000          iphone  Triumph Road, Nottingham
4 2015-12-21 07:41:29.000          iphone   Aspley Lane, Nottingham

          Tuesday beg  device                   location
0 2015-11-24 08:08:00  iphone   Triumph Road, Nottingham
1 2015-12-01 08:03:24  iphone   Triumph Road, Nottingham
2 2015-12-08 08:15:31  iphone           Home, Nottingham
3 2015-12-15 08:48:42  iphone  Alfreton Road, Nottingham
4 2015-12-22 09:08:10  iphone    MachineMart, Nottingham

               Friday beg          device                   location
0 2015-11-20 20:11:27.700  windows-laptop  Long Row West, Nottingham
1 2015-11-27 08:01:26.000          iphone   Triumph Road, Nottingham
2 2015-12-04 08:06:58.000          iphone   Triumph Road, Nottingham
3 2015-12-11 08:27:50.000          iphone    Aspley Lane, Nottingham
4 2015-12-18 08:54:04.000          iphone     Chapel Bar, Nottingham
5 2015-12-25 10:58:49.000          iphone           Home, Nottingham

        Wednesday beg  device                  location
0 2015-11-25 08:08:09  iphone  Triumph Road, Nottingham
1 2015-12-02 08:03:56  iphone  Triumph Road, Nottingham
2 2015-12-09 08:04:39  iphone  Triumph Road, Nottingham
3 2015-12-16 07:59:46  iphone  Triumph Road, Nottingham
4 2015-12-23 08:39:12  iphone          Home, Nottingham

             Thursday beg          device                  location
0 2015-11-26 05:57:13.769  windows-laptop     Market Street, Heanor
1 2015-12-03 09:02:18.000          iphone   MachineMart, Nottingham
2 2015-12-10 08:02:39.000          iphone  Triumph Road, Nottingham
3 2015-12-17 08:47:00.000          iphone     Angel Row, Nottingham
4 2015-12-24 09:03:19.000          iphone   MachineMart, Nottingham

           Sunday beg  device                       location
0 2015-11-22 12:27:41  iphone  Wilford Grove, United Kingdom
1 2015-11-29 10:34:30  iphone       Holbeck Road, Nottingham
2 2015-12-06 11:33:10  iphone       Holbeck Road, Nottingham
3 2015-12-13 10:27:35  iphone   Grassington Road, Nottingham
4 2015-12-20 09:29:24  iphone               Home, Nottingham
5 2015-12-27 10:58:24  iphone               Home, Nottingham

         Saturday beg  device                      location
0 2015-11-21 10:08:54  iphone    Nottingham, United Kingdom
1 2015-11-28 13:03:07  iphone      Edwards Lane, Nottingham
2 2015-12-05 10:54:34  iphone              Home, Nottingham
3 2015-12-12 10:50:18  iphone            Giltway, Giltbrook
4 2015-12-19 10:18:54  iphone      South Parade, Nottingham
5 2015-12-26 09:46:39  iphone  Forest Road East, Nottingham

               Monday end          device                 location
0 2015-11-23 17:24:09.638  windows-laptop    Market Street, Heanor
1 2015-11-30 20:18:19.000          iphone  MachineMart, Nottingham
2 2015-12-07 19:38:29.000          iphone         Home, Nottingham
3 2015-12-14 19:49:30.000          iphone         Home, Nottingham
4 2015-12-21 19:10:14.000          iphone  MachineMart, Nottingham

              Tuesday end          device                             location
0 2015-11-24 20:53:59.952  windows-laptop                Market Street, Heanor
1 2015-12-01 19:37:20.000          iphone                     Home, Nottingham
2 2015-12-08 23:51:10.000          iphone  Lower Parliament Street, Nottingham
3 2015-12-15 19:39:15.000          iphone                     Home, Nottingham
4 2015-12-22 21:52:54.000          iphone             Rigley Drive, Nottingham

               Friday end          device                   location
0 2015-11-20 22:20:48.142  windows-laptop  Long Row West, Nottingham
1 2015-11-27 18:01:05.000          iphone           Home, Nottingham
2 2015-12-04 20:28:59.000          iphone    Aspley Lane, Nottingham
3 2015-12-11 23:41:59.000          iphone  Long Row West, Nottingham
4 2015-12-18 19:12:54.000          iphone  George Street, Nottingham

        Wednesday end  device                      location
0 2015-11-25 19:25:04  iphone              Home, Nottingham
1 2015-12-02 20:54:41  iphone  Stockhill Circus, Nottingham
2 2015-12-09 19:04:04  iphone       MachineMart, Nottingham
3 2015-12-16 21:02:43  iphone  Stockhill Circus, Nottingham
4 2015-12-23 17:20:39  iphone  Allendale Avenue, Nottingham

             Thursday end          device                   location
0 2015-11-26 20:07:09.016  windows-laptop      Market Street, Heanor
1 2015-12-03 23:04:05.000          iphone  Burton Street, Nottingham
2 2015-12-10 19:48:01.000          iphone           Home, Nottingham
3 2015-12-17 22:39:26.000          iphone   Redfield Way, Nottingham
4 2015-12-24 18:45:45.000          iphone           Home, Nottingham

           Sunday end  device                          location
0 2015-11-22 23:22:46  iphone  The Crusader Roundabout, Clifton
1 2015-11-29 16:45:09  iphone                  Home, Nottingham
2 2015-12-06 13:23:29  iphone          Holbeck Road, Nottingham
3 2015-12-13 17:55:27  iphone      Unnamed Road, United Kingdom
4 2015-12-27 13:18:57  iphone        Critchley Street, Ilkeston

         Saturday end  device                             location
0 2015-11-21 17:59:14  iphone            High Pavement, Nottingham
1 2015-11-28 23:51:45  iphone  Lower Parliament Street, Nottingham
2 2015-12-05 21:19:21  iphone                     Home, Nottingham
3 2015-12-12 17:04:34  iphone             Queens Drive, Nottingham
4 2015-12-19 16:27:09  iphone            Strelley Road, Nottingham
5 2015-12-26 17:17:52  iphone           Nottingham, United Kingdom

user: 22=======================

                   beg  devid                             location
0  2015-11-24 15:58:22     47                Main Street, Awsworth
1  2015-11-25 11:28:39     47           Mansfield Road, Nottingham
2  2015-11-26 11:23:30     47             Firbeck Road, Nottingham
3  2015-11-27 19:15:26     47              Albert Street, Ilkeston
4  2015-11-28 13:41:47     47             Rutland Street, Ilkeston
5  2015-11-29 12:47:49     47             Redfield Way, Nottingham
6  2015-11-30 11:45:18     47  Cat and Fiddle Lane, United Kingdom
7  2015-12-01 12:05:40     47  Cat and Fiddle Lane, United Kingdom
8  2015-12-02 05:31:46     47             Douglas Avenue, Awsworth
9  2015-12-03 11:39:44     47             Firbeck Road, Nottingham
10 2015-12-04 14:45:58     47                Bath Street, Ilkeston
11 2015-12-05 17:30:25     47                   The Lane, Awsworth
12 2015-12-06 13:58:00     47                 Fryar Road, Eastwood
13 2015-12-07 11:25:24     47           Mansfield Road, Nottingham
14 2015-12-08 12:18:27     47                Main Street, Awsworth
15 2015-12-09 11:29:35     47           Mansfield Road, Nottingham
16 2015-12-10 11:20:09     47             Firbeck Road, Nottingham
17 2015-12-11 11:49:04     47        Shipley Common Lane, Ilkeston
18 2015-12-12 18:24:34     47                       Home, Awsworth
19 2015-12-14 11:07:56     47           Mansfield Road, Nottingham
20 2015-12-15 11:32:42     47               South Street, Ilkeston
21 2015-12-16 11:25:11     47                  Ikea Way, Giltbrook
22 2015-12-17 11:25:14     47             Firbeck Road, Nottingham
23 2015-12-18 19:18:12     47       Saint Andrew's Drive, Ilkeston
24 2015-12-19 11:30:09     47        Bracebridge Drive, Nottingham
25 2015-12-20 11:25:58     47                B6048, United Kingdom
26 2015-12-21 11:44:19     47               Station Road, Ilkeston
27 2015-12-22 11:44:46     47             Firbeck Road, Nottingham
28 2015-12-24 11:44:20     47             Firbeck Road, Nottingham
29 2015-12-27 12:33:18     47             Redfield Way, Nottingham
30 2015-12-28 11:13:51     47                   The Lane, Awsworth
31 2015-12-29 11:08:47     47             Firbeck Road, Nottingham
32 2015-12-30 13:25:19     47               Station Road, Ilkeston
33 2015-12-31 10:41:57     47           Shakespeare Road, Awsworth
34 2016-01-02 11:38:17     47                Main Street, Awsworth
35 2016-01-03 12:19:33     47             Douglas Avenue, Awsworth
36 2016-01-04 13:09:46     47               South Street, Ilkeston
37 2016-01-05 11:19:01     47               Station Road, Ilkeston
38 2015-12-23 01:05:31     47                       Home, Awsworth
39 2015-12-25 01:13:20     47                       Home, Awsworth

    devid                     end                              location
0      47 2015-11-24 23:36:56.000              Awsworth Lane, Kimberley
1      46 2015-11-25 16:12:43.034                 Storey's Gate, London
2      46 2015-11-26 19:52:17.308                 Storey's Gate, London
3      47 2015-11-27 21:14:59.000               Albert Street, Ilkeston
4      47 2015-11-28 23:16:22.000           Street Lane, United Kingdom
5      47 2015-11-29 16:17:44.000              Redfield Way, Nottingham
6      47 2015-11-30 12:42:03.000                 Bath Street, Ilkeston
7      47 2015-12-01 21:45:59.000                 Main Street, Awsworth
8      47 2015-12-02 13:41:23.000  Erewash Valley Cycle Trail, Ilkeston
9      47 2015-12-03 13:24:18.000           Moorsholm Drive, Nottingham
10     47 2015-12-04 21:40:08.000              Rutland Street, Ilkeston
11     47 2015-12-05 17:58:30.000              Rutland Street, Ilkeston
12     47 2015-12-06 15:10:28.000              Nottingham Road, Trowell
13     47 2015-12-07 15:50:59.000                Greens Lane, Kimberley
14     47 2015-12-08 13:21:18.000                South Street, Ilkeston
15     47 2015-12-09 15:11:01.000            Nottingham, United Kingdom
16     47 2015-12-10 20:32:28.000                   Ikea Way, Giltbrook
17     47 2015-12-11 21:15:58.000               Albert Street, Ilkeston
18     47 2015-12-12 05:54:29.000                        Home, Awsworth
19     47 2015-12-14 17:19:29.000            Mansfield Road, Nottingham
20     47 2015-12-15 21:50:41.000                 Main Street, Awsworth
21     47 2015-12-16 12:41:37.000           Glenfield Avenue, Kimberley
22     47 2015-12-17 14:45:06.000                South Street, Ilkeston
23     47 2015-12-18 21:23:07.000        Saint Andrew's Drive, Ilkeston
24     47 2015-12-19 12:09:54.000              Firbeck Road, Nottingham
25     47 2015-12-20 13:43:09.000          Unnamed Road, United Kingdom
26     47 2015-12-21 14:41:15.000                  Kelham Way, Eastwood
27     47 2015-12-22 21:46:44.000                        Home, Awsworth
28     47 2015-12-23 01:02:17.000              Awsworth Lane, Kimberley
29     47 2015-12-24 23:43:11.000                        Home, Awsworth
30     47 2015-12-25 01:10:22.000              Awsworth Lane, Kimberley
31     47 2015-12-26 06:42:30.000                        Home, Awsworth
32     47 2015-12-27 13:24:26.000                   Ikea Way, Giltbrook
33     47 2015-12-28 12:26:26.000                Station Road, Ilkeston
34     47 2015-12-29 21:48:17.000                 Main Street, Awsworth
35     47 2015-12-30 14:27:31.000              Rutland Street, Ilkeston
36     47 2015-12-31 12:41:32.000  Erewash Valley Cycle Trail, Ilkeston
37     47 2016-01-02 11:09:17.000                 Main Street, Awsworth
38     47 2016-01-03 12:19:33.000                 Main Street, Awsworth
39     47 2016-01-04 17:43:46.000           Bluecoat Street, Nottingham
40     47 2016-01-05 16:36:39.000                        Home, Awsworth

           Monday beg  device                             location
0 2015-11-30 11:45:18  iphone  Cat and Fiddle Lane, United Kingdom
1 2015-12-07 11:25:24  iphone           Mansfield Road, Nottingham
2 2015-12-14 11:07:56  iphone           Mansfield Road, Nottingham
3 2015-12-21 11:44:19  iphone               Station Road, Ilkeston
4 2015-12-28 11:13:51  iphone                   The Lane, Awsworth
5 2016-01-04 13:09:46  iphone               South Street, Ilkeston

          Tuesday beg  device                             location
0 2015-11-24 15:58:22  iphone                Main Street, Awsworth
1 2015-12-01 12:05:40  iphone  Cat and Fiddle Lane, United Kingdom
2 2015-12-08 12:18:27  iphone                Main Street, Awsworth
3 2015-12-15 11:32:42  iphone               South Street, Ilkeston
4 2015-12-22 11:44:46  iphone             Firbeck Road, Nottingham
5 2015-12-29 11:08:47  iphone             Firbeck Road, Nottingham
6 2016-01-05 11:19:01  iphone               Station Road, Ilkeston

           Friday beg  device                        location
0 2015-11-27 19:15:26  iphone         Albert Street, Ilkeston
1 2015-12-04 14:45:58  iphone           Bath Street, Ilkeston
2 2015-12-11 11:49:04  iphone   Shipley Common Lane, Ilkeston
3 2015-12-18 19:18:12  iphone  Saint Andrew's Drive, Ilkeston
4 2015-12-25 01:13:20  iphone                  Home, Awsworth

        Wednesday beg  device                    location
0 2015-11-25 11:28:39  iphone  Mansfield Road, Nottingham
1 2015-12-02 05:31:46  iphone    Douglas Avenue, Awsworth
2 2015-12-09 11:29:35  iphone  Mansfield Road, Nottingham
3 2015-12-16 11:25:11  iphone         Ikea Way, Giltbrook
4 2015-12-30 13:25:19  iphone      Station Road, Ilkeston
5 2015-12-23 01:05:31  iphone              Home, Awsworth

         Thursday beg  device                    location
0 2015-11-26 11:23:30  iphone    Firbeck Road, Nottingham
1 2015-12-03 11:39:44  iphone    Firbeck Road, Nottingham
2 2015-12-10 11:20:09  iphone    Firbeck Road, Nottingham
3 2015-12-17 11:25:14  iphone    Firbeck Road, Nottingham
4 2015-12-24 11:44:20  iphone    Firbeck Road, Nottingham
5 2015-12-31 10:41:57  iphone  Shakespeare Road, Awsworth

           Sunday beg  device                  location
0 2015-11-29 12:47:49  iphone  Redfield Way, Nottingham
1 2015-12-06 13:58:00  iphone      Fryar Road, Eastwood
2 2015-12-20 11:25:58  iphone     B6048, United Kingdom
3 2015-12-27 12:33:18  iphone  Redfield Way, Nottingham
4 2016-01-03 12:19:33  iphone  Douglas Avenue, Awsworth

         Saturday beg  device                       location
0 2015-11-28 13:41:47  iphone       Rutland Street, Ilkeston
1 2015-12-05 17:30:25  iphone             The Lane, Awsworth
2 2015-12-12 18:24:34  iphone                 Home, Awsworth
3 2015-12-19 11:30:09  iphone  Bracebridge Drive, Nottingham
4 2016-01-02 11:38:17  iphone          Main Street, Awsworth

           Monday end  device                     location
0 2015-11-30 12:42:03  iphone        Bath Street, Ilkeston
1 2015-12-07 15:50:59  iphone       Greens Lane, Kimberley
2 2015-12-14 17:19:29  iphone   Mansfield Road, Nottingham
3 2015-12-21 14:41:15  iphone         Kelham Way, Eastwood
4 2015-12-28 12:26:26  iphone       Station Road, Ilkeston
5 2016-01-04 17:43:46  iphone  Bluecoat Street, Nottingham

          Tuesday end  device                  location
0 2015-11-24 23:36:56  iphone  Awsworth Lane, Kimberley
1 2015-12-01 21:45:59  iphone     Main Street, Awsworth
2 2015-12-08 13:21:18  iphone    South Street, Ilkeston
3 2015-12-15 21:50:41  iphone     Main Street, Awsworth
4 2015-12-22 21:46:44  iphone            Home, Awsworth
5 2015-12-29 21:48:17  iphone     Main Street, Awsworth
6 2016-01-05 16:36:39  iphone            Home, Awsworth

           Friday end  device                        location
0 2015-11-27 21:14:59  iphone         Albert Street, Ilkeston
1 2015-12-04 21:40:08  iphone        Rutland Street, Ilkeston
2 2015-12-11 21:15:58  iphone         Albert Street, Ilkeston
3 2015-12-18 21:23:07  iphone  Saint Andrew's Drive, Ilkeston
4 2015-12-25 01:10:22  iphone        Awsworth Lane, Kimberley

,Wednesday end,device,location
0,2015-11-25 16:12:43.034,windows-laptop,"Storey's Gate, London"
1,2015-12-02 13:41:23.000,iphone,"Erewash Valley Cycle Trail, Ilkeston"
2,2015-12-09 15:11:01.000,iphone,"Nottingham, United Kingdom"
3,2015-12-16 12:41:37.000,iphone,"Glenfield Avenue, Kimberley"
4,2015-12-23 01:02:17.000,iphone,"Awsworth Lane, Kimberley"
5,2015-12-30 14:27:31.000,iphone,"Rutland Street, Ilkeston"

,Thursday end,device,location
0,2015-11-26 19:52:17.308,windows-laptop,"Storey's Gate, London"
1,2015-12-03 13:24:18.000,iphone,"Moorsholm Drive, Nottingham"
2,2015-12-10 20:32:28.000,iphone,"Ikea Way, Giltbrook"
3,2015-12-17 14:45:06.000,iphone,"South Street, Ilkeston"
4,2015-12-24 23:43:11.000,iphone,"Home, Awsworth"
5,2015-12-31 12:41:32.000,iphone,"Erewash Valley Cycle Trail, Ilkeston"

           Sunday end  device                      location
0 2015-11-29 16:17:44  iphone      Redfield Way, Nottingham
1 2015-12-06 15:10:28  iphone      Nottingham Road, Trowell
2 2015-12-20 13:43:09  iphone  Unnamed Road, United Kingdom
3 2015-12-27 13:24:26  iphone           Ikea Way, Giltbrook
4 2016-01-03 12:19:33  iphone         Main Street, Awsworth

         Saturday end  device                     location
0 2015-11-28 23:16:22  iphone  Street Lane, United Kingdom
1 2015-12-05 17:58:30  iphone     Rutland Street, Ilkeston
2 2015-12-12 05:54:29  iphone               Home, Awsworth
3 2015-12-19 12:09:54  iphone     Firbeck Road, Nottingham
4 2015-12-26 06:42:30  iphone               Home, Awsworth
5 2016-01-02 11:09:17  iphone        Main Street, Awsworth

                   beg  devid                             location
0  2015-11-24 15:58:22     47                Main Street, Awsworth
1  2015-11-25 11:28:39     47           Mansfield Road, Nottingham
2  2015-11-26 11:23:30     47             Firbeck Road, Nottingham
3  2015-11-27 19:15:26     47              Albert Street, Ilkeston
4  2015-11-28 13:41:47     47             Rutland Street, Ilkeston
5  2015-11-29 12:47:49     47             Redfield Way, Nottingham
6  2015-11-30 11:45:18     47  Cat and Fiddle Lane, United Kingdom
7  2015-12-01 12:05:40     47  Cat and Fiddle Lane, United Kingdom
8  2015-12-02 05:31:46     47             Douglas Avenue, Awsworth
9  2015-12-03 11:39:44     47             Firbeck Road, Nottingham
10 2015-12-04 14:45:58     47                Bath Street, Ilkeston
11 2015-12-05 17:30:25     47                   The Lane, Awsworth
12 2015-12-06 13:58:00     47                 Fryar Road, Eastwood
13 2015-12-07 11:25:24     47           Mansfield Road, Nottingham
14 2015-12-08 12:18:27     47                Main Street, Awsworth
15 2015-12-09 11:29:35     47           Mansfield Road, Nottingham
16 2015-12-10 11:20:09     47             Firbeck Road, Nottingham
17 2015-12-11 11:49:04     47        Shipley Common Lane, Ilkeston
18 2015-12-12 18:24:34     47                       Home, Awsworth
19 2015-12-14 11:07:56     47           Mansfield Road, Nottingham
20 2015-12-15 11:32:42     47               South Street, Ilkeston
21 2015-12-16 11:25:11     47                  Ikea Way, Giltbrook
22 2015-12-17 11:25:14     47             Firbeck Road, Nottingham
23 2015-12-18 19:18:12     47       Saint Andrew's Drive, Ilkeston
24 2015-12-19 11:30:09     47        Bracebridge Drive, Nottingham
25 2015-12-20 11:25:58     47                B6048, United Kingdom
26 2015-12-21 11:44:19     47               Station Road, Ilkeston
27 2015-12-22 11:44:46     47             Firbeck Road, Nottingham
28 2015-12-24 11:44:20     47             Firbeck Road, Nottingham
29 2015-12-27 12:33:18     47             Redfield Way, Nottingham
30 2015-12-28 11:13:51     47                   The Lane, Awsworth
31 2015-12-29 11:08:47     47             Firbeck Road, Nottingham
32 2015-12-30 13:25:19     47               Station Road, Ilkeston
33 2015-12-31 10:41:57     47           Shakespeare Road, Awsworth
34 2016-01-02 11:38:17     47                Main Street, Awsworth
35 2016-01-03 12:19:33     47             Douglas Avenue, Awsworth
36 2016-01-04 13:09:46     47               South Street, Ilkeston
37 2016-01-05 11:19:01     47               Station Road, Ilkeston
38 2015-12-23 01:05:31     47                       Home, Awsworth
39 2015-12-25 01:13:20     47                       Home, Awsworth

    devid                     end                              location
0      47 2015-11-24 23:36:56.000              Awsworth Lane, Kimberley
1      46 2015-11-25 16:12:43.034                 Storey's Gate, London
2      46 2015-11-26 19:52:17.308                 Storey's Gate, London
3      47 2015-11-27 21:14:59.000               Albert Street, Ilkeston
4      47 2015-11-28 23:16:22.000           Street Lane, United Kingdom
5      47 2015-11-29 16:17:44.000              Redfield Way, Nottingham
6      47 2015-11-30 12:42:03.000                 Bath Street, Ilkeston
7      47 2015-12-01 21:45:59.000                 Main Street, Awsworth
8      47 2015-12-02 13:41:23.000  Erewash Valley Cycle Trail, Ilkeston
9      47 2015-12-03 13:24:18.000           Moorsholm Drive, Nottingham
10     47 2015-12-04 21:40:08.000              Rutland Street, Ilkeston
11     47 2015-12-05 17:58:30.000              Rutland Street, Ilkeston
12     47 2015-12-06 15:10:28.000              Nottingham Road, Trowell
13     47 2015-12-07 15:50:59.000                Greens Lane, Kimberley
14     47 2015-12-08 13:21:18.000                South Street, Ilkeston
15     47 2015-12-09 15:11:01.000            Nottingham, United Kingdom
16     47 2015-12-10 20:32:28.000                   Ikea Way, Giltbrook
17     47 2015-12-11 21:15:58.000               Albert Street, Ilkeston
18     47 2015-12-12 05:54:29.000                        Home, Awsworth
19     47 2015-12-14 17:19:29.000            Mansfield Road, Nottingham
20     47 2015-12-15 21:50:41.000                 Main Street, Awsworth
21     47 2015-12-16 12:41:37.000           Glenfield Avenue, Kimberley
22     47 2015-12-17 14:45:06.000                South Street, Ilkeston
23     47 2015-12-18 21:23:07.000        Saint Andrew's Drive, Ilkeston
24     47 2015-12-19 12:09:54.000              Firbeck Road, Nottingham
25     47 2015-12-20 13:43:09.000          Unnamed Road, United Kingdom
26     47 2015-12-21 14:41:15.000                  Kelham Way, Eastwood
27     47 2015-12-22 21:46:44.000                        Home, Awsworth
28     47 2015-12-23 01:02:17.000              Awsworth Lane, Kimberley
29     47 2015-12-24 23:43:11.000                        Home, Awsworth
30     47 2015-12-25 01:10:22.000              Awsworth Lane, Kimberley
31     47 2015-12-26 06:42:30.000                        Home, Awsworth
32     47 2015-12-27 13:24:26.000                   Ikea Way, Giltbrook
33     47 2015-12-28 12:26:26.000                Station Road, Ilkeston
34     47 2015-12-29 21:48:17.000                 Main Street, Awsworth
35     47 2015-12-30 14:27:31.000              Rutland Street, Ilkeston
36     47 2015-12-31 12:41:32.000  Erewash Valley Cycle Trail, Ilkeston
37     47 2016-01-02 11:09:17.000                 Main Street, Awsworth
38     47 2016-01-03 12:19:33.000                 Main Street, Awsworth
39     47 2016-01-04 17:43:46.000           Bluecoat Street, Nottingham
40     47 2016-01-05 16:36:39.000                        Home, Awsworth

           Monday beg  device                             location
0 2015-11-30 11:45:18  iphone  Cat and Fiddle Lane, United Kingdom
1 2015-12-07 11:25:24  iphone           Mansfield Road, Nottingham
2 2015-12-14 11:07:56  iphone           Mansfield Road, Nottingham
3 2015-12-21 11:44:19  iphone               Station Road, Ilkeston
4 2015-12-28 11:13:51  iphone                   The Lane, Awsworth
5 2016-01-04 13:09:46  iphone               South Street, Ilkeston

          Tuesday beg  device                             location
0 2015-11-24 15:58:22  iphone                Main Street, Awsworth
1 2015-12-01 12:05:40  iphone  Cat and Fiddle Lane, United Kingdom
2 2015-12-08 12:18:27  iphone                Main Street, Awsworth
3 2015-12-15 11:32:42  iphone               South Street, Ilkeston
4 2015-12-22 11:44:46  iphone             Firbeck Road, Nottingham
5 2015-12-29 11:08:47  iphone             Firbeck Road, Nottingham
6 2016-01-05 11:19:01  iphone               Station Road, Ilkeston

           Friday beg  device                        location
0 2015-11-27 19:15:26  iphone         Albert Street, Ilkeston
1 2015-12-04 14:45:58  iphone           Bath Street, Ilkeston
2 2015-12-11 11:49:04  iphone   Shipley Common Lane, Ilkeston
3 2015-12-18 19:18:12  iphone  Saint Andrew's Drive, Ilkeston
4 2015-12-25 01:13:20  iphone                  Home, Awsworth

        Wednesday beg  device                    location
0 2015-11-25 11:28:39  iphone  Mansfield Road, Nottingham
1 2015-12-02 05:31:46  iphone    Douglas Avenue, Awsworth
2 2015-12-09 11:29:35  iphone  Mansfield Road, Nottingham
3 2015-12-16 11:25:11  iphone         Ikea Way, Giltbrook
4 2015-12-30 13:25:19  iphone      Station Road, Ilkeston
5 2015-12-23 01:05:31  iphone              Home, Awsworth

         Thursday beg  device                    location
0 2015-11-26 11:23:30  iphone    Firbeck Road, Nottingham
1 2015-12-03 11:39:44  iphone    Firbeck Road, Nottingham
2 2015-12-10 11:20:09  iphone    Firbeck Road, Nottingham
3 2015-12-17 11:25:14  iphone    Firbeck Road, Nottingham
4 2015-12-24 11:44:20  iphone    Firbeck Road, Nottingham
5 2015-12-31 10:41:57  iphone  Shakespeare Road, Awsworth

           Sunday beg  device                  location
0 2015-11-29 12:47:49  iphone  Redfield Way, Nottingham
1 2015-12-06 13:58:00  iphone      Fryar Road, Eastwood
2 2015-12-20 11:25:58  iphone     B6048, United Kingdom
3 2015-12-27 12:33:18  iphone  Redfield Way, Nottingham
4 2016-01-03 12:19:33  iphone  Douglas Avenue, Awsworth

         Saturday beg  device                       location
0 2015-11-28 13:41:47  iphone       Rutland Street, Ilkeston
1 2015-12-05 17:30:25  iphone             The Lane, Awsworth
2 2015-12-12 18:24:34  iphone                 Home, Awsworth
3 2015-12-19 11:30:09  iphone  Bracebridge Drive, Nottingham
4 2016-01-02 11:38:17  iphone          Main Street, Awsworth

           Monday end  device                     location
0 2015-11-30 12:42:03  iphone        Bath Street, Ilkeston
1 2015-12-07 15:50:59  iphone       Greens Lane, Kimberley
2 2015-12-14 17:19:29  iphone   Mansfield Road, Nottingham
3 2015-12-21 14:41:15  iphone         Kelham Way, Eastwood
4 2015-12-28 12:26:26  iphone       Station Road, Ilkeston
5 2016-01-04 17:43:46  iphone  Bluecoat Street, Nottingham

          Tuesday end  device                  location
0 2015-11-24 23:36:56  iphone  Awsworth Lane, Kimberley
1 2015-12-01 21:45:59  iphone     Main Street, Awsworth
2 2015-12-08 13:21:18  iphone    South Street, Ilkeston
3 2015-12-15 21:50:41  iphone     Main Street, Awsworth
4 2015-12-22 21:46:44  iphone            Home, Awsworth
5 2015-12-29 21:48:17  iphone     Main Street, Awsworth
6 2016-01-05 16:36:39  iphone            Home, Awsworth

           Friday end  device                        location
0 2015-11-27 21:14:59  iphone         Albert Street, Ilkeston
1 2015-12-04 21:40:08  iphone        Rutland Street, Ilkeston
2 2015-12-11 21:15:58  iphone         Albert Street, Ilkeston
3 2015-12-18 21:23:07  iphone  Saint Andrew's Drive, Ilkeston
4 2015-12-25 01:10:22  iphone        Awsworth Lane, Kimberley

,Wednesday end,device,location
0,2015-11-25 16:12:43.034,windows-laptop,"Storey's Gate, London"
1,2015-12-02 13:41:23.000,iphone,"Erewash Valley Cycle Trail, Ilkeston"
2,2015-12-09 15:11:01.000,iphone,"Nottingham, United Kingdom"
3,2015-12-16 12:41:37.000,iphone,"Glenfield Avenue, Kimberley"
4,2015-12-23 01:02:17.000,iphone,"Awsworth Lane, Kimberley"
5,2015-12-30 14:27:31.000,iphone,"Rutland Street, Ilkeston"

,Thursday end,device,location
0,2015-11-26 19:52:17.308,windows-laptop,"Storey's Gate, London"
1,2015-12-03 13:24:18.000,iphone,"Moorsholm Drive, Nottingham"
2,2015-12-10 20:32:28.000,iphone,"Ikea Way, Giltbrook"
3,2015-12-17 14:45:06.000,iphone,"South Street, Ilkeston"
4,2015-12-24 23:43:11.000,iphone,"Home, Awsworth"
5,2015-12-31 12:41:32.000,iphone,"Erewash Valley Cycle Trail, Ilkeston"

           Sunday end  device                      location
0 2015-11-29 16:17:44  iphone      Redfield Way, Nottingham
1 2015-12-06 15:10:28  iphone      Nottingham Road, Trowell
2 2015-12-20 13:43:09  iphone  Unnamed Road, United Kingdom
3 2015-12-27 13:24:26  iphone           Ikea Way, Giltbrook
4 2016-01-03 12:19:33  iphone         Main Street, Awsworth

         Saturday end  device                     location
0 2015-11-28 23:16:22  iphone  Street Lane, United Kingdom
1 2015-12-05 17:58:30  iphone     Rutland Street, Ilkeston
2 2015-12-12 05:54:29  iphone               Home, Awsworth
3 2015-12-19 12:09:54  iphone     Firbeck Road, Nottingham
4 2015-12-26 06:42:30  iphone               Home, Awsworth
5 2016-01-02 11:09:17  iphone        Main Street, Awsworth

user: 26=======================

                      beg  devid               location
0 2015-11-24 15:15:02.942     45  Storey's Gate, London
1 2015-11-25 18:22:20.771     45  Storey's Gate, London

   devid                     end               location
0     45 2015-11-24 19:08:00.623  Storey's Gate, London
1     45 2015-11-25 23:22:46.617  Storey's Gate, London

Empty DataFrame
Columns: [Monday beg, device, location]
Index: []

              Tuesday beg          device               location
0 2015-11-24 15:15:02.942  windows-laptop  Storey's Gate, London

Empty DataFrame
Columns: [Friday beg, device, location]
Index: []

            Wednesday beg          device               location
0 2015-11-25 18:22:20.771  windows-laptop  Storey's Gate, London

Empty DataFrame
Columns: [Thursday beg, device, location]
Index: []

Empty DataFrame
Columns: [Sunday beg, device, location]
Index: []

Empty DataFrame
Columns: [Saturday beg, device, location]
Index: []

Empty DataFrame
Columns: [Monday end, device, location]
Index: []

              Tuesday end          device               location
0 2015-11-24 19:08:00.623  windows-laptop  Storey's Gate, London

Empty DataFrame
Columns: [Friday end, device, location]
Index: []

            Wednesday end          device               location
0 2015-11-25 23:22:46.617  windows-laptop  Storey's Gate, London

Empty DataFrame
Columns: [Thursday end, device, location]
Index: []

Empty DataFrame
Columns: [Sunday end, device, location]
Index: []

Empty DataFrame
Columns: [Saturday end, device, location]
Index: []